[2014-10-10 14:24] SeanFeldman opened #2 "Releases"
Would it be possible to have releases to contain MSIs?

[2014-11-07 09:58] tjamin opened #3 "Refresh on Topic node does not refresh the corresponding subscriptions"
If you are on a topic node and you hit F5 or "Refresh Topic" from context menu the subscriptions of the selected topic are not refreshed. You have to refresh the hole Topics node to get the new subscriptions. But refreshing all topics takes a few seconds.

[2014-11-19 14:17] NelsonReis opened #4 "ServiceBusExplorer branch for Service Bus for Windows Server"
There could be a branch for the other version of ServiceBusExplorer, the one that now supports Service Bus for Windows Server 1.1.

That way, it would be possible to fix bugs in that version and make all the source code available for folks using SBE for Windows Server.

[2015-05-29 15:59] DavidR91 opened #10 "When sending a message: "property conversion error: Type not supported: DateTime""
If I specify a date/time when sending a message, I receive a conversion error

I've tried a lot of different date formats (since it's unclear which one is preferred) - none of them seem to work

e.g.
* `2014-11-06T17:18:03.267Z`
* `Sun, 06 Nov 1994 08:49:37 GMT`
* `2008-10-31T15:07:38.6875000-05:00 `
* `2002-05-30T09:00:00`
* `29/05/2015`

etc.

What date format am I supposed to be entering into t

[2015-06-01 17:18] paolosalvatori commented on #10
Hi David
which are you referring to? Schedule? TimeToLive? In both cases you should just specify seconds as an integer value. In particular, for the Schedule field, the tool adds the specified amount of seconds to DateTime.Now to calculate the schedule time. Hope this helps.
Ciao
Paolo

[2015-06-02 08:57] regisbsb commented on #2
Or even better you could add a appveyor.yml and get FREE! builds on appveyor.
@paolosalvatori if you are interested I could setup for you in a fork of mine and pull request.

[2015-07-09 02:06] BrianVallelunga opened #11 "Message text always appears encoded"
I always see the message text encoded such as: 40 18 52 65 63 6F 72 64 41 63

My messages are created using var message = new BrokeredMessage(myObject). I think this uses the binary XmlDictionaryWriter. Is there something I can do to see a text version of the XML content?

[2015-07-22 15:13] jglinsek commented on #10
Not sure if it's related (based on original question), but I created a pull request to allow sending a DateTime as a custom property when resubmitting a message from the Dead Letter queue. Before this change, I was getting the same warning when re-submitting messages from the Dead Letter queue and then that property would be ignored when sending the message.

https://github.com/paolosalvatori/Serv

[2015-07-22 15:22] paolosalvatori commented on #10
Hi James
I'll look into this tomorrow or Friday. Thanks for the new feature.
Ciao
Paolo

Inviata dal mio Windows Phone
________________________________
Da: James Glinsek<mailto:notifications@github.com>
Inviato: ‎22/‎07/‎2015 17:13
A: paolosalvatori/ServiceBusExplorer<mailto:ServiceBusExplorer@noreply.github.com>
Cc: Paolo Salvatori<mailto:leprino@hotmail.com>
Oggetto: Re: [ServiceBusExplorer] Whe

[2015-07-23 14:15] NelsonReis commented on #4
Any update on Service Bus Explorer for Windows Server, or last version is still 2.1.3.0?

[2015-07-29 07:55] rytmis commented on #2
Not sure if you're aware, but your chocolatey package at https://chocolatey.org/packages/ServiceBusExplorer/ is not in a valid state. It can't be installed and it's still under moderation.

[2015-08-03 08:14] paolosalvatori commented on #2
Hi Lauri
I’m pretty busy in this period. Guys, could you please help me to fix the problem to properly publish the new version to Chocolatey? Thanks!
Ciao
Paolo

[2015-08-03 10:37] paolosalvatori commented on #11
Hi Brian
The reason why the message text is visualized that way is that the message itself is probably in binary format. The tool tries to read the message in text format, and if it's not possible, it visualize it in binary format.
Ciao
Paolo

[2015-08-10 21:20] tekmaven commented on #11
@paolosalvatori I am having a similar issue.  I did not have the issue in older versions (I think 2.2).  I believe the messages are UTF-8 encoded (possibly with BOM).  If I change the Body Type to "String" nothing happens.

[2015-09-08 03:45] SeanFeldman commented on #11
@tekmaven Are those by any chance messages from NServiceBus?
NServiceBus messages are XML or JSON but they are sent as bytes of an original UTF-8 string (with BOM). I have opened [this PR](https://github.com/paolosalvatori/ServiceBusExplorer/pull/17) to address this. Wondering if your issue is related.

[2015-09-09 20:04] tekmaven commented on #11
@SeanFeldman  They are NSB messages.  We use the JSON serializer.

We will test your fork out and use it.  We have had to rely on a hacked source to view message contents, and use powershell scripts to move messages currently.

I hope @paolosalvatori can review the PR (#17) and merge it.

[2015-09-10 09:30] paolosalvatori commented on #11
Yep. I merged your change already, thanks. :)

[2015-12-22 05:02] SeanFeldman opened #22 "Queue EnableExpress is readonly when should be updateable"
`EnableExpress` is currently read-only, but should be possible to update.

Verification code:
[code]

[2015-12-23 16:10] paolosalvatori commented on #22
Hi Sean
could you make the change in my place? Otherwise I'll do after Xmas vacation, thanks!
Ciao
Paolo

[2015-12-25 02:40] SeanFeldman commented on #22
@paolosalvatori please review

[2015-12-29 15:44] #22 closed

[2016-01-07 21:07] bgoerdt opened #25 "Proxy configuration"
Is it possible to configure a proxy to connect through? I cannot use this software without this option.

[2016-01-08 10:13] paolosalvatori commented on #25
Customers have always configured the proxy outside of the tool. I'm not aware of any mechanism to define a proxy in SB. What do you mean exactly?

[2016-01-12 18:47] ErikMogensen commented on #25
bgoerdt, you may configure a proxy in the Service Bus Explorer config file using the standard .NET way described at https://msdn.microsoft.com/en-us/library/dkwyc043(v=vs.110).aspx

You probably need to set ServiceBusEnvironment.SystemConnectivity.Mode = ConnectivityMode.AutoDetect; too.

[2016-01-12 23:14] paolosalvatori commented on #25
Thanks Erik!

[2016-01-14 14:22] candidodmv opened #26 "Update the repositories reference"
I found this tool on this link http://blogs.msdn.com/b/paolos/archive/2015/03/02/service-bus-explorer-2-6-now-available.aspx, but only this current link reference is working. Where I can to find the executable/installer ? Thanks.

[2016-01-14 18:44] SeanFeldman commented on #26
There's no such ATM. You'll have to D/L the project, compile and grab the artifacts.
Should we look into something like https://github.com/Squirrel/Squirrel.Windows for a quick setup?

[2016-01-14 18:45] SeanFeldman commented on #26
PS: squirrel will still require to open the project, but can generate an install in a fast way
/cc @paolosalvatori

[2016-01-19 17:02] paolosalvatori commented on #26
Hi guys
I know I should use some tools to create an exe whenever a new version of the tool is available, but I'm really busy and I can't spend time on this. Sorry about that. :(
Ciao
Paolo

[2016-01-26 05:01] LiamFeldman commented on #26
@paolosalvatori I can add squirrel to the solution. While it's not the most convenient way to generate an installer, it is a way to get it with the solution and doesn't require CI/build server. Would that work?

[2016-01-26 08:46] paolosalvatori commented on #26
Hi Liam
yes please, it looks like a lightweight solution to generate an installer. Please, go ahead and keep me informed! Thanks!
Ciao
Paolo

[2016-02-10 20:15] SeanFeldman commented on #26
@LiamFeldman was me on my sons account :blush:
I'll look into that.

[2016-02-11 06:44] SeanFeldman commented on #11
@paolosalvatori should this issue be close since https://github.com/paolosalvatori/ServiceBusExplorer/pull/17 is merged and `byte[]` is supported now?

[2016-02-11 06:45] SeanFeldman commented on #25
@paolosalvatori can this be closed?

[2016-02-11 18:02] paolosalvatori commented on #25
Yep :)

[2016-02-11 18:02] #25 closed

[2016-02-11 18:02] paolosalvatori commented on #11
Closed. Thanks!

[2016-02-11 18:02] #11 closed

[2016-02-11 18:04] #3 closed

[2016-02-11 18:05] paolosalvatori commented on #26
Ah ah ah Thanks!

[2016-02-11 18:05] #26 closed

[2016-02-11 18:08] SeanFeldman commented on #26
@paolosalvatori shouldn't this stay opened until done? :) or you'll be opening a new issue?

[2016-02-11 18:14] SeanFeldman opened #28 "Roadmap for SBE"
@paolosalvatori do you have any plans for this tool moving forward? If you do, could you please share your thoughts?

[2016-02-11 20:06] SeanFeldman opened #29 "Versioning"
Version SBE using [GitVersion](https://github.com/GitTools/GitVersion) (auto-incremented upon commit to master)

[2016-02-12 13:52] paolosalvatori commented on #28
Hi Sean
what about having a call on Skype next week rather than talking via GitHub? ;)
Ciao
Paolo

[2016-02-12 13:54] paolosalvatori commented on #29
Sounds great, let's talk about it during a call.
Ciao
Paolo

[2016-02-12 20:27] onovotny opened #30 "SBE interface is not HiDPI friendly"
Does not scale well --
![2016-02-12_15-26-17](https://cloud.githubusercontent.com/assets/1427284/13019376/107da9b8-d19d-11e5-8060-2f5cd31e4ccb.png)

[2016-02-14 15:32] paolosalvatori commented on #30
Thanks for the heads up! I don't have time to do any change to solve the issue. The code is on GitHub, you can try to fix the issue by yourself. :) Sorry!

[2016-02-17 09:19] honght0068 opened #31 "Cannot connect"
<16:41:30> The link uri http://xxxxx-ns.servicebus.windows.net/ has been successfully retrieved.
<16:41:42> Exception: The token provider was unable to provide a security token while accessing 'https://xxxxx-ns-sb.accesscontrol.windows.net/WRAPv0.9/'. Token provider returned message: 'The remote name could not be resolved: 'xxxxx-ns-sb.accesscontrol.windows.net''.. Method <GetNotificationHubs>b__2

[2016-02-17 10:46] tomkerkhove commented on #31
It looks like the client can't connect to the token provider - Are you sure it's connected to the internet?

[2016-02-24 14:04] imperugo commented on #30
@onovotny you're more lucky than me :)

<img width="1424" alt="screen shot 2016-02-24 at 15 04 20" src="https://cloud.githubusercontent.com/assets/758620/13287551/e9c55b30-db07-11e5-92ed-b805c636708e.png">

[2016-03-02 06:19] wingfeng opened #33 "Error When Create Consumer Group Listener"
I got an exception:"Index out of range exception" when I click the "Create Consumer Group Listener"Right click Menu item for the eventhub.
That exception throw out from PartitionListenerControl.cs line 627 in function calculateLastColumnWidth .the first tow time enter this funtion "dataGridView.ColumnCount" is equal to zero.
so I chang the code like this:
 if (dataGridView.ColumnCount > 3)

[2016-03-02 06:46] SeanFeldman commented on #33
@wingfeng would you like to submit that as a PR?

[2016-03-22 13:32] jonsb opened #34 "Re-submitting message with Guid property"
When re-submitting a message that has a Guid property, the property is not included in the re-submitted message, apparently because the "value as string" cast below will return null (value is of type Guid, not string):

ConversionHelper.cs

public static object MapStringTypeToCLRType(string type, object value)
...
case "Guid":
                    return new Guid(value as string);
...

For me, chan

[2016-03-22 16:41] jaltenbernd opened #35 "Trying to connect gives error, "An item with the same key has already been added.""
I enter either my SAS or ACS into the Connection String, hit Connect, and always get this error. Clear the log and I still get it.

[2016-03-22 17:13] SeanFeldman opened #36 "Unit tests"
Functionality is added to the project, but having no tests to confirm if change is a breaking change or not is hindering potential contributors will to make contribute.

This is not a trivial task with an existing code base, but at least having a test project would help. Adding some more trivial tests (such as a test for [`ConversionHelper`](https://github.com/paolosalvatori/ServiceBusExplorer/iss

[2016-03-22 17:14] SeanFeldman commented on #34
A few thoughts:

1. Could have a unit test for this kind of functionality to seal what the expected behaviour should be (issue #36 is raised)
1. [`MapEDMTypeToCLRType`](https://github.com/paolosalvatori/ServiceBusExplorer/blob/7f87a15bbfcbb77715f2c9556b28cc0bb75f929b/Helpers/ConversionHelper.cs#L60) doesn't seem to be utilized at all

[2016-04-06 08:50] paolosalvatori commented on #34
Hi guys
any news on this issue?
Ciao
Paolo

[2016-04-06 08:52] paolosalvatori commented on #36
Sorry for the delayed answer! Feel free to send me an email with more details.

[2016-04-07 06:08] SeanFeldman commented on #34
@jonsb would you like to submit a PR? If not, I can do it.

[2016-04-07 06:13] SeanFeldman commented on #36
done

[2016-04-07 06:13] #36 closed

[2016-04-07 09:13] jonsb commented on #34
I'd be happy to submit a PR. But what about adding unit tests? I can add a unit test project and a couple of tests for my fix stating my assumptions. Ref issue #36, which is "done" - what does that mean?

[2016-04-08 02:08] 7k8m opened #38 "Internal server error when connecting to namespace"
I encountered error as titled.

## Situation:
In Dialog named "Connect to a Service Bus Namespace",
I selected "Enter connection string ..." from combo box and enter connection string on text box named "Connection String". Other values are remained as default.

The Connection String I entered is one in Access Policies in Settings of namespace of Azure portal.
Policy is RootManageSharedAccessKey an

[2016-04-08 03:50] SeanFeldman commented on #38
Is this happening for different namespaces as well? Other data centres?

[2016-04-08 03:53] SeanFeldman commented on #34
#36 is closed. My bad.

[2016-04-08 07:32] 7k8m commented on #38
I created different namespace on other data center (South Central US) and tried.
The result was that same error happens.
[code]

[2016-04-08 09:53] paolosalvatori commented on #38
Hi Tomohito
would you mind sending me the connection string at the email address you find in the about form? The remote server returned an error: (500) is an internal server error is quite generic as exception message. Are you trying to connect behind a firewall? Did you try to connect to your SB namespace using another network? Thanks!
Ciao
Paolo

[2016-04-08 12:01] 7k8m commented on #38
I sent you mail named "Connection String of Service Bus namespace failed to connect with".
Please see it.

I'm trying to connect from home network which need NAT(Network Address Translation) when connecting internet.

[2016-04-08 12:18] 7k8m commented on #38
Connected from other PC on other network, encountered similar but different error as next.

[code]

[2016-04-13 08:00] SeanFeldman opened #39 "UI freezes when peeking messages larger than 256K from a premium account"
Tested message size 512K

[2016-04-13 08:37] paolosalvatori commented on #39
Was the maximum message size increased to 512 KB for premium accounts? I was searching around, but I was unable to find any info at this regard.

[2016-04-14 05:49] SeanFeldman commented on #39
@paolosalvatori correct. I have it here: http://bit.ly/msgsize

[2016-04-14 06:46] paolosalvatori commented on #39
Probably! I will contact him! Thanks mate!

[2016-05-03 07:49] digitaldias opened #41 "Feature Request: Produce JSON File for testing Stream Analytics Queries"
It would be wonderful if I could use this tool to export "sample data" to which I can work with Stream Analytics in Azure. I somehow never am able to collect any kind of data in the portal itself.

[2016-05-03 16:42] paolosalvatori commented on #41
If you create a Stream Analytics job that sends query results to an output Event Hub, you can use my tool to create an Event Hub listener, receive and track messages, then you can double click an individual message in the datagrid and save it. If instead, you want to send test data to an Event Hub used as source by a Stream Analytics job, you can right click and Event Hub in my tool and select Sen

[2016-05-04 04:37] digitaldias commented on #41
Would this work for IoT hub as well?

[2016-05-04 07:48] paolosalvatori commented on #41
You can use my tool to receive events from an IoT Hub, but not to send them into an IoT Hub. You can see my Service Fabric + IoT Hub demo for a sample of device simulator that can be used to send telemetry data into an IoT Hub.

[2016-05-04 08:32] digitaldias commented on #41
It is more just looking for something to sample data from an existing stream to save into a file so that I use that sample json to can construct the queries in Stream Analytics with.

Whenever I Try to sample anything in Stream Analytics on the portal, it is a hit/miss operation if I'm going to get any sample JSON at all.

So I'm not asking to SEND any data anywhere, it is more a way to sample a s

[2016-05-08 17:32] SeanFeldman opened #42 "Receiving hundreds of messages fails"
When using `Receive & Delete` option and a queue contains several hundreds messages, messages are not retrieved. Have to delete the queue to purge messages.

[2016-05-13 04:59] SeanFeldman opened #44 "ServiceBusExplorer.Setup project is not supported by VS2015 updated 2"
Couldn't load the project in VS2015 update 2.
[code]

[2016-05-13 05:14] SeanFeldman commented on #42
Tested on the latest version, worked fine. Closing.

[2016-05-13 05:14] #42 closed

[2016-05-17 21:10] Kwen commented on #4
Could someone re-post the source for the Service Bus for Windows Server version of ServiceBusExplorer? The OneDrive links are dead.

Thanks!

[2016-05-25 15:07] paolosalvatori commented on #4
Try this link https://onedrive.live.com/redir?resid=9DBA4A06B360A65!5890&authkey=!ANNpNeRFbU7TuIQ&ithint=file%2czip

[2016-05-25 15:08] paolosalvatori commented on #44
Did you solve the problem?

[2016-05-25 15:09] paolosalvatori commented on #42
Good, thanks and sorry for the delayed answer!

[2016-05-26 04:50] SeanFeldman commented on #44
@paolosalvatori no. I have VS2015 only on my machine.

[2016-06-01 17:21] infoTrainingym commented on #38
Same error here. Do you have found anything?

[2016-06-02 14:15] paolosalvatori commented on #38
Do you mind sending me your connection string? You can find my email address in the about form. Thanks!
Paolo

[2016-06-05 18:29] Rzpeg commented on #44
The installer projects are deprecated in vs2015, you need a separate extension: https://visualstudiogallery.msdn.microsoft.com/f1cc3f3e-c300-40a7-8797-c509fb8933b9
@paolosalvatori moving installers to WiX might be an option http://wixtoolset.org/

[2016-06-06 03:24] SeanFeldman commented on #44
Another option as I've outlined [here](https://github.com/paolosalvatori/ServiceBusExplorer/issues/26#issuecomment-171735148) would be Squirrel.Windows

[2016-06-06 13:54] paolosalvatori commented on #44
Hi Sean
I've no time to make any change... how do you suggest to proceed? Can you do it please? Thanks!
Paolo

[2016-06-06 13:56] Rzpeg commented on #44
@SeanFeldman try installing the extention I provided

[2016-06-06 14:03] paolosalvatori commented on #44
Will do this week when I have some spare time. Unfortunately, I'm on customer site :|

[2016-06-07 23:31] SeanFeldman commented on #44
@paolosalvatori not this week. If we decide to go with Squirrel, I'll set some time aside to do it.

[2016-06-24 17:32] SeanFeldman opened #46 "DeadLetterSource is not displayed"
For messages that are forwarded from a DLQ, the property `DeadLetterSource` is not displayed.

https://msdn.microsoft.com/en-us/library/azure/microsoft.servicebus.messaging.brokeredmessage.deadlettersource.aspx

[2016-06-25 07:13] SeanFeldman commented on #46
The feature was added to ASB somewhere between version 3.0.x and 3.2.x
ASB team hasn't provided any information :(

[2016-06-28 14:32] #46 closed

[2016-07-12 10:05] vascofernandes opened #48 "2.1.3.0 - "Exception: Index was out of range" when selecting a subscription for a topic"
When selecting a subscription for a topic I get the following exception:

Exception: Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index

![capture](https://cloud.githubusercontent.com/assets/10337953/16763228/505f6e2a-4828-11e6-8668-c9c3aa87166a.PNG)

Regards

[2016-07-12 10:23] SeanFeldman commented on #48
@vascofernandes any chance you could provide steps to build a topic that would reproduce this issue?
Also, what build of the sbexplorer are you using?

[2016-07-12 10:53] SeanFeldman commented on #48
Version 2.1.3.0 from the screenshot

[2016-07-12 10:56] SeanFeldman commented on #48
@vascofernandes given that the latest is 3.0.4, could you test with the latest and co firm of the issue is still happening? Thanks.

[2016-07-12 11:09] vascofernandes commented on #48
The topics and subscriptions are added with C# using
Assembly Microsoft.ServiceBus, Version=2.1.0.0,
ServiceBus.v1_1.1.0.6\lib\net40-full\Microsoft.ServiceBus.dll

However, with 2.1.3.0, even if I delete all Entities, manually create a new topic (named Test), and try to manually add a subscription (by clicking Create Subscription), if fail with the same exception.

I did try the latest, 3.0.4.
It

[2016-07-12 11:12] SeanFeldman commented on #48
Are you connecting to Windows Server SB?

[2016-07-12 11:14] vascofernandes commented on #48
I installed SB on my windows 8.1 machine and did "Create a New Farm".
No problems there. All running fine.

Get-SBFarmStatus shows that everything is running fine.

[2016-07-12 11:19] vascofernandes commented on #48
I will try build locally 2.1.3.0 and debug it.

[2016-07-12 11:20] SeanFeldman commented on #48
SB library for WSSB is much older than for Azure SB. Can't tell you what's the issue here.
You could pull the codes down and debug it. Suspect something in the client library has changed, while WSSB has not been updated.
@paolosalvatori any ideas?

[2016-07-12 11:22] vascofernandes commented on #48
The OneDrive link for 2.1.3.0 is dead.

[2016-07-12 16:10] paolosalvatori commented on #48
Try this link for the source code of 2.1.3: https://1drv.ms/u/s!AmUKNmugpNsJrgKSItfhDqF4sx2z
Ciao
Paolo

[2016-07-17 20:33] karlgjertsen opened #49 "Installer - Desktop Bridge"
None of the authors links to installers work. Where can I get an installer from?

[2016-07-27 18:49] riteshvaryani opened #50 "Sas token access to Service bus"
Hi,

We are generating SAS tokens for rules defined at entity levels for topics and queues. The Service Bus Explorer takes a connection string, a SAS connection string but not an expiring SAS token to allow a connection at an entity level. Are there any other ways to connect using a SAS token to service bus.

[2016-07-29 10:58] jo-me commented on #48
I have the same issue in version 3.1.4
I can connect to a ServiceBus / Eventhub using a connection strng, but I cannot start a listener.

[2016-07-29 16:43] janpieterz commented on #49
As far as I know there is no installer that is officially built by the authors (and signed etc etc).

You'll have to build it yourself it you want one currently!

[2016-07-30 20:38] paolosalvatori commented on #49
Hi guys
In the past I tried to make the tool on chocolatey but I didn't have enough time to complete the task. If any of you wants to help me to build an installer. I'll be on vacation in August, but ping me afterwards if you want to collaborate.
Ciao
Paolo

[2016-07-30 20:41] paolosalvatori commented on #50
Hi
The Service Bus Explorer only supports connection strings at the namespace level with the Manage right\claim. I should modify the tool to allow this option. I never did that because, it would be costly and the tool is mean to be used by a system administrator. The only exception is the listener for IoT Hubs which accepts a connection string with only the Listen claim.
Ciao
Paolo

[2016-07-30 20:42] #44 closed

[2016-07-30 20:42] #4 closed

[2016-07-30 20:42] #10 closed

[2016-07-30 20:42] #28 closed

[2016-07-30 20:43] #31 closed

[2016-07-30 20:43] #33 closed

[2016-07-30 20:45] paolosalvatori commented on #48
Hi
Please try the last version of the tool.
Ciao
Paolo

[2016-07-30 20:52] onovotny commented on #30
Has this been fixed?

[2016-07-30 20:53] paolosalvatori commented on #30
No... sorry it has not been fixed... I don't know how to test or fix that :(
Ciao
Paolo

[2016-07-30 20:54] #34 closed

[2016-07-30 20:55] #38 closed

[2016-07-30 20:55] #39 closed

[2016-07-30 20:56] onovotny commented on #30
Please don't close this then as it's still a real outstanding issue that leaves this tool unusable on many people's displays, including Surface Book and anyone with a 4k monitor.

[2016-07-30 20:59] paolosalvatori commented on #30
Ok.. but as I said, I don't know how to solve this problem as I can't reproduce it. In addition, I don't know if I have the bandwidth to do it. In August I'll be on vacation by the way :)
Ciao
Paolo

[2016-07-31 11:40] janpieterz commented on #49
@paolosalvatori more than happy to lend a hand! For my own business we regularly use 'simple' WiX installers, if that is of any help here. Chocolatey is a good place to be for a tool like this too.

Have a nice vacation, I'll pop back in here in September and see what we can start!

[2016-07-31 15:14] paolosalvatori commented on #49
Thanks Jan, see you in September :)

[2016-08-03 14:48] ekevoo opened #51 "App locks up until all data is available, even though it already has enough to let user start browsing"
A SB account of mine has about a hundred queues and a topic with almost a thousand subscriptions. On connection, it fetches details on each of those guys eagerly, which takes quite a while and most of it isn't immediately useful.

The app should allow the user to scroll through the list and select as soon as possible, fetching details in a deffered way, or, if possible, even lazy (no details until

[2016-08-03 14:49] ekevoo opened #52 "Multi select & delete"
Should allow multi-select of queues, topics, subscriptions, for deletion.

[2016-08-04 03:50] SeanFeldman commented on #52
Multi-select would be tricky, considering that control used to handle the tree is a `TreeView` and that one doesn't have a good multi-select support.

[2016-08-04 03:57] SeanFeldman commented on #51
It's a good feature, but afraid not possible due to ASB SDK limitation.
The way to get all the entities is to invoke [`NamespaceManager`](https://msdn.microsoft.com/en-us/library/microsoft.servicebus.namespacemanager.getqueues.aspx), which either fetches all the entities of a certain type, or a a filtered subset. Async overloads would help if the application support it, but it still would not be p

[2016-08-04 03:59] SeanFeldman commented on #30
@onovotny how is your monitor configured? I'm running on 4K and it's all good.

[2016-08-04 06:05] paolosalvatori commented on #52
Agreed. And I don't think you want to take the risk of deleting multiple queues in a production environment.

[2016-08-04 06:07] paolosalvatori commented on #51
When you connect to a namespace, you decide which entities to retrieve and apply filters, for example to retrieve a subset of queues and topics (e.g. by name), so you don't need to retrieve all of them. So you can retrieve a subset of entities with their details, instead of retrieving all the entities in a given namespace.

[2016-08-04 06:18] SeanFeldman commented on #51
@paolosalvatori if I understood @ekevoo correctly, he was asking to fetch the names of all the entities w/o another details (number of messages, etc). The issue is that namespace manager will return a description for each entity (like [`QueueDescription`](https://msdn.microsoft.com/en-us/library/microsoft.servicebus.messaging.queuedescription.aspx) for queues) and that would have all the data. Not

[2016-08-04 08:29] paolosalvatori commented on #51
In this case, yes, I confirm what Sean just said.

[2016-08-05 19:41] ekevoo commented on #52
What if that's exactly what I want to do? What if I have a stuck topic because it reached the 2000 subscriptions limit and I need to un-stuck some hundred devices NOW?

I'm not asking for an easy, "fat-fingerable" way to multi-delete. I don't mind if it's buried 5 menus deep. I just want ONE way to multi-delete.

[2016-08-05 19:46] ekevoo commented on #51
That was just a method suggestion. I understand if it's not viable.

Let's say I want to quickly work with queues. Yet, there's a topic with 2000 subscriptions that takes roughly 3 minutes to load. I have to wait 3 minutes to even *see* the queues.

I'm editing the title to make the real problem clearer. Regardless of API limitations, there's data that is available at the client within miliseconds

[2016-08-05 19:48] ekevoo commented on #51
The general principle here is "don't wait until desserts are served before you start eating lunch".

[2016-08-05 20:04] SeanFeldman commented on #51
@ekevoo good that you edited the title and clarified exactly what you were looking for. Clarity helps.
I presume the application was not created with scenario you've described in mind.
Your suggestion is good. Want to send a PR?

[2016-08-25 20:21] granadacoder opened #53 "The OneDrive link to 2.1.3.0 does not work."
**_The Service Bus Explorer 2.1.3.0. This version can be used with the Service Bus 1.1. The Service Bus Explorer 2.1 uses the Microsoft.ServiceBus.dll client library which is compatible with the Service Bus for Windows Server 1.1 RTM version. You can download the source code of the Service Bus Explorer 2.1.3 from my OneDrive._**

The OneDrive link to 2.1.3.0 does not work.

[2016-08-26 08:07] paolosalvatori commented on #53
Try this link https://1drv.ms/u/s!AmUKNmugpNsJrgKSItfhDqF4sx2z

[2016-08-26 19:12] granadacoder commented on #53
Thank you!

[2016-08-26 19:12] #53 closed

[2016-08-26 19:47] granadacoder commented on #53
Working like a charm.  Beautiful, thank you again.

[2016-08-29 12:15] paolosalvatori commented on #53
Thanks for the positive feedback :)

[2016-10-18 23:03] joellyons opened #56 "peeking the dead letter queues only peeks up to 250 messages"
Find a queue or subscription that has lots of messages in the deadletter queue.  Try to peek more than 250 and notice you can only ever get 250 messages back.  Receiving more than 250 messages seems to work fine.

[2016-10-18 23:03] joellyons commented on #56
I submitted a pull request with a possible fix for queues and subscriptions.

[2016-10-19 15:55] tdoman opened #57 "Cannot view entire value in "Message Custom Properties""
Sometimes we dead letter messages ourselves due to an exception.  We include the exception detail information in the dead letter message as a custom property but we can't view it in the "Message Custom Properties" section after peeking.  This would be a great enhancement for our troubleshooting efforts using SBE.

[2016-10-19 16:51] paolosalvatori commented on #57
Hi Tom
This sounds more like a bug than an improvement :) The codebase of the control used to show deadletter messages should be the same of the control used to show normal messages. I'll check when I have some time. I'm pretty busy at the moment, I'll do my best to look at it... or maybe @SeanFeldman can fix that :)
Ciao
Paolo

[2016-10-19 17:51] SeanFeldman commented on #57
@tdoman are you using
```BrokeredMessage.DeadLetterAsync(string deadLetterReason, string deadLetterErrorDescription)```
or
```BrokeredMessage.DeadLetterAsync(IDictionary<string, object> propertiesToModify)```

Let me confirm if I understand what you do. Assuming you're using the `(string, string)` version, you don't see `deadLetterReason` customer header with `deadLetterErrorDescription` message?

[2016-10-19 17:59] SeanFeldman commented on #57
@tdoman I quickly ran the test with both API calls, and both work fine with the latest (3.4.0) SBE.
Using `BrokeredMessage.DeadLetterAsync(IDictionary<string, object> propertiesToModify)`
![image](https://cloud.githubusercontent.com/assets/1309622/19531041/6baf1770-95f3-11e6-8464-108e4593c7fb.png)

Using `BrokeredMessage.DeadLetterAsync(string deadLetterReason, string deadLetterErrorDescription)`

[2016-10-19 21:06] tdoman commented on #57
@SeanFeldman Yep, that's exactly what we're doing but I should have been clearer.  When we get an exception, we are passing `ex.ToString()` in as the `DeadLetterErrorDescription`.  So, at the very least, we'd like to be able to right-click and copy the value data to an editor or, at best, have the ability to view the **entire** custom property value within the SBE.

[2016-10-19 22:45] SeanFeldman commented on #57
@tdoman got it. You can already do that. Select the message, double click it for "Edit and Resubmit" (not quite accurate, but still), select the row/column you need to copy, `ctrl-c` et voila! Attached a small visualization. Is this what you wanted?

![copy-header-value](https://cloud.githubusercontent.com/assets/1309622/19540232/305921f2-961b-11e6-9c43-9d57fcc256e5.gif)

[2016-10-19 23:21] tdoman commented on #57
@SeanFeldman yep, that's it, fantastic!  that's what we need to inspect those stack traces we put in there (hopefully they never exceed the max message size) AND I didn't realize that "edit and resubmit" feature was even in the SBE.  that's useful in it's own right, thanks a lot, i appreciate the prompt and helpful feedback!

[2016-10-20 00:03] SeanFeldman commented on #57
@tdoman :)
One word of caution with exceptions and headers - you only can use 64K for headers, not the full message size. As long as you guessed against that, you should be good.

@paolosalvatori good to close this issue

[2016-10-20 15:37] paolosalvatori commented on #57
Hi Tom
I used to be in the BizTalk Customer Advisory Team so I tried to implement the Message Repair and Resubmit pattern that was available in BizTalk ESB. That's why you can right click a single message, edit and resubmit it. As you probably realized by right clicking a message, you can also save the message to a text file in JSON format, including custom properties. Last but not least, you can

[2016-10-20 15:37] #57 closed

[2016-10-24 11:25] iM4rv opened #58 "Link doesn't work"
http://1drv.ms/1nEl7ps

[2016-10-25 11:34] paolosalvatori commented on #58
Strange it works for me. I will ask someone else to check it. Thanks!

[2016-10-25 14:06] tomkerkhove commented on #58
Doesn't work on my machine as well but you should be able to download one of the releases over here.
That works for me..

[2016-10-25 14:21] paolosalvatori commented on #58
Try this link: https://1drv.ms/u/s!AmUKNmugpNsJrgLTaTXkRW1O07iE

[2016-10-26 04:41] SeanFeldman commented on #58
@paolosalvatori I really think rather than having a zip on OneDrive this should be a branh (support branch).

[2016-10-26 05:11] iM4rv commented on #58
Thanks! Works now.

[2016-10-26 05:11] #58 closed

[2016-10-26 07:08] paolosalvatori commented on #58
@seanfeldman I agree with you, but I don't have time for doing it :) Can you help me with that? Thanks :)

[2016-10-28 05:15] SeanFeldman commented on #58
@paolosalvatori since I'm not a collaborator on the repo level, external PR can only target an existing branch. Two options

1. Create a `support-2.1` branch
1. Make me a collaborator 😛

[2016-10-28 07:42] paolosalvatori commented on #58
Hi @SeanFeldman I think that both options are viable :) What about creating a separate project to avoid mixing up the two tools that have a different code base? Thoughts?
Ciao
Paolo

[2016-10-28 21:08] SeanFeldman commented on #58
Sure, though it would be strange to have same tool 2 different repos :)

[2016-11-01 15:57] SeanFeldman commented on #58
I'll create an orphaned branch `support-2.1` and commit the code from the zip on that one once have admin right to the repo (discussed with @paolosalvatori).
That way we'll have the repo with both code bases (same application) and can have a release linked as well. No more onedrive/dropbox/googledrive links :)

[2016-11-03 18:12] deadlydog opened #60 "Recieve and Delete large amount of messages does not work"
If you choose to Receive and Delete 50,000 messages from a queue/subscriptions/deadletter it will typically only 2000 - 4000 messages, instead of the specified amount. The amount of messages that gets removed is different each time; sometimes it's 2900 messages, the next time it might be 3600. Doing Receive and Delete All has the same problem as well. I'm not sure if the tool is timing out or how

[2016-11-03 18:27] jamyryals opened #62 "CPU utilization going very high"
When you right click on a Subscription and "Create Subscription Listener" the Listener window opens and functions correctly. The problem occurs when you close that window, the CPU begins to spike until you restart the app.

I found the AsyncTrackMessage method of the ListenerControl class has an inescapable loop that appears to be preventing these resources from being cleaned up successfully. I ha

[2016-11-04 04:51] SeanFeldman commented on #56
@paolosalvatori good to close?

[2016-11-04 10:04] paolosalvatori commented on #60
Can you see any exception in the log? An alternative way to consume messages from a queue or subscription is using a Listener. I'm pretty sure that this consumes all of the messages, no matter what. Please right click the entity and start a listener, then let me know. Thanks!

[2016-11-04 10:06] paolosalvatori commented on #62
Thanks! I merged your fix!

[2016-11-04 10:06] #62 closed

[2016-11-04 10:08] paolosalvatori commented on #56
Sorry guys, I'm quite busy in this period. Did you fix the problem via a pull request? Thanks!

[2016-11-04 15:06] joellyons commented on #56
I pulled the latest @SeanFeldman after you merged my pull request and have been using the Explorer ever since and it seems to be working fine at least in my environment.

[2016-11-05 05:05] SeanFeldman commented on #56
👍

[2016-11-05 05:05] #56 closed

[2016-11-11 19:52] SeanFeldman opened #63 "Cannot re-submit messages with ByteArray body"
NServiceBus allows brokered message body to be either a `Stream` or a `ByteArray`.
While message receiving works, message sending is broken. The following is not working:
1. Body Type drop-down list does not support `ByteArray` option
1. Transport encoding (body type in the image below) `ByteArray` is not accounted for
1. Custom and standard properties are not copied over

![image](https://cloud.g

[2016-11-13 14:27] #63 closed

[2016-11-14 20:55] msimecek commented on #49
Hi, how about publishing it to the Windows Store as a package converted by the [Desktop App Converter](https://developer.microsoft.com/en-us/windows/bridges/desktop)? That would make getting SBE much easier and it's supported by WiX ;)

[2016-11-18 13:44] paolosalvatori commented on #49
Yes. This sounds like a great idea :) Do we have an easy way to regenerate a new version any time a new version of SBE is available?

[2016-11-18 17:01] SeanFeldman commented on #2
@regisbsb I'd like to resurrect this thread and look into it. A PR would be great :)
Let's sync.

[2016-11-18 17:04] SeanFeldman commented on #49
If I may suggest the following:
1. Establish versioning on the master using Git(Hub)Flow (raised an issue in the past #29 )
2. Establish CI/CD (re-opened #2) following the suggestion by @regisbsb

Combined together, we'll be able to get versioned releases deployed via GH.
Down the road, we'll be able to replace that with an installer (if needed).

[2016-11-18 23:12] SeanFeldman commented on #2
@regisbsb already started that here 087877502831d6383ef5f3ce5d2d956865aa2085

[2016-11-21 11:02] msimecek commented on #49
@paolosalvatori I will try to create an APPX package and an update mechanism for it.

[2016-11-21 15:34] paolosalvatori commented on #49
Thanks @msimecek!

[2016-11-28 16:36] SeanFeldman commented on #2
Quick update:
1. Connected the project to AppVeyor
1. Created a [sample project](https://github.com/SeanFeldman/Spike) to demonstrate how we could [package and release builds](https://github.com/SeanFeldman/Spike/releases) of master using GH. Right now it's just zipping the files.

@paolosalvatori is this something worth proceeding? I haven't spent time thinking about versioning. We could lock it

[2016-11-28 16:55] paolosalvatori commented on #2
@SeanFeldman I updated the version of the tool right today to 3.4.2. I usually bind the tool version to the SB .NET API. We may eventually use the fourth digit for the tool version. Thoughts?

[2016-11-29 05:05] SeanFeldman commented on #2
So according to [SemVer 2 schema](http://semver.org/) it would be `3.4.2+buildNumber`, which would be ok I presume.

Is this something we'd proceed with? I'd setup the repo to follow the sample project and we'd be able to have our build right away deployed via GH.

[2016-11-29 08:03] paolosalvatori commented on #2
Yes, let's go with this schema.

[2016-12-14 17:01] vonlar opened #67 "ClickOnce"
What do you think about moving this towards a click once deployment model?  Is it even worth it as I believe the Service Bus team is likely trying to include these types of features in the portal.

[2016-12-15 05:21] SeanFeldman commented on #67
@vonlar I'd rather see bits released via GitHub releases.
This is WIP for issue #2

[2016-12-15 05:23] SeanFeldman commented on #49
@msimecek any updates on this?

[2016-12-15 08:43] msimecek commented on #49
@SeanFeldman Yes, I prepared a build process in Visual Studio Team Services which takes sources from this repo on GitHub and builds an APPX package. I will now get in touch with @paolosalvatori to make it "official" and published to Windows Store.

[2016-12-15 09:34] SeanFeldman commented on #49
Any chance we could get it going with AppVeyor which we started using?

[2016-12-16 08:24] paolosalvatori commented on #67
Hi guys, I can't spend time on this, it would be great if you could help me, thanks :)

[2016-12-16 08:29] paolosalvatori commented on #49
Hi @msimecek thanks for your help. Just let me know what I should do to build the package and push on it on the Windows Store, thanks! @SeanFeldman, let me know how I can use AppVeyor.

[2016-12-16 16:13] SeanFeldman commented on #67
ClickOnce or Desktop Bridge (Project Centennial)?
Looks like #49 superseeds this.
@vonlar if you agree, please let know and we'll close this in favor of #49. Thanks.

[2016-12-16 16:16] SeanFeldman commented on #49
@paolosalvatori you have access to https://ci.appveyor.com (`ServiceBusExplorer` project).
Please DM if you can't access it. Used your private email for invite a month ago.

[2016-12-16 16:41] vonlar commented on #67
@SeanFeldman So let's chat about this a bit more.
ClickOnce is preferable over an installer, but since we can't save the connection without editing the config file, ClickOnce isn't a good solution (the config file will likely get put in an arbitrary hard to find place).

I can implement #49, but I would want to use VSTS.  I'm already working on the CI process anyway.  It will also solve #2.  Howev

[2016-12-16 20:02] SeanFeldman commented on #67
@vonlar #49 is being worked on already (@msimecek could you please confirm?) and it would be great to get your help with it. @paolosalvatori is also working on it according to his [comment](https://github.com/paolosalvatori/ServiceBusExplorer/issues/49#issuecomment-267542785).

What I question is the need in VSTS. We already chose [AppVeyor for CI/CD](https://ci.appveyor.com/project/seanfeldman/se

[2016-12-16 20:06] SeanFeldman commented on #29
I've suggested to use GitVersion with auto-increment upon commits to master.
@paolosalvatori prefers to have SBE version match the ASB client version.
While I can see the value in ability to link between ASB client version with SBE, I find this versioning model very restrictive and inaccurate. For example: assuming there were bug fixes and several releases for SBE, it's still against the same ASB

[2016-12-16 21:44] vonlar commented on #67
@SeanFeldman I'm familiar with AppVeyor, I just stick with VSTS since it's free and I'm not well versed in AppVeyor.  It's good since it's free for OSS projects.  I wouldn't be of much help with the CI CD process then.

As far as ClickOnce goes, I'd still prefer it over an installer any day it would also get rid of that darn installer project as well.  But then a prerequisite is being able to save

[2016-12-16 22:23] SeanFeldman commented on #67
@vonlar never say never (in regards to helping with AppVeyor).

Now back to the original issue - ClickOnce. I'm not an expert on this subject. Based on my quick read, it seems like [Desktop Bridge](https://developer.microsoft.com/en-us/windows/bridges/desktop) (Project Centennial) is the promoted way of deploying desktop applications that are not originally created as UWP. This means SBE would be

[2016-12-17 00:27] vonlar commented on #67
@SeanFeldman Agreed.  After seeing a broadcast today to the MVPs about Bridge, it's not ready yet (imo).  I wholeheartedly concur with you about the staged deployment approach.

The only thing I will mention is that I can have a CI / CD process for automated builds and releases completed in about 20 minutes with VSTS ;).

I'll add one other comment to one of the other posts concerning the installe

[2016-12-17 00:31] vonlar commented on #2
Just one comment, rather than utilizing the installer project, you might consider WiX.  It's a pain to implement though because you have to know their markup, but I'm pretty positive it's OSS and I know it's available via NuGet.  http://wixtoolset.org/

[2016-12-17 18:42] SeanFeldman commented on #67
👍

Closing for now. We'll review this once APPX is completed.

[2016-12-17 18:42] #67 closed

[2016-12-17 18:45] SeanFeldman commented on #52
@ekevoo there are two questions here:
1. Warning users about multiple entities removal (UI concern)
2. Technical ability to track multi-selected items when using `TreeView` control

Assuming first question is addressed with super-duper clear warning, the second question remains unanswered. I have very limited experience with WinForms and can't spend time on researching the options. Would it be som

[2016-12-17 18:53] SeanFeldman commented on #2
The current installer project is somewhat broken imo. On my machines I can't even get it loaded.

The plan for releases is following:

1. Have releases under GitHub https://github.com/paolosalvatori/ServiceBusExplorer/releases as a part of automated build (using AppVeyor).
2. Releases will include zipped files and APPX (#49)

[2016-12-17 18:54] SeanFeldman commented on #30
@onovotny @imperugo would you like to help with this?

[2016-12-17 18:56] SeanFeldman commented on #60
@deadlydog did that work for you?

[2016-12-17 20:50] onovotny commented on #30
I don't have much bandwidth to help directly but I can test something when available.

[2016-12-18 11:22] msimecek commented on #67
Regarding the Desktop Bridge - it's available for submissions, only the developer needs their account provisioned with specific capabilities.

Technically, I got the process of generating APPX ready in VSTS. I'm not familiar with AppVeyor, but I guess it should work there as well, because it's just calling an EXE file with appropriate manifest. So as long as the build machine runs Windows, it shou

[2016-12-18 16:59] deadlydog commented on #60
Hey guys, sorry for not getting back to you sooner, but I've been busy with other things.

Here is what is shown in the Log after doing a "Receive and Delete" "All" messages in the deadletter queue (that has 400,000+ messages in it) of one of my topic subscriptions:

[code]

It does not show any exceptions or errors, just that one line.

I didn't realize that creating a listener was an option/feat

[2016-12-18 17:45] vonlar commented on #67
This will have the same problems as a ClickOnce deployment if we don't allow for saving of the connection string. Do we have an issue open on that one yet?

[2016-12-18 18:32] SeanFeldman commented on #67
@msimecek AppVeyor is Windows Server based. I can help with integration if needed. Open a PR marked as [WIP]?

[2016-12-18 18:34] SeanFeldman commented on #67
@vonlar a single connection string can be read from an [environment variable](https://github.com/paolosalvatori/ServiceBusExplorer/pull/18).

[2016-12-18 18:43] SeanFeldman commented on #60
@deadlydog listener doesn't work for DLQs. Not sure if that was intentional or not.

[2016-12-20 11:55] camous opened #69 "replay dead letter messages from topic subscriber into itself"
Hello, is it possible possible to receive and resend messages from a subscriber's dead letter into the subscriber itself ? I would like to prevent sending a message for all subscribers when only a subset of them failed. (risk of state changes conflict)

[2016-12-29 05:21] SeanFeldman commented on #69
@camous you could resubmit the message using `Repair & Resubmit` functionality. First receive your messages from DLQ, then use repair and resubmit. Is that what you need?

[2016-12-30 08:40] camous commented on #69
Repair & submit functionality resend the message for all subscribers rather one specific subscriber. I don't even know if it's possible with the Service Bus API in C#. Or maybe have to play with an extra message filters/rules for forcing the message to go only in one subscriber ...

[2016-12-30 19:01] SeanFeldman commented on #69
Sending a message from a subscriber to itself is not possible AFAIK. Only to a queue or a topic.

Extra filtering is viable a possible approach.

Assuming you'd have a topic called `topic` and let's say a subscription `sub1` you want to reprocess your messages for, you could set up forwarding rule fro `sub1`'s DLQ. Then any DLQed message forwarded would have a header `DeadLetterSource`. For this s

[2016-12-30 19:01] #69 closed

[2017-01-03 13:59] camous commented on #69
Yes, we are currently implementing a 'forcedestination' filter configured for each subscriber
`(Exists([forcedestination]) AND [forcedestination] = 'XXXXXX-dev')`

moreover, on our C# subscriber listener, the abandon() method automatically add this 'forcedestination' property.

[2017-01-06 08:21] paolosalvatori commented on #67
I guys, I'm reading the thread just now ad I disconnected during vacation. I'm not an ALM expert, but let me know how I can help you. In my opinion, you may explore all the possible ways and eventually extend the documentation on GitHub or blog about your solution. I don't see any problems to bring forward multiple approaches as soon as someone takes the ownership and responsibility to maintain it

[2017-01-06 08:35] paolosalvatori commented on #69
Hi @camous, as Sean said, there's no mechanism to directly send a message to specific subscription of a given topic, so using an extra rule \ filter expression in the subscription and one or more extra properties in the message that you intend to resend that make the expression to evaluate to true, seems to be the only way to solve your problem.

[2017-01-06 08:39] paolosalvatori commented on #49
Hi @SeanFeldman I verified the access, let me know if I should anything.

[2017-01-06 08:48] paolosalvatori commented on #29
Hi @SeanFeldman I agree with you about your comment on linking SBE version with ASB version about bugs, but for historical reasons, I prefer to keep this approach. Now, since ASB usually uses the first 2 numbers of the major and minor version (x.y) we could use the patch number (z) to actually specify the tool versions.

[2017-01-06 08:52] paolosalvatori commented on #52
@ekevoo if you such a have a large amount of entities in a production environment, I highly suggest you to create PowerShell scripts rather than using my tools to update or delete a large number of topics, queues or subscriptions.

[2017-01-06 08:52] #30 closed

[2017-01-06 08:55] paolosalvatori commented on #60
Hi @deadlydog that's a scenario I never considered, I mean starting a listener on a DLQ rather than a regular queue or subscription. Time permitting, I'll implement this feature. Hopefully, more on this soon.

[2017-01-06 10:45] camous commented on #69
thanks for the confirmation :) as said on my previous comment, we addressed the problem with extra properties & filters and works perfectly so far.

[2017-01-06 12:03] ekevoo commented on #52
If production use is not recommended, then why the worry about production
misuse?

I already created a small winforms app to fix my problem. Powershell is no
good because I needed a basic UI to check status and pick the right topic.

On Jan 6, 2017 05:52, "Paolo Salvatori" <notifications@github.com> wrote:

[2017-01-06 15:45] deadlydog commented on #60
Thanks @paolosalvatori. While having a listener on a DLQ is an interesting feature request, it is a separate issue from the bug that I have reported. The bug is if I have 100,000 messages and want to receive (and maybe delete) the first 50,000, I can't do that. It always stops after the first few thousand for some reason. I can reproduce this problem every time, so I imagine you should be able to

[2017-01-06 19:43] SeanFeldman commented on #29
This is already happening 😉 as of PR #68.
Latest release is `3.4.18`, which is build 18 on AppVeyor.
Build number is auto-incremented, so we'll have "gaps" (i.e. it could jump to 21 if we 20 builds that took place not on master), but at least we know a unique version of the tool.
Ideally, using something like GiVersion would improve things, as only changes to master could be modifying the patch ve

[2017-01-06 19:51] SeanFeldman commented on #49
@paolosalvatori my mind reading is not that good 😺 What did you want to ask?

Can we have a PR that for this feature? That way we can collaboratively make it work.
As of today, `master` is deploying a zip with SBE to GH releases section. We could integrate work done here to also have APPX either deployed to GH releases as well, or rather deploy to Windows Store (sorry, not familiar with how it wor

[2017-01-06 19:54] SeanFeldman commented on #2
Update: we have auto-deployment as part of the `master` build and currently a portable version (zip) is available under [GH Releases section](https://github.com/paolosalvatori/ServiceBusExplorer/releases). APPX to come soon.

I'm closing this issue. Please raise separate (specific) issues for items that have not been addressed.

[2017-01-06 19:54] #2 closed

[2017-01-09 08:33] paolosalvatori commented on #69
Excellent, thanks for the confirmation :)

[2017-01-09 08:36] paolosalvatori commented on #52
I will eventually enable multi-entity selection on the treeview. Time permitting :)

[2017-01-09 08:42] paolosalvatori commented on #60
The problem could be a UI problem as I load messages into a DataViewGrid. Now, loading 100,000 messages into a UI control doesn't make a lot of sense as it's very hard to navigate through the messages. I will add the ability to disable loading messages into the grid and see if the problem goes away. In addition, I will check the limits of the DataGridView control

[2017-01-12 19:58] RocketPop commented on #29
FYI - if I go to the releases "tab" and click "3.4.18" the .zip binary within has version numbers throughout that say "2.4.3.0"

[2017-01-12 20:12] RocketPop commented on #38
I realize this is a bit of an older issue, but I am seeing this as well but no Japanese error messages :)
`<14:04:16> The application is now connected to the sb://native-1.servicebus.windows.net/ service bus namespace.
<14:04:16> MessagingFactory successfully created
<14:04:51> Exception: The remote server returned an error: (500) Internal Server Error. TrackingId:70b96afa-7102-4441-8a55-8c3934dca

[2017-01-12 23:54] SeanFeldman commented on #29
Thank you @RocketPop
Could you raise a separate issue for that? I'll mark it as a bug and fix next week. Must be something that is not picked up during appveyor build execution.

[2017-01-13 09:17] paolosalvatori commented on #29
Thanks @SeanFeldman to be on top of this :)

[2017-01-13 09:19] paolosalvatori commented on #38
Hi @RocketPop could you please send me the connection string? You can find my email address in the about form, thanks!

[2017-01-13 16:48] SeanFeldman opened #71 "Packaged version does not match the AppVeyor generated version"
From @RocketPop (https://github.com/paolosalvatori/ServiceBusExplorer/issues/29#issuecomment-272321535):

[2017-01-13 16:49] SeanFeldman commented on #29
Closing this issue.
Bug filed under #71

[2017-01-13 16:49] #29 closed

[2017-01-16 22:11] SeanFeldman commented on #71
PR #72 is pending.

[2017-01-17 07:31] #71 closed

[2017-01-17 16:41] SeanFeldman opened #73 "Build server status for a PR"
AppVeyor can update [status of a PR](https://www.appveyor.com/docs/notifications/#github-pull-request)

[2017-01-17 16:44] SeanFeldman commented on #29
@RocketPop fixed starting from [release 3.4.22](https://github.com/paolosalvatori/ServiceBusExplorer/releases/tag/3.4.22)

[2017-01-17 16:57] SeanFeldman commented on #73
[`AppVeyour.yml` updated](https://github.com/paolosalvatori/ServiceBusExplorer/commit/c95df491ce4eeb3d0c06810993e9b98271195c04) to enable PR notification. @paolosalvatori will verify it's working.

[2017-01-30 17:53] rosslyn-amanbaloch opened #74 "Save connection strings"
I want the ability to save my connection strings so I don't have to re-enter them anytime I want to see a different service bus

[2017-01-30 18:02] tomkerkhove commented on #74
You can add them to the config file in the `appSettings`-section.

But I agree having it in the UI would be a nice-to-have.

[2017-01-31 07:22] SeanFeldman commented on #73
@paolosalvatori ping

[2017-01-31 07:24] SeanFeldman commented on #74
Would any of you want to send a PR to help with this? 😃

[2017-01-31 08:17] r3dlin3 commented on #48
Hi,

I have the exact same issue on the current latest version (3.4.24) while trying to create a listener on a Azure Service Bus.
I'm using the binaries from the zip file of the release.
Is there a workaround? Something I need to install first?

[2017-01-31 15:13] paolosalvatori commented on #73
Hi @seanfeldman what should I do exactly? I don't see any button to approve the change :)

[2017-01-31 15:17] paolosalvatori commented on #74
Hi guys, we may add a save button to the connect dialog that provides the ability to save a connection string with a name inside the config file. I'm very busy this week. Would this work out for you?

[2017-01-31 15:19] paolosalvatori commented on #48
Could you please send me the connection string and tell me on which entity you are trying to create the listener? You find mu email address in the about form. This week I'm pretty busy. Expect a delayed answer.

[2017-02-01 08:17] SeanFeldman commented on #73
Works. Tested with the failing PR #75
![image](https://cloud.githubusercontent.com/assets/1309622/22499463/29c466b4-e81c-11e6-84be-06b1f4b3b082.png)

[2017-02-01 08:17] #73 closed

[2017-02-01 12:14] paolosalvatori commented on #73
Thanks @seanfeldman

[2017-02-01 17:46] r3dlin3 commented on #48
I have tested on a VM under Windows 2012 R2 and it's working...
My workstation is under Windows 10 1607 but in french whereas my VM is in english...
Weird...

[2017-02-11 18:57] rosslyn-amanbaloch commented on #74
Guys, I had a look into implementing this, however, I couldn't find any approach to saving the hash table back.
Do I need to write a custom section handler? or is there a better approach?

[2017-02-11 19:45] SeanFeldman commented on #74
@rosslyn-amanbaloch link?

[2017-02-11 21:08] rosslyn-amanbaloch commented on #74
https://www.codeproject.com/Articles/32490/Custom-Configuration-Sections-for-Lazy-Coders

[2017-02-11 21:21] SeanFeldman commented on #74
Saving has to happen pro-actively. So you either have to expose a UI element to trigger it or do it automatically. Are you saving to a registry, location indicated by a registry, or something else?

[2017-02-11 21:23] rosslyn-amanbaloch commented on #74
I was planning to Add a save button on the form and saving back to the config file on clicking it.

[2017-02-12 00:48] SeanFeldman commented on #74
Note that .config could be replaced if someone would overwrite files with a newer version.

[2017-02-12 10:52] rosslyn-amanbaloch commented on #74
Do you mean we can use a different approach for storing connection strings?

[2017-02-17 09:20] fergusontom opened #76 "Cannot connect to Microsoft Service Bus with v3.4.23"
I cannot connect to an on premise Windows Service Bus instance with version 3.4.23 (or 3.4.18). I reverted to v2.1 and it works fine with the same connection string.

The connection string looks a bit like this:
`Endpoint=sb://xxx/abc,sb://yyy/abc,sb://zzz/abc;StsEndpoint=https://xxx:9355/abc,https://yyy:9355/abc,https://zzz:9355/abc;RuntimePort=9354;ManagementPort=9355;WindowsUsername=user;Window

[2017-02-17 09:57] bunceg opened #77 "Allow purge of all items in a queue or subscription"
Sometimes in testing (or prod) we get a rogue process that sends lots of messages to a queue, or fails lots of messages and puts these to the deadletter queue.

It would be helpful to be able to purge all of these, without having to Receive them all first

[2017-02-17 11:04] paolosalvatori commented on #76
Hi Ferguson
any version of the Service Bus Explorer tool that is higher than 2.1.3 does not work with the on-premises version of the Service Bus by definition. This is not due to the tool, but to the Microsoft.ServiceBus.dll used by the tool as the latter is not compatible with the on-premises version of the Service Bus. This is clearly mentioned in the main page here on GitHub. :)
Ciao
Paolo

[2017-02-17 11:04] #76 closed

[2017-02-17 11:08] paolosalvatori commented on #77
Why don't you select the queue, click Deadletter button, then in the dialog select Receive and Delete under Receive mode and All under Message Count?

[2017-02-17 11:10] bunceg commented on #77
Because, unless I'm mistaken, this downloads all the messages to the UI which is a problem when I have > 1000 messages. The UI locks up for a few minutes whilst it gets everything. For 100K (a really bad rogue process!!) this is unusable.

[2017-02-17 16:40] SeanFeldman commented on #77
@bunceg native client doesn't support purging. Until that functionality exists, the only option is to drain your messages the way @paolosalvatori suggested.

I'm closing this issue as there's nothing we can do at this point.
Would suggest we get back to it once the new ASB client has the ability to purge. [Cast your vote](https://github.com/Azure/azure-service-bus-dotnet/issues/46) here if you'd l

[2017-02-17 16:40] #77 closed

[2017-02-17 16:47] bunceg commented on #77
okay... could this be handled by #60 then... one suggestion by paolo near the end was to receive/delete without loading the messages into the dataview. At the moment, using the latest from master, my UI is locking up with even a smaller size of queued items, so an alternative "do not load" may be easier..

An alternative discussed here [http://stackoverflow.com/questions/9920323/clearing-azure-ser

[2017-02-27 12:52] napalm684 opened #78 "InnerException: The remote server returned an error: (401) Unauthorized. claim is empty."
Cannot connect to our instance in Azure with v3.4.24:

**Connection Settings:**

_Connection String:_
Endpoint=sb://xxx.servicebus.windows.net/;SharedAccessKeyName=RootSendSharedAccessKey;SharedAccessKey=xxxxxxxxxx

_Connectivity Mode:_
AutoDetect

_Transport Type:_
NetMessaging

_Log_:

[code]

[2017-02-27 13:52] napalm684 commented on #78
My mistake, my colleague only gave me the sender access not manage.  Working fine now.

[2017-02-27 13:52] #78 closed

[2017-02-28 14:08] bunceg opened #79 "Batch resubmit of messages of deadletter messages does not ask for Message Inspector"
If you need to resubmit a number of messages from the deadletter queue the current process appears to be impractical for large numbers of messages that take advantage of zipping content before publishing to the queue. Because our messages are zipped, we use the Zip message inspector to be able to convert these before viewing in Service Bus Explorer.

If we then want to re-submit a single message,

[2017-03-02 00:31] SeanFeldman commented on #49
Any update on this @msimecek @paolosalvatori ?

[2017-03-02 00:33] SeanFeldman commented on #74
@rosslyn-amanbaloch correct. One of the ideas was to store a location in registry that would point to the configuration.

[2017-03-02 09:38] sharmavishalvk opened #80 "DeleteRelayAsync() throw exception "The remote server returned an error: (405) Method Not Allowed""
Hello, Thanks for the good app, I really liked it.
I'm looking forwrd to utilise DeleteRelayAsync() however it always throw exception as "The remote server returned an error: (405) Method Not Allowed" as type Microsoft.ServiceBus.Messaging.MessagingExceptionDetail.
Am I missing something here... fix for it?
Thanks! Vishal

[2017-03-03 07:37] tedvanderveen opened #81 "How to connect to Azure IoT Hub message feedback event hub stream from ServiceBusExplorer"
Azure IoT Hub provides Event Hub compatible endpoint for various purpuses. One of which is endpoint for feedabck/delivery result of Cloud-to-Device messages information on messages/servicebound/feedback
How can I connect to this endpoint with ServiceBusExplorer?

[2017-03-03 11:22] vip32 commented on #48
this is also happening in 3.4.24 for me

![image](https://cloud.githubusercontent.com/assets/164303/23549328/002f8f24-000c-11e7-8754-ed4db8c8db59.png)

connected with a azure connection string. this happens when trying to view the subscriptions.

[2017-03-03 11:48] vip32 commented on #48
maybe it makes sense to re-open this issue

[2017-03-07 16:40] paolosalvatori commented on #81
Service Bus Explorer uses an EventHubClient to read messages from the messages/events endpoint. But according to https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messaging, you can read messages from a cloud-to-device endpoint using the same approach. I should extend the tool to integrate the IoT Hub SDK. I'm quite busy in this period, but I could implement this feature in the futur

[2017-03-07 16:42] #48 closed

[2017-03-07 16:51] paolosalvatori commented on #48
I close the issue, because I can't repro it. When clicking a subscription I don't get any error.

[2017-03-07 16:52] paolosalvatori commented on #80
I don't understand. Are you getting this issue when using my tool or when invoking DeleteRelayAsync from your app? :)

[2017-03-07 16:53] paolosalvatori commented on #49
Not from me guys :)

[2017-03-07 17:08] SeanFeldman commented on #49
@msimecek are you still committed to this? If you need assistance with transitioning from biuld process from VSTS to AppVeyor, I can help.

[2017-03-07 22:50] msimecek commented on #49
@SeanFeldman I can provide you with the tools, package manifest and commands which are needed to build an APPX package, so that you can build the process on AppVeyor. I currently don't have the capacity to learn how to migrate it. Email me at martin.simecek@microsoft.com, please.

After that someone needs to publish it to the Store using their developer account (ideally @paolosalvatori as the owne

[2017-03-08 04:05] SeanFeldman commented on #49
Sent an email. Thank you @msimecek

[2017-03-08 11:23] paolosalvatori commented on #74
I added the ability to enter and save a connection string in the configuration file directly from the Connect form. Just select Enter a connection string... in the Connect form, paste a connection string in the Connection String textbox and press the Save button to specify a key for the namespace and save it both to the ServiceBusExplorer.exe.config and App.config (if it exists).

[2017-03-08 11:23] #74 closed

[2017-03-08 11:30] #81 closed

[2017-03-08 11:30] #80 closed

[2017-03-08 16:31] paolosalvatori commented on #79
Can you please try to get the latest version and see if the issue has been fixed? Basically now when you select multiple messages to resend, the tool shows a dialog where you can select a message inspector to apply to all resubmitted messages. In addition, the code eliminates the DeadLetterReason and DeadLetterErrorDescription properties.

[2017-03-08 17:09] bunceg commented on #79
Hi Paolo,

Just tried on the latest and the dialog now shows and appears to resubmit correctly. Thanks!

[2017-03-09 07:40] SeanFeldman commented on #74
@paolosalvatori would be nice if we'd reference issue from a PR or have a closing comment with the commit SHA1 that resolved the issue 😃

[2017-03-09 07:42] SeanFeldman commented on #74
closed via 79525c67592d9bc96f33591b5aa89e62f54fe6e6

[2017-03-09 08:47] paolosalvatori commented on #79
Excellent. Thanks For the confirmation!

[2017-03-09 08:47] #79 closed

[2017-03-09 10:21] paolosalvatori commented on #51
@ekevoo maybe you didn't read what I said at the beginning of this thread. In the connect form you can decide which entities you want to load and apply filters. This way you can load only the entities you have to work with. I close this request as in my opinion, the tool already does what you are asking for.

[2017-03-09 10:21] #51 closed

[2017-03-09 10:21] #50 closed

[2017-03-09 10:23] paolosalvatori commented on #41
@digitaldias I still don't understand what you are asking for. The tool already provides the ability to send select and files from the disk or to create a message generator that creates messages using some custom logic. Please, read the instructions in the readme file.

[2017-03-09 10:23] #41 closed

[2017-03-09 16:26] paolosalvatori commented on #60
I implemented Purge Messages and Purge Deadletter Queue Messages commands for queues and subscriptions.

[2017-03-09 22:23] deadlydog commented on #60
That's awesome that you added that new functionality @paolosalvatori, that will be super useful! However, it doesn't address the original bug which is when you want to only delete 50,000 or the 100,000 messages, there's no easy way to do it because the tool stops after deleting the first few thousand messages. I think this should be reopened, unless that issue was actually fixed as well and just n

[2017-03-18 11:14] firasr opened #83 "Connectivity with Service Bus for Windows 1.1 under "workgroup""
Am using Service Bus Explorer (2.1) to connect to Service Bus for Windows 1.1 installed on a separate server. The connect seems to occur successfully but it doesn’t list any items under Queues/Topic tree. I keep getting the following error:

** The application is now connected to the sb://esbtestserver:9355/test1 service bus namespace.
** MessagingFactory successfully created
** Exception: The tok

[2017-03-21 11:56] MikeWilliams-UK opened #84 "When resubmitting a block of messages all the properties are lost"
Scenario
  Receive a block of messages
  Select them all, then Right Click Repair and Resubmit
  Select body type of string

All messages which are re-submitted loose ALL of their properties.

As a temporary fix I have [commented out line 354](https://github.com/paolosalvatori/ServiceBusExplorer/blob/master/Forms/MessageForm.cs#L354) of MessageForm.cs [inside btnSubmit_Click()]
//outboundMessage.P

[2017-03-21 12:14] MikeWilliams-UK commented on #79
Hi Paulo,

Looks like this is where the clearing of all properties bug has crept in.

[2017-03-21 12:15] MikeWilliams-UK commented on #84
Related to https://github.com/paolosalvatori/ServiceBusExplorer/issues/79

[2017-03-22 13:03] RamsankarRajendran opened #85 "Created date of the subscription also changing when updating the rule."
Whenever changing the subscriptions rule or user description of the particular subscription, the creation date the subscription also getting changed. I am getting the created and last updated date of the subscription in java programmatically using azure java sdk. Both the created and updated date are same.
The scope is created date of the subscriptions should remains same and the last modified dat

[2017-03-22 17:04] napalm684 opened #86 "Ability to view message content in explorer"
This is more of a question/feature request if it is not there.  Is there a way for me to view the message content without pasting the data in hex format and converting to ASCII with something like http://www.rapidtables.com/convert/number/hex-to-ascii.htm ?  I am sorry if this is covered elsewhere but I couldn't find it.  Thanks in advance love the tool.

[2017-03-23 06:22] SeanFeldman commented on #86
When you send your brokered messages using ASB, what type do use for the body/payload?

[2017-03-23 06:28] SeanFeldman commented on #85
@RamsankarRajendran when you modify a subscription description using Java SDK, do you get the expected outcome (i.e. creation and last updated dates are not the same)?

[2017-03-23 06:38] SeanFeldman commented on #84
@MikeWilliams-UK the two DLQ related properties [are filtered out](https://github.com/paolosalvatori/ServiceBusExplorer/blob/master/Forms/MessageForm.cs#L360-L366) anyways.

@paolosalvatori why was `outboundMessage.Properties.Clear();`  needed?

[2017-03-23 08:32] MikeWilliams-UK commented on #84
@SeanFeldman I only mentioned the DLQ properties for completeness.  In our case we are shifting a block of messages from a DLQ onto another queue to re-reprocess them. In this case it is critical that all of the original properties are sent to the other queue.

[2017-03-23 08:46] paolosalvatori commented on #86
I could invest some time in the visualization of the message. At the moment the tool recognize and properly indent TEXT, XML and JSON messages, while it represents in binary format any non recognized format. You can create a message inspector for the tool to parse the content of incoming messages, configure the message inspector in the configuration file and select it from the dropdown list when y

[2017-03-23 08:49] paolosalvatori commented on #85
Hi @RamsankarRajendran this question is not really about the tool, this is more a question for the product group: @clemensv or @djrosanova

[2017-03-23 09:47] paolosalvatori commented on #84
Hi @MikeWilliams-UK  I fixed the problem, please pick up the latest version and let me know if it works as expected. I basically eliminates the line of code that you removed from the MessageForm.cs [inside btnSubmit_Click()] method.

[2017-03-23 09:47] #84 closed

[2017-03-23 09:48] #85 closed

[2017-03-23 09:54] paolosalvatori commented on #83
It should work. try the following:
WindowsUsername=<local-user-name-on-the-SB-machine>;WindowsDomain=<SB-machine-name>;WindowsPassword=<local-user-password>

[2017-03-23 10:22] MikeWilliams-UK commented on #84
@paolosalvatori I have downloaded the latest version and it won't compile

Error	CS0115	'MainForm.Dispose(bool)': no suitable method found to override	ServiceBusExplorer
Error	CS0246	The type or namespace name 'HeaderPanel' could not be found (are you missing a using directive or an assembly reference?)
Error	CS0246	The type or namespace name 'HeaderPanel' could not be found (are you missing a usi

[2017-03-23 10:24] MikeWilliams-UK commented on #84
@paolosalvatori I have downloaded the latest version and it won't compile VS2015 Update 3

[2017-03-23 10:31] paolosalvatori commented on #84
Fixed, the problem was due to the fact that I changed the namespace of classes, but when I synchronized my commit, I had to merge changes made by @SeanFeldman that still contained the old namespace.

[2017-03-23 10:32] paolosalvatori commented on #84
@SeanFeldman this is a major release as the tool now uses Microsoft.ServiceBus.dll v.4.0. Could you please change the major release number from 3 to 4? Thanks!

[2017-03-23 10:50] MikeWilliams-UK commented on #84
Thanks @paolosalvatori the latest version works fine and fixes our issue.

[2017-03-23 19:07] SeanFeldman commented on #86
Message inspector sounds like a good idea. @napalm684 would you like to do that?

[2017-03-23 19:10] SeanFeldman commented on #84
@paolosalvatori can be done as part of a commit. `AppVeyor.yaml` has the info to update [here](https://github.com/paolosalvatori/ServiceBusExplorer/blob/master/appveyor.yml#L23). I'll do it on the master.

[2017-03-23 19:12] SeanFeldman commented on #84
[4.0.x](https://github.com/paolosalvatori/ServiceBusExplorer/releases/tag/4.0.54) is up.

[2017-03-23 19:32] SeanFeldman commented on #85
@RamsankarRajendran you can raise it here: https://github.com/Azure/azure-service-bus/issues

[2017-03-23 19:46] napalm684 commented on #86
@SeanFeldman So I am looking at the package we use to send a BrokeredMessage and it appears we are using the overload that simply takes the message object.  Per the documentation [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.brokeredmessage) this uses a binary XmlDictionaryWriter (Microsoft.ServiceBus.Messaging.DataContractBinarySerializer)?  Is that why I am ge

[2017-03-24 07:59] paolosalvatori commented on #84
Thanks @SeanFeldman!

[2017-03-24 21:22] rdrscan opened #87 "Error 500 on connect azure"
I'm trying to connect in the notification hub and the following error appears to me in the ServiceBusExplorer Log

Debugging on Fiddler I got the raw error message:

I verified the access key and it is the correct FullSharedAccessSignature with all permissions. I tried the last ServiceBusExplorer 4.0.57, and some other versions 4.0.56, 4.0.55, etc...

I have other application that also uses Window

[2017-03-27 06:43] paolosalvatori commented on #87
Hi @rdrscan could you please send me a repro that does not use my tool? So I can forward it to the product group. Thanks!
Ciao
Paolo

[2017-03-27 13:21] rdrscan commented on #87
Hello @paolosalvatori !
I made a mistake testing the nuget package Microsoft.Azure.NotificationHubs. Now I call tell you it is working on a simple console application (other methods like GetAllRegistrationsAsync is also working): _NotificationHubClient.CreateClientFromConnectionString(connectionString, hubPath)_

But the error 500 persists in ServiceBusExplorer with the same connection string.
I r

[2017-03-27 16:15] SeanFeldman opened #88 "Versioning alternative"
Currently, we build a versioned of SBE when compiling on the buildserver (appveyor).
Locally, version is always set to `1.0.0.0`.

Originally, [GitVersion](https://www.nuget.org/packages/GitVersionTask/) was thought of an option (#29). Perhaps that's something to re-evaluate.

[2017-03-29 00:33] napalm684 commented on #86
@paolosalvatori can you confirm the interface above is the implementation needed for this viewer functionality?

[2017-03-30 16:34] napalm684 commented on #86
Is there a trick to get the broker message inspectors to show up in the drop down?

[2017-03-30 16:42] SeanFeldman commented on #86
Double check if there's a need to drop a line in the configuration file.

[2017-03-30 16:51] napalm684 commented on #86
I did drop a line in the configuration file @SeanFeldman but not even the pre-configured ones (from master already) load when I click the messages button on a subscription.

[2017-03-30 19:34] dberryalliance opened #89 "Index was out of range"
I have an Azure Service Bus namespace that I'm able to use 4.0.57, from the released zip file, and an older 3 version to explore.  However, when I click on any Topic Subscription, I receive the following items in the log:

[code]

I cannot perform any operations on the subscription, e.g. Receive Messages or Dead Letter Queue items.  Or view any of the subscription configuration details.  My collea

[2017-04-03 04:10] SeanFeldman commented on #86
Not sure. @paolosalvatori can you help out?

[2017-04-03 21:16] SeanFeldman opened #90 "Can't access messages in TransferDeadLetter"
Aside from the queue and it's DLQ (`queue/$DeadLetterQueue`), there's also a transfer deadletter queue (`queue/$Transfer/$DeadLetterQueue`) that can store messages.

It's impossible to access it using the tool.

[2017-04-04 02:00] paolosalvatori commented on #86
Hi @napalm684 @seanfeldman, I realizes that there's some regression bug preventing message interceptors to be loaded correctly in the tool. I'll work to fix that when I'll have time and follow up here.

[2017-04-04 02:03] paolosalvatori commented on #90
Hi @seanfeldman, good suggestion :) I'll implement this feature when I'll have time.

[2017-04-04 04:49] SeanFeldman commented on #90
@paolosalvatori perhaps should be labeled with `help wanted` and delegated?
Sometimes this repo remind me of this [old episode](https://www.youtube.com/watch?v=qWet8T__mGk) (see translation in comments) 😃

[2017-04-04 05:59] snekbaev commented on #90
@SeanFeldman at least it is not like the same scene but in the [first part ](https://www.youtube.com/watch?v=973swwNZx90) of that movie :))))

[2017-04-04 06:01] SeanFeldman commented on #90
That @snekbaev is yet to be determined...

[2017-04-05 14:43] camous opened #91 "purge function requires confirmation"
version : 4.0.57

purge function took place (mentally, habit) of receive deadletter queue message and should ask for confirmation as it could lead to data loss and incorrect usage. (hints, already did :))

personally I would even **only** keep the option in "Action" menu rather quick access
![image](https://cloud.githubusercontent.com/assets/8566299/24710993/00fdff3a-1a1f-11e7-9a2d-250261e89365.pn

[2017-04-06 00:12] SeanFeldman commented on #30
Kicking this again - would the new feature released with [.NET FW 4.7](https://blogs.msdn.microsoft.com/dotnet/2017/04/05/announcing-the-net-framework-4-7/) address this ("Take advantage of High DPI" section) @onovotny?

[2017-04-06 00:41] onovotny commented on #30
I put some HiDPI lipstick on RSS Bandit, so I'd say anything is possible :)https://github.com/RssBandit/RssBandit

It's really just a matter of time... That said, some of the simple things, like the manifest settings, might just work with Creators Update and later?

[2017-04-06 00:42] onovotny commented on #30
Related to that, I'd think it worth-while to put this in the Windows Store as a Desktop Bridge app.

[2017-04-06 02:04] paolosalvatori commented on #30
@onovotny I agree with you, after Easter I can take some time to put SBE in the Windows Store as Desktop Bridge app. Regarding the migration to .NET framework 4.7, @SeanFeldman ,if not necessary to put the app in the store, I'don't wait a few months just to gethe Visual Studio 2017 more largely adopted.

[2017-04-06 02:07] paolosalvatori commented on #91
Thanks for the suggestion @camous :)

[2017-04-06 02:11] paolosalvatori commented on #90
@SeanFeldman @snekbaev nice video :) I should have more bandwidth after Easter, so I will introduce the ability to see messages from the transfer dead letter queue.

[2017-04-06 02:19] paolosalvatori commented on #86
I found the bug and I will check in the fix this Monday. I recently changed the namespace of classes in the tool, so the FQDN of message inspectors in the configuration fillet is now incorrect. That'said why the tool dies not load them at start :)

[2017-04-06 02:20] paolosalvatori commented on #89
Mmm... this is quite strange. Maybe it could be due to the entity named and regional settings on your machine?

[2017-04-06 02:24] paolosalvatori commented on #87
Thanks for the update @rdrscan, it quite sometime that I don'the use notification hubs so I fidn'the know about the change of name of name of the default key :1st_place_medal:

[2017-04-06 02:26] SeanFeldman commented on #90
@paolosalvatori I was actually thinking of doing that if you don't mind. Saying that, if you have certain preferences on where and how we should expose is - I won't mind suggestions for the UI 😉

[2017-04-06 02:37] paolosalvatori commented on #90
@SeanFeldman is pretty simple, you just have to create a new tab in the queue and subscription handler controls and reuse the same controls from yhe dead ketter medxages tab. You also need to add a new button, called Transfer and make sure is visualiced only when you have selected an existing entity, and not when creating a new one. Then you have to create menu items in the drop down menu in the m

[2017-04-06 03:34] SeanFeldman commented on #90
Looks like you're picking up the local dialect quite fast @paolosalvatori 😜

[2017-04-06 03:36] SeanFeldman commented on #30
Desktop Bridge was discussed in #49. @msimecek has shared his instructions so we should be able to apply that with AppVeyor.

[2017-04-06 05:01] paolosalvatori commented on #90
Do you mean my English? No, it's just Italian English dialect :)

[2017-04-06 06:11] SeanFeldman commented on #90
यह अंग्रेजी नहीं था 😃

[2017-04-06 07:34] camous commented on #91
tested & worked great 👍

[2017-04-12 10:01] timj92 commented on #89
I've had this same issue. Deleting the entire directory and re-building it didn't help. A direct copy of the built application to another machine **did** work.

For me, the only solution was to use another machine. I believe I remember tracing this error back to something to do with window width, but I wasn't able to solve it.

[2017-04-12 15:35] #91 closed

[2017-04-12 15:37] #90 closed

[2017-04-18 21:50] dogleft opened #95 "Setup project will migrate to VS2017 community"
Hi, when opening ServiceBusExplorer.sln in VS2017 community, I see an error dialog on the migration.
All project but the setup project migrated. Error message:  The application which this project type is based on was not found. Please try this link for further information: https://go.microsoft.com/fwlink/?LinkId=660147&projecttype=54435603-DBB4-11D2-8724-00A0C9A8B90C

Attaching upgrade log

[Upgra

[2017-04-19 07:23] paolosalvatori commented on #95
Thanks @dogleft for the heads up. We didn't migrate the project to VS2017 yet. @SeanFeldman let's take this offline.

[2017-04-19 20:24] SeanFeldman commented on #88
@paolosalvatori do we need to update AppVeyor to reflect changes made in #94?

[2017-04-19 20:26] SeanFeldman commented on #95
@dogleft we've got an issue #49 that is addressing the installer problem.

Moving forward, the plan is to switch to the [Desktop Bridge](https://developer.microsoft.com/en-us/windows/bridges/desktop) to provide an installer + updates.

[2017-04-19 20:26] #95 closed

[2017-04-19 22:32] eperov opened #96 "SBE Does not purge messages from Topic’s session enabled Subscription"
Hi,
I am getting an Exception when purge messages from Topic’s session enabled Subscription:

<15:23:33> Exception: It is not possible for an entity that requires sessions to create a non-sessionful message receiver. TrackingId:56c88faf-fe99-45b3-867a-3e60086730cc_G14_B10, SystemTracker:xyzsb:topic:edtop~31|edtsub1, Timestamp:4/19/2017 10:23:33 PM

Reading messages is ok.

Thanks

[2017-04-20 14:30] SeanFeldman commented on #88
Looks like there's a disconnect between GitVersion and AppVeyor
![image](https://cloud.githubusercontent.com/assets/1309622/25235778/6ae0c542-25a3-11e7-935b-b83c861c5278.png)

[2017-04-20 14:59] SeanFeldman commented on #88
PR #94 was only accounting for the local development and compilation to get the version, rather than both local and buildserver (AppVeyor). When AppVeyor is creating a release build, it uses the version on the build server. This is needed for the future installer and consistency. I'll look into connecting AppVeyor and GitTask info next week.
Moving forward, with consideration for #49, version shou

[2017-04-20 15:01] paolosalvatori commented on #88
Agreed. Thanks @SeanFeldman

[2017-04-23 21:47] SeanFeldman opened #97 "Premium tier queue sizes"
Premium tier queue size can go up to 80GB
![image](https://cloud.githubusercontent.com/assets/1309622/25317716/3f5a7982-283b-11e7-89ec-c346235c6895.png)

Currently, UI only shows up to 5GB.
![image](https://cloud.githubusercontent.com/assets/1309622/25317731/72374164-283b-11e7-9040-8f9c32426ca0.png)

Possible sizes are: 1, 2, 3, 4, 5, 10, 20, 40, 80

[2017-04-24 15:52] paolosalvatori commented on #97
@SeanFeldman good point, let's fix that!

[2017-04-24 15:54] paolosalvatori commented on #97
It would be better to show different values for standard and premium messaging, but it's impossible to understand if a namespace is standard or premium without looking at the ARM resource properties, which would require authentication against an AAD.

[2017-04-24 15:59] SeanFeldman commented on #97
All we can do at this point (seems like) is to adjust the slider to show the size to reflect the actual size since values are coming properly via `QueueDescription`.

[2017-04-24 16:00] paolosalvatori commented on #97
Ok, let's do it.

[2017-04-26 22:54] amithegde opened #98 "Links are invalid"
One drive link is invalid. Please make it available as a zip file on github itself.

[2017-04-26 23:20] SeanFeldman commented on #98
@amithegde please see here.
https://github.com/paolosalvatori/ServiceBusExplorer/releases

[2017-04-26 23:20] #98 closed

[2017-04-27 21:52] eperov commented on #96
Purging from session enabled queue raises the same error.

[2017-04-28 15:37] SeanFeldman opened #99 "Ability to identify tier type / namespace type"
Currently, SBE doesn't have an idea what tier or namespace type is used.
Related issue #97

[2017-04-28 15:42] SeanFeldman commented on #49
For signing: we could use https://letsencrypt.org/ to get a free certificate

[2017-04-28 15:48] SeanFeldman commented on #97
For now, will just override the size in UI based on the value from `QueueDescription` we get back.

[2017-04-28 15:56] #87 closed

[2017-04-28 15:58] #86 closed

[2017-04-28 15:59] SeanFeldman commented on #86
@napalm684 this should be fixed now. Please re-open in case it's not working. Thanks.

[2017-04-28 16:06] SeanFeldman commented on #52
@ekevoo what about nested path option? ("path/to/your/queue")
If you have queues arranged in the following way
![image](https://cloud.githubusercontent.com/assets/1309622/25537067/4769ff86-2bfa-11e7-9f82-47efb077d8a4.png)
You could delete X and remove everything beneath it (Y and Z).

Does that work for you?

[2017-04-28 16:12] SeanFeldman opened #100 "Transfer DLQ implementation"
Needs to be implemented for
- [x] Queues
- [x] Subscriptions

[2017-04-28 23:40] napalm684 commented on #86
Wasn't the issue to create a new message inspector this just blocked that work?

[2017-04-29 03:53] goanpao commented on #89
I was facing the same issue. From my analysis in HandleSubscriptioControl.cs the following method is having an issue.
_private void CalculateLastColumnWidth(object sender)_
The columns.count for object sender is 0 hence the code breaks at this statement
                    var width = dataGridView.Width -
                                dataGridView.RowHeadersWidth -

[2017-05-02 07:15] paolosalvatori commented on #86
Hi @napalm684 what is the problem? The ability to create a message inspector has been fixed. Regarding the visualization of the message, if the payload contains some special characters, the tool visualize the content in binary format.

[2017-05-02 07:28] paolosalvatori commented on #89
Thanks for the heads up. This should be fixed now. I added this line of code:

if (dataGridView.Columns.Count == 0) {return;}

[2017-05-02 07:28] #89 closed

[2017-05-02 22:45] napalm684 commented on #86
No I meant the issue was opened as a feature request.  We found the blocker (that is now fixed as a result).  Up to you on if you want to manage the feature request or just handle a PR when/if it comes.

[2017-05-03 03:17] napalm684 commented on #86
@paolosalvatori Does this help?  This is what I am shooting for in my [commit](https://github.com/napalm684/ServiceBusExplorer/commit/8b12810368b038e06dd8c566ccaa7d33eba07404).  The hex display is of limited value to me when displaying a message.  While not perfect, this is better than me pasting the hex content into the tool I mentioned previously.

[2017-05-03 05:13] SeanFeldman commented on #88
Closed via 53ebed7681f291194b35a33857b98e021220f920

[2017-05-03 05:13] #88 closed

[2017-05-03 05:24] SeanFeldman commented on #88
@paolosalvatori quick update on what I've done.

After playing with AppVeyor and GitVersion this is what I've set in place.
- Changes done on a branch once committed into master will auto increment the patch version.
- We can control versions by applying tags (setting "new base").
- /releases will contain pushed released versions in that follow the Major.Minor.Patch format
  - Release description

[2017-05-03 05:30] SeanFeldman commented on #49
With #88 completed, this is unblocked.

[2017-05-03 12:07] paolosalvatori commented on #86
I fixed the problem. I also added a new setting in the Options form called Use ASCII. Please download the latest version, give it a try and let me know. I didn't try if messages get visualized as expected when Use ASCII is set to true.

[2017-05-03 12:12] paolosalvatori commented on #83
When connecting to a Service Bus for Windows Server located in another workgroup, make sure you creating a user X with the same username and password on both the client machine and the workgroup machines hosting Service Bus. Add the user to ManageUsers  for the namespace using the https://msdn.microsoft.com/en-us/library/azure/jj248750(v=azure.10).aspx Set-SBNamespace PowerShell cmdlet. Finally, r

[2017-05-03 12:12] #83 closed

[2017-05-03 15:20] napalm684 commented on #86
@paolosalvatori works well enough for me.  Thank you for doing it I would have gladly done a more robust pull request :-) .  Honestly I didn't even know about the options form as I hadn't used it till now.  Thanks again!

[2017-05-04 22:53] deadlydog commented on #60
Hey @paolosalvatori I finally got around to downloading the new version of Service Bus Explorer. I tried out the new Purge Deadletter Queue Messages feature, and unfortunately it suffers from the same problem as the original bug I mentioned. If there are too many messages in the deadletter queue, it does not delete them all.

I have a deadletter queue with 21,000 messages in it. The first time I c

[2017-05-09 13:59] Oculys-DanL opened #109 "Sending "saved" messages back to a queue?"
I can see that for any queue that I can peek the messages and then save one or more of them to disk in a JSON document. This document contains all of the message content and metadata.

For testing, is it possible to load this JSON document and send those messages back to the queue? When I choose "Send Messages" on the queue, the file saved above seems to only be interpreted as a text message, not

[2017-05-16 22:57] SeanFeldman opened #111 "Unit tests are not executed on the build server"
AppVeyor should execute unit tests. Currently it doesn't.
Doco on enabling tests: https://www.appveyor.com/docs/running-tests/

[2017-05-22 13:14] WarrenKin commented on #48
I am also seeing this issue, I can run on a Win 7 Pro machine with no issues, but on my Win 7 Enterprise laptop I see this "Index was out of range" exception.  It occurs with both my production and test Service Bus connection string.  Has someone got to the bottom of this one?

![sbexplorerexception](https://cloud.githubusercontent.com/assets/28863283/26310293/37ae6b8e-3ef8-11e7-9c16-5a4d59fefc96.

[2017-05-22 13:39] paolosalvatori commented on #48
Hi @WarrenKin I've no way to repro this problem. If you have Visual Studio installed on that machine, it would be great if you could debug through the application and tell me exactly which method call fails. Sorry about that.

[2017-05-22 13:52] WarrenKin commented on #48
Hi Paolo,

The CalculateLastColumnWidth is the method that crashes, it seems the object passed into the method is null:

[cid:image001.jpg@01D2D30A.EC8A0E50]

This is the statement where it finally complains:

[cid:image002.jpg@01D2D30A.EC8A0E50]

Please let me know what else you require….

Warren

From: Paolo Salvatori [mailto:notifications@github.com]
Sent: Mon 22 May 2017 14:40
To: paolosalvato

[2017-05-22 13:54] paolosalvatori commented on #48
Hi @WarrenKin I don't see the images :(

[2017-05-22 14:02] WarrenKin commented on #48
Paolo, I've edited my previous comment and attached the VS clip.

[2017-05-22 14:32] paolosalvatori commented on #48
Hi @WarrenKin in which version of the tool do you see the problem? The latest or 2.1.3? And in which class? Thanks! HandleQueueControl or HandleSubscriptionControl? Thanks!

[2017-05-22 14:35] WarrenKin commented on #48
The class is HandleSubscriptionControl and the version I am using is 3.0.4.

[2017-05-22 14:36] paolosalvatori commented on #48
Can you please check the latest version? Thanks!

[2017-05-22 14:40] WarrenKin commented on #48
Do you mean this:

![sbexplorerversion](https://cloud.githubusercontent.com/assets/28863283/26314138/e83ab21c-3f04-11e7-89bf-2bb8d2ba8ad6.JPG)

[2017-05-22 14:42] paolosalvatori commented on #48
I don't recognize that view. I mean the latest version of the code or the latest release you can download from GitHub .

[2017-05-22 15:02] WarrenKin commented on #48
I see what you mean now, I have downloaded the latest code from GitHub and the issue is now fixed, thank you so much.  I thought I had the latest version 3.0.4, I'll have to check where I found this download because I am sure it said it was the latest and it was only about 1 month ago, and I see you're now at 4.0.89. Thanks again - it's a brilliant tool.

[2017-05-22 15:03] paolosalvatori commented on #48
Thanks @WarrenKin :)

[2017-05-30 09:48] WarrenKin opened #112 "Cannot Create Subscription Rule"
Hello Paolo,
I recently updated to the latest version after discussions with you last week about not being able to view the subscription messages, so now using 4.0.89.  However, I cannot seem to add/update a new/existing rule anymore.  The dialogue boxes appear for me to add/update the details but there are no action buttons e.g. add/update/cancel...etc  Am I doing something wrong?

![addsubscript

[2017-05-31 07:31] paolosalvatori commented on #112
@SeanFeldman good observation. It looks like the issue is due to the resolution of your pc/laptop. I didn't make any change to the code of the rule control and I just tested the latest version on my pc and didn't see any issue with the rule control.

[2017-05-31 07:34] WarrenKin commented on #112
My display is the laptop recommended 1920x1080, what are you suggesting?

From: Paolo Salvatori [mailto:notifications@github.com]
Sent: Wed 31 May 2017 08:31
To: paolosalvatori/ServiceBusExplorer <ServiceBusExplorer@noreply.github.com>
Cc: Kinley Warren, Beetham <Warren.Kinley@billerudkorsnas.com>; Author <author@noreply.github.com>
Subject: Re: [paolosalvatori/ServiceBusExplorer] Cannot Create Su

[2017-05-31 07:57] paolosalvatori commented on #112
Mmm... that's strange... it should work just fine, I'm using the same resolution. Did you change the size of text, apps and other items in the display settings? Are you using a value greater than 100%?

[2017-05-31 08:00] WarrenKin commented on #112
Yes, I’m on the laptop default 125%, I’ll change if you think this is the issue.

From: Paolo Salvatori [mailto:notifications@github.com]
Sent: Wed 31 May 2017 08:57
To: paolosalvatori/ServiceBusExplorer <ServiceBusExplorer@noreply.github.com>
Cc: Kinley Warren, Beetham <Warren.Kinley@billerudkorsnas.com>; Author <author@noreply.github.com>
Subject: Re: [paolosalvatori/ServiceBusExplorer] Cannot C

[2017-05-31 08:03] paolosalvatori commented on #112
@WarrenKin try to change the setting to 100% and let me know.

[2017-05-31 10:24] WarrenKin commented on #112
That’s done it, the action buttons have appeared, thank you.

From: Paolo Salvatori [mailto:notifications@github.com]
Sent: Wed 31 May 2017 09:04
To: paolosalvatori/ServiceBusExplorer <ServiceBusExplorer@noreply.github.com>
Cc: Kinley Warren, Beetham <Warren.Kinley@billerudkorsnas.com>; Mention <mention@noreply.github.com>
Subject: Re: [paolosalvatori/ServiceBusExplorer] Cannot Create Subscription

[2017-06-05 19:31] bluelegion opened #113 "Looks like we dropped a letter from the app name somewhere..."
The window title is "Service Bus Explore 4.0.89"  instead of "Service Bus Explorer 4.0.89".  Not a big deal, just thought I'd mention it.

[2017-06-05 21:07] #113 closed

[2017-06-05 21:14] SeanFeldman commented on #49
Update: i'll be done with conferences this week and plan to get back to this issue.

[2017-06-06 15:44] paolosalvatori commented on #113
Thanks @bluelegion for the heads-up. Thanks @SeanFeldman for fixing it.

[2017-06-15 08:22] tomkerkhove opened #114 "Add version to ServiceBusExplorer.zip"
When downloading a new release of Service Bus Explorer it always has the name `ServiceBusExplorer.zip`.
It would be nice to have the version name in the filename.

Important to say that this is not important but rather an improvement request.

[2017-06-15 08:25] paolosalvatori commented on #114
Excellent feedback @tomkerkhove :) @SeanFeldman, do you think it's possible to implement this feature?

[2017-06-15 14:53] SeanFeldman commented on #114
Are holding on to those zips @tomkerkhove because you don't trust the latest and greatest? 🙂
Reasonable ask, 👍

[2017-06-15 16:05] #114 closed

[2017-06-15 16:21] SeanFeldman opened #116 "Convert solution to use the new CSPROJ format"
The new csproj format is cleaner, smaller, better package and reference management, multi-targeting, etc.

Some reading material:
- [Old csproj to new csproj: Visual Studio 2017 upgrade guide](http://www.natemcmaster.com/blog/2017/03/09/vs2015-to-vs2017-upgrade/) bit dated, but still good.
- [Additions to the csproj format for .NET Core](https://docs.microsoft.com/en-us/dotnet/core/tools/csproj)

[2017-06-15 17:20] tomkerkhove commented on #114
That's fast - Thanks @paolosalvatori & @SeanFeldman!

[2017-06-15 20:12] bojordan commented on #114
Bo Jordan liked your email
Spark by Readdle

[2017-06-16 05:59] SeanFeldman commented on #111
Closed via PR #117

[2017-06-16 05:59] #111 closed

[2017-06-16 05:59] SeanFeldman commented on #111
/cc @paolosalvatori

[2017-06-18 05:18] SeanFeldman opened #119 "Retiring support for Windows Server Service Bus"
With WSSB [been deprovisioned](https://azure.microsoft.com/en-us/blog/collaboration-and-federation-azure-service-bus-messaging-on-premises-futures/), SBE doesn't have to support it anymore.
Current code has to cater for both, on premises SB 1.1 and ASB. This makes code unnecessary complex.

Suggest the following:
- Create a support branch to ensure bugs related to SB 1.12 are addressed
- `master`

[2017-06-18 06:13] SeanFeldman opened #120 "Partitioned queues size is not reported properly"
### Standard ties

Queues can be non-partitioned or partitioned.
Non partitioned queue sizes: 1, 2, 3, 4, 5 GB.

Partitioned queues are x16 bigger. I.e. 16,...,80 GB.

SBE divides by by 16 any partitioned queues rather than reporting the size as-is.

### Premium tier

Detect on of the possible sized (1, 2, 3, 4, 5, 10, 20, 40, or 80 GB size). Partitioning is always set to 2 and doesn't affect queu

[2017-06-18 17:34] filipebezerra opened #121 "Cannot connect with connection string"
I'm trying to connect to my Notification Hub using the version 4.0.91 and some other earlier versions but everything that I got is:

[code]

I'm setting up with DefaultFullSharedAccessSignature connection string.

Maybe isn't important but my account is a DreamSpark Subscription so it's a free subscription and it's located at Brazil South.

[2017-06-18 17:52] SeanFeldman commented on #121
@paolosalvatori do you know if DreamSpart subscriptions require anything special?

[2017-06-19 09:18] paolosalvatori commented on #121
Mmm... @filipebezerra @SeanFeldman, I don't know DreamSpart subscriptions, hence I can't answer your question :(

[2017-06-19 14:05] SeanFeldman commented on #120
Closed via #122

[2017-06-19 14:05] #120 closed

[2017-06-19 14:05] SeanFeldman commented on #97
Closed via #122

[2017-06-19 14:05] #97 closed

[2017-06-19 15:00] filipebezerra commented on #121
Thanks @paolosalvatori. Can you indicate someone related to Microsoft to help with this? How can I submit an issue to the team related with Dreamspark subscriptions?

[2017-06-19 15:07] SeanFeldman commented on #121
@filipebezerra can you raise an issue on the [Azure portal](http://www.azureman.com/infrastructure/manage-your-azure-support-tickets-in-the-new-azure-portal/)?

[2017-06-19 17:05] filipebezerra commented on #121
Yep, I will. Thanks

[2017-06-20 05:54] SeanFeldman commented on #116
Not possible with windows forms projects

[2017-06-21 13:30] KSib opened #124 "Active Message Count Negative v4.0.94"
Is this by design or should it be possible for a subscription to have a negative active message count? If I navigate to the portal, I don't see any negative numbers. That seems odd. What would a negative number be telling me?

Here's what I have

- Topic: topic1
    -   Subscription: 123456 (-2, 3)
    -   Subscription: 567890 (5, 3)
    -   Subscription: catchall (13, 0)

Is this just Message Cou

[2017-06-21 13:40] KSib opened #125 "About window"
The about window doesn't seem to have the version number in it, but it does seem to cause very high CPU usage ;)

[2017-06-21 13:43] KSib opened #126 "Download Link"
I noticed that the documentation says the following:

but I don't see a zip file. I've downloaded the version I have from... I don't even know where anymore. Shouldn't the link to the download just be right at the start of the documentation?

Thanks.

[2017-06-21 15:20] paolosalvatori commented on #126
Hi @Ksib, I initially published the code on MSDN Code Gallery at https://code.msdn.microsoft.com/windowsapps/Service-Bus-Explorer-f2abca5a. Here the code is available by downloading a zip file. However, I'm no more updating the code at that link, and sooner or later I'll clearly drop the project on MSDN Code Gallery.

[2017-06-21 15:20] #126 closed

[2017-06-21 15:21] paolosalvatori commented on #125
Mmm... the tool tries to retrieve the version from GitHub via HTTP. Are you sure you are connected to the internet?

[2017-06-21 15:23] KSib commented on #125
Always :) Maybe this was a fixed bug? I'm on 4.0.68

[2017-06-21 15:25] paolosalvatori commented on #124
Yes, the two numbers you can see are respectively the number of active messages and the number of messages in the deadletter queue. I've never seen negative numbers for these two properties. Can you please use the Azure Portal to compare the number of active messages and deadletter messages in your subscriptions?

[2017-06-21 15:33] KSib commented on #125
So I updated by compiling what was in the zip file.
The version number on the title has the correct version. The version number in the window itself says 1.0.0

![image](https://user-images.githubusercontent.com/1589238/27392752-140bc51e-566d-11e7-9898-a7b338426866.png)

[2017-06-21 15:36] KSib commented on #124
Here's what I have

**Service Bus Explorer**
![image](https://user-images.githubusercontent.com/1589238/27392791-35ea0f56-566d-11e7-8b5a-30be53773dea.png)

**Portal**
![image](https://user-images.githubusercontent.com/1589238/27392828-4dea96de-566d-11e7-841d-614dec118d91.png)

[2017-06-21 15:51] paolosalvatori commented on #125
Here is the deal. If you download the latest release from https://github.com/paolosalvatori/ServiceBusExplorer/releases, the exe automatically contains the latest version. Since it's not possible to automatically change the source code whenever a new release is created to reflect the new version, or generated the right version number when you build the source code locally, the code automatically r

[2017-06-21 15:51] #125 closed

[2017-06-21 16:00] paolosalvatori commented on #124
The topic never reports the number of messages. So this is correct. Can you please send me the latest picture for the 123456 subscription? Thanks

[2017-06-21 16:07] KSib commented on #124
It looks like it's now at (1,3,0)

![image](https://user-images.githubusercontent.com/1589238/27394339-6df781fe-5671-11e7-9ef7-25e3a4f5a16a.png)

I also disabled "Enable Dead Lettering On Filter Evaluation Error" and enabled "Enable Dead Lettering On Message Exception" so I don't know if that's related? Or maybe something got cached funny? I'm not sure.

[2017-06-21 16:10] SeanFeldman commented on #124
@KSib I've noticed in the title of this issue that you've used version "v4.0.68". Are you still using that version? The latest can be found [here](https://github.com/paolosalvatori/ServiceBusExplorer/releases).

[2017-06-21 16:11] KSib commented on #124
I'm on 4.0.94 now when I posted the most recent screenshot. It doesn't seem to be happening anymore though after disabling "Enable Dead Lettering On Filter Evaluation Error" so maybe it's fine now?

[2017-06-21 16:15] SeanFeldman commented on #126
For anyone who's looking at this issue - all versions for download are under GitHub [here](https://github.com/paolosalvatori/ServiceBusExplorer/releases). The old version, (2.1.0) is available as a [zip](https://github.com/paolosalvatori/ServiceBusExplorer/releases/tag/2.1.0) or as [support branch](https://github.com/paolosalvatori/ServiceBusExplorer/tree/support-2.1).

[2017-06-21 16:20] SeanFeldman commented on #124
I'm not convinced "Enable Dead Lettering On Filter Evaluation Error" is the issue. Active message count is a counter reported by ASB. It shouldn't be reported as a negative value. If you enable that option again and see negatives, I'd say raise an issue. Active messages (at least the way I understand) are the messages that are reported _after_ dead-lettering and everything else.

[2017-06-21 16:31] KSib commented on #124
I guess I need to raise an issue with MSFT. I reproduced it.

Create a subscription and have "Enable Dead Lettering On Filter Evalulation Error" enabled.
Have a filter like test='123'
Send a message to the parent topic via REST with a header key/value pair: test, 123. Note how the 123 in the header isn't in quotes, so it will be treated like an int.

The message will go into the DLQ with the follo

[2017-06-21 18:39] KSib commented on #124
I posted here: https://social.msdn.microsoft.com/Forums/en-US/da789d32-b08d-4d1b-8bb6-bdf280aae135/c-net-subscription-active-message-count-negative?forum=servbus

I'll report back if I hear anything. I don't have a subscription to have direct MSFT support so the forums or twitter will have to do for now.

[2017-06-22 14:10] paolosalvatori commented on #124
Who knows... Well, I'll close this issue for now :)

[2017-06-22 14:10] #124 closed

[2017-06-22 14:40] SeanFeldman commented on #124
👍 @KSib
Please let us know when you get to the bottom of this. In case it is an issue with SBE, we'll re-open the issue and handle it as per guidance provided by MSFT support.

[2017-06-23 09:06] stofte commented on #124
Just came by because I was surprised by seeing negative counts in the Active Message thingy. I don't believe I've seen this before.

[2017-06-23 13:16] SeanFeldman commented on #124
Can you reliably reproduce it?

[2017-06-23 14:46] KSib commented on #124
I did above? What do you mean @SeanFeldman

[2017-06-23 15:10] stofte commented on #124
@KSib I guess he was asking me :)

@SeanFeldman: I havent tried to create a minimal testcase (I probably wont have time either). I just wanted +1 the issue, since I just started noticing it yesterday.

[2017-06-23 15:50] SeanFeldman commented on #124
Sorry for confusion @KSib. My reply was targeting @stofte 's comment.

@stofte if you do find a repro you could share, please do. Numbers are no calculated by SBE, so I wonder if that's a broker issue. Or ASB client for that matter.

[2017-06-26 16:03] SeanFeldman opened #127 "Update README.MD with meta information about the repo"
Document things such as
- VS and C# version requirement
  - Fortify
  - Support branches policy
- Versioning and releases
  - Include future plans
- _Consider_ moving documentation into appropriate (linked) location similar to how other projects are doing it ([GitVersion](https://gitversion.readthedocs.io/en/latest/), [BenchmarkDotNet](http://benchmarkdotnet.org/Guides/GettingStarted.htm), [AutoMa

[2017-06-27 11:36] gorillapower opened #128 "SAS Token error: Manage claim is required for this operation - Notification Hubs"
Im getting `<Error><Code>401</Code><Detail>Manage claim is required for this operation..TrackingId:1745cb27-0fda-4c6c-8f7b-ee2d6868ac96_G6,TimeStamp:6/27/2017 11:32:19 AM</Detail></Error>` whenever i try and connect to a notification hub using a SAS key. Ive tried regenerating the key, tried a SAS Key from a different Notification Hub, tried creating a separate key, tried a key from a different Az

[2017-06-27 13:34] paolosalvatori commented on #127
Thanks :)

[2017-06-28 22:10] SeanFeldman commented on #128
I wasn't able to connect with a connection string for Basic tier.
Multiple `Microsoft.ServiceBus.Messaging.MessagingException` exceptions, but that's it.
@paolosalvatori any ideas?

[2017-06-29 07:22] gorillapower commented on #128
It seems to work on an old version of Service Bus Explorer 3.4.2. But in that version the hubs dont load at first I have to manually refresh entities on the notification hubs entity to get them to show...but it does work. Not sure why the latest version throws the 401?

[2017-06-29 09:03] paolosalvatori commented on #128
Hi @gorillapower, could you please send me the connection string offline? You can find my email address in the about form, This way I can debug the code and find the culprit. Thanks!

[2017-06-29 10:50] gorillapower commented on #128
@paolosalvatori  thank you! I have sent a mail.

[2017-06-29 16:24] paolosalvatori commented on #128
Ok, I solved the issue, but I need more time to make other changes to the code. :) So expect a new release soon that will fix the issue. :)

[2017-06-29 16:27] SeanFeldman commented on #128
In a branch, right @paolosalvatori? 😃

[2017-06-29 17:38] gorillapower commented on #128
@paolosalvatori <https://github.com/paolosalvatori> Thanks!!!

On 29 June 2017 at 18:27, Sean Feldman <notifications@github.com> wrote:

[2017-06-30 07:52] paolosalvatori commented on #128
Yes @SeanFeldman :) I never thought that someone else could make the rules on my project :) Ah ah ah... but yes, it's a good practice :)

[2017-06-30 07:54] SeanFeldman commented on #128
Not rules. Recommendations 😉

[2017-06-30 07:59] paolosalvatori commented on #128
@SeanFeldman I'm joking... it's all fun :)

[2017-06-30 08:08] SeanFeldman commented on #128
:+1:

[2017-07-03 12:53] paolosalvatori commented on #128
@gorillapower try to get the latest version. Also, I suggest you to select only Notification Hubs from the dropdownlist when connecting to a Notification Hub namespace. In fact, the tool cannot determine the type of namespace and it tries to retrieve all the entities (queue, topics, relays, event hubs, notification hubs) when connecting to a namespace. In order to understand the namespace type, th

[2017-07-03 12:53] #128 closed

[2017-07-04 13:40] paolosalvatori opened #134 "Need to update AppVeyor settings file not to create a build on html/md changes."
Need to update AppVeyor settings file not to create a build on html/md changes.

[2017-07-04 15:00] paolosalvatori opened #135 "Need to complete the message repair and re-transmit pattern"
Need to complete the message repair and re-transmit pattern:
 - Defer the original message
 - Receive the deferred message by sequence number to consume it

Repair and resubmit is already in place. What's missing is the safe original message removal leveraging steps above.

[2017-07-04 15:16] SeanFeldman commented on #135
Similar concept implemented by SB360 with ["Deferred Dead Letter" feature](https://www.servicebus360.com/blogs/resubmit-delete-messages-azure-service-bus-messaging/).

[2017-07-04 15:25] SeanFeldman opened #136 "Can't purge sessioned entities"
Exception thrown:
`It is not possible for an entity that requires sessions to create a non-sessionful message receiver.`

[2017-07-04 15:36] SeanFeldman commented on #134
Fixed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/adf864cf53323dbdc9d0513c8696939130f421cd

[2017-07-04 15:36] #134 closed

[2017-07-05 06:32] vmachacek opened #137 "chocolatey install ServiceBusExplorer doesnt work"
this is what it says:

[code]

[2017-07-05 12:37] paolosalvatori commented on #137
Thanks @vmachacek for the heads up. @SeanFeldman @tomkerkhove can you help here?

[2017-07-05 13:57] tomkerkhove commented on #137
Looks like [no package is published](https://chocolatey.org/packages?q=ServiceBusExplorer).
Is the package published? Looking at #129, I think it's not?

[2017-07-05 19:04] binzywu commented on #124
To confirm it is a service side issue. The fix will be deployed in the next release cycle. The issue impacts only in this scenario (deadletter on filtering error) and only for the in memory stats. Messages and the true statistic/data is not impacted. Which means this doesn't impact any runtime operations and if the entity is reloaded, the number will be corrected.

[2017-07-05 19:20] SeanFeldman commented on #124
Thank you for the confirmation @binzywu
I wish there was a bug tracked somewhere on GH (😉) we could link to.

[2017-07-06 08:17] #127 closed

[2017-07-06 08:19] paolosalvatori commented on #124
Thanks @binzywu for the confirmation! :)

[2017-07-06 13:29] stjepan opened #138 "Not supported api-version"
Hi,

I'm trying to connect with latest version (4.0.99 at the time of writing) of Service Bus Explorer to locally installed Service Bus 1.1 (running on Windows 10) and I'm getting  following message: "The api-version in the query string is not supported. Either remove it from the Uri or use one of '2012-03,2012-08,2013-04,2013-07'".

I see a lots of people ask about this one, but can't get a bette

[2017-07-06 13:46] paolosalvatori commented on #138
Hi @stjepan Service Bus Explorer tool stopped supporting Service Bus for Windows Server 1.1 from version 2.2. The only version of the tool that supports SB 1.1 is available at: https://github.com/paolosalvatori/ServiceBusExplorer/tree/support-2.1

[2017-07-06 14:24] stjepan commented on #138
Then I know!
Thank for the quick answer!

[2017-07-06 14:24] #138 closed

[2017-07-06 15:51] SeanFeldman commented on #138
FWIW: #119

[2017-07-10 08:52] chhantyal commented on #137
FYI, there is lot of red text in package namespace https://chocolatey.org/packages/ServiceBusExplorer

[2017-07-10 12:55] paolosalvatori commented on #137
What do you mean with red text? Do you mean that the latest version doesn't compile? Did you try to restore Nuget packages?

[2017-07-10 20:44] nkeeslin opened #139 "Access individual entities w/o permission to the entire namespace"
I have a connection string that provides access to a Topic, but not to the Namespace.  I need to be able to connect to that Topic and create/update Subscriptions, but when I try to use the connection string it fails with message:

"Exception: The remote server returned an error: (401) Unauthorized. claim is empty..".

The purpose for this is to allow our external teams to have manage rights over a

[2017-07-11 07:15] paolosalvatori commented on #139
Hi @nkeeslin the tool currently does not support entity-level connection string and the ability to connect to a single topic or queue, sorry about that. If you like, you can extend the tool with a PR. At the moment, I'm quite busy with some work, and I can't do it personally.

[2017-07-11 08:37] danielok1993 commented on #124
@binzywu We have also managed to replicate the issue for both Queues and Topics by trying to Defer the dead letter message which has Delivery Count bigger than Max Delivery Count. Will the upcoming fix cover this scenario as well?

[2017-07-11 10:49] tomkerkhove commented on #137
The package is not passing validation by chocolatey.

Hello -

Looks like it was submitted on 1/30/2016 but it wasn't allowed.
The chocolatey setup needs to be revised AFAIK, is this currently done automatically @SeanFeldman?

[2017-07-11 14:47] paolosalvatori commented on #137
Hi @tomkerkhove @SeanFeldman, @Nate-Wilkins is working on this. See https://github.com/paolosalvatori/ServiceBusExplorer/pull/129

[2017-07-13 04:31] Nate-Wilkins commented on #137
I've submitted the PR #140

[2017-07-21 06:29] SeanFeldman commented on #137
Fixed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/35f2c270d12e0a7a957df56d82be5d856dd587b1

[2017-07-21 06:32] SeanFeldman commented on #137
@Nate-Wilkins sadly this is still not working and now we've got a broken master 😞
[code]

Could please address this? Thank you.

[2017-07-21 06:33] SeanFeldman commented on #137
It looks like the token is passed as-is, meaning it will be encrypted token, not the actual value.

[2017-07-21 14:03] Nate-Wilkins commented on #137
Looks like I wasn't using the wrong variable syntax for that line... sorry my appveyor knowledge is lacking.
Submitting a new PR now.

[2017-07-21 16:01] SeanFeldman commented on #137
#141 raised to address the broken build. Thanks @Nate-Wilkins

[2017-07-21 16:03] SeanFeldman commented on #137
Closed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/e50fb03413470fc191be0bb4e2715bd30ecf0a76

[2017-07-21 16:04] SeanFeldman commented on #137
![image](https://user-images.githubusercontent.com/1309622/28471923-fc53eed2-6dfb-11e7-94c5-2de6ae6d90b6.png)

[2017-07-21 16:06] Nate-Wilkins commented on #137
🎉 🎉 🎉

[2017-07-21 16:06] SeanFeldman commented on #137
Package is still not showing up, but I assume it's a matter of time.

[2017-07-21 17:16] tomkerkhove commented on #137
It's still under evaluation but sure it will be fine!
![screenshot_2](https://user-images.githubusercontent.com/4345663/28474449-122325e6-6e49-11e7-9e38-f4e790d5a173.png)

[2017-07-21 17:20] SeanFeldman commented on #137
👍

On Jul 21, 2017 10:16, "Tom Kerkhove" <notifications@github.com> wrote:

[2017-07-21 17:34] Nate-Wilkins commented on #137
Yeah it takes them a bit to approve it but it's passed automated testing & validation so we should be in the clear.

If you want you can run `chocolatey install ServiceBusExplorer --confirm --pre --version 4.0.101` and `servicebusexplorer` to get it up and running 👍  works like a charm!

[2017-07-24 07:10] paolosalvatori commented on #137
Cool, thanks guys!

[2017-07-24 13:05] paolosalvatori commented on #137
Guys, I received the following comment on chocolatey. Could please fix the problem and clearly add my name and surname to the owners element? Thanks! Could you also copy the license.txt from the project in the package and add a verification.txt file? See comments below. Thanks! :)

Can you confirm that you're the software author through a comment here on chocolatey.org?
If not, please update the o

[2017-07-24 13:17] tomkerkhove commented on #137
What a process to get this stuff in there. If nobody is up for it, I can do this later today/this week.

[2017-07-24 14:08] paolosalvatori commented on #137
Thanks @tomkerkhove!

[2017-07-24 14:16] tomkerkhove commented on #137
@paolosalvatori feel free to assign issue to me

[2017-07-24 15:22] paolosalvatori commented on #137
Hi @tomkerkhove when you accept the invite as collaborator, I'll assign the task to you, thanks!

[2017-07-24 15:28] tomkerkhove commented on #137
Re-opening as we need to pass validation first

[2017-07-24 16:17] paolosalvatori commented on #137
Thanks @tomkerkhove

[2017-07-25 02:01] Nate-Wilkins commented on #137
Yeah sorry, this is actually the first package I've uploaded from a source repository...

Thanks for sticking with this though guys - I appreciate it a lot!

[2017-07-25 04:24] SeanFeldman commented on #137
@paolosalvatori there's an action you need to take on the [site itself](https://chocolatey.org/packages/ServiceBusExplorer).

Packaging `license.txt` shouldn't be an issue as it's checked out as part of the repo.

As for the `VERIFICATION.txt`

https://github.com/paolosalvatori/ServiceBusExplorer/releases/latest will always point to the latest downloadable exe.

I'm not sure why do we need those f

[2017-07-25 09:07] paolosalvatori commented on #137
Hi @SeanFeldman read carefully: Can you confirm that you're the software author through a comment here on chocolatey.org? If not, please update the owners element to either your name or username.
Said that, I will comment on the site, even if I don't know where!

[2017-07-25 09:29] tomkerkhove commented on #137
Since I know the release in AppVeyor I was going to point to the latest GH release and calculate the hash on that. This that is the best approach for this personally.

[2017-07-26 03:15] SeanFeldman commented on #137
Nice. @tomkerkhove are you going to do it? Thanks.

[2017-07-26 04:38] Nate-Wilkins commented on #137
@paolosalvatori would the checksum calculation be automated into appveyor then?

[2017-07-26 05:24] SeanFeldman commented on #137
@Nate-Wilkins would need to be.

[2017-07-26 06:12] tomkerkhove commented on #137
That's indeed how I was approaching it. I'm working on it @SeanFeldman but won't be ready today

[2017-07-26 21:02] SeanFeldman commented on #137
Ok, a few things:
- We need to include LICENSE.txt within the nuget package
- We need to verify several hashes, not one ("checksums of each binary file as well as the necessary steps to take to verify them.")

Unfortunately, Chocolatey doco is... Has a bit of a chocolate color 💩
@tomkerkhove and myself will work it out.

[2017-07-26 21:44] SeanFeldman commented on #137
After looking into choco [documentation](https://chocolatey.org/docs) I think we're doing it wrong. 😱

There's no need to create a nuget package and push it if the application is available as a zip file and we specify its URL 🙂

Chocolatey has **helper scripts** to handle installation/modifications/uninstall scenarios. We should explore that first before going the custom nuget package route. Start

[2017-07-27 02:36] Nate-Wilkins commented on #137
The `Install-ChocolateyZipPackage` will still require a nuspec  file and a [`chocolateyInstall.ps1`](https://github.com/Nate-Wilkins/chocolatey-packages/blob/master/automatic/mysql-connector-java/tools/chocolateyInstall.ps1) script. The nupkg still gets pushed up but it just downloads it at a later point in time.

I'd guess that it's better to have the source files embedded into the nupkg but we c

[2017-07-31 09:01] paolosalvatori commented on #137
I received the following comments from a Chocolatey reviewer:

flcdrg left the following comment(s):
License and Verification files need to be in the Chocolatey package, so that they can be viewed by users on the Chocolatey.org package page.
You can see examples for these files by running choco new demo
Also please remove the XML documentation files - (they're blowing up the web page code formatti

[2017-07-31 13:08] tomkerkhove commented on #137
![](https://github.trello.services/images/mini-trello-icon.png) [Service Bus Explorer - Chocolatey](https://trello.com/c/tajNJwGe/469-service-bus-explorer-chocolatey)

[2017-07-31 13:23] tomkerkhove commented on #137
We'll look into this, I'm flying to NDC Sydney so will have enough time to kill..

They sure are not demanding...

[2017-07-31 13:51] paolosalvatori commented on #137
Take your time and have a good flight! I've no idea of what XML documentation we should remove. I'll eventually ask for more information. But I think they refer to *.xml files like Microsoft.ServiceBus.xml

[2017-07-31 14:56] SeanFeldman commented on #137
@paolosalvatori that's exactly the one they are talking about.

[2017-08-07 18:51] Nate-Wilkins commented on #137
@tomkerkhove any progress on this?
I can take over if you're too busy - I don't mind 👍

[2017-08-07 20:03] tomkerkhove commented on #137
Was going to take a look at it on Thursday or this weekend. Up to you to decide!

[2017-08-09 23:15] Nate-Wilkins commented on #137
Yeah I can jump on this! I'll post an update later tonight.

[2017-08-10 05:17] tomkerkhove commented on #137
Ok great. Feel free to let me know what you've got. I was going to work on it this afternoon CEST, if you didn't finish it yet.

[2017-08-10 06:00] Nate-Wilkins commented on #137
@tomkerkhove got something going let me know what you think! My powershell in appveyor is a bit... weird.

[2017-08-10 06:32] tomkerkhove commented on #137
We've merged it in, let's hope this is sufficient for the Chocolatey team.
If not, I'll reopen this one. Feel free to keep us posted on the validation @paolosalvatori

[2017-08-12 07:22] tomkerkhove commented on #137
Update - Passed automated checks and virus scanning, thanks @Nate-Wilkins.

Still waiting on a moderator though -

-  https://chocolatey.org/packages/ServiceBusExplorer
-
https://chocolatey.org/faq#what-is-moderation

[2017-08-12 17:12] SeanFeldman commented on #137
Hopefully this will be finished 🙂

[2017-08-21 23:49] SeanFeldman commented on #137
Reopening this.

[code]

We can't just patch, merge, and ask for a review, it needs to be the same version. I.e. no merging back into our `master` until choco tyrants are happy...  This is a nightmare if you ask me.

[2017-08-22 10:11] tomkerkhove commented on #137
Working on a fix here https://github.com/tomkerkhove/ServiceBusExplorer/tree/patch/chocolatey

[2017-08-22 10:51] niteenb4u commented on #50
Even my question is same as @riteshvaryani , I have given limited to one of the service bus topic to my client, now he wants to see the messages in the topic through service bus explorer, but it shows empty screen.
How can I see the topic message? any other tool is available?

[2017-08-22 23:21] deadlydog commented on #60
@paolosalvatori or @SeanFeldman, could you reopen this issue please (even if you don't have time to get to it anytime soon), as the issue is still present. It's better to know that it's still an outstanding issue than to think it's been fixed when it hasn't. Maybe by having it on the `Open` issues list, somebody else will submit a PR to fix it. Thanks :)

[2017-08-22 23:37] SeanFeldman commented on #60
@deadlydog how many messages did you have and on what type of entity when it failed?

[2017-08-22 23:41] deadlydog commented on #60
@SeanFeldman The same behavior happens for Queues, Subscriptions, and DLQs. If you have 20,000+ messages on either type and try to clear them (either using the old `Receive And Delete` or the new `Purge` functions), you'll see the error. It's very easy to reproduce, and I've had other coworkers confirm the same behavior.

[2017-08-24 12:55] MikeWilliams-UK opened #144 "Messages are not always send to topic"
We have been having issues where a repaired message is not always sent to a topic

I think it might be down to the cloned (repaired) message having the same messageid as one already present.

I have experimented with the code and inserting the following code

`clone.MessageId = Guid.NewGuid().ToString("N");`

into the file ..\Helpers\BrokeredMessageExtensions.cs during the Clone operations

[2017-08-24 14:38] SeanFeldman commented on #144
Do you have message de-duplication turned on?

[2017-08-24 15:50] MikeWilliams-UK commented on #144
Where is that setting?

[2017-08-24 17:20] SeanFeldman commented on #144
On the topic itself. If it's on, messages will be de-duplicated on message ID. That's ASB feature, not SBExplorer. Which explains why re-submitting with a different message ID worked for you.

[2017-08-24 17:37] MikeWilliams-UK commented on #144
Thanks, we do not have ownership or the topic so can't change its settings.  So a coded solution in SBE works best for us.

[2017-08-24 17:44] SeanFeldman commented on #144
This cannot be mandatory as it would break those that already rely on the fact that message ID is re-used.
Suggest to close this one and open a feature request issue to enable message ID override when sending to entities that perform message de-duplication (like in this case).

[2017-08-24 17:58] MikeWilliams-UK commented on #144
I 100% agree that it can't be mandatory. I will submit as a feature request to make it an option in the resubmit form

[2017-08-24 17:58] #144 closed

[2017-08-25 07:58] MikeWilliams-UK opened #145 "[Feature] It should be possible to regenerate a fresh MessageId when resubmitting a message."
The form used to fix and resubmit the messages should have a checkbox to allow the user to specify if the resubmitted messages should have a new MessageId or use the existing one.

[2017-08-25 17:56] deadlydog commented on #60
@SeanFeldman @paolosalvatori If you guys need more information to get this issue reopened please let me know. As I mentioned, we can easily reproduce this problem every time, so if you guys aren't seeing the problem I would be interested in finding what the difference is. We ended up creating our own console application specifically for clearing messages from a queue/subscription/DLQ (mostly used

[2017-08-25 18:06] SeanFeldman commented on #60
@deadlydog my bad, accidentally closed it as I was posting my comment to you 🙂

[2017-08-26 15:24] SeanFeldman commented on #137
@tomkerkhove I've responded to Choco reviewers and now we need to ensure this one is addressed:

[code]

[2017-08-26 16:35] tomkerkhove commented on #137
@SeanFeldman PRing this in today, sorry about that. Forgot to move it to that folder

[2017-08-26 20:49] tomkerkhove commented on #137
@SeanFeldman I'm not sure if I'm following here - Where did they comment this? When I check the [package page](https://chocolatey.org/packages/ServiceBusExplorer) I don't see that comment.

When I check the package the file is already in the tools folder:
![screenshot_1](https://user-images.githubusercontent.com/4345663/29744988-b4322ebc-8ab0-11e7-9f6a-869f07808249.png)

Content looks like:
![scre

[2017-08-26 20:56] SeanFeldman commented on #137
Is this 103? That's on 102... Could we rename the nuget package to 102 and
push it? I know, not ideal.

On Aug 26, 2017 14:49, "Tom Kerkhove" <notifications@github.com> wrote:

[2017-08-26 20:59] tomkerkhove commented on #137
I just took the output of latest AppVeyor build... This is getting confusing :)

[2017-08-26 21:06] SeanFeldman commented on #137
Welcome to my reality 😃

On Aug 26, 2017 14:59, "Tom Kerkhove" <notifications@github.com> wrote:

[2017-08-26 21:08] tomkerkhove commented on #137
Haha. I think the comment is outdated to be honest..  Was that a recent reply?

Let's wait until they reject the current proposed package, maybe?

[2017-08-27 01:40] SeanFeldman commented on #137
Yep, reply was today.

On Aug 26, 2017 15:08, "Tom Kerkhove" <notifications@github.com> wrote:

[2017-08-28 08:42] paolosalvatori commented on #50
Hi @niteenb4u, as I said above, the tool just supports namespace-level connection string. The tool should be extended to support entity-level connection strings. I'm not aware of any free tool that allows to see the content of an existing queue or topic-subscription given an entity-level connection string with at least the receive claim. The tool can be easily extended to implement this feature, I

[2017-08-28 08:46] paolosalvatori commented on #60
I'll look into this when I have time. @deadlydog do you see any error when trying to purge messages from a queue or subscription or at the end of the task you simply see that there are still some messages in the queue/subscription in question? Can you please tell me of the queue(s) or topic(s) in question is/are partitioned? Are they located in a standard or premium Service Bus namespace? Thanks!

[2017-08-28 08:49] paolosalvatori commented on #144
Back from vacation, I agree with @SeanFeldman, let's create a separate open issue for the missing feature.

[2017-08-28 08:50] paolosalvatori commented on #145
I will implement this feature when I have some spare time.

[2017-08-28 08:58] paolosalvatori commented on #137
Hi @tomkerkhove @SeanFeldman @Nate-Wilkins I'm finally back from vacation. The latest message I received from Chocolatey is the following, but some of you has received it already:

'ServiceBusExplorer' is Submitted.
Current status = Waiting for Maintainer to take corrective action
flcdrg left the following comment(s):
Thanks for confirming. Now just fill out tools\VERIFICATION.txt and we should be

[2017-08-29 22:37] SeanFeldman opened #146 "Create develop branch"
`develop` branch allows:

1. Staging changes prior to releasing
1. Avoid merging PRs to `master` and causing release per PR
1. Handle situations like with choco maintainers when they want to see changes with a locked version.
1. Paves our way to use something like GitVersion

**TODO**
- [x] Ensure releases are only made from `master` branch @seanfeldman
- [x] Make `develop` the default branch
- [x

[2017-08-30 01:09] SeanFeldman commented on #146
@paolosalvatori I've created `develop` branch. We should make it the default so that all PRs go against it by default.

@tomkerkhove once `develop` is in place, we can have the same version package built with all the changes w/o causing releases flood.

[2017-08-30 07:33] tomkerkhove commented on #146
Sounds good to me, thanks! Ping me if you need help.

[2017-08-30 07:39] paolosalvatori commented on #146
Sounds good to me, thanks Sean.

[2017-09-04 06:57] paolosalvatori commented on #137
Good morning guys @tomkerkhove @Nate-Wilkins @SeanFeldman I received the following comment in the weekend from Chocolatey:

flcdrg left the following comment(s):
Chocolatey.org already displays the checksums for embedded files.
Can you include in tools\verification.txt how to independently verify the files? If they come from https://github.com/paolosalvatori/ServiceBusExplorer/releases then mentio

[2017-09-04 07:23] tomkerkhove commented on #137
I'll update the current approach to include the releases based on [this example](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/7zip.install/legal/VERIFICATION.txt).

Could you elaborate a bit on this please?

What should be in the `verification.txt` then? Based on the above example I presume they just want a hash of the exe instead?

[2017-09-05 04:14] SeanFeldman commented on #137
👍 @tomkerkhove
Lets wrap this up. I'm having nightmares with this choco verification process.

[2017-09-06 10:54] tomkerkhove commented on #137
Thanks for the review @SeanFeldman!

A new package has been pushed to Chocolatey with fixed value of v4.0.102.
Now we play the waiting game...

[2017-09-06 12:53] paolosalvatori commented on #137
Thanks Tom, fingers crossed... :)

[2017-09-09 07:29] SeanFeldman commented on #137
Sing Hallelujah!

[code]

@tomkerkhov can you raise another PR to remove hardcoded choco version? Once that is done, we can _finally_ close this issue.

[2017-09-11 06:21] tomkerkhove commented on #137
I'm going to PR the cleanup this evening!

[2017-09-11 07:04] paolosalvatori commented on #137
Thanks guys, you did it! Great collaboration :) Thanks a lot @tomkerkhove @SeanFeldman!

[2017-09-12 05:26] SeanFeldman commented on #137
Closed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/31bdd702e4a46f083d03842dd6d6483dc4e1803b

[2017-09-12 05:26] #137 closed

[2017-09-12 05:30] SeanFeldman commented on #137
Will be released in milestone `4.0.103`. Right now staged in `develop`.

[2017-09-12 05:31] SeanFeldman commented on #146
@paolosalvatori could you please complete the settings access?
`master` is still the default branch 😞
Thanks.

[2017-09-12 07:37] paolosalvatori commented on #146
Ping me offline and let's do it together

[2017-09-14 16:27] SeanFeldman commented on #97
Raised an issue with the old client: https://github.com/Azure/azure-service-bus/issues/82

[2017-09-15 07:27] paolosalvatori commented on #97
Great catch @SeanFeldman. This issue is connected to the problem we discussed yesterday about the inability to determine with a call to the NamespaceManager the type and sku of a Service Bus namespace.

[2017-09-28 14:18] SeanFeldman opened #154 "Chocolatery deployment fails when a PR is merged into master"
[`Release-4.0.104`](https://github.com/paolosalvatori/ServiceBusExplorer/pull/153) was merged into `master`, but [deployment to choco has failed](https://ci.appveyor.com/project/seanfeldman/servicebusexplorer/build/4.0.104-ci.8.build.310).

I have manually pushed the package and had timeout issues while doing so.

If choco server might have issues, we should script retries in the deployment script

[2017-09-29 11:56] tomkerkhove commented on #154
This might be interesting - https://github.com/appveyor/ci/issues/418

We could do `appveyor-retry choco push ServiceBusExplorer.%GitVersion_MajorMinorPatch%.nupkg -k="'%choco_token%'"`

[2017-09-29 15:21] SeanFeldman commented on #154
Well, glad to see we're not the only ones who ran into it.
`appveyor-retry` for choco it is then...

[2017-10-03 03:17] SeanFeldman commented on #154
While chocolatey is failing (for now), has anyone noticed that our latest submitted package was approved w/o any hassle? Huge kudos to all!

![image](https://user-images.githubusercontent.com/1309622/31108526-19044c30-a7b7-11e7-8f09-018d4a83ec56.png)

Yes, I'm celebrating a small success 🙂

[2017-10-03 07:51] paolosalvatori commented on #154
Yep, I received the email a few days ago :) Congrats guys :)

[2017-10-03 07:54] tomkerkhove commented on #154
@SeanFeldman I'll have a look at it this week/next week!

Good to hear!

[2017-10-03 17:33] SeanFeldman commented on #154
Closed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/bc3d7da738d1aa619bb45fd7a54f1504292e5a88

We'll see it in action in version [4.0.105](https://github.com/paolosalvatori/ServiceBusExplorer/milestone/9)

[2017-10-03 17:33] #154 closed

[2017-10-03 17:34] SeanFeldman commented on #146
Done.

[2017-10-03 17:34] #146 closed

[2017-10-12 06:13] binzywu commented on #124
I completely forgot this issue. Just to circle back to confirm the fix was rolled out couple month back.

[2017-10-12 16:04] paolosalvatori commented on #124
Thanks @binzywu for the follow up

[2017-10-23 06:42] tomkerkhove opened #157 "Provide documentation on how to contribute"
Provide documentation on how to contribute to ServiceBusExplorer.

Should include information like:

- [x] What issues people can pick up
- [x] Branching

[2017-10-23 07:32] #145 closed

[2017-10-23 17:56] SeanFeldman commented on #157
Quick notes to help with the outline.

We've got [`help wanted`](https://github.com/paolosalvatori/ServiceBusExplorer/labels/help%20wanted) label

- `master` is used to release
- `develop` is the default branch
  - PRs automatically go against the default branch
- fixed issues/PRs should be assigned the next release milestone upon completion

[2017-10-23 20:54] deadlydog commented on #60
Hey @paolosalvatori sorry it's taken me so long to respond to you on this one. I recorded a gif of me using the Purge DLQ functionality that will hopefully answer some of your questions. In this example I'm purging the DLQ of a topic subscription, but I see the same behaviour on queues as well. The queue's/subscriptions are not partitioned. I'm not certain if our service bus namespace is standard

[2017-10-23 21:34] deadlydog commented on #60
I will note though that I just tried Right-click Subscription -> Receive Deadletter Queue Messages -> select `Receive and Delete` and `All`, and that method actually did go through and delete all ~200,000 deadletter messages. That never worked the last time I tried it, but I may have been on an older version of the app last time I tried.

[2017-10-24 08:13] paolosalvatori commented on #60
Thanks for the feedback @deadlydog maybe we should change the code to retry at least a couple of times before considering the operation finished. I'll review the code as soon as I've some spare time.

[2017-10-25 19:42] lenardg commented on #136
Isn't this the same as #96 ?

[2017-10-25 23:10] SeanFeldman commented on #136
#96 is a subset of this one.

[2017-10-26 05:35] SeanFeldman opened #160 "Introduce .editorconfig to provide code standards guidance"
As suggested by @lenardg during work on PR #159.

[2017-10-26 07:22] lenardg commented on #160
@SeanFeldman I might have mixed things up a little: .editorconfig only affects tabs/spaces and newline settings, and cannot directly affect how braces are formatted for C#. Sorry about that!

That said, I still think it would be good to have an .editorconfig, because I usually code with tabs but your project uses spaces. An .editorconfig means VS2017 and other .editorconfig based editors will not

[2017-10-26 08:21] paolosalvatori commented on #136
This looks like a bug

[2017-10-26 08:21] #96 closed

[2017-10-26 08:26] paolosalvatori commented on #160
Hi @lenardg could you please clarify your suggestion? Thanks!
P.S Service Bus Explorer is my project :) Sean is a super valuable collaborator :)

[2017-10-26 08:33] lenardg commented on #160
Sure!

.editorconfig is a file that instructs the editor (in this case Visual Studio) to use certain settings relating to indentation settings in C# and .config files. Your project uses 4 spaces to indent C# source code and 2 spaces to indent .config files. This .editorconfig is set up to instruct VS2017 to use that.

So even if my Visual Studio is set up to use tabs for indentation and that inden

[2017-10-26 16:36] SeanFeldman commented on #160
@paolosalvatori here's [VS specific doco](https://almvm.azurewebsites.net/labs/tfs/editorconfig/).

[2017-10-26 16:40] SeanFeldman commented on #160
More inclusive (and official) documentation on VS2017 options that can be used: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference

[2017-10-26 20:56] SeanFeldman commented on #136
Closed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/8f9d3d0cbf694d60be8df387686e6c3619d8d1cc

[2017-10-26 20:57] SeanFeldman commented on #136
@paolosalvatori indeed. And #159 has addressed it ([see comment](https://github.com/paolosalvatori/ServiceBusExplorer/issues/136#issuecomment-339501687)). 🙂

[2017-10-26 20:57] SeanFeldman commented on #96
Closed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/8f9d3d0cbf694d60be8df387686e6c3619d8d1cc

[2017-10-26 21:05] #136 closed

[2017-10-30 16:37] #160 closed

[2017-11-04 02:26] SeanFeldman opened #164 "Chocolatey - checksum is not specified"
[code]

@tomkerkhove we got this comment for 4.0.105

[2017-11-08 13:36] tomkerkhove commented on #157
@SeanFeldman This can be closed I think?

[2017-11-09 13:19] SeanFeldman commented on #157
:+1:

[2017-11-09 13:19] #157 closed

[2017-11-20 17:58] SeanFeldman opened #165 "Cogin QueueExplorer"
A [new offer](http://cogin.com/QueueExplorer/prerelease/) is on the market. Currently in preview.
Question I have what's the future of this project? Besides being an OSS, what else would distinguish it from everything else [out there](https://github.com/paolosalvatori/ServiceBusExplorer#alternative-service-bus-management-tools) (listed and unlisted)?

[2017-11-21 06:48] paolosalvatori commented on #165
Hi Sean, I started this project years ago. Currently, as you know, I'm developing this project on a best effort basis. Let's talk offline about this.

[2017-11-21 09:27] tomkerkhove commented on #165
For what it's worth - It's a pretty popular tool that a lot of people use imo so would be good to keep maintaining it. But ofcourse, this is @paolosalvatori his baby so it's up to him.

[2017-11-21 09:28] tomkerkhove commented on #121
What was the outcome of this @filipebezerra? Can this be closed?

[2017-11-21 11:29] paolosalvatori commented on #165
@tomkerkhove @SeanFeldman of course we'll mantain it :) Let's make a plan of what we want to implement. Feel free to sugest new features.

[2017-11-21 13:08] filipebezerra commented on #121
yes, it wasn't solved but can be closed

[2017-11-21 14:14] #121 closed

[2017-11-21 14:15] tomkerkhove commented on #121
Sorry to hear that - If we can help you in any other way, feel free to re-open it or create a new issue

[2017-11-21 23:55] SeanFeldman commented on #165
You've misread my original comment. The question is not about maintaining it or not. The question is what distinguishes the tool from everything else out there. If it's just "free", then it's one strategy to maintain the code. If it's "provide certain core functionality" and "remain free", then it's a different route.

Having a chat about it is a good step. 👍

[2017-12-08 07:58] snaits opened #166 "ContentType lost when resubmitting message with body type ByteArray"
This may be due to an error on my part, but there's little help to be found on the wiki pages or the internet in general, so I thought I'd start an issue to shed some light on how it's intended.

We send messages that are serialized to JSON. This is indicated by the ContentType property as well; it says application/json.

When I receive messages from a dlq on a subscription, and try resending it,

[2017-12-08 15:10] tomkerkhove commented on #166
Thank you for reporting & fixing it!

[2017-12-08 16:52] #166 closed

[2017-12-12 10:26] paolosalvatori commented on #166
Thanks everyone, I was OOF last week

[2017-12-12 10:28] #139 closed

[2017-12-12 11:18] racchen opened #169 "messages lost when using SignalR Scaleout with Azure Service Bus Premium"
Hi ,

I followed the link below to realize SignalR scaleout with Azure Service Bus.
https://docs.microsoft.com/en-us/aspnet/signalr/overview/performance/scaleout-with-windows-azure-service-bus

When using Azure Service Bus Standard Tier, i can receive the message successfully but with network latency around 10 seconds. However, when changing to Premier Tier, i encountered the problem of message lo

[2017-12-13 06:40] racchen commented on #169
Hi @paolosalvatori ,
Yes, now i am using updated driver version.

Install-Package Microsoft.AspNet.SignalR.ServiceBus3 -Version 2.2.2
Install-Package WindowsAzure.ServiceBus -Version 4.1.6

I heard there might be some problems when using Azure Service Bus SDK in VS code. Do you think the performance might be better if we change to Azure RestAPI instead or Azure Service Bus endpoint?

[2017-12-13 09:21] paolosalvatori commented on #169
That is certainly an valid option. I'll let @clemensv from the product group to comment on this.

[2017-12-15 17:59] SeanFeldman commented on #164
ping @tomkerkhove

[2017-12-15 19:15] SeanFeldman commented on #100
Ran into a snag with subscriptions. Ironically, `SubscriptionClient` doesn't expose `FormatTransferDeadLetterPath()` like `QueueClient` does 🙂

[2017-12-15 19:23] SeanFeldman commented on #100
Ah, Need to use [`TopicClient`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.topicclient.formattransferdeadletterpath) to get the path to the transfer DLQ. Then a normal QueueClient can be used. Will send a PR later.

[2017-12-15 19:27] SeanFeldman commented on #100
hmmm
[code]

[2017-12-16 07:12] tomkerkhove commented on #164
Forgot about this one, feel free to assign and will have a look asap!

[2017-12-17 04:50] #164 closed

[2017-12-18 06:57] racchen commented on #169
Okay, thanks! i am looking forward to have good news soon :)

[2017-12-20 14:07] antongeorgiev opened #173 "Repair and resubmit all messages from DLQ"
It is not possible to repair and resubmit large amount of messages from the dead-letter queue because currently messages can only be resubmitted in a batch mode and a batch size is limited to 256 KB.

A user should be able to either select the queue or manually select multiple or all messages in a queue and choosing to "Repair and resubmit in batch mode" should have all selected messages processed

[2017-12-20 15:11] antongeorgiev commented on #173
The following posts might be helpful:

- https://weblogs.asp.net/sfeldman/asb-batching-brokered-messages
- https://mikhail.io/2017/07/sending-large-batches-to-azure-service-bus/

[2017-12-20 17:59] tomkerkhove commented on #49
What's the status here? I think this can be closed now that we support Chocolatey?
https://chocolatey.org/packages/ServiceBusExplorer

[2017-12-20 18:48] SeanFeldman commented on #49
Chocolatey is solely a _method_ of distribution. Desktop Bridge is more
than that.

I can't say if we should close it or leave one as we keep saying we'll have
a discussion we're this project is heading, and discussion is constantly
postponed.

Will defer to Paolo to make the call.

On Dec 20, 2017 12:59, "Tom Kerkhove" <notifications@github.com> wrote:

What's the status here? I think this can be

[2017-12-20 22:34] SeanFeldman commented on #173
@antongeorgiev it's not possible to repair and resubmit more than a single message. SBE was designed to handle only one message at a time and it is not related to a batch size. The current UI would need to be modified and better not reuse-abuse existing functionality as it becomes more and more difficult to maintain this code based.

I don agree that having an ability to fix multiple messages from

[2017-12-21 08:59] paolosalvatori commented on #173
Hi @antongeorgiev one of the articles you sent me refer my Service Bus Extensions library that you find on this GitHub account ;) The reason why the tool is designed this way it's because:
 - if you want to resubmit multiple messages, you can select them and send them as is, with no changes
 - if you want to repair and resubmit messages, there's no wayout, you have to do this operation one message

[2018-01-07 11:05] ErikMogensen opened #174 "Exception when purging messages"
When purging messages from a queue or a subscription an exception occurs and the following text is shown twice in the Log Window:
<12:02:27> Exception: Cross-thread operation not valid: Control 'serviceBusTreeView' accessed from a thread other than the thread it was created on.

I believe there is a simple fix for this. I'll create a PR.

[2018-01-07 11:47] ErikMogensen opened #176 "Mouse pointer in dialog window when asking for confirmation to purge is in wait state"
When selecting Purge or Purge DLQ from the main window the mouse pointer turns into the wait state when the dialog window asking for confirmation to proceed. It should not turn into the wait state until OK has been clicked.

This behavior does not occur when selecting Purge* from the Popup menu.

I believe there is a simple fix for this. I'll create a PR.

[2018-01-07 13:42] ErikMogensen commented on #60
I have started to work on this. My plan is to solve it by:

- Gradually increasing the wait interval when receiving if no messages are received.

- Depending upon the number of messages in the queue/subscription/DLQ create several receive tasks to perform the purging quicker,

- Make up to three retries when receiving zero messages, but quit when the number of messages that existed in the entity w

[2018-01-08 08:57] #174 closed

[2018-01-08 08:59] paolosalvatori commented on #176
Thanks @ErikMogensen.. again! :)

[2018-01-08 08:59] #176 closed

[2018-01-16 15:46] jgoyvaerts opened #177 "TimeoutExceptions cause Null reference exceptions"
When a timeout exception occurs when you refresh Queues or other top nodes, a null reference exception occurs as a result of incorrect nodes list removal (`relayServiceListNode` is attempted to be removed for [queues](https://github.com/jgoyvaerts/ServiceBusExplorer/commit/3e98cf2faf9dcfd285b4a43f1aae71de13bd6b05#diff-c6c670cf209d398a1828a3de03a47565L4815), [topics](https://github.com/jgoyvaerts/S

[2018-01-17 04:59] SeanFeldman commented on #177
Thank you @jgoyvaerts for catching this and sending a PR.
I took the liberty to update issue with details why the `NullReference` why taking place.

[2018-01-17 12:49] PsMaster commented on #60
Topic subscriptions, if I try to use Purge DLQ it just doesn't delete anything...
[0] messages have been purged from the deadletter queue of the [sometopic/Subscriptions/2222_xxxx_654654] subscription in [2400] milliseconds.
Using Service Bus Explorer version 4.0.105

[2018-01-17 20:37] SeanFeldman commented on #60
Would be so nice to have https://github.com/Azure/azure-service-bus/issues/1 implemented.
Perhaps all affected by this should up-vote it? 😉

[2018-01-18 08:30] paolosalvatori commented on #177
Thanks @jgoyvaerts

[2018-01-18 08:30] #177 closed

[2018-01-18 08:33] paolosalvatori commented on #60
Agreed. The tool just deletes messages from a topic, subscription or deadletter queue of a messaging entity. The code to delete messages has been created and tested years ago. @PsMaster, could you please repro the problem with another queue, possibly on a different namespace and confirm the issue? Thanks!

[2018-01-18 10:47] PsMaster commented on #60
@paolosalvatori attaching a screenshot to show what's happening, if I try to purge any of the deadletters on the subscriptions it just spins around for few seconds and says 0 messages deleted.
![servicebus](https://user-images.githubusercontent.com/5575641/35094350-eb3a5094-fc3c-11e7-9712-72c11e0f2f91.PNG)

[2018-01-18 14:15] SeanFeldman commented on #60
How many dead-lettered messages o you have in those subscriptions?

On Jan 18, 2018 03:47, "PsMaster" <notifications@github.com> wrote:

[2018-01-18 15:07] PsMaster commented on #60
@SeanFeldman should it matter how many messages? Let's just say a lot, it's a big system and due so a bug with SignalR some messages are not picked up which results in deadletters so I have to manually go through and clear the messages from time to time so that it doesn't run out of space until we roll out a fix, which currently only works by deleting the whole subscription and is not ideal... We'

[2018-01-25 16:26] YetiNerd opened #179 "Repair and Resubmit Messages without Copy"
Hi There,

it would be great if there would be the opportunity to repair and submit Messages without creating a copy.
If your Logic App is using Lock&Peek and cannot process the Message due downtime of destination system there would be great to resubmit this message (from DLQ).

Thank you!

Best
Waldemar

[2018-01-25 19:18] SeanFeldman commented on #179
@YetiNerd it's an ASB requirement, not ServiceBus Explorer. ASB doesn't allow to update an existing message and requires a new message to be submitted.

[2018-01-26 08:55] YetiNerd commented on #179
@SeanFeldman Understand.
Can you maybe suggest a best practice how to resend messages when destination is unavailible and you want to resend the message when the destination is online/availible again? As in: how to resend (new) and delete (old) message in DLQ?

[2018-01-26 22:28] SeanFeldman commented on #179
It depends. If it's a one off, you could use SBExplorer to achieve this.
If we're talking about a significant number of messages, then it depends on whatever the scenario is.

[2018-01-26 22:28] #179 closed

[2018-01-29 21:27] SeanFeldman commented on #169
@racchen I'm going to close the issue as it's not SBE specific, but please keep the conversation here if needed. Thanks.

[2018-01-29 21:27] #169 closed

[2018-01-29 21:28] SeanFeldman commented on #165
Closing. We haven't discussed this, but can be re-opened if needed.

[2018-01-29 21:28] #165 closed

[2018-01-29 21:30] SeanFeldman commented on #119
Given WSSB is no longer supported by MSFT, could you chime in on this @paolosalvatori ? Thanks.

[2018-01-29 21:31] SeanFeldman commented on #112
Looks like the issue was addressed, but tracking item never closed. Closing.
In case there's still an issue @WarrenKin, please reopen.

[2018-01-29 21:31] #112 closed

[2018-01-29 21:33] SeanFeldman commented on #109
@paolosalvatori 👍 / 👎 for this as a feature request?

[2018-01-29 21:36] SeanFeldman commented on #99
We could get the ability to determine what tier NS belongs to when a new "lightweight" management library is available. Tracking issue: https://github.com/azure/azure-service-bus-dotnet/issues/65#issuecomment-338874419

[2018-01-29 21:37] SeanFeldman commented on #52
@ekevoo would you be interested in sending a PR to help with this feature request?

[2018-01-29 21:38] ekevoo commented on #52
Unfortunately I'm no longer working with Azure or Visual Studio anymore.

On Jan 29, 2018 18:37, "Sean Feldman" <notifications@github.com> wrote:

@ekevoo <https://github.com/ekevoo> would you be interested in sending a PR
to help with this feature request?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/paolosalvatori/Servi

[2018-01-30 02:13] racchen commented on #169
yes, please close it :)

[2018-01-30 05:23] #52 closed

[2018-01-30 09:44] paolosalvatori commented on #119
Hi @SeanFeldman, does this has an impact on the codebase? Should we make any code change?

[2018-01-30 09:47] paolosalvatori commented on #109
Hi @Oculys-DanL, are you saying that your JSON file contains an array of messages and that when you select the file from the UI, you would like the tool to understand that the file in in JSON format, it contains an array and each item in the array should be interpreted as a distinct message to send to the target queue?

[2018-01-30 09:48] paolosalvatori commented on #99
@SeanFeldman could you please investigate this option whenever you have some spare time? Thanks :)

[2018-01-30 16:29] Oculys-DanL commented on #109
Yes.  Saving multiple messages at once puts them all into one file.  It would be helpful if there was a way to reverse the process.

Alternatively, maybe when saving more than one message at the same time, there is an option to save as  individual JSON files?

[2018-01-31 03:20] SeanFeldman commented on #119
Some impact @paolosalvatori.

We have a few places where we execute conditionally and condition if the code is running against ASB or WSSB. [`ServiceBusHelper`](https://github.com/paolosalvatori/ServiceBusExplorer/blob/83444ad7e84534e2bd501ca0e00f68b06c84f109/src/ServiceBusExplorer/Helpers/ServiceBusHelper.cs#L264) is one of them. Another example is when we determine certain properties of entities

[2018-02-02 08:44] paolosalvatori commented on #109
This is a good feedback, I'll work on this when I'll have some bandwidth thanks @Oculys-DanL

[2018-02-02 08:45] paolosalvatori commented on #119
@SeanFeldman, let's have a call in a few weeks, so we can make a plan. The next few weeks I'll be onm customer site

[2018-02-03 02:50] SeanFeldman opened #182 "Incorrect version showed"
### Steps to repro

- Have an older version running locally (4.0.105).
- Esure to be be connected to the internet
- Version showed will be not the actual version, but the latest available on GitHub (latest release)

I suspect either embedded version is not embedded properly or [`VersionHelper`](https://github.com/paolosalvatori/ServiceBusExplorer/blob/83444ad7e84534e2bd501ca0e00f68b06c84f109/src/S

[2018-02-03 03:25] SeanFeldman commented on #182
@paolosalvatori do you recall why the code was switched to retreive version from GH rather that looking at embedded version?

[2018-02-03 05:30] SeanFeldman opened #183 "Purge DLQ is broken"
SBE version: 4.0.106
Queue: not partitioned, standard tier, no sessions, 1GB size

Looks like there was a regression in #180.
As of now, Purge DLQ doesn't do anything.

Validation: have a single dlq-ed message, push Purge DLQ. Status says:

and dead-lettered message stays as is.
![image](https://user-images.githubusercontent.com/1309622/35763389-9528264e-0868-11e8-94b8-9c37ff7b35a4.png)

[2018-02-04 18:48] ErikMogensen commented on #183
Hi Sean,

I wrote the MessagePurger class. Great that you found the bug with one-message queues and fixed it. I tested the class with different combinations of partioned/non-partioned/sessioned/non-sessioned/standard/premium queues and subscriptions with up to a million messages but never tested with just one message.

[2018-02-04 20:22] SeanFeldman commented on #183
@ErikMogensen no worries. It's an edge case I happened to run into.

[2018-02-09 09:36] paolosalvatori commented on #182
Yes. Because when creating a release, the version was not visible in the titlebar of the tool and it was invariantly equal to 1.0.0

[2018-02-09 09:37] paolosalvatori commented on #183
Thanks guys!

[2018-02-09 09:38] #183 closed

[2018-02-09 12:42] SeanFeldman commented on #182
Are you referring to a released version that could be downloaded from GitHub (https://github.com/paolosalvatori/ServiceBusExplorer/releases/latest)?

[2018-02-11 14:55] ErikMogensen opened #186 "Change C# language version"
Currently the Language version is set to "C# latest major version (default)". I suggest this is changed to "C# latest minor version (latest)". That way we could take advantage of the new features in C# 7.1, 7.2 and later versions.

Do you agree?

[2018-02-12 08:55] paolosalvatori commented on #182
Yes :)

[2018-02-12 23:11] SeanFeldman commented on #182
In that case, the version should be baked **into** the released version. If it's not, then it's a bug. We shouldn't get a version from GH as what you run is not always the latest and incorrectly will report as the latest. Would you agree @paolosalvatori ?

If yes, I'll send a PR. Otherwise, please elaborate why you disagree. Thanks.

[2018-02-13 00:11] SeanFeldman opened #187 "Commits to master should not be allowed"
We're using a flow for a while where changes are staged on `develop` and released in a control version by having a PR from `develop` to `master`. Once PR to `master` is merged, a release is created with appropreate version increase (build version) and it's possible to know what bugs where fixed/improvements made on the [releases page](https://github.com/paolosalvatori/ServiceBusExplorer/releases).

[2018-02-13 00:14] SeanFeldman commented on #182
Here's what's happening. I'm running a 4.0.106 on my machine. Do to #187, a new release was created, but I've never updated to that and still, locally the version is reported as 4.0.107.

![image](https://user-images.githubusercontent.com/1309622/36126899-efa366ea-1017-11e8-825a-57c3fd4e6348.png)

Looking at the file properties, and what's stamp GitVersion has applied on the build server when the

[2018-02-13 00:16] SeanFeldman commented on #187
Also, if we follow the flow, `master` should never contain commits that cannot be found on `develop`.

[2018-02-13 08:01] tomkerkhove commented on #187
Agreed :+1:

[2018-02-13 10:05] paolosalvatori commented on #182
Yes... and I'm aware of this problem. This is just a workaround to avoid to show 1.0.0 any time you start the exe coming from any release.

[2018-02-13 10:06] paolosalvatori commented on #187
Sorry guys, I was in a hurry and didn't realize I published to the master.

[2018-02-13 11:18] Asura5 opened #188 "Auto-refresh queue"
I'm often working with a single queue or queues that do not have subscriptions or event hubs (yet or ever) - I know that F5 will trigger a refresh of an queue however for those monitoring mesasge/DLQ numbers (note I am not suggesting wider use as queue monitoring application!) would auto-refresh be an option?

[2018-02-14 02:03] SeanFeldman opened #190 "Protect master branch from direct commits"
@paolosalvatori could you please configure to protect `master` branch to avoid accidental direct commits and only allow PRs? This is how it works for others targetting `develop` and `master` branches.

Once a branch is protected, issues like #187  will not take happen.

[2018-02-14 22:03] SeanFeldman commented on #188
@Asura5 could you walk through how this would work? I imagine it would be some toggling to have a queue refreshed. But how often? Is it something that should be configured? Etc. You see where I'm leaning with this. Thanks.

[2018-02-15 05:15] SeanFeldman commented on #186
Sounds good. Any specific features you're thinking of?

[2018-02-15 08:38] paolosalvatori commented on #188
This is not the first time that I receive this request. We should introduce two options in the application configuration and options dialog:
 - Enable autorefesh
 - Refresh interval in seconds
At each refresh, we should basically refresh the entire TreeView making sure to avoid flickering.

[2018-02-15 08:38] #187 closed

[2018-02-15 08:39] paolosalvatori commented on #190
Let's take this offline next week. Ping me on Tuesday and let's make this together.

[2018-02-15 10:16] Asura5 commented on #188
That's pretty much what I had in mind. The refresh rates are global to all queues, so:

- Add Queue refresh time (seconds) option to OptionForm.
- 0 in this box disables auto-refresh, and is the default
- Non-zero input will enable auto-refresh with the given number of seconds:
-     GetEntities called asynchronously (I am not sure of exact implementation details - awaitable Task?)

[2018-02-15 10:19] tomkerkhove commented on #188
If it's in the UI I think we should provide a slider with reasonable values to avoid hammering SB because somebody wants to refresh every second, but that's my personal opinion.

[2018-02-15 16:04] paolosalvatori commented on #188
@tomkerkhove  I couldn't agree more

[2018-02-15 19:01] ErikMogensen commented on #186
I was thinking of [Reference semantics with value types](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-7-2#reference-semantics-with-value-types) and [Non-trailing named arguments](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-7-2#non-trailing-named-arguments).

It would also be nice with the C# 7.0 support for tuples but as I understand it that requires an upgra

[2018-02-15 19:02] SeanFeldman commented on #188
Refreshing entities to get message counts is a bad idea.
First, we're on the old client and the new client has removed that functionality for a good reason.
Second, message count is **not** as accurate as you'd think. So pinging it every second for **all** entities will be just counterproductive.

Is F5 that hard? SBE is for _managing_ entities and messages, not monitoring. If you need monitoring,

[2018-02-15 19:04] SeanFeldman commented on #190
This is where I wish Swatch Beat (aka [Internet Time](https://www.swatch.com/en_ca/internet-time/)) would become a standard...
Tuesday what time and time zone? 😛

[2018-02-15 21:57] SeanFeldman commented on #186
Tuples require an external [package](https://www.nuget.org/packages/System.ValueTuple/)

[2018-02-16 10:02] Asura5 commented on #188
As suggested in the initial post I was in not suggesting use for monitoring - not nearly in the order of every second - more along the lines of every x minutes. However - thanks for the very clear feedback. I'll implement locally and close the issue.

[2018-02-16 10:02] #188 closed

[2018-02-16 12:03] paolosalvatori commented on #190
Just ping me in the morning and we'll figure it out :)

[2018-02-16 22:58] SeanFeldman commented on #182
Could you please elaborate on what do you mean by "any time you start the exe coming from any release."? Thank you.

[2018-02-19 11:36] paolosalvatori commented on #182
It means that if I don't make a call to retrieve the version number of the latest release from GitHub, 1.0.0 would be shown in the title bar of the main window :) If you remember, we had this conversation last year or so. :)

[2018-02-19 15:07] kim76 commented on #78
I received this error when my clock was out of sync.  Not a very useful message :(

[2018-02-19 16:05] paolosalvatori commented on #78
Hi @kim76, this error is returned by Service Bus, not by the tool. Please, check the correctness of the connection string. Also take into account that the tool only works with Azure Service Bus, and not with Service Bus for Windows Server. Hope this helps.

[2018-02-19 16:45] SeanFeldman commented on #182
@paolosalvatori don't think that was the case. The issue I remember is that[ locally built bits didn't have the version other than 1.0.0](https://github.com/paolosalvatori/ServiceBusExplorer/issues/125#issuecomment-310123019). Which, BTW, was [intentional](https://github.com/paolosalvatori/ServiceBusExplorer/pull/104). After that the code was modified to read from GitHub all the time.

Suggest we

[2018-02-19 18:18] paolosalvatori commented on #182
@SeanFeldman you are right, that was the issue. By the way, you decided that this behavior was intentional, not me. :) I told you that I'd prefer locally built copies to have the right version, and not 1.0.0. :)

[2018-02-19 19:16] SeanFeldman commented on #182
Currently, the code always [looks up GitHub](https://github.com/paolosalvatori/ServiceBusExplorer/blob/c84dc37623f9c8134f1d9554f52ec1442b20afee/src/ServiceBusExplorer/Forms/MainForm.cs#L7003) for the latest version, which is incorrect. Event if you are developing locally on an outdated version.

Could you please elaborate on the need to have "locally built copies to have the right version, and not

[2018-02-19 21:23] paolosalvatori commented on #182
@SeanFeldman I know, and if you remember I told you that I didn't like this solution as it always shows the latest version, even if the current version of the tool is older. A lot of people download the code and compile it using Visual Studio. If we show 1.0.0 it's the same as showing the latest version available on GitHub: it's fundamentally wrong and I can't understand what is the real version o

[2018-02-19 21:48] SeanFeldman commented on #182
No more questions. If you want it this way, be it so. I'll outline what's wrong with the curent state and you can decide how to address it.

- When someone uses the tool as-is, they most likely would get it from GitHub download page or Chocolatey. The version presented is never going to be correct if a newer version of the tool was released.
- When someone downloads the code and compiles it locall

[2018-02-20 07:00] paolosalvatori commented on #182
@SeanFeldman let me clarify. I'd like to eliminate the current implementation and use the following approach:

-

[2018-02-20 15:16] tomkerkhove commented on #182
But does that really make sense? Shouldn't we keep an automated process for this instead where this is done for us and we can release whenever we want, without having to do source code changes?

If they want to download the sources, they can still go to the release which has the source code linked to it? https://github.com/paolosalvatori/ServiceBusExplorer/releases/tag/4.0.107

Or check the git ta

[2018-02-20 17:00] danielmarbach commented on #182
@paolosalvatori I'm not sure I can entirely follow your reasoning here. One of the benefits of using an automated approach as outlined by @SeanFeldman is that it can be made sure the version is always up to date and correctly incremented. Furthermore, when someone looks at the UI it is clear how the version relates to commits and can always be reproduced. So why would you want to go back to a manu

[2018-02-20 17:40] SeanFeldman commented on #182
What @danielmarbach makes sense. If version needs to be generated locally, it could leverage GitVersion local info. Note: AppVeyor build number will be missing (currently used as a `build number` in the `major.minor.build` sceme`).

A few examples:

### Information available locally
#### `develop` branch
[code]
#### master branch

[code]

#### custom branch
[code]

My only concern would be how to

[2018-02-20 17:45] SeanFeldman commented on #190
Checked again and noticed that `master` and `develop` are protected from deletions.
![image](https://user-images.githubusercontent.com/1309622/36439785-223dbca4-162b-11e8-97dc-55751a375aab.png)

Great. The only remaining item then is to ensure no direct commits are allowed to `master`.

Probably 2 other branches should be protected so they cannot be accidentally deleted.

![image](https://user-ima

[2018-02-21 09:27] paolosalvatori commented on #182
@SeanFeldman @tomkerkhove @danielmarbach I don't want to go back to a manual approach, actually, I'm saying the opposite thing. Is there a way to add the version number to the AssemblyInfo.cs or any other file whenever we release a new version so that the tool can read the current version from a known place also when someone compiles the code locally? :)

[2018-02-21 14:33] SeanFeldman commented on #182
@paolosalvatori see https://github.com/paolosalvatori/ServiceBusExplorer/issues/182#issuecomment-367057511

[2018-03-05 16:04] ErikMogensen commented on #173
@antongeorgiev, in the latest version of the Service Bus Explorer (SBE) in the Develop branch, there is new functionality for submitting multiple messages from the DLQ. There is a new checkbox with the text "Remove messages from the DLQ". If you check it, SBE will send the messages one at a time to avoid duplicates.

Is that what you are looking for?

Anyway, I think that the "Resubmit selected me

[2018-03-06 23:54] todthomson opened #193 "How do we use SBE to move messages between queues?"
Hi SBE Team,

I'm currently using Mass Transit 3 https://github.com/MassTransit/MassTransit with the Azure Service Bus transport.

In Mass Transit when messages fail to be processed (configurable X times) then they get moved to an `QueueName_error` queue rather than the DLQ.

I can't work out how to use SBE to move those messages back to the original queue for re-processing... Is it just me, or is

[2018-03-07 00:02] tomkerkhove commented on #193
Do you want to automatically send them to a different queue or do it on-demand?

[2018-03-07 00:16] SeanFeldman commented on #193
Related to #173.
If you want to move messages automatically, auto-forwarding could help. Otherwise, it's a feature that would be required to be implemented. It would be clone/send/delete type of deal.

[2018-03-07 00:47] todthomson commented on #193
Roger that. How do I turn this into a "feature request"? Do you think it would be reasonable for someone unfamiliar with the project (e.g. me) to tackle it?

[2018-03-07 00:54] SeanFeldman commented on #193
@todthomson you can definitely send a PR if you have some time on hands.

[2018-03-12 11:58] ErikMogensen commented on #193
I implemented moving of messages from deadletter subqueues (DLQ) in #192. I explained the reason for only implementing it on DLQs in the PR. In short it requires incrementing the Delivery Count for every message that is before the message(s) you want to move (clone/send/delete) and that in turn might lead to messages stored on normal queues, like your Queuename_error queue, being moved to their DL

[2018-03-16 06:32] Cheranarasu opened #194 "InnerException: The remote server returned an error: (401) Unauthorized."
I gave connection string placed in namespace of my notification hub.

Exception: The remote server returned an error: (401) Unauthorized..TrackingId:7069cd50-9cbf-4bb7-a04f-6270054d75a8,TimeStamp:3/16/2018 4:11:06 AM
<09:41:06> InnerException: The remote server returned an error: (401) Unauthorized.

Previously it working properly. Now only got issue like below. It seems authentication failure and

[2018-03-16 10:18] oak-tree opened #195 "Failed to resend a deadletter message with the size of 256291"
## Logs
This what I got from the logs:

## Problem
But clearly this message had been sent before as I received it from the bus using `ServiceBusExplorer` after it became `deadletter`.

## Ideas - Possible cause?
1. The message body is a `json`. Maybe `ServiceBusExplorer` tries to send the `json` in prettify mode and then add "\n\r" in every line ?

P.S
The reason it became `deadletter` has no rela

[2018-03-16 10:50] paolosalvatori commented on #194
Hi @Cheranarasu the tool requires a namespace-level connection string with manage claim, any entity-level connection string or namespace-level connection string without the manage claim will return an unauthorized error.

[2018-03-16 10:53] paolosalvatori commented on #195
Hi @oak-tree, if you are trying to use SBE to send a message to a queue / topic / event hub, the tool does not attempt to recognize the format of the payload or manipulate the message body.

[2018-03-16 18:30] SeanFeldman commented on #195
The message you're trying to send is 250KB. Depending on the headers and serialization it could easy exceed max size of 256KB.

1. Are you adding any custom properties to your message when sending from SBE? If you do could you provide their details (count, size).
1. If you send exactly that JSON using C# client, do you get this error?

[2018-03-19 09:32] ErikMogensen opened #196 "SBE may freeze in some scenarios"
There is a bug in some Service Bus NuGet packages. According to https://www.nuget.org/packages/WindowsAzure.ServiceBus/4.1.8 the issue is:

Therefore SBE should be rebuilt with NuGet WindowsAzure.ServiceBus v4.1.8.

[2018-03-19 14:14] SeanFeldman commented on #196
I'll take care of that.
Release notes are extremely vague. Wish the team would add details what clients are affected 🙂

[2018-03-19 18:29] ErikMogensen commented on #196
I found that if I connect to a namespace using Connectivity Mode = Http or Https then issue appears. The issue also appeared if SBE was configured to use a proxy and Connectivity Mode = AutoDetect. So I believe every SBE which connects to SB through a proxy is affected, since it has to run in Http or Https mode then.

[2018-03-19 18:34] ErikMogensen commented on #196
@SeanFeldman, according to https://blogs.msdn.microsoft.com/servicebus/2015/07/10/service-bus-event-hubs-and-web-sockets/ Service Bus (and Event Hubs) uses Web Sockets in Connectivity Mode = Http.

[2018-03-19 19:02] SeanFeldman commented on #196
@ErikMogensen indeed. When TCP ports are blocked, the SDK will fail over to HTTPS.
Will assign this to 4.0.108 and we'll release.

[2018-03-21 04:08] Cheranarasu commented on #194
Hi @paolosalvatori ,

Thanks for your update. How to provide manage claim to my notification hub?

Can we able to send push notification to all registered device in production using this tool?

Regards,
Cheran

[2018-03-21 05:08] paolosalvatori commented on #194
Hi @Cheranarasu the answer is yes. Please scroll the log at https://github.com/paolosalvatori/ServiceBusExplorer/blob/develop/docs/documentation.md for more information. It's quite sometime that I don't test the notification hub support in Service Bus Explorer, so I can't guarantee that it's working as expected. Hope this helps.

[2018-03-24 18:22] SeanFeldman opened #199 "Correlation filters are not showing"
Originally asked on [StackOverflow](https://stackoverflow.com/questions/49464887/show-azure-service-bus-topic-filters).

<img src="https://i.stack.imgur.com/9rGjr.png" />

[2018-03-24 18:44] SeanFeldman commented on #196
This didn't go out in 4.0.108.
Workaround is to update the ASB client manually and use binding redirect.
Will be addressed in 4.0.109.

[2018-03-24 20:16] SeanFeldman commented on #182
This is why the current GH lookup is making things awkward.
I've added a feature and running locally, the app says `4.0.108` which is nonsense as this feature was never released...

![image](https://user-images.githubusercontent.com/1309622/37868545-fc87cce6-2f6d-11e8-968b-639061dfa141.png)

[2018-03-27 07:30] #199 closed

[2018-04-04 07:49] tomkerkhove commented on #49
What do you think @paolosalvatori?

[2018-04-04 09:25] paolosalvatori commented on #49
@tomkerkhove we can try to convert the Service Bus Explorer to a Universal Windows Platform app and see if it works. I don't know how many potential users can be interested in running the tool as a UWP app, but we can definitely give it a try. @tomkerkhove, do you have the bandwith to give a try? I'll be very busy the next few weeks, and I won't have bandwidth till the end of this month. :(

[2018-04-04 09:53] tomkerkhove commented on #49
Unfortunately I do not have the bandwidth and don't have any UI skills. That said, I'm not sure if UWP is the right fit as well given the multi-platform world Service Bus & we are in.

[2018-04-04 11:16] paolosalvatori commented on #49
Exactly, I see any value in creating and maintaining a UWP version of the application. Chocolatey should suffice our needs.

[2018-04-04 15:42] javafrog opened #204 "Application freezes after I open messages for a subscription (probably proxy-related)"
I can start the application and connect to a certain service bus instance and see all the topics and subscriptions. However, when I want to send a new message or open the messages for a certain topic subscription, the application freezes and does never recover (mouse cursor shows loading icon). This only seems to happen in my corporate network, when I use an open hotspot, the problem does not occu

[2018-04-04 15:55] SeanFeldman commented on #204
@javafrog what version of the tool are you using? https://github.com/paolosalvatori/ServiceBusExplorer/releases/tag/4.0.109 just came out and supposed to address this issue.

Please confirm.

[2018-04-05 06:28] javafrog commented on #204
The whole situation is somewhat unclear, but let me give you some more details:
- We have several colleagues experiencing the same problems
- In public WiFi, there seem to be no issues
- In LAN mode (we have a proxy), the reported problems occur all the time
- One colleague reported the freezes are gone with version 4.0.109 when connecting via our company WiFi. That WiFi is also restricted, but no

[2018-04-05 07:34] ErikMogensen commented on #204
@SeanFeldman, I am not behind a proxy currently so I am unable to verify v4.0.109.

@javafrog, have you configured the proxy connection in the config file?

[2018-04-05 07:41] ErikMogensen commented on #204
How to configure the proxy connection in the config file is described at https://docs.microsoft.com/en-us/dotnet/framework/network-programming/proxy-configuration.

If Connectivity Mode (in the Options dialog windows) = AutoDetect does not work try with Http or Https.

[2018-04-05 12:37] tomkerkhove commented on #194
@Cheranarasu Can we close this issue?

[2018-04-05 12:37] tomkerkhove commented on #119
What's the status here?

[2018-04-05 20:11] SeanFeldman commented on #119
Good question. What is it? 😃
I've outlined the proposal in the issue description. Perhaps we should do it in async mode as it's almost impossible to get on a call.

[2018-04-06 00:10] raymaung commented on #204
I had similar issue as @javafrog. Using a corporate network, it didn't have any issue fetching the service meta data, however, when I tries to fetch the messages  **first** time, it freezes.

After 5-10 min, I kill it, try again for a few times, same issue. In one case, I let it run for a little longer, then it fetches the messages. And subsequent fetches are fast. First time freezing is true ever

[2018-04-06 05:25] paolosalvatori commented on #204
Hi @raymaung when did you start to experience this problem? I mean, did you observe the same issue with previous versions of the tool or only with a recent version? Thanks!

[2018-04-06 05:30] SeanFeldman commented on #119
I've created support branch [`support-2.1`](https://github.com/paolosalvatori/ServiceBusExplorer/tree/support-2.1) so that SBE 2.1 can live independently and be updated _if_ needed.

Quoting from the issue description:

[2018-04-06 08:34] paolosalvatori commented on #119
@SeanFeldman I read the original post, but I don't get it. Which client library would you like to use?

[2018-04-06 12:04] javafrog commented on #204
Thanks for your comments! I did configure the proxy in the config file, with the same results, before I created this issue.

Today, however, it worked just as @raymaung described: The first connection took a while, appearing like a freeze. Then after like 30 seconds, the messages appeared. Subsequent accesses were quick. I did try it from our (most restrictive) LAN.

I also don't know if there are

[2018-04-06 20:24] SeanFeldman commented on #119
@paolosalvatori _what_ client library to use is not a question here. For now we'll continue with the same client used for the last X year. I was mentioning your desire to keep the tool version in sync with the client version. The argument for that is probably becoming even weaker, considering that there's no planned v5 of the ASB client (` WindowsAzure.ServiceBus`) since it will be in maintenance

[2018-04-09 01:01] raymaung commented on #204
@paolosalvatori I should clarify `4.0.108` - just frozen. `4.0.109` **eventually** fetches the first message after many minutes.

[2018-04-10 02:17] raymaung commented on #204
@paolosalvatori I tested different versions against the same corporate network and here are the results

- `4.0.105`
  - won't even load the meta data
- `4.0.106` to `4.0.108`
  - load the meta data
  - freeze on **first time** fetching messages
- `4.0.109`
  - take awhile to complete the **first messages fetch**
  - fast on subsequent messages fetch

[2018-04-10 08:52] ErikMogensen commented on #204
When using SBE to connect to SB through a proxy the following four requirements must be met:

- The SBE config file must be properly configured for the proxy used. This is described at https://docs.microsoft.com/en-us/dotnet/framework/network-programming/proxy-configuration. SBE needs to be restarted after a config file change.

- Connectivity Mode must be AutoDetect, Http or Https. This is set wh

[2018-04-10 13:12] paolosalvatori commented on #119
What do you mean with "anything is not the core functionality of the tool"? Notification Hubs? IoT Hubs? I have users that ping me offline as they use the tool with minor, not mainstream features like relays and notification hubs... I don't see the need the remove this support. I'd prefer to add rather than remove features :)

[2018-04-11 02:45] SeanFeldman commented on #119
Personally, I'd carve those out into dedicated tool. But that's not the point.
Let's focus on what this issue is for - removing suport for WSSB in the next major (5.0).

[2018-04-11 09:12] paolosalvatori commented on #119
Agreed, let's focus on removing support for WSSB in the next major release. :)
P.S. Microsoft Azure Storage Explorer tool also supports Cosmos Db, even if the latter is a separate service with respect to Azure Storage Services :)

[2018-04-19 15:57] margani opened #205 "SBE doesn't show Topics and Queues whilst Azure portal shows them"
# Problem

Suddenly, I couldn't retrive the list of topics and queues from Azure using SBE.
SBE logs show:
<15:15:17> The application is now connected to the sb://_MyNamespace_.servicebus.windows.net/ service bus namespace.
<15:15:17> MessagingFactory successfully created

but the right hand side tree is empty, although I can see the queues and topics in Azure web portal.

[2018-04-19 15:58] margani commented on #205
Now, It does show the queues and topics. Any clue why it may happen?

[2018-04-19 17:40] SeanFeldman commented on #205
@margani you're saying

and then

If you couldn't retrieve the list of entities (on the left), the details view (on the right) is expected to be empty. Perhaps you could share a snapshot?

[2018-04-19 17:44] margani commented on #205
@seanfeldman
Yes it was empty and empty screen with empty tree (with just the root node) didn't  make sense.

[2018-04-19 17:56] SeanFeldman commented on #205
What region the namespace is at? I know West EU had issues yesterday/early today.

[2018-04-19 19:13] ErikMogensen commented on #205
The Server Timeout setting in the Options dialog determine how long SBE will wait for a response from the ServiceBus namespace. If the namespace had performance issues and the Server Timeout setting was set to just a few seconds it would explain why you didn't see the queues and topics in SBE but in the Azure Portal which seems to have a longer timeout.

If you run into this issue again, increase

[2018-04-20 07:53] margani commented on #205
Thanks a lot. If it happened again I will increase the timeout.

[2018-04-20 09:38] tomkerkhove commented on #205
The question is - Did it show that it was not able to get all entities or did it silently continue without displaying anything @margani?

[2018-04-20 09:44] margani commented on #205
@tomkerkhove It silently continued. The only log I could see was "MessagingFactory successfully created". I thought all the queues and topics are deleted till saw the azure portal.

[2018-04-20 09:51] tomkerkhove commented on #205
That's odd.

@SeanFeldman What do you think - Shall we create an issue for this?

[2018-04-20 11:30] margani commented on #205
Hi @paolosalvatori currently I don't have that issue anymore, but will do once I have it again.

[2018-04-23 06:04] SeanFeldman commented on #205
@tomkerkhove we already have an issue - this one 🙂 It has all the context.

@paolosalvatori @ErikMogensen is there a way to mimic this behaviour? I'd like to see what the UX is like.

[2018-04-24 08:10] #173 closed

[2018-04-25 06:03] SeanFeldman opened #208 "Messages should be sent in batch for Repair and Submit"
PR #206 has changed the original code that was sending messages in batches.
To address perf and UX, batching needs to be re-implemented.

[2018-04-25 11:13] tomkerkhove commented on #194
Closing since @Cheranarasu did not respond for a while, will re-open when need be

[2018-04-25 11:13] #194 closed

[2018-04-25 11:13] tomkerkhove commented on #190
@paolosalvatori Would it be possible to secure `master` please?

[2018-04-25 18:53] ErikMogensen commented on #208
I can work on implementing batchign, unless someone else is already doing it.

[2018-04-25 19:49] SeanFeldman commented on #208
I don't have capacity ATM, but can point at what I've done in the past.
Just breaking messages into batches is not going to work. The size reported by `BrokeredMessage` is always smaller than the actual size over the wire. Instead, what I've done is breaking a batch into multiple ones (chunking) using some estimated size. [The post](https://weblogs.asp.net/sfeldman/asb-batching-brokered-messages)

[2018-04-26 15:51] #205 closed

[2018-05-02 11:12] johnm123 opened #209 "Explorer attempts to connect to a ASB that cannot be resolved to a host name."
Steps to recreate:
Connect to a ASB with a valid URL that does not exist.

Observation:
Eventually this logs in the 'Log' area after retry attempts but still shows the tree view in the Service Bus Namespace control which can be misleading.

[2018-05-02 15:07] paolosalvatori commented on #190
Hi @tomkerkhove / @SeanFeldman  the master branch already requires pull requests to be reviewed and approved by an administrator... but this rule applies to everyone but administrators, in other words, it does apply to me ;) So I suppose you want me to enable the following option:

Include administrators
Enforce all configured restrictions for administrators.

Can you confirm, please? :)
Thanks!

[2018-05-03 04:28] SeanFeldman commented on #190
Ability to review and approve should be done by [CODEOWNERS](https://help.github.com/articles/about-codeowners/) that should be listed and the option _Require review from Code Owners_ is enabled. That way, no matter if the person an admin or not, they would be able to review and merge. Assuming there's at least a 2nd review in place. Which is achieved by enabling _Require pull request reviews befo

[2018-05-03 13:30] paolosalvatori commented on #190
@SeanFeldman @tomkerkhove @ErikMogensen I created a CODEOWNERS file under the docs/ folder in the develop branch.

[2018-05-03 17:43] SeanFeldman commented on #190
Is there anything left to do on this or are we good to close it?

[2018-05-03 18:17] tomkerkhove commented on #190
Think we are good for now at least, can still re-open.

[2018-05-03 18:18] SeanFeldman commented on #190
Then why wasn't that your closing comment? 😝

[2018-05-03 18:18] #190 closed

[2018-05-04 15:19] SeanFeldman opened #211 "Survey questions"
- Is the tool used as a dev tool or IT/Ops
  - If both, what's the percentage (50/50, 40/60)
- Are you using ASB with Windows / Linux / both?
- Is lack of support for cross platform prevents you from using SBE?

[2018-05-04 16:33] tomkerkhove commented on #211
- Are there service that you want to use, but not supported yet?
- Would you like to contribute?
- What feature would you like to be added?
- How are you installing the tool or are you just downloading it?

[2018-05-07 07:11] paolosalvatori commented on #211
- Are you using Service Bus Explorer to:

 - Would you like to use Service Bus to:

[2018-05-07 15:05] tomkerkhove opened #212 "Remove support for Service Bus metrics"
Since Microsoft has removed support for getting metrics via REST API and is turning this off soon we are removing support for viewing metrics, read more about it [here](https://blogs.msdn.microsoft.com/servicebus/2018/05/11/azure-service-bus-deprecating-entity-metrics-rest-api/).

We are removing the following content:
![image](https://user-images.githubusercontent.com/4345663/39821929-f8a54962-53

[2018-05-07 15:53] paolosalvatori commented on #212
Yep, let's remove this part. @tomkerkhove are going to work on this?

[2018-05-07 16:00] tomkerkhove commented on #212
Jup, should have time this week

[2018-05-07 20:01] ErikMogensen commented on #211
I have packaged Service Bus Explorer into an MSI using the VS Installer Projects Extension to handle customizations and make it easier to distribute internally. Therefore I suggest a forth option:
4. Use a custom packaging, like MSI

- Some of the services that Service Bus Explorer handle do not have Service Bus in their names anymore. There might also be more services added to Service Bus Explore

[2018-05-07 20:10] ErikMogensen opened #213 "An exception including its stack trace is shown in the Log window when a namespace lacking Notification Hubs is opened"
An exception including its stack trace is shown in the Log window when a namespace lacking Notification Hubs is opened. For instance:
[code]
This is probably caused by the PR #207 that changed the exception handling. I suggest adding special handling for exceptions thrown when checking for Notification Hubs and suppressing the exception thrown for this scenario.

Or remove the support for Notifica

[2018-05-07 21:09] Mossharbor commented on #212
Hmm, you are about to have a mutiny on your hands if you force people to move to ARM resource manager and cut support for existing functionality  (that does not have a comparable replacement).  ARM it is just not performant enough.  You are forcing people to move to something other than service bus, and pretty much that means something other than azure.

See thread here,
https://github.com/Azure/a

[2018-05-07 22:30] SeanFeldman commented on #212
@Mossharbor issue https://github.com/Azure/azure-service-bus-dotnet/issues/65 is about namespace management, which the ASB team has agreed to address, and not metrics.

For metrics, *all* Azure services are moving to use the Monitor service, which cannot work with a connection string.

[2018-05-08 00:42] Mossharbor commented on #212
@SeanFeldman that is fine, but it seems to me like there is overlap between metrics and namespace management in getting approximate counts of a queue using a connection string, that is falling through the cracks.

This phrase:
_"is turning this off soon we are removing support for viewing metrics_."_...."should have time this week"_

Seems to indicate that getting queue lengths will be a problem v

[2018-05-08 04:17] SeanFeldman commented on #212
The only overlap is that both, entity management operations and message counts are gone from the new client.

MSFT has comitted to a very specific subset of functionalities in the package they'll created and release soon to replace NamespaceManager. [That list](https://github.com/Azure/azure-service-bus-dotnet/issues/65#issuecomment-338874419) never included message counts. Message counts will be

[2018-05-08 07:16] tomkerkhove commented on #212
The bottom line is - We need to do this because what we rely on will not be there anymore, it's not that we want to do it but it's because we have to do it...

[2018-05-08 07:41] paolosalvatori commented on #211
@ErikMogensen I'd prefer not to rename the tool. :) In addition, Azure Message Explorer could make people think that it covers also Azure Queues that instead are not currently supported by the tool. I'm good with extending the tool to create an MSI.

[2018-05-08 07:51] paolosalvatori commented on #212
Hi @Mossharbor we are not going to remove the abiliy to see the length of a queue or things like that from the tool. We are just going to remove support for retrieving and displaying statistic data about incoming messages, outgoing messages, failures, etc. obtained invoking the Service Bus Metrics REST API that is going to be dismissed by the product group. All diagnostics logs and metrics for all