[2020-01-17 10:41] paolosalvatori commented on #389
I agree with Sean, the tool is not meant to search strings in messages. I'm not saying it's a bad idea, but this is the first time I hear this requirement. You could implement this feature and submit a PR, or you could, as a workaround, select messages from the datagridview and save them to a file and then search for a string in the file. I'm closing this issue, for now, feel free to reopen it.

[2020-01-17 10:41] #389 closed

[2020-01-17 10:43] paolosalvatori commented on #248
This is strange. The original code used to create a clone of the EventData because this way I could read the message any time a user selects it. If you directly read the message from the EventData object, you can't read it a second time. I should debug and check. @ErikMogensen?

[2020-01-17 10:45] ErikMogensen commented on #248
@davidwmartines , is this issue still occuring?

[2020-01-17 10:46] paolosalvatori commented on #392
This will take time, not sure we have the bandwidth to completely re-write the tool and fully get rid of the old client library.

[2020-01-17 10:53] paolosalvatori commented on #375
@darrenshrwd do you have bandwidth to work on this feature and submit a PR?

[2020-01-17 10:59] paolosalvatori commented on #297
Can you confirm that you can see the issue in the latest release @rahulseth01? Thanks!

[2020-01-17 11:00] paolosalvatori commented on #397
Can we close this issue @ErikMogensen or it's still active? Di we find a resolution? Thanks

[2020-01-17 11:04] paolosalvatori commented on #299
I'm closing the issue for now, feel free to reopen it or submit a PR :)

[2020-01-17 11:06] ErikMogensen commented on #397
No solution yet unfortunately. I think the best way forward is that someone contacts the product group and asks about this.

[2020-01-17 11:07] paolosalvatori commented on #400
Hi @yuhaii yes, might be. I implemented the Notification Hub support years ago and I didn't work with Notification Hubs recently, sorry about that. Since you look knowledgable, could you please solve the issue and submit a PR? Thanks!

[2020-01-17 11:07] #35 closed

[2020-01-17 11:13] paolosalvatori commented on #403
This is a good idea... if you bandwidth, you could basically take the same code from one of the existing controls!

[2020-01-17 11:13] #404 closed

[2020-01-17 11:14] paolosalvatori commented on #405
As discussed offline, I couldn't agree more :)

[2020-01-17 11:14] #405 closed

[2020-01-17 11:24] paolosalvatori commented on #410
Sounds good, did you completely rewrote the helper classes to use the new client? In other words, can we get rid of the old client libraries or do we need both for now?

[2020-01-17 11:24] paolosalvatori commented on #411
Can we add this to the README? Thanks!

[2020-01-17 11:26] DavidSchor commented on #299
Yes, that is probably best. I was hoping to take a look at it during the holiday, but didn't. I am having a bit of crunch time at work now, so it would be a while before I get a chance to look at it.

[2020-01-17 11:27] ErikMogensen commented on #410
No, I just rewrote a small part. Since the new libraries are based on .NET Standard they may require other dlls too.

[2020-01-17 11:27] ErikMogensen commented on #411
That's a good idea.

[2020-01-17 11:27] paolosalvatori commented on #397
Ok, send me an email so beginning of next week I'll try to find a contact in the Notification Hubs team. It's a long time I don't speak with this team. I think we'll have to replace the old nuget package with the new one and re-write this part.

[2020-01-17 11:28] paolosalvatori commented on #299
Take your time @DavidSchor and thanks for the collaboration!

[2020-01-17 14:21] rahulseth01 commented on #297
Yes, it is happening in latest release.

[2020-01-17 16:32] mortezasoft commented on #388
Hi. These are the steps how to reproduce the issue:

1. Create an IotHub Listener
2. Start it
3. Select a few rows from the datagrid. Then right click and select "save selected event"

Nothing happens and in logs section you will see:
**Exception: Value cannot be null.**
**Parameter name: str**

<img width="1077" alt="01" src="https://user-images.githubusercontent.com/876408/72628741-3dc8f080-394f

[2020-01-17 19:52] rajrao opened #412 "Exception when clicking on"

[2020-01-17 19:53] rajrao opened #413 "Exception when clicking on "Submit" in"

[2020-01-17 19:55] rajrao opened #414 "Exception when clicking on "Submit" in "Repair and Resubmit Message" dialog"
I am getting this error:
Exception: Could not load type 'Microsoft.ServiceBus.Messaging.MessagingEntityClient' from assembly 'Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.

I was running the 4.1.112 release (downloaded from Github releases page). I unblocked the zip file, before unzipping and running SBE.
I also tried building the latest code from develo

[2020-01-17 19:55] #412 closed

[2020-01-17 19:55] #413 closed

[2020-01-17 20:41] rajrao commented on #414
I have tried running fuslogvw and there are no binding failures. Fuslogvw does tell me that I am loading "Microsoft.ServiceBus" from the SBE folders and not from the GAC.

The error is also thrown when trying to use the Send Message option.

[2020-01-17 22:32] rajrao commented on #414
I have found that the following code in a separate project will cause the "Could not load type" error.

[code]
Use version 6.0.0 of the "Microsoft Azure Service Bus" library.

I am unsure of how to fix it though, as the exception doesnt provide much info on why it couldnt load the library.
I did find this same issue with SignalR, but the fix didnt help: https://github.com/SignalR/SignalR/issues/35

[2020-01-18 21:21] rajrao commented on #414
The issue doesn't happen on another machine. So there must be an issue with some dlls on that machine.

[2020-01-20 06:45] yuhaii commented on #400
Hello @paolosalvatori , thanks for your confirmation. I am trying to get the PushChannelExpired value with NotificationHubClient.GetInstallation(String) method and put it into collectionQueryResult collection.

But this GetInstallation method need an installationId parameter. May I know how to get his value in GetRegistrations function?

![image](https://user-images.githubusercontent.com/39817657/

[2020-01-20 08:50] darrenshrwd commented on #375
@paolosalvatori Unfortunately, given people can just get by with old releases (or indeed the current release when I last looked) I realised I couldn't really justify any time on it.

[2020-01-20 15:28] paolosalvatori commented on #414
Can you check if you have an old version of the Microsoft.ServiceBus in the GAC? That might be the issue :)

[2020-01-21 16:37] rajrao commented on #414
It did turn out that I had a corrupted Microsoft.ServiceBus dll in my gac.

As it might help someone else, the fix is:
1. First try and cleanup registry by running:
`gacutil /u Microsoft.ServiceBus`
1. If that does not work, then you may have to clean your registry (proceed with caution):
    Look for "Microsoft.ServiceBus" in

    and delete just the "Microsoft.ServiceBus" entry.
1. Try uninstall

[2020-01-21 16:37] #414 closed

[2020-01-21 16:55] eugen-nw opened #415 "SBE is confused about the count of Active and Deadletter messages in 2 queues that I use"
The numbers next to the queue names show one thing, yet when I retrieve the two types of messages I get a different picture.

Could this behavior be caused by a bug in the tool or is that Service Bus namespace in some confused state?

![SBE](https://user-images.githubusercontent.com/15199814/72825198-760c4f80-3c2b-11ea-9f7d-32b63add0f6f.png)

![PS](https://user-images.githubusercontent.com/1519981

[2020-01-21 18:54] ErikMogensen commented on #414
@rajrao , great that you found the reason for the issue and thanks for putting the explanation here.

[2020-01-21 22:54] SeanFeldman commented on #415
What version of the tool are you using?

[2020-01-22 16:14] eugen-nw commented on #415
Thanks very much for looking into this!  I'm running the latest version.

![image](https://user-images.githubusercontent.com/15199814/72911552-1e371c80-3cef-11ea-8556-d5dd42769a7b.png)

[2020-01-22 19:11] SeanFeldman commented on #415
That's peculiar given [4.1.112](https://github.com/paolosalvatori/ServiceBusExplorer/releases/tag/4.1.112) is the last version we've released 🙂
I suspect that's an old version of the tool that didn't report version correctly.
Could you please try the [latest](https://github.com/paolosalvatori/ServiceBusExplorer/releases/tag/4.1.112) and see if that's still the case? Also, when you do that, please

[2020-01-22 19:38] kylefender commented on #415
Hi, I just came across this tool and ran into this exact problem. I used chocolately to install and that currently has 4.1.113 listed as the latest version. So is that the wrong install?

https://chocolatey.org/packages/ServiceBusExplorer

[2020-01-22 19:48] SeanFeldman commented on #415
@paolosalvatori @ErikMogensen any idea where that version is coming from? GitHub does not have a tag for 4.1.113 ([tags are auto-generated](https://github.com/paolosalvatori/ServiceBusExplorer/tags) when we release) and last released version was [4.1.112](https://github.com/paolosalvatori/ServiceBusExplorer/releases/tag/4.1.112).

Looking at the Chocolatey history, there's something goofed up.
![i

[2020-01-22 20:05] kylefender commented on #415
I don't understand how 113 was built before 112 but it looks like both releases were created from the same PR, but a day apart. Here's the AppVeyor information:

113 => https://ci.appveyor.com/project/seanfeldman/servicebusexplorer/builds/22992443
112 => https://ci.appveyor.com/project/seanfeldman/servicebusexplorer/builds/23001341

Here's the PR it was built from: https://github.com/paolosalvator

[2020-01-22 20:15] SeanFeldman commented on #415
Release 4.1.112 was a planned release and here's the PR: #314
Release 4.1.113 is a mystery unless the branch was merged into master.
We'll be switching to Release Flow and that will take these woes away.

I have unlisted 4.1.113. Back to the issue - could you try the version from GitHub and see if you run into this exact issue? Thank you.

[2020-01-22 20:37] kylefender commented on #415
I pulled down the release from GH and I am no longer receiving the error. It could have also been user error in that I wasn't refreshing the treeview UI on the left before retrieving the messages.

I don't know if the OP is still having trouble.

Thanks for your help!

[2020-01-22 21:34] eugen-nw commented on #415
Thanks very much!  I downloaded and installed 4.1.112 and that also has issues with messages in the 'request2' queue:

![image](https://user-images.githubusercontent.com/15199814/72936123-75eb7d00-3d1b-11ea-8ad8-e7f8d993d2e7.png)

![image](https://user-images.githubusercontent.com/15199814/72936360-e1cde580-3d1b-11ea-83f7-596314d66298.png)

[2020-01-22 22:06] eugen-nw commented on #415
I'm following this issue with Microsoft as well and they suspect that SBE's Peek is returning some cached messages.  'Receive and Delete' on the request2 queue returned 0, but if I do a Peek right afterwards, I see those 15 messages again.

[2020-01-22 22:27] SeanFeldman commented on #415
@eugen-nw that could be a bug. I've tried the following and didn't get the issue you're running into.
1. Have 3 messages in a queue `test`
1. Select the queue
1. Click <kbd>Messages</kbd>
1. Select `Receive and Delete` and click <kbd>ok</kbd>
1. Click <kbd>Messages</kbd>
1. Select `Peek` and click <kbd>ok</kbd>

My output looks OK
![image](https://user-images.githubusercontent.com/1309622/72940176

[2020-01-22 22:30] eugen-nw commented on #415
This is the first time I'm seeing this erratic behavior, you may want to connect to the message queue in question.  Could you please send me an email to edaroczy@boldiq.com?

[2020-01-22 23:25] SeanFeldman commented on #415
Got to repro this. Also noticed your queues are express queues.
![image](https://user-images.githubusercontent.com/1309622/72943645-d981a480-3d33-11ea-8ddb-444c6f016b68.png)

Could you try the same repro steps on a queue that is **not** express (`Enable Express` is not checked off).

[2020-01-22 23:48] eugen-nw commented on #415
Thank very much @SeanFeldman  I tried Peek-ing the Active and Deadletter Queue messages on the 'requests3' queue.  Both returned 0.  What else would you like me to try, use this queue for a while?

[2020-01-23 00:10] rajrao opened #416 "Document the commandline options that ServiceBusExplorer supports"
It would be good for SBE to tell the user the different options it supports at the command line (/c, /n, /t, /q, /s)
This is currently available in docs/documentation.md, but would be nicer if it were available via the application directly.

[2020-01-23 00:12] SeanFeldman commented on #415
Yeah, use this queue and see if you can repro the issue. If not, that means the problem is with the Express entity on the broker side and raising an issue with the ASB broker repository linking to this thread would close this issue.

[2020-01-23 22:20] ErikMogensen commented on #415
@eugen-nw , Please increase the values for Server timeout and Receive timeout and check if that makes a difference.

If that didn't help please turn on "Enable batched operations" and Update. Then turn off "Enable batched operations" and Update again. That will trigger a reset of the broker(s) which may fix the problem.

[2020-01-27 23:16] eugen-nw commented on #415
Thanks @ErikMogensen  I'm afraid that I cannot change those timeouts.  I did not see the option in either of:
- the Azure portal
- SBE
- resources.azure.com

[2020-01-28 07:03] ErikMogensen commented on #415
Those are SBE settings. They are located in the View | Options dialog.

Change the "Enable batched operations" setting from SBE too. It is a setting on the queue.

[2020-01-28 16:52] eugen-nw commented on #415
Thanks very much @ErikMogensen!  I set both values to 10 seconds.

[2020-01-28 16:59] eugen-nw commented on #415
Is "Enable batched operations" ON/OFF the only queue setting that resets the brokers please?

[2020-01-28 17:12] ErikMogensen commented on #415
I guess 10 seconds didn't help. Try 60 seconds for both values.

There are other settings that will reset the brokers but they may cause a bigger change. Enable Batched Operations has worked for me.

If this is a Premium namespace that may not work. It sounds like this is a partitioned, standard namespace though.

[2020-01-29 16:28] eugen-nw commented on #415
Yes, it is a Standard & Partitioned queue.  SBE seems to work now, the displayed counts of messages next to the queue's name matches the counts returned by the two "Receive [Deadletter Queue] Messages" commands .  I am down to using only my original "requests" queue.

So in conclusion, this is what we've done to it in order to get it to work.  All within SBE.

1.  "Enable Express" went into unchec

[2020-01-29 18:56] ErikMogensen opened #420 "The default values for server and receive timeout should be increased"
Increase the default values for server and receive timeout. I suggest setting them to 30 seconds each.

[2020-01-29 18:59] ErikMogensen commented on #415
Good that you put the steps and the result here. I would expect that that turning off Express would reset the brokers, but perhaps it needed multiple resets or it was the timeout increases that made it work.

I just created an issue for increasing these timeouts, #420 .

[2020-01-29 20:34] SeanFeldman commented on #415
Rarely I've seen "Enable Express" needed.

[2020-01-29 20:38] SeanFeldman commented on #420
Receive timeout is set to 1 second, which is short indeed. Are 30 seconds needed though? x10 increase should suffice IMO. Server timeout set to 30 seconds sounds reasonable.

[2020-02-17 00:06] rajrao commented on #375
What do you guys think about fixing this by parsing the connString and if it has an entityPath then extract it and set it as the topic and queue filter paths?

[2020-02-17 00:09] rajrao commented on #416
Complete

[2020-02-17 00:09] rajrao commented on #416
Completed

[2020-02-17 00:09] #416 closed

[2020-02-17 10:36] paolosalvatori commented on #400
Hi @yuhaii can you please look at the documentation at https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-registration-management. Unfortunately I'm quite busy and I'm not familiar with the latest version of the Notification Hub client SDK. Sorry about that!

[2020-02-17 10:56] paolosalvatori commented on #415
Sorry guys to get to the discussion quite late, but as @ErikMogensen can confirm, I was quite busy in the last few weeks. @eugen-nw, @SeanFeldman, @kylefender  an I proceed and close the issue?

[2020-02-17 10:57] paolosalvatori commented on #416
Thanks @rajrao

[2020-02-17 10:59] #270 closed

[2020-02-17 11:18] paolosalvatori commented on #375
Hi @rajrao we could do that, but the connection string should contain the management claim for the entity in question. Now, the code still uses the NamespaceManager from the old client Microsoft.ServiceBus client SDK, so I don't know if this enough and allowed, we should check! So you the bandwidth to give it a try? :)

[2020-02-17 13:04] #415 closed

[2020-02-17 16:37] rajrao commented on #375
This looks like its already working correctly. I had to remove the check on the entityName check and also fix an issue with FilterOutException (which must have happened when the code was changed to be async). After that it works! The only thing is that it spits out an ugly error as it spits out the whole stack (not just the message). Thought of changing that, but the entire stack can be nice!

Tes

[2020-02-18 07:01] paolosalvatori commented on #375
Thanks for the checking @rajrao :)

[2020-02-18 07:01] #375 closed

[2020-02-19 03:35] rajrao opened #423 "Closing the DeadLetterQueue message diaglog causes a refresh of Queues and Topics"
Everytime the Repair and Submit message dialog is closed for DeadLetter messages, it causes a refresh of Queues and Topics. (In our case, we have close to 100 topics and the refresh process takes a long time.

The refresh seems be done only for DeadLetter messages and is done by the following 2 lines:

[code]
See this line for an examlple [HandleSubscriptionControl](https://github.com/paolosalvato

[2020-02-25 16:10] markdreyer opened #424 "Azure Active Directory Login Support"
Can I connect with my current windows identity or client ID and secret as in the following documentation:

https://docs.microsoft.com/en-us/azure/service-bus-messaging/authenticate-application

The only options I see are connection strings. I would be willing to implement this feature if it's not on anyone's radar yet.

[2020-02-25 18:33] ErikMogensen commented on #424
This is something that's already started. There is an issue for it, #392 and the associated PR is #394. It was quite close to merging but there was a major change to the whole code base in Service Bus Explorer so the PR needed to be modified.

Perhaps you can contribute to it anyway?

[2020-02-26 01:09] markdreyer commented on #424
Thanks, Erik. I'd be happy to take a look at contributing to the existing
PR.

On Tue, Feb 25, 2020, 12:33 PM Erik Mogensen <notifications@github.com>
wrote:

[2020-02-29 23:21] rajrao opened #425 "Bad json (duplicate keys) are ignored silently"
Malformed JSON is consumed by SBE and because of a change in JSON.net, silently consumes the bad json and shows the converted JSON

[code]

Causes SBE to display the json as

[code]
Expected: SBE should show the actual JSON in the body, as otherwise, one would wrongly assume the sender is sending valid data. (In my case, we were sending this payload to a java consumer and it was throwing an error,

[2020-03-01 05:08] rajrao commented on #425
Wrote a test that shows the current behavior

[code]

[code]

[2020-03-02 19:57] #425 closed

[2020-03-02 19:59] ErikMogensen commented on #423
Closing this since you provided a fix.

[2020-03-02 19:59] #423 closed

[2020-03-03 21:10] kart33k opened #428 "Issue when importing entities with filters with and without correlationid"
Hi,

I am using ServiceBusExplorer-4.1.112.
When trying to import Entites with rules for Topics getting an error
"the key is not found in the dictionary"
When went though the code found this line in "ImportExportHelper.cs"
`string Correlationid = "Correlationid";`
[code]

Its not able to find CorrelationId with a capital "I".
It works if changed to
`string CorrelationId = "CorrelationId";`
And thi

[2020-03-12 12:51] Greybird commented on #396
Hi @ErikMogensen,

I just took a look at this issue, but I have trouble figuring out how to store this information, as currently, the TransportType is part of the connection string stored in the settings.
As both versions of the SDK are using the TransportType name for these two different concepts, I'm not sure how to handle this.

One way could be to store the data as part of the connection strin

[2020-03-13 14:42] StepeCZ opened #431 "Sending message from files is broken"
I assume this feature is meant to support case when I have lets say 100 messages, each stored in text/json/xml file and need to publish them on the queue.

How it works:

1. Right-click queue I want to publish to and choose "Send Messages" option
2. I switch to Files tab and then load all files using "Select Files" button
3. I want to send them so I click "Start" button
4. First bug is - the UI co

[2020-03-15 01:16] SeanFeldman commented on #431
I didn't have much time to investigate this, but there is a whole slew of issues with this functionality that result in this bug.

1. The message body is saved as `message` but when deserialized is expected to be `content`
1. User properties are not saved correctly.
1. Exceptions during deserialization of the read files are swallowed and not presented.
1. When deserialization exception is taking t

[2020-03-15 01:17] SeanFeldman opened #432 "Saving messages does not persist it correctly"
Related to #431

Saving messages results in an incorrectly serialized JSON file. User properties and body are not stored correctly.

[2020-03-15 12:10] ErikMogensen commented on #396
Even though [TransportType](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.servicebusconnection.transporttype?view=azure-dotnet#Microsoft_Azure_ServiceBus_ServiceBusConnection_TransportType) is a property of the ServiceBusConnectionString class I think it should be treated as an application wide setting, just like the ConnectivityMode setting for the old client. We may have

[2020-03-15 14:42] Greybird commented on #396
Thanks for your answer. Will wait for #433 to be approved to see how I could make this work.

[2020-03-18 15:19] #403 closed

[2020-03-18 18:47] Greybird commented on #396
@ErikMogensen : just pushed a proposal.
This should do the trick.

[2020-03-23 17:19] #396 closed

[2020-03-28 01:47] SoucianceEqdamRashti opened #438 "Sending a message gives error"
Hello,

First of all great tool!

However a strange started to occur today. I got these errors when I am trying to send a message:
<02:42:15> Exception: Could not load type 'Microsoft.ServiceBus.Messaging.MessagingEntityClient' from assembly 'Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.

I have download it from the github site, the ServiceBus.dll is in

[2020-03-28 01:54] SeanFeldman commented on #438
Did you get from https://github.com/paolosalvatori/ServiceBusExplorer/releases/tag/4.1.112 ?

[2020-03-28 09:54] SoucianceEqdamRashti commented on #438
Yes I did get it from your GitHub link. The release. And that version.

[2020-03-28 11:09] SoucianceEqdamRashti commented on #438
I tried it now from another computer and from there it works. The only difference I can tell is that on the one that works, it doesn't have the latest windows 10 updates. But anyway it is a local problem I guess. So I will close this.

[2020-03-28 11:09] #438 closed

[2020-03-30 09:45] paolosalvatori commented on #438
Thanks @SoucianceEqdamRashti for the feedback and thanks @SeanFeldman for helping here :)

[2020-04-07 18:20] beaubgosse opened #440 "Support High DPI Scaling"
Seems like the app doesn't scale properly and has somewhat blurry text when scaled for high DPI screens.

Is this something anyone has looked at before? I tried fixing the issue following these steps and it mostly worked:
https://docs.microsoft.com/en-us/dotnet/framework/winforms/high-dpi-support-in-windows-forms

But that would require upgrading to .Net 4.7; is that something we could do?

Also,

[2020-04-08 19:42] ErikMogensen commented on #440
Oh, I hadn't noticed. Perhaps the PR #362 will help? Please take a look at it.

[2020-04-08 20:10] beaubgosse commented on #440
Cool. I think that PR fixes the issue at least from my initial testing. I'll reply in that PR. Or do we want that PR to reference this issue? I've updated this issue with before an after pictures of the scaling problem.

[2020-04-08 20:13] ErikMogensen commented on #440
Let that PR reference this issue if you have tested it and it makes it better.

[2020-04-08 20:18] beaubgosse commented on #440
Let me put in a real connection string and test all the different views. Also it might be nice if someone on Windows 7 tested this since scaling support is different.

[2020-04-10 17:04] seanmcne opened #441 "Unable to export messages from the Event Hub Listener"
I'm unable to export from the eventhub listener - this is a default/vanilla eventhub - not sure what str is null, partition key maybe?

I'm assuming it's a bug expecting data where data isn't otherwise required?

![image](https://user-images.githubusercontent.com/2292260/79007476-dcb15300-7b20-11ea-9a53-b8ba3eabbfb3.png)

![image](https://user-images.githubusercontent.com/2292260/79007497-e63abb00

[2020-04-13 08:24] rahulseth01 commented on #297
Hi,
Please let know any update of this bug. Can this be picked up on priority as it is delaying entire process while analyzing dead-lettered messages

[2020-04-13 13:29] seanmcne commented on #441
Appears to be duplicate / same issue as #388

[2020-04-13 16:33] ErikMogensen commented on #441
I am unable to reproduce this. You are probably right about the partition key being null. Are you able to reproduce this using the Send Events functionality that you can start from the Event Hub node within Service Bus Explorer? With and Without a partition key?

![image](https://user-images.githubusercontent.com/9644248/79138640-23b77680-7db5-11ea-9f1e-d75be9db31c7.png)

[2020-04-13 18:56] ErikMogensen commented on #297
There is an issue with some older versions of Service Bus Explorer incorrectly reporting as being the latest version. So please make a screen shot of the About box and put it in this thread to help us determine the actual version you are using.

Service Bus Explorer is 100% community driven so there are no dedicated developers.

[2020-04-14 18:21] rahulseth01 commented on #297
Thank you Eric. I do understand its a community driven and really appreciate the hard work being put by you all.
My only intention was to bring this bug up to the notice as its been quite long.
I am hereby attaching the required screenshot.

P.S: The topic refresh get triggered only when dead-letter message-box is closed (either on clicking on close button or X button) not when normal message-box

[2020-04-14 19:46] ErikMogensen commented on #297
Yes, you are using the latest release. There are some commits concerning this after the 4.1.112 release. @rahulseth01 , have you tried build the develop branch and testing that?

[2020-04-15 05:56] rahulseth01 commented on #297
Thanks Eric. Yes it works perfectly fine on develop branch.

[2020-04-22 18:19] sdg002 opened #443 "Allow peeking scheduled messages on topics"
These are scheduled messages that have been sent to a Topic . They have not been received by any subscription.

The tool nicely shows the count. It would be good to have a feature that allows us to peek into their contents.

Thank you for the wonderful tool

![image](https://user-images.githubusercontent.com/20245330/80018648-39701e80-84ce-11ea-8086-21747a958809.png)

[2020-04-22 20:51] SeanFeldman commented on #443
AFAIK, it's not possible. A topic behind the scenes is a queue, but there's no API to query it (peek messages). So while you can read a topic metadata and see that there's a scheduled in the future event/message, you cannot query those. I would suggest making a feature request from the broker team https://github.com/Azure/azure-service-bus/issues.

[2020-04-23 14:21] sdg002 commented on #443
@SeanFeldman
I struggled for a while and then found this .NET Framework NUGET package  `Microsoft.ServiceBus` which allowed me to "peek" into the content of scheduled messages from a Topic

[code]

[2020-04-23 15:12] SeanFeldman commented on #443
Thank you @sdg002. This is the old library that this project is using. So technically it should be possible then. Though I am surprised it is... a topic logically should not be the same as a queue. The implementation details of the broker seem to be leaking out. I'll play around with it and follow up. Thank you again.

[2020-04-23 18:07] SeanFeldman commented on #443
You're right. It's possible to peek and cancel scheduled messages published to a topic.
I really questioning this feature request as it breaks the paradigm of what topic is and relies on the internal implementation of topics that could be changed (unlikely, but could). Though it's my opinion.

@paolosalvatori, @ErikMogensen, what do you think about this feature request?

[2020-04-24 05:21] ErikMogensen commented on #443
I think we should have this as a feature, but in the GUI it should say Unsupported since, as you wrote, it may stop working anytime.

Does it work with queues too?

[2020-04-24 06:19] SeanFeldman commented on #443
Has always worked with queues. A non-scheduled message that would be forwarded to a subscription would never be available on the topic. A scheduled message cannot be retried from a topic, results in an error. But peeking works. And peek operation is the same as receive operation, minus the settlement. I've yet to confirm if this is a bug, but the point is not wherever it worked with queues or not,

[2020-04-24 13:10] paolosalvatori commented on #443
What about sending this issue to Clemens Vasters, so he can decide if this the expected or an unwanted behavior?

[2020-04-24 13:16] paolosalvatori commented on #297
Thanks @ErikMogensen! @rahulseth01 can I close the issue?

[2020-04-24 13:18] paolosalvatori commented on #441
@seanmcne can you please see if you experience the same problem when events contain a partition key? If the answer is no, probably the root cause is partitionKey == null.

[2020-04-24 13:21] paolosalvatori commented on #440
Thanks @ErikMogensen  and @beaubgosse and sorry for coming late to the conversation :) Can I close the issue?

[2020-04-24 14:12] rahulseth01 commented on #297
Yes it can be closed. Btw when are you planning to cut one release from develop branch?

[2020-04-24 19:10] SeanFeldman commented on #443
I am not sure why to ping Clemens. That's why I've raised a [broker issue](https://github.com/Azure/azure-service-bus/issues/352). This way the team is notified, it's public, and when they respond (publicly) we'll know wherever it is an unintended behaviour and will be addressed or expected and will remain as-is.

[2020-04-25 07:17] ErikMogensen commented on #440
No, as @beaubgosse writes in PR #362 it is not fixed. We need someone with a 4K monitor and knowledgeable in WinForms to fix this.

[2020-04-25 07:29] ErikMogensen commented on #297
As I see it, once #410 and #411 are solved.

[2020-04-25 07:29] #297 closed

[2020-04-25 07:36] ErikMogensen commented on #248
It may be due to timeouts. There is one timeout that by default is set to 1 second. @japicket and @davidwmartines please increase the Service Bus Explorer timeout settings and report back here whether that solves the this issue or not

[2020-04-25 07:47] ErikMogensen commented on #357
Unfortunately that is how it works when you use SAS to connect to Service Bus. However about a year ago the ability to authenticate using Azure AD credentials was added to Service Bus. There is a PR for adding that functionality to Service Bus Explorer, #394. Using Azure AD credentials I am pretty sure that there will be logs for such things you are describing.

Do you want to Service Bus Explorer

[2020-04-25 08:12] ErikMogensen commented on #356
This may be a timeout issue, see #420. Does it still happen if you increase the timouts?

[2020-04-25 08:19] ErikMogensen commented on #358
@evilbaschdi , this can be closed, right?

[2020-04-25 08:32] ErikMogensen commented on #343
Fixed in #434

[2020-04-25 08:32] #343 closed

[2020-04-25 08:39] ErikMogensen commented on #363
Closing this since it seems to be solved.

[2020-04-25 08:39] #363 closed

[2020-04-25 08:42] ErikMogensen commented on #264
@rabrahamOpti , is this working properly now?

[2020-04-25 08:47] evilbaschdi commented on #358
since I din't even know this is still open ... yes, can be closed :-)

[2020-04-25 08:47] #358 closed

[2020-04-27 12:53] rabrahamOpti commented on #264
I already have the package installed, but it looks like case sensitivity is no longer an issue:

[code]

[2020-04-27 12:55] tomkerkhove commented on #264
Let's close it then, thanks for letting us know!

[2020-04-27 12:55] #264 closed

[2020-04-27 14:54] ErikMogensen commented on #264
Thanks for verifying, @rabrahamOpti !

[2020-04-28 16:27] brannon commented on #397
Hi @ErikMogensen,

@paolosalvatori made me aware of this issue. I'm a good contact for Notification Hubs issues/questions.

That version you referenced above was unlisted on 3/23/2015 and replaced with the 1.0.0 version. The 2.16.x version was based on the same code, but was mistakenly listed with the wrong version number.

If you require the Namespace and Hub Management functionality, I would rec

[2020-04-28 19:09] ErikMogensen opened #444 "The Options window is too small"
It looks like someone has been editing the OptionForm with Automatic scaling turned on. When running SBE on my laptop the Options window is missing its bottom part including OK and Cancel buttons.
![image](https://user-images.githubusercontent.com/9644248/80527263-5e640600-8994-11ea-87b8-0313f91472c5.png)

[2020-04-28 19:36] ErikMogensen commented on #397
That is excellent information, thanks!

We'll switch to 1.0.9 then. I assume the next version is based on .NET Standard. As we are gradually migrating to .NET Standard we'll start using the next version once it is released.

[2020-04-29 15:59] paolosalvatori commented on #397
Thanks @brannon for the heads up, please make sure to ping me when you re-introduce the management functionality in the regular SDK :)

[2020-05-01 09:07] ErikMogensen opened #447 "Exception when handling proxy settings"
An exception is thrown in MainForm.cs when the Override proxy checkbox is on and a proxy host is not set.

[2020-05-01 11:48] ErikMogensen commented on #128
In case anyone ends up here when searching for this error, the solution for me was to use the connection string from the **Notification Hub Namespace** and not the Notification Hub when copying it from the Azure Portal.

[2020-05-05 18:41] cirino-gomez commented on #128
As @ErikMogensen said, it works with the RootManageSharedAccessKey :-) Thanks for this amazing tool 🥇

[2020-05-06 08:27] paolosalvatori commented on #128
Thanks for the positive feedback @cirino-gomez :)

[2020-05-06 08:28] #397 closed

[2020-05-06 08:29] #447 closed

[2020-05-06 08:29] #444 closed

[2020-05-06 09:29] paolosalvatori commented on #357
Let me add that Service Bus Explorer needs a Shared Access Signature token with the manage claim, otherwise it cannot browse entities. In theory, you could also specify Shared Access Signature tokens for individual entities, but this is not supported by the tool.

Regarding the Azure AD support, we need to migrate the entire tool to the new client library which supports Azure AD authentication.

R

[2020-05-06 09:30] #248 closed

[2020-05-06 09:31] paolosalvatori commented on #440
Feel free to reopen the issue, for the moment I will close it.

[2020-05-06 09:33] paolosalvatori commented on #443
@SeanFeldman sounds good, I've seen that Ashish has replied to you, so we are in good shape.

[2020-05-06 09:34] paolosalvatori commented on #424
Closing the issue. Feel free to reopen it!

[2020-05-06 09:34] #424 closed

[2020-05-06 09:39] paolosalvatori commented on #428
Hi @kart33k sorry for the huge delay, could you fork the code, make a change in your branch and submit a PR? Thanks :)

[2020-05-12 18:34] manish-jain-1 opened #450 "PeekBatch Support"
I am new to this tool. I want to check all messages without receive&delete for testing purposes. Is it possible with this tool? I was able to peek the last message but not all. I believe there is an [API](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.queueclient.peekbatchasync?view=azure-dotnet#Microsoft_ServiceBus_Messaging_QueueClient_PeekBatchAsync_System_Int64_Syst

[2020-05-12 20:14] SeanFeldman commented on #450
Yes, you can **peek** any number of messages.
Please see the https://github.com/paolosalvatori/ServiceBusExplorer/blob/develop/docs/documentation.md, specifically the sections called "Peek and Receive Active Messages: "

[2020-05-12 20:14] #450 closed

[2020-05-14 11:57] guibirow commented on #290
I there any technical limitation that prevents opening two namespaces at once into a single SBE instance?

[2020-05-14 15:00] ErikMogensen commented on #290
The code is just structured that way. It would take some effort to enable multiple instances.  The workaround is, as Sean mentioned, to use multiple instances of SBE.

This request has been raised before so it is a popular request but since the workaround is pretty good I think this is a low priority issue. But feel free to create a PR for it.

[2020-05-14 16:36] abhikt48 opened #451 ""Cannot decode String in UTF-8" error while repairing message"
Hi Team,

We are facing "Cannot decode String in UTF-8" issue while repair message. We faced this issue in two cases

1. Resubmit selected messages in batch mode
2. Repair and Resubmit message with String, WCF, ByteArray body type

**Steps to reproduce issue for first case**
1. Publish 4-5 message with **qpid JMS client** as **String**
2. Receive message with qpid JMS client but do not acknowledge

[2020-05-15 08:01] paolosalvatori commented on #290
The tool uses a treeview control to show the items contained in a Service Bus or Event Hubs namespace. When you click Ok in the connect form, the tool retrieves all the entities from the namespace and creates nodes under the treeview. Now, if you want the tool to handle multiple namespaces at the same time, the tool should be extended to manage multiple treeviews, one for each namespace. This requ

[2020-05-15 08:07] paolosalvatori commented on #451
Thanks for the detailed description of the issue. To make a quick recap, when resubmitting messages from the deadletter queue of a queue or subscription, no matter if you resubmit messages one at the time or in batch mode, and no matter the message type (string, WCF, bytearray) you select, you get the "Cannot decode String in UTF-8", right?
I assume that if you just receive the message from the qu

[2020-05-15 09:48] abhikt48 commented on #451
@paolosalvatori  - Thanks for quick update. Please find below details.

prerequisite - message should be sent by Qpid JMS client as String/Text message(javax.jms.TextMessage)

If we submit one message at a time with **Stream** body type then there is no issue. But,
1. If we submit one message at a time with **string, WCF, ByteArray** body type then there is "Cannot decode String in UTF-8" issue.
2

[2020-05-15 10:16] dustyghost opened #452 "Endswith in topic filter does not work"
You can filter on a topic that starts with a string, but would like to filter on topics that end with a string
![image](https://user-images.githubusercontent.com/10135321/82039700-4cc17480-969d-11ea-8685-e89b0c351ada.png)

[2020-05-19 15:18] abhikt48 commented on #451
@paolosalvatori

Did you get chance to look on this issue? Is it possible for you to provide fix on this issue?

[2020-05-19 19:31] SeanFeldman commented on #286
While not exactly what folks were asking here, the cross-platform tool for ASB is becoming more of the reality with Microsoft's new SBExplorer for the portal.

https://twitter.com/sfeldman/status/1262823820311715845?s=20
![image](https://user-images.githubusercontent.com/1309622/82369866-e60dc500-99d4-11ea-82a8-7e28d277e873.png)

https://twitter.com/sfeldman/status/1262824887648837632?s=20
![image

[2020-05-21 09:05] abhikt48 commented on #451
Hey @paolosalvatori ,

I was doing testing and found ContentType also plays an important role for reproducing this issue. Please find below details and let me know for any information.

If you want to set content type with Qpid JMS, then please find below code snippet for setting content type.

**Use Cases**
<img width="681" alt="UTf8-issue" src="https://user-images.githubusercontent.com/22897837/

[2020-05-22 20:35] craig-wagner opened #453 "Will the real 4.1.112 please stand up?"
I have a copy of Service Bus Explorer on my machine that indicates in the title bar is is 4.1.112. The About window looks like this.

![image](https://user-images.githubusercontent.com/729617/82707430-e30f1080-9c30-11ea-80e3-e36f6ea824de.png)

I downloaded the 4.1.112 from the Releases section of this repository. Its About window looks like this.

![image](https://user-images.githubusercontent.com

[2020-05-23 19:39] SeanFeldman commented on #453
As a compiled version or as code and you compile it?
The 2nd screenshot looks as what you get when you download the latest from the latest release page.
https://github.com/paolosalvatori/ServiceBusExplorer/releases/latest

[2020-05-24 19:03] ErikMogensen commented on #453
To add to Sean's answer, there were a couple of releases where the tool would make a call to a GitHub API to get the version number from the latest release and then display that. The first screenshot must be from one of those releases.

If you build it from the current develop branch to get the latest bits it will say that the version number is 1.0.0.

[2020-05-24 19:27] ErikMogensen commented on #410
To find out which files are needed I intend to test SBE on the latest release of the following OSes:

- Windows 10
- Windows Server 2016
- Windows Server 2019

I know that Windows 7 and 8.1 are missing. If anyone wants to run SBE on any of those OSes, reply in this thread.

[2020-05-24 22:32] SeanFeldman commented on #410
My vote would be dropping support for those OSes.

[2020-05-25 07:44] paolosalvatori commented on #410
Agreed, let's stop supporting Windows 7 and Windows 8. If Microsoft stopped supporting these OSes, I don't see why we have to continue to support them :)

[2020-05-25 07:46] paolosalvatori commented on #453
Hi @craig-wagner let us know if Erik and Sean' replies were exhaustive and if we can proceed and close the issue :)

[2020-05-25 07:51] paolosalvatori commented on #451
Thanks a lot @abhikt48 for the very detailed analysis! Now, since ContentType plays a role and you get errors only when using application/json or text/json ContentType, do you think we should try to find a fix, or are you ok to close the issue as you know what are the combinations that work as expected with no issues?

[2020-05-25 07:56] paolosalvatori commented on #286
@SeanFeldman I think this a big step ahead in the right direction even if it does not provide all the features of the Service Bus Explorer ex. Thanks to @clemensv @axisc and all the Service Bus team for integrating the Service Bus Explorer in the portal :)

[2020-05-25 14:11] craig-wagner commented on #453
It's been there for quite some time so I don't remember for sure. I think at some point I downloaded source and built it, but I no longer have that source.

It is. Sorry, tried to make that clear in the line before the screenshot.

[2020-05-25 14:22] craig-wagner commented on #453
Okay, I think I've got it.

The executable version I've had for a while now (first About window) is mostly likely calling itself 4.1.112 because it's just asking GitHub what the latest release is.

Downloading the zip of the 4.1.112 from the releases page *is* the actual latest version.

Downloading source and building the "develop" branch tells me it's 1.0.0, which I'm assuming will change to 4.x

[2020-05-25 14:22] #453 closed

[2020-05-25 15:13] SeanFeldman commented on #286
I suggest we close this issue. Any objections?

[2020-05-25 15:23] grahambunce commented on #286
@SeanFeldman on what basis? It’s good that there is something in the azure portal, but it’s not on a par with SBE nor is the same approach taken by the azure storage explorer or azure data studio (both excellent xplat products that I use daily on MacOS).

I know this task is hard and unlikely to happen but relying on the portal approach just seems plain wrong IMO

[2020-05-25 15:44] SeanFeldman commented on #286
This project is driven by volunteers. I have not seen anyone peeking up this task or giving a hand to @ErikMogensen. When it comes to feature requests, there are multiple people to back it up. When it comes to contributions, the number plunges. The status of this issue is a good indication.

I think you're missing an important point. That's exactly the route Microsoft is taking. Portal SBE can be

[2020-05-25 15:50] grahambunce commented on #286
@SeanFeldman i guess the point about it being around for the sake of it, is fair enough.

SBE is excellent, but if MS are delivering an xplat alternative that doesn’t need the portal then SBE will naturally be replaced by the MS version

[2020-05-25 16:04] paolosalvatori commented on #286
Hi @grahambunce I created SBE, initially as a sample, in 2012. I continued to develop the tool based on my ideas and customer requirements. In 2016 I moved the tool to GitHub to open it up to others' contributions and make is a real OSS tool. This tool is not officially supported by Microsoft, even if I'm a Microsoft employee. It comes without saying that the Service Bus sustained this effort. Now

[2020-05-25 17:02] SeanFeldman commented on #286
@grahambunce, I don't know when or if it will happen, but it makes sense for Microsoft to continue developing the portal tool. It's just a preview at this moment and already covers what I'd imagine is 5--60% of the scenarios an average SBE user requires. Yes, it's not perfect and lacks many features, but it's the first release since ASB existed. I'm sure it will only get better with the time.

In

[2020-05-26 07:58] paolosalvatori commented on #286
Thanks @SeanFeldman, nothing much to add here, your words reflect my spirit and my thinking. :) Closing this issue.

[2020-05-26 09:36] abhikt48 commented on #451
@paolosalvatori  Thanks for update. We definitely need fix for this issue. Please apply fix for above 3 cases where we are getting UTF8 error.

Just FYI - We got this issue in PROD environment where we are using ServiceBus explorer for replay messages. Our lot of scenarios matches above conditions, so we definitely need fix.

Please let me know if you need any other information.

[2020-06-01 03:38] SeanFeldman opened #455 "Register with WinGet when .zip installation type is supported"
Blocking issue: https://github.com/microsoft/winget-cli/issues/140

[2020-06-01 19:04] ErikMogensen commented on #455
By WinGet, do you mean https://github.com/microsoft/winget-cli? It seems to be a way of installing applications. What would the advantage be compared to Chocolatey?

[2020-06-01 19:17] SeanFeldman commented on #455
WinGet is a new Windows Package Manager. The link is the repo the client source. SBE manifest would be registered against https://github.com/microsoft/winget-pkgs.

Baked into the ecosystem and promoted by Microsoft.

[2020-06-01 19:17] SeanFeldman commented on #455
Also, this suggestion is not a replacement for Chocolatey.

[2020-06-12 16:48] kavitam20 opened #456 "Failed to retrieve EventHub entities. Exception: Microsoft.ServiceBus.Messaging.MessagingException"
On Azure NotificationHub Namespace, I have given "Manage, Send, Listen" permission in RootManageSharedAccessKey access policy. This is used in ServiceBus Explorer Connection string.
I am using Microsoft CSP account.  I tried all permission options, but don't know where access is missing?

And when I tried to get Registrations for "All", I get exception as
"<22:07:27> InnerException: The remote ser

[2020-06-15 09:05] kavitam20 commented on #456
Can you please take a look?  Here is the snapshot of Service Bus window  https://drive.google.com/file/d/1FVlDcZFjV69jztlyDXevJjyn8q9lBRuO/view?usp=sharing

[2020-06-16 11:39] renaudLVLP commented on #456
Hi,

I experience exactly the same error :

**Failed to retrieve EventHub entities. Exception:** Microsoft.ServiceBus.Messaging.MessagingException: The remote server returned an error: (500) Internal Server Error. <Fault xmlns="http://schemas.microsoft.com/ws/2005/05/envelope/none"><Code><Value>Receiver</Value><Subcode><Value xmlns:a="http://schemas.microsoft.com/net/2005/12/windowscommunicationfo

[2020-06-16 15:27] ErikMogensen opened #457 "Not supported namespace types should be ignored"
When starting SBE it will check for five types of messaging artifacts. Newer namespaces may only contain one type and that will create exceptions when checking for the others. The workaround is to turn off the check for those messaging types.

In the new Service Bus SDK there is a Property on the NamespaceInfo class that hopefully reports the type,
https://docs.microsoft.com/en-us/dotnet/api/micro

[2020-06-16 15:29] ErikMogensen commented on #456
@kavitam20 , does the Notification Hub part work? Regarding the errors for the other messaging types, that's probably because your namespace is Notification Hubs only. Only old namespaces may have all four types of entities.

The workaround for this is to turn off those other messaging types. You do that in the dialog that you showed in the second figure.

I created #457 for fixing this. I am not

[2020-06-16 18:54] kavitam20 commented on #456
Thank you Erik. I tried with just Notification Hub and still getting below error.  I have given manage access to the ACS Key.  I used DefaultFullSharedAccessSignature of namespace.  See here https://drive.google.com/file/d/1FvMoi5TH2oLb8MYgPm6latngy5_8J9n6/view?usp=sharing

Error Log
---------------------------------------
<00:08:35> The file C:\Users\Kavita\Downloads\ServiceBusExplorer-4.1.112\Se

[2020-06-16 19:19] renaudLVLP commented on #456
Hi @ErikMogensen

I have increase the timeout (no timeout error anymore) and turnd off messaging types except notification hub (which is the one I want).

I have the following error

<21:16:51> Exception: One or more errors occurred.
<21:16:51> InnerException: The remote server returned an error: (500) Internal Server Error. <Fault xmlns="http://schemas.microsoft.com/ws/2005/05/envelope/none"><Cod

[2020-06-16 19:22] renaudLVLP commented on #456
@ErikMogensen what do you mean by kind of namespace ?

[2020-06-16 19:28] renaudLVLP commented on #456
@ErikMogensen search no more, I found the solution : I was using the connection string from hub and not from namespace ;)

[2020-06-16 19:30] renaudLVLP commented on #456
@ErikMogensen I spoke too fast ;) When I am trying to look at the registrations of my notification hub, I have the following error ... Any idea ?

<21:29:41> Exception: The remote server returned an error: (401) Unauthorized..TrackingId:83162e79-d7ce-4852-bdda-489cf32c660d,TimeStamp:16-06-20 19:29:41
<21:29:41> InnerException: The remote server returned an error: (401) Unauthorized.

[2020-06-16 19:39] renaudLVLP commented on #456
@ErikMogensen me again ... Restarting the tool fixed the issue ;)

[2020-06-16 20:50] ErikMogensen commented on #456
Glad it worked @renaudLVLP !

@kavitam20 , I believe you have the same root issue as @renaudLVLP. You should use the connection string from the Notification Hub Namespace and not the Notification Hub when copying it from the Azure Portal.

[2020-06-17 05:11] kavitam20 commented on #456
Thanks @ErikMogensen.  That corrected exception. However when i try get registrations, i get following exception. It doesn't show details on hub.

<10:35:25> The file C:\Users\Kavita\Downloads\ServiceBusExplorer-4.1.112\ServiceBusExplorer.exe.Config is used for the configuration settings.
<10:36:57> The application is now connected to the sb://shahugardenmns.servicebus.windows.net/ service bus nam

[2020-06-17 05:54] ErikMogensen commented on #456
Have you tried restarting SBE?

[2020-06-17 08:53] kavitam20 commented on #456
@ErikMogensen Yes, same error after restarting SBE. I am running ServiceBusExplorer-4.1.112 on Windows 10.

<14:15:44> The notification hub shahugardenmhub has been successfully retrieved.
<14:15:54> Exception: The remote server returned an error: (401) Unauthorized..TrackingId:e7fd512b-20fe-4659-8ff4-61544bca7e45,TimeStamp:6/17/2020 8:45:54 AM
<14:15:54> InnerException: The remote server returned

[2020-06-17 14:50] paolosalvatori commented on #456
I created the Notification Hub support in the tool years ago. Then, I stopped developing about 3-4 years ago, so I don't know if the issue is due to some changes in Microsoft.Azure.NotificationHubs module. It looks like the connection string that you are using contains the right claim to retrieve the notification hubs in the namespace, but not retrieve the registrations... this is strange... I jus

[2020-06-17 18:12] kavitam20 commented on #456
@paolosalvatori  thanks. Could this be due to its an CSP account?  ACS seems all good though.

[2020-06-17 20:13] ErikMogensen commented on #456
@kavitam20 , a couple of questions:

1. What is CSP and ACS?
2. Are you able to connect to other Notification hubs from the same machine?
3. Are you able to connect to a Service Bus namespace from this machine?
4. Could this be a proxy or firewall issue?

[2020-06-18 11:48] kavitam20 commented on #456
@ErikMogensen Please find details below.
1.  What is CSP and ACS?
   CSP is Microsoft Cloud Solution Provider account. Your account is created by microsoft partner.

   ACS is just Notification Namespace/Hub Access Policies ->
   https://drive.google.com/file/d/1Q6utyI42awd7aofBvzPmR784f3-nFR4V/view?usp=sharing

2. Are you able to connect to other Notification hubs from the same machine?
  No. All

[2020-06-18 11:51] renaudLVLP commented on #456
Kavitam,

We are CSP as well and it works for us ;)

Regards,

Renaud

Le jeu. 18 juin 2020 à 13:48, kavitam20 <notifications@github.com> a écrit :

--
Renaud Laloire - Head of software development
+32 496 62 92 27 <0032496629227>
+32 2 657 67 28 <003226576728>
www.levelapp.be

[2020-06-18 12:02] kavitam20 commented on #456
@renaudLVLP thanks. that may rule out csp issue. do you remember any access setting that is required for namespace or hub?

[2020-06-18 14:16] renaudLVLP commented on #456
Hi,

What I have done:

- Changing the connection string to the namespace one (not the hub)
- restart the app

... and it worked. Sorry to not be more helpful than this ;(

Regards,

Renaud

NB: I did increase the timeout but I am not sure if this is related

Le jeu. 18 juin 2020 à 14:02, kavitam20 <notifications@github.com> a écrit :

--
Renaud Laloire - Head of software development
+32 496 62 92

[2020-06-19 10:56] ErikMogensen commented on #456
@kavitam20 , I suggest the following:

To verify that there is connectivity on the SBMP or AMQP protocol and no network issues that you send some messages to a Service Bus queue and verify that they get there.

To verify or at lessen the risk that there is something wrong with the namespace that you create another Notification hub namespace and try with that. That will also lessen the risk of a co

[2020-06-19 11:32] kavitam20 commented on #456
Still no success with Service Bus Explorer.
Microsoft suggested using postman and i could fetch registration list with it. Here i need to first generate SAS token and use Get method.  For SAS token it uses access key of particular notification hub.
https://docs.microsoft.com/en-us/rest/api/notificationhubs/read-all-registrations

But why SBE is not able to fetch registration in that case?

[2020-06-19 11:44] paolosalvatori commented on #456
@kavitam20 did you try in the Connect form to explicitly set HTTPS instead of Auto Detect?

[2020-06-19 11:53] kavitam20 commented on #456
@paolosalvatori I just tried with both Namespace and Hub connection string and using https as connectivity method. It gave unauthorized error.

[2020-06-19 12:54] paolosalvatori commented on #456
Hi @kavitam20 can you please with another connection? It works for me with at least 2-3 different namespaces and with both Auto Detected or https (not HTTP) protocol

[2020-06-19 18:49] kavitam20 commented on #456
@paolosalvatori unfortunately no luck yet. I have created new sample test notification hub.  And it has same authorization issue with getting registration. if you would like to check, i can share keys.

[2020-06-23 15:50] abhikt48 commented on #451
@paolosalvatori  - Did you get chance to take a look on this issue?

[2020-06-24 11:11] kavitam20 commented on #456
@paolosalvatori it worked from other computer.  Could it be issue with my SBE installation or OS?  I am on windows10 enterprise.

[2020-06-29 17:34] sdg002 commented on #431
Firstly, I love your tool.

I wanted to simulate a concurrency scenario with one of our Azure worker function. I prepped the message payload files and with great eagerness proceeded to use the **File** tab.

But,  the tool would not allow me to send anything unless I filled in some text in the **Message Text** tab is filled in.

I am confused. If I select multiple files then why do I need to expli

[2020-07-01 00:00] AlexeyRaga opened #458 ".NET Core Support?"
Building it with .NET Core would be neat as it would enable multiple platforms and not only Windows ;)

[2020-07-02 04:24] SeanFeldman commented on #458
This tool is using Windows Forms for UI. AFAIK, Windows Forms technology is only supported on Windows.
Please see #286

[2020-07-02 04:24] #458 closed

[2020-07-05 22:15] thiagosoeiro opened #459 "Exception: Could not contact host in connection string""
I'm getting this error when trying to connect via Service Bus Explorer. My connection string is perfectly fine and works in my application. What may be wrong?

![CapturarSB](https://user-images.githubusercontent.com/9267122/86543368-2b8a4100-bef4-11ea-8bc4-338ab78856fc.PNG)

[2020-07-06 17:24] SeanFeldman commented on #343
@paolosalvatori, @ErikMogensen, this hasn't been released so I added a milestone to indicate where this change will appear.
I think we should release everything that is currently staged on the develop branch.

[2020-07-06 17:25] SeanFeldman commented on #459
I'd do the following to troubleshoot it
1. Validate that the connection works from a different environment (office, home, etc)
1. Check if you have a proxy in place that causes this. If so, you can [enable proxy](https://github.com/paolosalvatori/ServiceBusExplorer/pull/434) using the `develop` build compiled locally as it's not released yet.

[2020-07-07 05:25] ErikMogensen commented on #343
I agree. Since output from the develop branch is not backwards compatible (protocol and .NET version) I think the new release should be called 5.0.0.

[2020-07-07 05:27] SeanFeldman commented on #343
Ah, forgot about it. Go for it 👍

[2020-07-07 23:17] thiagosoeiro commented on #459
1. Yes, it works fine. It even works inside my own environment connecting from c# code.
2. No proxy at all.

[2020-07-08 09:18] ErikMogensen commented on #411
We should also add this information to the release on the release page. I suggest the following text:

Version 5.x.x uses the new Service Bus SDK in addition to the old SDK. The new SDK uses AMQP for communicating with the Service Bus service. Unless you change the TransportType to AmqpwebSockets it will use ports 5671 and 5672. The old SDK uses ports 9350 - 9354 by default.

The new Service Bus S

[2020-07-08 09:51] ErikMogensen commented on #459
That was strange. A couple of actions:

1. Please take a look at https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-troubleshooting-guide

Check ports:
80
443
9350 - 9354

2. Verify you are using the same ConnectivityMode in your C# program as in Service Bus Explorer.

3. Verify you are using the latest Service Bus Explorer version.

4. Double check your connection string.

5

[2020-07-09 07:49] SeanFeldman commented on #411
The problem with 'new' and 'old' language is that thanks to Microsoft, this is no longer stands true. I suggest using `track 0` and `track 1` names. Possibly referring to some explanation on those found [here](https://weblogs.asp.net/sfeldman/the-future-of-asb-dotnet-sdk).

[2020-07-09 10:55] ErikMogensen commented on #411
Good point and great article. Combining the information in the article with the names used in the [Service Bus Documention] (https://docs.microsoft.com/en-us/azure/service-bus-messaging/) I suggest the following text:

The current develop branch and the upcoming version 5.x.x uses the Track 1 (Microsoft.Azure.ServiceBus/Microsoft.Azure.ServiceBus (.NET Standard)) SDK in addition to the Track 0/Win

[2020-07-18 12:19] ErikMogensen commented on #459
@thiagosoeiro , have you made any progress?

[2020-07-18 12:30] ErikMogensen commented on #456
@kavitam20 , any progress?

Have you tried creating another namespace and tried connecting to that?

[2020-07-18 13:05] ErikMogensen commented on #452
SBE uses the GetTopicsAsync method for this, https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.namespacemanager.gettopicsasync?view=azure-dotnet#Microsoft_ServiceBus_NamespaceManager_GetTopicsAsync_System_String_.

The only function it supports is StartsWith.

[2020-07-20 02:41] aaronumerouno commented on #357
Hi @paolosalvatori Not sure if its been implemented yet but yes please include additional logging for CRUD operations of Queues,relays and topics to the service bus explorer i.e specially as who has initiated it. If SAS was used to connect and we cannot determine who maybe the current used logged in to the pc is logged?

[2020-07-21 21:11] aaronumerouno commented on #357
@paolosalvatori - im not sure if im doing incorrectly but I tried the configuration of diagnostic settings of my Service Bus Namespace but CRUD ops done in Service Bus explorer doesnt get logged to log analytics.

[2020-07-21 22:01] SeanFeldman commented on #357
@aaronumerouno, I would assume CRUD operations on entities in a namespace would be logged by the broker rather than SBE. Custom information, such WHO has initiated the operation will be tricky as it would rely on some information that doesn't necessarily always there or helpful. Would it be a machine name? Current user ID? What if the tool is used from a temporary VM? Would that user ID make any s

[2020-07-22 05:05] aaronumerouno commented on #357
Hi @SeanFeldman - you are right, I edited my response to Paolo,  log analytics logs only show in the column Caller_S as ServiceBus Client. I gave it some thought on how to record WHO has done the change, how about a force log in to Azure portal before being able to use SBE? then use that user login session to send CRUD logs to the Service Bus Namespace activity log, just an idea.  I am assuming th

[2020-07-22 06:40] dustyghost commented on #452
Thank you.

[2020-07-22 06:40] #452 closed

[2020-07-24 06:34] SeanFeldman commented on #357
Currently, SBE relies on a connection string to be able to use SB namespace(s). It doesn't use AAD authentication.

[2020-07-27 09:22] paolosalvatori commented on #357
Hi @aaronumerouno Service Bus Explorer is just one of the many applications that can be used to interact with the messaging entities in a Service Bus namespace. The tool is not meant to log CRUD operations for a couple of reasons:

1. Logging CRUD operations can be achieved by configuring diagnostics settings on a Service Bus namespace to collect logs and metrics to a Log Analytics workspace. If t

[2020-07-27 09:23] #420 closed

[2020-07-27 09:25] paolosalvatori commented on #420
AFAIR, the reason why I set the default timeout to 1 sec it was because when running a test, if the default timeout is 30 sec the tool had to wait for 30 seconds before doing something that now I don't remember :)

[2020-07-27 09:31] paolosalvatori commented on #411
This year we could undertake the infamous re-write of Service Bus  Explorer to use the new .NET Core / .NET Standard libraries for Service Bus and Event Hubs, but we need to understand what it takes and make a plan.

[2020-07-27 09:33] paolosalvatori commented on #343
Sorry for the delay, but I was quite busy in this period. Feel free to create a new release guys :)

[2020-08-08 09:51] ErikMogensen commented on #262
Looking at https://github.com/paolosalvatori/ServiceBusExplorer/blob/develop/src/Common/Helpers/ServiceBusNamespace.cs, besides SharedSecretIssuer/SharedSecretValue there is support for IssuerName/IssuerSecret. I don't know what IssuerName/IssuerSecret but I assume it is not supported anymore since there is only support for SharedAccessKeyName/SharedAccessKey in the Track1 and Track2 SDKs (the con

[2020-08-08 20:54] ErikMogensen commented on #397
The Microsoft.Azure.NotificationHubs 4.0.0-preview2 described at https://github.com/Azure/azure-notificationhubs-dotnet/releases contains a feature called "Reintroduces NamespaceManager for hub management within a namespace". Seems like just what we need. Just wait until it has been fully released.

[2020-08-09 19:05] ErikMogensen commented on #262
The other Azure Messaging clients also only seem to support SharedAccessKeyName/SharedAccessKey. Below I listed the respective SDKs and the file comprising the connection string parsing. I may have missed something, please correct me in that case.

- Relay Track1 SDK (does not seem to have a Track 2 SDK) https://github.com/Azure/azure-relay-dotnet/blob/dev/src/Microsoft.Azure.Relay/RelayConnection

[2020-08-09 19:53] ErikMogensen opened #462 "There are two app.config files"
There are two app.config files which must be wrong.

[2020-08-20 06:20] ErikMogensen commented on #459
Closing due to inactivity.

[2020-08-20 06:20] #459 closed

[2020-08-20 06:25] ErikMogensen commented on #228
Closing due to inactivity

[2020-09-01 12:04] jcoeltjen opened #464 "Feature Request: Add Queue Listener for specific Message Session"
Is it possible to add a queue listener for a specific message session?
Or more specific: Is it currently possible to register a message handler for specific sessions or as a fallback register a session handler together with respective handlers?

We use session enabled queues for handling semi synchronous request/response calls for some legacy applications and have currently some problems in produc

[2020-09-02 10:55] mori-sahragard opened #465 "Some unusual chars are copied along with the content from text inputs"
When I try to copy a text from text inputs like `Message Text` or `Event Text`, some unusual terminator chars are also copied along. After pasting it in an editor, they become visible. See the screenshots.

<img width="502" alt="Bildschirmfoto 2020-09-02 um 12 52 26" src="https://user-images.githubusercontent.com/35138557/91972746-69042280-ed1b-11ea-937e-ee07fbeae1d1.png">

<img width="273" alt="B

[2020-09-02 10:57] #465 closed

[2020-09-02 10:57] mortezasoft opened #466 "Some unusual chars are copied along with the content from text inputs"
When I try to copy a text from text inputs like `Message Text` or `Event Text`, some unusual terminator chars are also copied along. After pasting it in an editor, they become visible. See the screenshots.

<img width="502" alt="Bildschirmfoto 2020-09-02 um 12 52 26" src="https://user-images.githubusercontent.com/35138557/91972746-69042280-ed1b-11ea-937e-ee07fbeae1d1.png">

<img width="273" alt="B

[2020-09-02 19:15] ErikMogensen commented on #466
I would guess that those are LFs (0x0a) which are shown as line breaks in SBE while the editor you pasted it into expected line breaks to be the usual Windows CR + LF and displayed the LFs as symbols. Try to paste it in another editor or an editor that is able to show the binary content.

[2020-09-02 19:24] mortezasoft commented on #466
@ErikMogensen I have the same problem in every editor I used. Always need to replace all LFs with an empty string to remove them. Btw, SBE is running on a Windows VM and I copy/paste to my Mac.

[2020-09-02 19:31] ErikMogensen commented on #466
Then it is probably line breaks as CR + LF in SBE and the Mac editor doesn't understand the CRs and show them as symbols. I would have expected to line break though.

What happens if you paste it into notepad on the Windows VM?

[2020-09-03 18:31] mortezasoft commented on #466
Notepad strips out those chars

[2020-09-06 16:25] ErikMogensen commented on #466
That's good. If you'd like to be able to copy-paste the content from SBE into a Mac editor then you need to somehow convert the CR+LF to LF. I suggest that either the sender should send just LF and not CR+LF or that you build a message inspector that does the conversion. Message inspectors are described at https://github.com/paolosalvatori/ServiceBusExplorer/blob/develop/docs/documentation.md. Sea

[2020-09-08 17:57] chaoqian opened #467 "Cannot view session state in service bus explorer"
cannot view session state in explorer:
![image](https://user-images.githubusercontent.com/3410645/92511365-0a7af080-f1c2-11ea-8343-ff51f6505589.png)

[2020-09-08 19:43] ErikMogensen commented on #467
Does this work sometimes?

[2020-09-08 22:07] SeanFeldman commented on #467
The code is set up to reflect the session state. @chaoqian, could you confirm the following:
1. Your sessions have a state.
2. How do you persist/write your state? (ideally sharing the code snippet).

[2020-09-30 11:42] abhikt48 commented on #451
@paolosalvatori - Could you please provide us fix on this issue ?

[2020-10-14 07:04] paolosalvatori commented on #467
Hi @chaoqian, can we close this issue? @SeanFeldman @ErikMogensen let's close this issue unless we get more context from @chaoqian. Thanks!

[2020-10-14 07:09] paolosalvatori commented on #466
Hi @mortezasoft you can paste the content of your message to Visual Studio Code and then select line feed (LF) as the end of line as shown by the following picture.

![image](https://user-images.githubusercontent.com/1658419/95955307-ea5fd200-0dfc-11eb-9422-2c7813ad6c7e.png)

Alternatively, you can use Notepad++ to do the same thing. If I don't hear from you, I'll proceed and close this issue. Tha

[2020-10-14 07:11] paolosalvatori commented on #464
Do you have the bandwidth to implement this feature and submit a PR? Thanks!

[2020-10-14 07:14] paolosalvatori commented on #462
@ErikMogensen two config files? Where is the second one?

[2020-10-14 07:15] paolosalvatori commented on #397
@ErikMogensen any news on this?

[2020-10-14 12:51] mortezasoft commented on #466
Hey @paolosalvatori , what exactly do you wanna see? It shows a dialog to choose between LF and CLRF. Nothing changes by selecting either option.

<img width="769" alt="Bildschirmfoto 2020-10-14 um 14 49 10" src="https://user-images.githubusercontent.com/876408/95991081-9f5db300-0e2c-11eb-9a05-595f6fcaf389.png">

[2020-10-14 14:10] paolosalvatori commented on #466
@mortezasoft  how do you copy and paste the message from the Windows VM to your Mac? I'm trying to understand how this extra character actually appears on your Mac. This is the first time I hear of this issue since I built the tool :|

[2020-10-14 14:20] mortezasoft commented on #466
@paolosalvatori first of all, thanks a lot for this great tool.

Well, I have a `Microsoft Windows Server 2016 Datacenter` VM running in azure and use it to run ServiceBusExplorer. I simply do Command+C or Control+C to copy the content and then Command+V to paste it in my Mac. That's it. Please let me know if I can help further.

[2020-10-14 14:37] #262 closed

[2020-10-14 14:42] paolosalvatori commented on #466
What happens if you copy and paste to another Windows VM? :) What happens if you eliminate all the CRLF before copying and pasting? :) In any case, this goes beyond what the tool is supposed to do as this issue is due to the way characters are interpreted by the Mac when copying and pasting from a Windows VM on Azure :) Just for clarity, when I suggested using Visual Studio Code (VSC), I meant the

[2020-10-14 15:54] ErikMogensen commented on #397
It is now released, https://github.com/Azure/azure-notificationhubs-dotnet/releases so we should upgrade to it.

[2020-10-14 15:56] ErikMogensen commented on #462
In https://github.com/paolosalvatori/ServiceBusExplorer/tree/develop/src/ServiceBusExplorer.

[2020-10-14 16:10] mortezasoft commented on #466
I see. Well I did not try to copy to another VM. I copy to my VSC on my Mac or in fact mostly in Chrome browser on Mac (to format json strings).

Dealing with ServiceBus queues is a big part of my job and that's why I was a bit annoyed and created this issue. Nevertheless, it's not a big deal and you may simply close this ticket.

Again thanks for your time and effort :)

[2020-10-14 18:14] paolosalvatori commented on #397
Ok take your time :)

[2020-10-14 18:15] paolosalvatori commented on #466
Thanks :) good luck!

[2020-10-14 18:15] #466 closed

[2020-10-14 18:25] jcoeltjen commented on #464
I will give this a go!

[2020-10-14 21:19] jcoeltjen commented on #464
I tried a minimalistic approach on implementing this feature and opened a PR for this (#470).
As I am a little bit rusty in writing code for WinForms please **don't** be gentle in your review.

[2020-10-16 07:49] paolosalvatori commented on #464
Take your time @jcoeltjen no rush, and thanks for the contribution :)

[2020-10-21 11:14] kaluznyt commented on #467
Not sure if this is the issue, but I just got here to notify on some issue on the same "Session State" view. Basically, I noticed, that when I remove something from session state (set to null) - it still get displayed in that pane. So in case I have for example 2 sessions with null state, in the pane some last state is still displayed, even when I click on both.

[2020-10-21 11:35] kaluznyt commented on #467
there seems to be a bug, when sessions are removed, the pane displays the state from last viewed:

![image](https://user-images.githubusercontent.com/572605/96714345-4ea50780-13a2-11eb-8c56-fb68d1f10700.png)

[2020-10-21 23:27] SeanFeldman commented on #467
@kaluznyt, yes. See https://github.com/paolosalvatori/ServiceBusExplorer/issues/467#event-3742972484

[2020-10-24 19:00] subhendu-de commented on #193
Please refer to the article here

http://dotnetartisan.in/move-messages-service-bus-queue/

[2020-10-25 16:46] ErikMogensen opened #472 "Upgrade Notification Hubs SDK to the latest version"
As mentioned in #397 we want to start using the new SDK for Notifiation Hubs, https://github.com/Azure/azure-notificationhubs-dotnet/releases . It is based on .NET Core. However the classes are a bit different so this requires some work.  Also some properties are deprecated which should be replaced according to the recommendations.

[2020-10-27 11:16] lukasz-pyrzyk opened #473 "Emphasise how to delete message custom property"
The repair and resubmit message window allows us to edit the message. Unfortunately, it's quite difficult to find a way to remove a property. It looks like it works only by clicking Delete on the keyboard, which is not the best experience. I found it only by guessing.

![obraz](https://user-images.githubusercontent.com/5083018/97293894-91a52600-184d-11eb-9810-50958db24b68.png)

I would be great to

[2020-10-28 18:26] #473 closed

[2020-10-30 10:34] paolosalvatori commented on #467
@kaluznyt @SeanFeldman @ErikMogensen any news on this issue or can we proceed and close the issue?

[2020-10-30 12:53] #462 closed

[2020-10-30 21:59] kaluznyt commented on #467
@paolosalvatori for me it can be closed, hovever I didn't open it, I just reported some similiar behavior which I consider incorrect (session state displayed in pane, when it's null'ed out on session using SetState(null)), but it's not same behavior as originally reported in this thread

[2020-10-31 20:16] SeanFeldman opened #475 "Add Stale bot to automate stale issues management"
https://github.com/apps/stale

[2020-11-02 06:26] ErikMogensen commented on #464
Fixed in #470

[2020-11-02 06:26] #464 closed

[2020-11-02 06:28] ErikMogensen commented on #410
Closing this as it does not seem to be a problem

[2020-11-02 06:28] #410 closed

[2020-11-02 10:58] mlakshminara opened #476 "Repair and Resubmit selected message not working for Dead Letter Message for Topics"
When in Repair and resubmit selected message window and when we select a message to resubmit to topic using the "Submit" button.

The log windows shows "Messages where moved to [topic-name] in [time-taken-in-ms] milliseconds." message but the message is not shown when I peek both in Azure Portal and also in Explorer. The message is not getting published to the topic when we perform repair and subm

[2020-11-03 05:33] SeanFeldman commented on #119
@paolosalvatori do you know if this one is OK to be closed under 5.0.0?

[2020-11-03 18:30] ErikMogensen opened #477 "Releasing version 5"
This issue is for discussing details around the first v5.0 release instead of in the PR #474.

Should it be called 5.0.0 or 5.0.113? Personally I like 5.0.113 better, but not a big deal.

[2020-11-03 18:54] ErikMogensen commented on #477
I have now tagged the items that I consider being a part of this release.

[2020-11-03 20:59] SeanFeldman commented on #477
If we want to follow the [SemVer](https://semver.org/) model with x.y.z, the z part is a patch release for bug fixes. We're making a breaking change by removing some old functionality and changing the client we're going with. In the past, @paolosalvatori used to link the major version to the ASB SDK client. I'm not sure we'd want to continue that tradition. Everyone understands SemVer and it would

[2020-11-11 11:18] steavy29 opened #478 "DateTime chooser for StartDate in EventHub listener doesn't display am/pm for time component"
Repro steps:
1. Actions -> Create Event Hub listener
2. In opened window, in section Options there is "StartDate" datetime picker.

A.R.
"StartDate" picker allows user to choose date via calendar control and edit time component. Time is in 12h day format but am/pm part is not visible so it's not possible to understand what time you select.
![image](https://user-images.githubusercontent.com/9865713

[2020-11-13 10:36] paolosalvatori commented on #478
This change makes sense, I will schedule a change next week. Sorry for the delayed answer, but I'm quite busy in this period.

[2020-11-13 10:38] paolosalvatori commented on #477
@SeanFeldman @ErikMogensen I'd follow the tradition, and if the client library changed the major version, we should change the major version of SBE. Thoughts?

[2020-11-13 10:41] paolosalvatori commented on #119
@SeanFeldman I think we can close this issue. @SeanFeldman @ErikMogensen feel free to close it.

[2020-11-13 10:46] paolosalvatori commented on #476
Are you saying that the tool doesn't do what it says in the log? Are you 100% sure? The repair and resubmit functionality has been created years ago and no one reported this issue so far. Can you please provide evidence? When you resubmit the message, you need to make sure that it satisfies the conditions of the landing subscription. Can you please make a repro selecting a queue instead of a topic

[2020-11-13 10:53] paolosalvatori commented on #475
Done :) Thanks @SeanFeldman, nice suggestion :)

[2020-11-13 10:53] #475 closed

[2020-11-13 12:44] lansal15 commented on #109
@paolosalvatori, any update here? Is this feature now available?

[2020-11-13 14:29] SeanFeldman commented on #477
This is not needed IMO. When a _breaking_ change is introduced or something that would force environment modification, a major makes sense. Like a newer .NET Framework, which could be a blocker if not installed on a machine. Otherwise minor and patch changes suffice.

[2020-11-13 14:45] SeanFeldman commented on #119
5.0.0 milestone applied, closing

[2020-11-13 14:45] #119 closed

[2020-11-13 14:49] paolosalvatori commented on #109
I should invest time to implement this feature. Maybe in December, I may have some time at disposal.

[2020-11-13 14:50] paolosalvatori commented on #477
@SeanFeldman I know it's not necessary, but since we did a lot of changes since the last release we could take the chance to increase the number of the major version, right?

[2020-11-13 15:00] SeanFeldman commented on #477
@paolosalvatori I think we're talking about the same thing. This outgoing release will be 5.0.0.

[2020-11-14 20:33] SeanFeldman commented on #477
@paolosalvatori, @ErikMogensen, have you had a chance to review closed issues/PRs to assigned the `5.0.0` milestone and label things accordingly? Once you 👍, I'll get the release out.

[2020-11-15 08:48] ErikMogensen commented on #477
I have gone through the PRs and assigned the milestone label on the relevant ones and then labeled them. I approve going ahead.

[2020-11-17 17:11] #360 closed

[2020-11-18 20:29] harishlyadav opened #479 "Contributor level access can connect through explorer to service bus"
I am trying to connect as contributer level access to service bus, but getting timeout exception.
Do i need to change anything here in appsetting ?

&lt;add key="subscriptionId" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" /&gt;
&lt;add key="certificateThumbprint" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" /&gt;

See the attached image.

![access sb](https://user-images.githubusercontent.com/311856

[2020-11-19 08:41] mlakshminara commented on #476
I have tried using both queue and topic and it failed only for topic and queue re-submit was successful. See the document attached  - Azure_Explorer_Dead_Letter_Msg_Resubmit_For_Topic.docx
I can also try for a vanilla topic with default filter (1=1) and see whether it works

[2020-11-20 12:13] #135 closed

[2020-11-20 12:13] #208 closed

[2020-11-20 12:13] #253 closed

[2020-11-20 12:13] #245 closed

[2020-11-20 12:13] #278 closed

[2020-11-20 12:13] #284 closed

[2020-11-20 12:13] #49 closed

[2020-11-20 12:13] #294 closed

[2020-11-20 12:13] #301 closed

[2020-11-20 12:13] #300 closed

[2020-11-20 12:13] #327 closed

[2020-11-20 12:13] #302 closed

[2020-11-20 12:13] #340 closed

[2020-11-20 12:13] #352 closed

[2020-11-20 12:13] #369 closed

[2020-11-20 12:13] #364 closed

[2020-11-20 12:13] #384 closed

[2020-11-20 12:13] #392 closed

[2020-11-20 12:13] #388 closed

[2020-11-20 12:13] #400 closed

[2020-11-20 12:13] #441 closed

[2020-11-20 12:13] #356 closed

[2020-11-20 12:13] #443 closed

[2020-11-20 14:00] #428 closed

[2020-11-20 14:00] #456 closed

[2020-11-20 14:00] #457 closed

[2020-11-20 14:00] #357 closed

[2020-11-20 16:04] NiklasEMS opened #480 "api-version exception when trying to connect to latest on-prem version "Service Bus 1.1 with TLS 1.2""
api-version exception when trying to connect with SB Explorer to latest on-prem version "Service Bus 1.1 with TLS 1.2"

Perhaps this exception can be caught and adjusted to correct api-version? Or omitted from the uri? The error states that it can be removed or use supported ones. Or this is always hard-coded in Microsoft.ServiceBus.dll dependency?

Perhaps possible to set api-version in connectio

[2020-11-21 13:40] ErikMogensen commented on #411
This should be included in the 5.x release.

[2020-11-21 13:42] ErikMogensen commented on #431
That looks like a bug.

[2020-11-22 22:15] NiklasEMS commented on #119
Service Bus on Windows Server is still supported together with SharePoint 2013, 2016, 2019 until their end of lifecycle as they use Workflow Manager which uses Service Bus on Windows Server. Using Service Bus Explorer is great tool for troubleshooting as well so would be great if multi-support can still be maintained or at least if there is already compiled older version to download at least that

[2020-11-23 08:32] paolosalvatori commented on #119
@NiklasEMS no worries, there's a dedicated version of SBE for Service Bus on Windows Server. There should be a link on the main page for it. The main codebase stopped supporting Service Bus on Windows Server due to some breaking changes introduced by SDK client library.

[2020-11-23 08:37] paolosalvatori commented on #431
I will look into it when I have time, maybe next Friday

[2020-11-23 08:40] paolosalvatori commented on #480
As stated on the README page, the Service Bus Explorer 2.1.0 can be used with the Service Bus for Windows Server 1.1. The Service Bus Explorer 2.1.0 uses a version of the Microsoft.ServiceBus.dll client library which is compatible with the Service Bus for Windows Server 1.1 RTM version. You can download the source code of the Service Bus Explorer 2.1.0 [here](https://github.com/paolosalvatori/Serv

[2020-11-23 08:40] #480 closed

[2020-11-23 08:54] paolosalvatori commented on #477
I review PR closed by the bot, and I decided to make a list of issues I want to take a chance to review and possibly solve. Here is the list:

- https://github.com/paolosalvatori/ServiceBusExplorer/issues/431
- https://github.com/paolosalvatori/ServiceBusExplorer/issues/383
- https://github.com/paolosalvatori/ServiceBusExplorer/issues/388
- https://github.com/paolosalvatori/ServiceBusExplorer/issu

[2020-11-23 09:17] NiklasEMS commented on #480
Thanks. I did also some decompiling of multiple Microsoft.ServiceBus.dll clients where I found this hard-coded api-version limitation in there. I will use old 2.1.0.

[2020-11-23 22:58] SeanFeldman commented on #477
I'm assuming these will be done in the 5.x timeframe, not blocking 5.0 release, correct?

[2020-11-24 07:57] paolosalvatori commented on #480
Thanks @NiklasEMS

[2020-11-24 08:00] paolosalvatori commented on #477
Correct, go ahead with the release, fixing the above issues will be a best-effort activity if and when I\we'll have some spare time

[2020-11-24 21:07] #344 closed

[2020-11-25 18:30] Bubelgin opened #482 "Don't retrieve subscriptions at startup"
As soon as we connect to service bus, SB Explorer will try to retrieve all topics and subscriptions. For a production environment, this means hundreds of topics with hundreds of subscriptions which makes the tool unusable as the process just takes forever to read all of them.
If possible, it would be nice if subscriptions would be only retrieved once we expand a topic in the UI.

[2020-11-25 18:36] ErikMogensen commented on #482
That's a good idea. It would be great if you created a PR for it.

[2020-11-26 08:31] paolosalvatori commented on #482
@Bubelgin @ErikMogensen remember the possibility to define filters in the connect form allows you to restrict the list of entities that are loaded by the tool. Years ago I implemented this feature to avoid loading tons of entities when you select a namespace.

[2020-11-26 17:46] SeanFeldman commented on #482
@paolosalvatori, I might be mistaken but interpret @Bubelgin's feature request as a different feature from what you're describing. He wants to load the subscription node lazily, not disable it for good. What you're describing is the latter and could be used as a workaround (@Bubelgin see the screenshot below).
![image](https://user-images.githubusercontent.com/1309622/100380554-53c62980-2fd4-11eb-

[2020-11-26 18:12] paolosalvatori commented on #482
@SeanFeldman @ErikMogensen @Bubelgin not exactly. In Azure Service Bus, you can specify a relative URL when creating an entity, as shown in the picture below. If you give a queue or topic a name equal to customers/customer1, Service Bus Explorer will represent this with a folder called customers, and all the entities sharing the same relative path will be under that folder:

![image](https://user-

[2020-11-26 18:25] SeanFeldman commented on #482
@paolosalvatori, thank you for the reminder about partitioned queues. That's very helpful. And frankly, I wasn't even aware of this option 😀

This issue is clearly talking about topics and subscriptions though:

[2020-11-27 08:00] l623164469 opened #483 "支持问题"
can this version support macos？

[2020-11-27 08:27] paolosalvatori commented on #482
The thing I explained above applies also to topics. There's no filter by the way to limit the number of subscriptions retrieved under a given topic. Said that, creating tens or hundreds of subscriptions under the same topic is a bad practice and an anti-pattern :)

[2020-11-27 09:33] paolosalvatori commented on #483
Do you mean macros? For doing what? Can you please be crisper about your request?

[2020-11-27 09:38] l623164469 commented on #483
I want a MAC os client,can this use in Mac os? This is a windows client

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "paolosalvatori/ServiceBusExplorer"                                                                                    <notifications@github.com&gt;;

[2020-11-27 09:45] paolosalvatori commented on #483
No, I’m sorry, this tool only runs on Windows.

[2020-11-27 09:45] #483 closed

[2020-11-28 11:05] ErikMogensen commented on #479
By contributor access, do you mean you have Contributor access on the Service Bus namespace? Currently there is not support for authentication through Azure AD, but hopefully we can add that in the future.

Right now there is only support for connecting using SAS keys.

[2020-11-28 14:24] ErikMogensen commented on #476
@mlakshminara , I just tried this and it worked. I see that you are getting some validation errors when the message is peeked. Please try using another message where you don't get any complaints when it is being read. It might be that the content of the message property is scrambled when resent and the rule is not working due to that.

Lastly, since a cause could be that someone is reading it from

[2020-11-29 23:48] VagyokC4 commented on #373
+1, especially need the copy / paste functionality

[2020-12-04 21:16] steavy29 commented on #478
Hi.

Is there any understanding when this can be scheduled for implementation?
I could try to help with this and make a PR if that's an accepted practice.
Appreciate any info on this. Selecting time range there now is giving a headache every time.

Thanks

[2020-12-06 17:59] abhikt48 commented on #451
I think this issue is still available. Could you please fix this issue.

[2020-12-07 06:37] ErikMogensen commented on #451
@abhikt48 , one of the most recently merged PRs may have fixed or at least changed this issue. Please build the latest bits from the develop branch and see if the behavior is the same.

[2020-12-18 23:53] AizazAlam2000 opened #484 "Pressing "Delete" on Queue / Topic should warn with a pop up box"
When a Queue or Topic is selected and the **Delete** button is pressed the item is deleted immediately.
This can be pressed by mistake and cause issues in a production environment.

It would be great to have a pop up box come up which will give us a warning and prompt us if we are sure we want to do this.

Loving the product overall !!

[2020-12-19 00:06] SeanFeldman commented on #484
When <kbd>Delete</kbd> is pressed, there's a warning dialog box.

![image](https://user-images.githubusercontent.com/1309622/102674317-da44d580-4152-11eb-8bb6-21458600fd6a.png)

Also, there was already a [PR](https://github.com/paolosalvatori/ServiceBusExplorer/pull/437) addressing this exact concern.
It will be soon released as v5. If you need it immediately, you could compile the project locally

[2020-12-19 00:06] #484 closed

[2020-12-22 04:32] gldraphael opened #485 "Feature Request: Option to configure timeout"
I'm haven't been able to connect to any of my namespaces in the East US region since yesterday. They timeout. It has always worked until now. (Other regions work fine.)

Would be nice if we had an option to configure the timeout duration in some sort of global settings.

[code]

[2020-12-22 05:52] SeanFeldman commented on #485
Have you tried this?
![image](https://user-images.githubusercontent.com/1309622/102854170-358af800-43df-11eb-807f-3f63aafc48be.png)

[2020-12-22 06:03] gldraphael commented on #485
View => Options?

No I dint even open that dialog.. I assumed it was to configure view options.

I'm able to connect to the East US namespaces now without any problems, but I think the options in that dialog should be enough. Thanks!

[2020-12-22 06:03] #485 closed

[2020-12-24 02:27] PratikMSFT commented on #177
Customers has issue connecting through latest SB explorer version with 1000 entities in queues getting timeout, any options to tackle this problem please

[2020-12-24 10:57] ErikMogensen commented on #177
@PratikMSFT , increase the Receive timeout setting and perhaps the Server timeout setting too in the View -> Options dialog.

In the next release the default settings for these are greatly increased.

[2020-12-25 23:29] SeanFeldman commented on #477
@paolosalvatori or @ErikMogensen, happy holidays! Here's a [small gift](https://github.com/paolosalvatori/ServiceBusExplorer/pull/486) you'd need to approve.

[2020-12-26 09:05] ErikMogensen commented on #477
Thank you Sean! This is quite a big release! Lots of features and fixes created by 20 contributors.

I approved it but didn't merge it as I am not sure which merge method you'd prefer. Is it "Rebase and merge" you want for this?

Happy holidays!

[2020-12-26 20:39] SeanFeldman commented on #477
Closed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/ea8b9397d610b07c4764d65022a651c6054aad7e
[Announced](https://twitter.com/sfeldman/status/1342932925214466048?s=20)

[2020-12-26 20:39] #477 closed

[2020-12-30 02:42] gabrielweyer opened #487 "ReSharper displays errors when opening the solution in Visual Studio"
- Visual Studio Community 2019 (16.8.3)
- ReSharper 2020.3.1 Build 203.0.20201223.80701

The repository contains a ReSharper setting file (`src\ServiceBusExplorer.sln.DotSettings`). When opening the solution in Visual Studio with ReSharper installed and Solution Wide Analysis enabled, 173 errors are displayed:

![image](https://user-images.githubusercontent.com/2101647/103326131-07727b80-4aa3-11eb

[2020-12-31 08:41] djstanic1 opened #492 "Resubmitting message with changed message body"
Switched to 5.0.1.

When updating the message body (change anything in the body) and resubmit the message, the message gets resubmitted, but nothing is changed inside the body, so the message stays unchanged.

[2021-01-04 09:47] paolosalvatori commented on #478
Hi @steavy29 I'll look into it this week unless you already submitted a PR.

[2021-01-04 09:48] paolosalvatori commented on #451
@ErikMogensen @abhikt48 can I close this issue?

[2021-01-04 09:51] paolosalvatori commented on #477
Thanks @SeanFeldman and @ErikMogensen, I just disconnected for the Christmas holidays :)

[2021-01-04 09:53] paolosalvatori commented on #487
Interesting observation @gabrielgt , let me see if we can remove it.

[2021-01-04 10:03] #487 closed

[2021-01-04 10:10] paolosalvatori commented on #492
@SeanFeldman @ErikMogensen do you happen to know the root cause of this regression bug?

[2021-01-04 10:47] ErikMogensen commented on #451
Yes, @abhikt48 let us know if there is a problem. The fix is now part of the v5 release.

[2021-01-04 11:10] ErikMogensen commented on #478
@steavy29 , I think this is fixed by #493 so I am closing this now. Let us know if this isn't fixed.

[2021-01-04 11:10] #478 closed

[2021-01-04 12:02] ErikMogensen commented on #492
It is the fix in #247. It uses the content of the existing message and ignores the content in the GUI.

This is in a complicated part of the code and difficult to get right with all the different message formats.

[2021-01-04 12:28] paolosalvatori commented on #492
@ErikMogensen got it, how do we want to handle it? Is the fix done by @SeanFeldman in src/ServiceBusExplorer/Forms/MessageForm.cs file that causes the issue? I mean, we can change the code to solve the issue. The goal is to let users change the content of the payload and resubmit the message. The difficult part was the WCF format. Do we still support this format after migrating from Microsoft.Azur

[2021-01-04 12:58] Greybird commented on #373
@ErikMogensen , I think https://github.com/paolosalvatori/ServiceBusExplorer/pull/493 fixed this ?

[2021-01-04 14:23] ErikMogensen commented on #373
I think so too. Closing this. If it wasn't fixed it can always be reopened.

[2021-01-04 14:23] #373 closed

[2021-01-04 14:40] ErikMogensen commented on #492
It wasn't Sean who implemented it. I suggest we revert the change as a short term solution.

This part of the code is still using the old Service Bus SDK. If we switch to the latest SDK, Azure.Messaging.ServiceBus I am pretty sure we cannot use WCF. I would like to see that our aim was to replace all of the old SDK with the new SDK but then SBE would probably not be able to handle some old message

[2021-01-05 05:56] SeanFeldman commented on #492
Thank you @ErikMogensen. The last time I've touched that form was [4 years](https://github.com/paolosalvatori/ServiceBusExplorer/commit/6b68d62a4e1f90525b25d8e55d066e4980695c4a) ago and AFAIK it wasn't broken 😉
[Bit Blame](https://github.com/paolosalvatori/ServiceBusExplorer/blame/develop/src/ServiceBusExplorer/Forms/MessageForm.cs#L353-L363) is a powerful tool @paolosalvatori.

Correct. Though I'

[2021-01-05 08:33] #492 closed

[2021-01-05 08:42] paolosalvatori commented on #492
Message interoperability has never been a function of the SDK @SeanFeldman. This is why I implemented WCF support in the tool years ago. At that time I spent a great amount of time to make it work and guarantee that Service Bus messages could be sent or received to guarantee interoperability with BizTalk Server WCF adapters. Now, the context has changed, I don't think there is anybody out there th

[2021-01-05 12:22] abhikt48 opened #498 "Receive/Peek only Deferred messages"
We are receiving bad messages from user and bad messages are turning into Deferred messages. We are trying to find a better solution to handle Deferred messages.

**Problem** - Queue/Topic have bad messages. Qpid JMS client send "MODIFIED_FAILED_UNDELIVERABLE = 5;" to ServiceBus broker while receiving any bad encoding messages and  ServiceBus broker converts these messages to **Deferred** messages

[2021-01-05 12:35] abhikt48 opened #499 "Premium ServiceBus - Create Queue/Topic with max Queue Size - 80GB"
Premium ServiceBus provide facility to create Queue/Topic with max **80GB** Queue Size.
But ServiceBus explorer provides facility to create queue upto **5GB** only.

Can you please provide facility to create Queue/Topic with max capacity.

Note - This is not a priority requirement, but good to have this feature, so we don't need to create Queue from Azure Portal with max size.

![image](https://us

[2021-01-05 13:22] abhikt48 commented on #451
@paolosalvatori  @ErikMogensen  - Sorry for late reply. I tested today with 5.0.1 version, unfortunately, this is not working as expected.
,
Please find below steps to reproduce this issue -
1. Publish message from` qpid-jms-client-0.56.0`, with **text/json** ContentType. Please refer below screenshot
![image](https://user-images.githubusercontent.com/22897837/103650000-45feaf00-4f57-11eb-8e63-a95

[2021-01-05 14:19] SeanFeldman commented on #492
Git Blame was to demonstrate how to quickly identify who was involved in changes and PRs affecting the files under review. Eliminates guessing.

Dropping WCF body body format is fine. It was mostly coming from track 0 SDK which is quite old and still can be found in use here and there.

[2021-01-05 17:23] paolosalvatori commented on #492
Sounds good, but you didn't have to demonstrate to me who wrote what :) I quickly asked just because I'm still on holiday and I wrote the previous comment via my mobile, not from my laptop :) We'll eventually remove WCF support.

[2021-01-05 17:26] ErikMogensen commented on #451
Ok.

1. Are you able to reopen this issue yourself? I just want to know if that is possible.

2. The fix that I referred to caused a new bug in v5.0.1. There is a fix in the current develop branch. Are you able to build from the develop branch and test again?

[2021-01-05 18:01] abhikt48 commented on #451
@ErikMogensen  Thanks for quick update. Please find below details.

1. I don’t have any option to open ticket. I think, I don’t have sufficient rights.
2. I don’t know how to build from develop branches. It will be great if you can upload SNAPSHOT version, so i can download and share results accordingly.

[2021-01-05 19:45] SeanFeldman commented on #492
The link I've provided would answer your question. I'm a bit sensitive when my name is associated with something I didn't do. Given that the repo has multiple contributors and we don't have a solid way to identify _who_ causes a regression, I'd rather use PR/commit links and not names. But that's a personal preference, right? 🙂

Responding to comments from a phone is always a challenge if it's not

[2021-01-05 22:30] #467 closed

[2021-01-06 06:38] SeanFeldman commented on #499
This is possible with the track 1/2 SDKs (Microsoft.Azure.ServiceBus and Azure.Messaging.ServiceBus).

- SDK track 1: using `ManagementClient` you can get the namespace info with `.GetNamespaceInfoAsync()`. It returns `NamespaceInfo` with `MessagingSku` property.
- SDK track 2: using `ServiceBusAdministrationClient` you can get the namespace info using with `GetNamespacePropertiesAsync()`. It retu

[2021-01-06 06:40] SeanFeldman commented on #498
Not possible until the service has support for this feature. @abhikt48 if you'd like this feature please upvote the [feature request](https://github.com/Azure/azure-service-bus/issues/95) in the Service Bus issue tracker.

[2021-01-06 08:57] paolosalvatori commented on #451
@abhikt48 are you a C# developer? If yes, what development environment do you use? Visual Studio? Visual Studio Code? To reopen the issue you just have to press the button below: Reopen and comment.

[2021-01-06 09:00] paolosalvatori commented on #492
I used the wrong words, I wanted to say "who did review / approve the PR in addition to me?" It's clear that #247 was submitted by somebody else. :)

[2021-01-06 09:01] paolosalvatori commented on #499
@SeanFeldman do you want to make the change?

[2021-01-06 09:02] paolosalvatori commented on #498
Thanks @SeanFeldman

[2021-01-06 10:19] abhikt48 commented on #451
@paolosalvatori  - I am a Java Developer and use eclipse based ID for development.

Unfortunately, I am not getting reopen button. Please find below screenshot.

![image](https://user-images.githubusercontent.com/22897837/103757385-9d108c80-5008-11eb-9245-27eefaee24f2.png)

[2021-01-06 11:16] ErikMogensen opened #501 "Textboxes need to be filled out when creating a new queue"
Previously you only needed to enter the Relative URI to create a queue. Now you have to put a number in almost every textbox.

I believe this is caused by #493. Is this something you want to look into, @Greybird ?

[2021-01-06 11:50] Greybird commented on #501
Sure of course! I'll fix this!

[2021-01-06 13:01] ErikMogensen commented on #498
Such a feature would be useful. However, I think it is is possible to implement the requested functionality for this issue using the one of the current SDKs by peeking through the messages to get the sequence numbers for the deferred messages, then use the sequence numbers to receive the messages and finally deadletter them.

[2021-01-06 16:26] abhikt48 commented on #498
@SeanFeldman  i upvoted your fetaure request.

It will be great if we can plan this feature in upcoming days :)

[2021-01-06 17:22] ErikMogensen opened #502 "GitVersionTask is deprecated"
The NuGet package GitVersionTask is reported as deprecated by Visual Studio even though the latest version is installed. I assume there is a replacement package.

I don't want to start the discussion about GitVersion or not again, but just mention that as far as I am concerned I still think we are better off without it.

[2021-01-06 19:16] SeanFeldman commented on #502
I don't have any objections to taking it out. As long as we automated the release pipeline.
With the changes over the years, AppVeyor and GitVersionTask could be replaced with GitHub Actions and simpler approaches/libraries. Just to be very clear, I'm having very little spare time these days to drive changes.

[2021-01-06 20:00] Greybird commented on #501
Here it it, sorry again!

[2021-01-06 20:12] SeanFeldman commented on #498
Dead-lettering a deferred message is a feature requested from the service team. The public issue is [here](https://github.com/Azure/azure-service-bus/issues/376).

Yeah, about that... https://github.com/Azure/azure-sdk-for-net/issues/15097

Sorry to rain on your parade 🙂

[2021-01-06 20:15] SeanFeldman commented on #498
Disclaimer: this is a very personal comment that is not just for this project but many other OSS projects I've seen experiencing a somewhat similar issue. By no means I'm nitpicking on you @abhikt48 🙂

Regarding

I understand the urgency you have. Please note that the project is based on volunteering personal time, and it is not a paid/financially backed project. If you have an urgency for the fea

[2021-01-07 00:22] abhikt48 commented on #498
@SeanFeldman  - Thanks for insight. It really helps me to understand situation.

My understanding was wrong- As Microsoft pointed me here - so I thought this project must be backed by them.

Thanks for clarification. I can totally understand. Please take your own time and priorities accordingly.

[2021-01-07 06:10] SeanFeldman commented on #499
@paolosalvatori sure. It's going to be a bit hacky as the main project is still on SDK track 0 (`WindowsAzure.ServiceBus`).

[2021-01-07 06:17] ErikMogensen commented on #502
Cool, perhaps we should have an issue for migrating to GitHub Actions.

[2021-01-07 06:18] ErikMogensen commented on #501
That was quick, thanks!

[2021-01-07 06:35] #501 closed

[2021-01-07 06:47] ErikMogensen commented on #498
Hmm... Looks like https://github.com/Azure/azure-sdk-for-net/issues/15097 is about the normal receive. I meant to use [ServiceBusReceiver.ReceiveDeferredMessageAsync()](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.servicebusreceiver.receivedeferredmessageasync?view=azure-dotnet#Azure_Messaging_ServiceBus_ServiceBusReceiver_ReceiveDeferredMessageAsync_System_Int64_System_T

[2021-01-07 19:53] ErikMogensen opened #505 "Enhance the .editorconfig file"
Add more items to the .editorconfig file. More about it at https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options?view=vs-2019.

This may conflict with the Resharper settings, but hopefully the editorconfig settings override.

[2021-01-07 20:01] ErikMogensen commented on #498
I used the following code and it deadletters a deferred message. It uses Azure.Messaging.ServiceBus.

`        static async Task DeadLetterDeferredMessages(long sequenceNumber)
        {
            await using var client = new ServiceBusClient(connectionString);
            var receiver = client.CreateReceiver(queueName,
                new ServiceBusReceiverOptions { ReceiveMode = ServiceBusRece

[2021-01-08 10:15] paolosalvatori commented on #451
Thanks @abhikt48 we reopened the issue, but I cannot guarantee we can look at it now. I need a repro to understand the issue. Can you please provide a way to reproduce the problem? Thanks

[2021-01-08 10:24] paolosalvatori commented on #498
In the past, I submitted internal feedback several times and asked for the possibility to extend the possibility to receive messages from a queue or subscription by sequence number beyond deferred messages. In fact, this functionality is required to properly implement Message Repair and Resubmit pattern in the Service Bus Explorer tool.

[2021-01-08 10:26] paolosalvatori commented on #502
GitHub Actions is cool, I used it in June/July. We can definitely look at it. I'm not an AppVeyor expert though.

[2021-01-08 10:29] #499 closed

[2021-01-08 17:00] ErikMogensen commented on #99
Fixes by #504

[2021-01-08 17:00] #99 closed

[2021-01-08 17:03] ErikMogensen commented on #214
Since we got this functionality in #504 this can be easily be implemented..

[2021-01-08 17:06] SeanFeldman opened #506 "Refactor ServiceBusHelper2 to reduce number of service invocations"
Follow-up to #504

Currently, it generates a large and unnecessary number of calls due to its call on demand implementation.

[2021-01-08 17:09] ErikMogensen commented on #479
Closing due to no response.

[2021-01-08 17:09] #479 closed

[2021-01-08 17:11] ErikMogensen commented on #476
Closing due to no response. If you, @mlakshminara, still have a problem with this just create a new message in this thread.

[2021-01-08 17:11] #476 closed

[2021-01-12 15:52] lansal15 commented on #109
Any luck?

[2021-01-13 22:37] TheAzureGuy opened #507 "Question on SB Explorer's Security Certification"
Hello!

Has there any work been done to assess potential vulnerabilities in SB Explorer and establish its risk profile?
With so many customers using it, how do those customer certify the use of this tool in their non-prod and prod environments?
When will SB Explorer support reading ASB connection strings from a secure storage like KeyVault instead of having to hard-code them in the application's .

[2021-01-14 07:45] SeanFeldman commented on #507
@TheAzureGuy good question. I have no idea about risk profiling. @paolosalvatori, did you do any of that at any point in time?

Do you mind to raise a feature request? Raising multiple questions/feature requests in a single issue has been proven not to be very effective. Thank you.

[2021-01-14 17:34] ErikPilsits-RJW opened #509 "Purge Messages feature is broken"
Currently in v5.0.1 trying to purge a topic subscription results in the following error message printed to the log.

`<11:26:33> Exception: Invalid URI: The hostname could not be parsed.`

Purging the DLQ seems to work however.

[2021-01-14 20:05] ErikMogensen commented on #509
It works for me. It may be a temporary problem due to a network issue or high load on the Service Bus service. If the issue persists, try to purge a subscription on another topic. Also increase the Receive timeout and Server timeout settings.

Do you know if you are connecting to Service bus through a proxy?

[2021-01-14 21:10] ErikPilsits-RJW commented on #509
I've tried a couple different topics and subscriptions, same issue. Here's all my config, redacted, maybe it's relevant for your testing.
![image](https://user-images.githubusercontent.com/68246095/104649534-7ee70400-567a-11eb-9d98-a0e0d0edfd95.png)
![image](https://user-images.githubusercontent.com/68246095/104649578-8ad2c600-567a-11eb-8690-8d4a4592a075.png)
![image](https://user-images.githubuse

[2021-01-14 22:24] ErikPilsits-RJW commented on #509
Also, receiving messages a creating a listener both work. In fact, Purge has always been a bit weird with session enabled topics, so I've been using the listener with a bunch of parallel sessions to "purge" a subscription.

Btw I think the metrics with the listener are wrong with sessions. I think it's counting sessions received and not messages received. I cleared 12 messages with it, and it repo

[2021-01-14 22:37] ErikPilsits-RJW commented on #509
Oh and no, not using a proxy.

[2021-01-15 07:14] SeanFeldman opened #510 "Regression: cannot resubmit a message"
When attempting to resubmit a message an exception is thrown:

[2021-01-15 08:37] paolosalvatori commented on #507
Hi @TheAzureGuy your name and that CAT picture remember me someone who worked for many years in my team and I met several times in Seattle and once in Milan in April 2013, right? 😄 Now that the migration from the old to the new SDK is complete, we can think to add Azure Activity Directory (AAD) authentication to the tool. This should also allow integrating SBE with a secret store like Key Vault vi

[2021-01-15 08:42] paolosalvatori commented on #509
@ErikPilsits-RJW Can you please try to install the same version of SBE and repeat the same operation against the same topic\subscription?
Are you using a connection string at the namespace level with the manage claim? We need to be able to reproduce the issue, if any, to fix it.

[2021-01-15 08:44] paolosalvatori commented on #510
I suppose this is due to the way the message is cloned, right? And I suppose this is due to the old code that we recently re-introduced in SBE...

[2021-01-15 14:29] ErikPilsits-RJW commented on #509
Can you clarify what you mean by "install the same version"? I downloaded the zipped version 5.0.1 from github, and that's what I tested with. I'm using the root key for testing at the moment, so it has full permissions.

[2021-01-15 14:32] ErikPilsits-RJW commented on #509
Anyway, the problem has to do with subscriptions that have sessions enabled. I created a new subscription under an existing topic, but did not enable sessions, and the purge function works. So, create a session enabled sub and see if you can repro.

[2021-01-15 17:20] ErikMogensen commented on #509
@ErikPilsits-RJW , I was able to reproduce it on a session subscription queue. I have changed the implemention in the develop branch to use the latest Service Bus SDK and the purging worked for me. I think there is some bug in the previous version of the SDK.

Are you able to build from the develop branch? In that case, try it and please report back here.

[2021-01-15 17:22] ErikMogensen commented on #510
I was unable to reproduce this using the latest develop branch. Was it one message or was it the batch resubmit?

[2021-01-15 17:23] #411 closed

[2021-01-15 17:23] ErikMogensen commented on #411
Updated the release note

[2021-01-15 19:12] paolosalvatori commented on #509
Perfect, thanks for the feedback. Let us know if we can close the issue.

[2021-01-15 20:02] ErikPilsits-RJW commented on #509
Yes we can close this, thank you

[2021-01-15 21:08] SeanFeldman commented on #510
Single message

[2021-01-16 01:00] TheAzureGuy commented on #507
@paolosalvatori yes, my friend, I'm the same person who still keeps a special place in his heart for you and our AzCAT team.

It is very exiting to see how Service Bus Explorer, one of your work-life "babies", has become such a popular tool. However, it would have been even better if the tool was able to demonstrate some form of enterprise readiness by supporting AAD auth and KeyVault storage at a

[2021-01-16 10:06] ErikMogensen commented on #509
@ErikPilsits-RJW, does it show the correct count when using the build from the develop branch?

[2021-01-16 17:43] ErikMogensen commented on #510
I have tried that both from deadletter and normal queue. Also tried peek and received. Please state repro steps including message content.

[2021-01-18 14:35] ErikPilsits-RJW commented on #509
It doesn't seem to, no.

![image](https://user-images.githubusercontent.com/68246095/104928336-20ff3880-5968-11eb-8131-750dcb78f60e.png)
![image](https://user-images.githubusercontent.com/68246095/104928358-29f00a00-5968-11eb-8832-f6ed2e07724c.png)

[2021-01-18 20:05] abhikt48 commented on #451
@paolosalvatori  Thanks for reopening the tickets.

Please find below steps to replicate this issue. As we faced this issue in Java application, so created sample JAVA application to replicate this issue.

1. Create two queues - One for publishing and another for receiving
2. Refer [qpid-jms-client-sample ](https://github.com/abhikt48/qpid-jms-client-sample) application
3.  Modify below parameters

[2021-01-18 20:51] ErikMogensen commented on #509
Ok. so the UI is wrong. What about the report in the log, like the sample below:

[2021-01-18 21:08] ErikPilsits-RJW commented on #509
I believe the Purge gets the correct count. Just the listener feature that is incorrect.

[2021-01-19 06:48] ErikMogensen opened #512 "Service Bus Listener reports incorrect message count for session subscriptions"
As mentioned in #509 the listener shows an incorrect message count when receiving from a Service Bus subription with sessions required.

[2021-01-19 06:49] ErikMogensen commented on #509
Created #512 for that. I'll create another issue for the purging of session subriptions.

[2021-01-19 06:49] #509 closed

[2021-01-19 06:51] ErikMogensen opened #513 "Purging of Service Bus subscriptions with sessions does not work well"
Mentioned in #509 that the purging of service bus subscriptions with sessions does not work well.

[2021-01-19 07:48] paolosalvatori commented on #507
@TheAzureGuy I agree with you, before it was not possible because the old client SDK did not support AAD integration, but now that we dismissed the old SDK it's perfectly doable. Would you have time to help me with this effort? I'm very busy in this period so I may not have much spare time for this 😢

[2021-01-29 10:16] paolosalvatori commented on #451
Hi @abhikt48 I need to find some time to spend to investigate the issue. I'm moving on to a new team so I'll be a little busy. Expect a delayed answer. Should I forget about this issue, please ping or just reply to this message.

[2021-01-29 10:22] #214 closed

[2021-01-29 16:44] ErikMogensen commented on #498
@abhikt48 , I understand that this is causing you a lot of work but on the other hand I think there are just a few users that would benefit from this functionality so I don't think this will be implemented. Instead I recommend you to create a program based on the sample at https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Azure.Messaging.ServiceBus/BasicSendReceiveTutorialwithF

[2021-01-29 22:07] #383 closed

[2021-01-29 22:07] #432 closed

[2021-02-03 17:32] #349 closed

[2021-02-03 19:52] RascoApps commented on #510
I'm experiencing this issue as well. after editing, the original message is still sent.

[2021-02-03 20:16] ErikMogensen commented on #510
@RascoApps, this issue occurs in the latest released build. Is that what you are using? The issue you are describing has been fixed in the current develop branch with PR #496.

@SeanFeldman, which build are you using when this occurs?

[2021-02-03 20:27] ErikMogensen commented on #431
#514 should fix the issue with Message text being required that is brought up by @StepeCZ  and @sdg002. The GUI change in #514 should clarify the second issue that @StepeCZ mentioned. @SeanFeldman, do you want to create a separate issue(s) for the issues you found? Then we could close this issue. I believe that their is already an issue for the message properties problem.

[2021-02-03 20:35] SeanFeldman commented on #431
@ErikMogensen, let's close and I'll raise when run into it again. Rather do that and not keep a backlog of issues if they are not important to whoever raised those. In this case, me 😀

[2021-02-03 20:36] SeanFeldman commented on #510
I believe it was the latest, 5.0.1. Not 100% sure. I'll raise a separate issue when/if it happens.

[2021-02-03 20:57] ErikMogensen commented on #507
I'd like to see something where you can choose to use the existing way of getting connection strings from config files or login and then stay logged in even if you change namespace. While logged in, you should be able to get connection strings from Key Vault or [access Azure Messaging services directly using AAD](https://docs.microsoft.com/en-us/azure/service-bus-messaging/authenticate-application

[2021-02-03 21:00] ErikMogensen commented on #431
Sounds good. I also suspect if/when we switch to using the latest Service Bus SDK there will be other encoding/serialization issues.

[2021-02-03 21:00] #431 closed

[2021-02-03 21:05] ErikMogensen opened #517 "Remove the Help wanted label"
I suggest we remove the **Help wanted** label. In my opinion we want help with all issues except those which are assigned. Otherwise it looks like we don't want help with the issues that don't have this label.

[2021-02-03 21:08] ErikMogensen commented on #506
It would be great it this is not implemented using static fields since in the future SBE may support working with multiple namespaces concurrently.

[2021-02-03 21:37] TheAzureGuy commented on #507
@ErikMogensen that's exactly what I was looking for! I open SBE and it prompts me to log in to my Azure subscription. It then uses my auth token to get a secret from Key Vault the name of which I provide via .config file. The value of the KV key is a JSON with the schema that SBE is able to read (just literally a collection of ASB connection strings expressed via name/value pairs similar to what w

[2021-02-03 21:52] SeanFeldman commented on #517
I was just kidding ☝️
Yeah, we can get rid of it.

[2021-02-03 21:53] SeanFeldman commented on #517
done

[2021-02-03 21:53] #517 closed

[2021-02-05 21:07] ErikPilsits-RJW commented on #513
I've been updating our implementation of the service bus sdk, Microsoft.Azure.ServiceBus. I know why purging sessions is slow. Depending how many concurrent sessions you allow during your purge, and I'm assuming you just spin up a listener in Receive and Delete mode, there's a default message wait timeout of 60 seconds to receive the next message in a session, and the session is only closed after

[2021-02-05 22:25] sillo01 opened #518 "Ability to remove a Message Property in MessageForm"
I am able to add message properties in the Send Message. Once a property is added I can not find a way to remove it.
![Screenshot 2021-02-05 162412](https://user-images.githubusercontent.com/10253834/107095638-c7ec2d00-67ce-11eb-909e-41021fdb61c9.png)

[2021-02-05 22:53] ErikPilsits-RJW commented on #513
Session purge function was wonky. This works pretty well for me now. I don't have time to do a proper PR and to normalize all the purge functions. The while loop and try/catch wasn't right, and the exception type is different in the new SDK. Also I passed in your logger delegate down from the control to log some progress. Hopefully this is an ok start for you.

[code]

[2021-02-05 22:56] SeanFeldman commented on #518
It's not very intuitive but if you select a row and press <kbd>Delete</kbd> that will do it.

[2021-02-09 16:23] sillo01 commented on #518
Thanks, it never came to my mind using the keyboard.

[2021-02-12 14:43] plzm commented on #476
Hi @ErikMogensen - I worked on this issue with @mlakshminara. We determined that the behavior he found - a message moved off DLQ back to topic but not showing on the topic  - appeared only when a very short TTL was set on the message. @mlakshminara was setting a message TTL of 0.01 seconds. When we set the TTL to 30 seconds and other "reasonable" values, SB Explorer worked exactly as expected - me

[2021-02-12 15:05] SeanFeldman commented on #476
@plzm setting TTL to such a short time will like expire message before it can even be reported by the topic. The minimal value is not documented but I’d be surprised if it was less than at least a few seconds. Just for kicks, try the Portal Explorer for ASB and see what value is enforced there. My gut feeling it’s a bug with the API. It accepts values lower than the minimum and the Portal explorer

[2021-02-12 15:10] plzm commented on #476
@SeanFeldman great idea - portal SB Explorer enforces minimum 5 seconds. I'll communicate that back. Thank you!

[2021-02-12 16:56] ErikMogensen commented on #476
@plzm , great to see that you found the cause.

Regarding logs of what is happening, it seems that service bus explorer sends sends the message to the service bus service in Azure otherwise it should throw an exception which should be logged. After the Service Bus service has received the messages there are no logs available for us deadly to determine what happens inside it as far as I know. Micro

[2021-02-12 20:30] plzm commented on #476
Got it, thank you @ErikMogensen and @SeanFeldman for your help!

[2021-02-17 09:21] lkurzyniec commented on #510
My steps to reproduce:
1. Enter either queue or topic subscription
2. Click Deadletter and Peek some messages
3. Click Repair And Resubmit Selected Message (single message)
4. Click Submit
5. Choose Send To queue/topic
6. Click Ok - works fine, message send successfully
7. Again - in Repair and Resubmit Message window - Click Submit
8. Again - Choose Send To queue/topic
9. Again - Click Ok  - Exce

[2021-02-19 11:18] paolosalvatori commented on #510
@lkurzyniec do you experience the issue with the latest version and/or release?

[2021-02-19 11:22] paolosalvatori commented on #507
This is on my todo-list, but I just changed team and I'm very busy. Long-term I'm planning to implement AAD authentication and integrated RBAC and the ability to read connection strings from Key Vault.

[2021-02-19 11:24] paolosalvatori commented on #506
In the very very very future 😄

[2021-02-19 11:26] paolosalvatori commented on #513
@ErikPilsits-RJW can you please submit a PR? Take your time, no rush. I'm extremely busy as well and I can't make the change by my own 😢 thanks 😄

[2021-02-19 11:27] #518 closed

[2021-02-19 12:31] lkurzyniec commented on #510
@paolosalvatori yes, all the time.
![](https://imgur.com/PJwfhXg)

[2021-02-19 13:27] paolosalvatori commented on #510
@SeanFeldman @ErikMogensen are you planning to fix this issue? Otherwise, I'll have to reserve some time in the coming weeks to fix this issue.

[2021-02-19 14:46] ErikPilsits-RJW commented on #513
Many of the projects dependencies are out of date. Any reason not to update them?

[2021-02-19 16:18] paolosalvatori commented on #513
Yes, I don't have time to make the necessary due diligence. If you look at my GitHub account, you will see I'm busy working on other projects 😄

[2021-02-19 18:03] ErikMogensen commented on #510
This issue should be fixed by PR #496. @lkurzyniec, is it possible for you to verify that by building and testing the develop branch?

Since this is a critical functionality and another bug #492, also solved by #496 is worse I think we should aim for making a new release.

[2021-02-20 07:07] paolosalvatori commented on #510
@ErikMogensen @SeanFeldman is #496 solves this issue + #492, let's ship a new release 😄

[2021-02-20 08:54] ErikMogensen commented on #510
@SeanFeldman , I'd would appreciate it if you created the release.

[2021-02-22 07:23] SeanFeldman commented on #510
Closed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/f87537a5ded12501a9e33fc3edd2a29487246425

[2021-02-22 07:23] #510 closed

[2021-02-23 08:04] paolosalvatori commented on #510
Thanks @SeanFeldman @ErikMogensen 😄

[2021-02-23 13:03] abhikt48 commented on #498
@ErikMogensen  Thanks for input. I am not sure about other organisation, but i can definitely provide your inputs on our organisation. There are more than 500 users within organisation who are doing actively integration with ServiceBus.

We use different apis (Microsoft Java/.Net SDK, Qpid-JMS SDK) for communication with ServiceBus, but we all use ServiceBus explorer to provide support. As Service

[2021-02-23 13:03] abhikt48 commented on #451
HI @paolosalvatori , No Problem, I can understand. Please do needful whenever you got time.

[2021-02-23 18:17] SeanFeldman commented on #498
@abhikt48, I don't want to come off as a rude gatekeeper, but I'm intrigued by the following:

Do I understand correctly that the organization that uses SBE and considers it a critical tool for its commercial success does not allow one developer to contribute their work time to add a feature to the company's tool is relying upon?

[2021-02-23 18:38] abhikt48 commented on #498
@SeanFeldman  will raise internally if anyone wish to contribute. I love to contribute but I am from Java background, so I can't.

Will raise this issue with Microsoft as well, if their associate can help us on this.

Will update you if I have any information on this.

[2021-02-23 18:43] lkurzyniec commented on #510
@ErikMogensen downloaded the newest version (5.0.2) with chocolatey and confirmed that the fix made the job, well done, thank you!

[2021-02-23 19:16] ErikMogensen commented on #498
Sounds good @abhikt48.

Unfortunately the latest Service Bus SDKs don't support the State property on messages which would be used to determine if a message is deferred or not. This is a service side issue. There is a feature request for it at https://github.com/Azure/azure-sdk-for-net/issues/10241. That means you would have to resort to [the oldest Service Bus SDK](https://www.nuget.org/packages/

[2021-02-23 19:24] SeanFeldman commented on #498
TLDR: there are two types of issue trackers that shouldn't be conflated
1. SDK repo. For .NET SDK repo: https://github.com/Azure/azure-sdk-for-net/issues/
2. Service repo: https://github.com/Azure/azure-service-bus/issues/

Just so that everyone is on the same page -- requesting this feature from the SDK team is not going to yield a lot of results. They depend on the **service** side to provide th

[2021-02-23 19:25] ErikMogensen commented on #510
Thanks @lkurzyniec! I was a bit surprised that you were able to download it from Chocolatey since there were an issue with an icon url in the latest packages but I see now that you may download packages even though they are not approved. That icon url should be correct in the next release, 5.0.3.

[2021-02-24 13:44] tutul2010 opened #521 "on which branch initial code example reside that shown at youtube"
Hi,
I am new to pub-sub and SB message broker model and try to understand it properly.
I watched this you tube vid(https://www.youtube.com/watch?v=gQ5P8WVpj30&ab_channel=NickChapsas) and trying a initial kick start for me .I understood that Showed code  example is very helpful  for me.
It will a great help for me if any body tell me that where the  initial code example resides which shown at you t

[2021-02-26 14:05] tutul2010 commented on #521
Thank you @ErikMogensen.

[2021-03-05 07:04] #521 closed

[2021-03-05 07:04] ErikMogensen commented on #521
Good luck with your learning @tutul2010!

[2021-03-11 17:22] rad-app opened #522 "How does ServiceBusExplorer decide the message Status"
How does ServiceBusExplorer decides the message Status

[2021-03-11 17:27] SeanFeldman commented on #522
Message status is a system property on each message. SBE reflects that value.

[2021-03-11 17:37] rad-app commented on #522
Message Status Property is not exposed through Azure SDK. Is SBE using Azure SDK internally or something else?
Can you please help me with the exact code where SBE derives the Message Status Property? Here I want to know if message is submitted from some other client to service bus queue without setting the status then how SBE derives the message status?

[2021-03-11 18:22] ErikMogensen commented on #522
Message status is not exposed by the Azure Service Bus service when you are communicating with it using AMQP. However, it is exposed when you are using the SBMP protocol. The [oldest Service Bus SDK](https://www.nuget.org/packages/WindowsAzure.ServiceBus/) is able to communicate with the Service Bus service using SBMP so it is exposed it that library.

There is a request for adding support for mes

[2021-03-16 12:05] #502 closed

[2021-03-17 00:08] groozin opened #523 "Switch main window text/name/header to current connection ASB namespace."
At the moment of the issue when I have multiple SBE windows opened at the same time and connected to 3 (basically more than 1) ASB instances, I can't really tell the difference between them by looking at the windows. Either during task switching (like Alt-Tab shortcut on Windows) or using gestures on Touchpad or when hovering over the SBE icons in the taskbar.

See below for screenshots.
![image](

[2021-03-17 16:36] i-love-code opened #525 "Unable to send messages(s)"
I'm having issues sending messages to queues via the service bus explorer. Includes when resubmitting Dead-Letter messages.

Exception Message:
Exception: Could not load type 'Microsoft.ServiceBus.Messaging.MessagingEntityClient' from assembly 'Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.

It's the same error message as two other issues: https://github.

[2021-03-17 18:20] ErikMogensen commented on #523
Great idea!

[2021-03-17 20:59] i-love-code commented on #525
Streams output
[code]

**FusLogVw logs, for Microsoft.ServiceBus**
Under "Default"
[code]

Under "Native Images"
[code]

The only thing that stands out is in the native binding log it says "Operation Successful" but the result was
[code]

[2021-03-18 05:59] #523 closed

[2021-03-18 06:28] ErikMogensen commented on #525
In the log for Microsoft.ServiceBus it says:
[code]
That means that it is loading Microsoft.ServiceBus from the GAC and ignoring the version that is in the Service Bus Explorer directory causing mismatch. It may have been manually put in the GAC, then you can remove it manually. If it has been put there by the Windows installer as part of an application installation, you would have to remove that

[2021-03-19 12:42] kashish52 commented on #451
Hi,  I am also facing the similar issue while resubmitting the message using byte array. I did some debugging and  got the byte array content of the body and decoded it online the message is adding some extra characters in front and end of the message
Starting of the message
@base64Binary3http://schemas.microsoft.com/2003/10/Serialization/
End of the message


But the strange thing is it looks

[2021-03-20 21:08] #109 closed

[2021-03-26 14:48] mrpmorris opened #526 "Filter queues and topics by name"
I have about 100 queues/topics in a single ServiceBus and it takes a while to navigate.

A text box above the queues/topics tree for filtering items would be great.

If I were to submit a PR would this be something you'd consider including?

[2021-03-26 16:53] ErikMogensen commented on #526
PRs are almost always most welcome, but have you seen the existing filter capability?

![image](https://user-images.githubusercontent.com/9644248/112665953-ea5c0780-8e5b-11eb-9046-1721eeb83e3e.png)

[2021-03-27 08:09] #512 closed

[2021-03-27 09:52] mrpmorris commented on #526
No,  I was unable to find the option.

Thanks!

[2021-03-29 13:06] mrpmorris commented on #526
I see, it filters on the server.

That's a shame, I wanted more than StartsWith because all of my queues/topics end with different suffixes that I want to filter by :(

[2021-03-29 15:45] SeanFeldman opened #527 ".NET support"
In the past, converting to .NET Core was a substantial effort. With .NET 5 the migration story has improved and should be somewhat easier with the[ .NET Upgrade Assistant](https://docs.microsoft.com/en-us/dotnet/desktop/winforms/migration/?view=netdesktop-5.0) (tool: https://dotnet.microsoft.com/platform/upgrade-assistant).

This could be the first step towards a potential cross-platform SBE.

[2021-03-29 15:46] SeanFeldman commented on #458
While not .NET Core, a somewhat related issue is https://github.com/paolosalvatori/ServiceBusExplorer/issues/527

[2021-03-29 15:46] SeanFeldman commented on #116
An issue that would cover this request: https://github.com/paolosalvatori/ServiceBusExplorer/issues/527

[2021-03-29 15:47] SeanFeldman commented on #286
An issue that doesn't add cross-platform support but will help to bring SBE closer to that state: https://github.com/paolosalvatori/ServiceBusExplorer/issues/527

[2021-03-29 16:10] SeanFeldman commented on #527
I've quickly tried to run it on `ServiceBusExplorer.csproj` but wasn't successful. Could be I've missed something.
![image](https://user-images.githubusercontent.com/1309622/112866400-fc65c200-9076-11eb-8c73-772ea14ea3c6.png)

[2021-03-29 16:16] ErikMogensen commented on #526
There was an issue about the same functionality that you are wishing for, #452.

@mrpmorris, I think it would be great if you created a PR for that. I am sure @SeanFeldman and @paolosalvatori agrees. I like your idea of having a textbox above where the filter would be visible.

Also, as far as I know, the Startswith functionality does not exist in the latest SDK for Service Bus so if you build som

[2021-03-29 16:29] SeanFeldman commented on #527
I've tried to run it locally on `ServiceBusExplorer` and `ServiceBusExplorer.Tests` and the biggest blocker was `WindowsAzure.ServiceBus` (see [log.txt](https://github.com/paolosalvatori/ServiceBusExplorer/files/6223101/log.txt) for details).

[2021-03-29 20:59] mrpmorris commented on #526
I don't think the service bus api supports any kind of "contains"

[2021-03-31 14:39] qsdfplkj opened #529 "Feature request: purge deferred messages"
It would be nice to have a button to purge deferred messages. Similar as purge DLQ.

[2021-03-31 14:41] #529 closed

[2021-03-31 14:41] qsdfplkj commented on #529
https://github.com/paolosalvatori/ServiceBusExplorer/issues/498

[2021-04-07 06:47] qsdfplkj opened #530 "time format should include ss.ffffffff"
when looking at the scheduleEnqueuetime and equeue time's both are in minutes.... would be nice to see a more precise time that includes seconds and milliseconds.

[2021-04-07 18:16] SeanFeldman commented on #530
Out of curiosity, what's the use case for such precision that I have a feeling cannot be guaranteed by the broker.

[2021-04-07 19:02] qsdfplkj commented on #530
I don't understand what you are referring to about precision of the broker. Displaying the seconds would already be very helpful for me. The milliseconds/microseconds I guess can live without.
The reason I would like to include seconds is that I've some messages in the DLQ and I'm trying to correlated messages in the logfile or app-insight and this might help pinpoint the cause. Especially with lo

[2021-04-07 19:18] ab-shah opened #532 ""Delete Lock" on Queue or namespace does not prevent queue from deleting."
With lock on namespace or queue itself, service bus queue cannot be deleted. When delete from Portal it gives message like following

**_Failed deleting Service Bus queue [queuname] with error code: ScopeLocked and with message: The scope '/subscriptions/[subscriptionid]/resourceGroups/[resourcegroupname]/providers/Microsoft.ServiceBus/namespaces/[namespace]/queues/[queuname]' cannot perform delet

[2021-04-08 11:54] ErikMogensen commented on #532
Yes, that is unfortunate but that is due to the connection to the queue is done using SAS which bypasses ARM. ARM handles auditing, permission check using RBAC (the permissions you set on Azure artifacts, resource groups and subscriptions) and the locks.

When Service Bus Explorer was created it wasn't possible to connect to queues using ARM - I don't even think it existed outside of Microsoft. Si

[2021-04-09 13:13] paolosalvatori commented on #451
Can you please debug the code and submit a PR? I can't reproduce the issue and in addition, I'm quite busy in this period. Thanks

[2021-04-09 13:31] paolosalvatori commented on #526
@mrpmorris when I created the Service Bus Explorer years ago I provided the ability to specify filters in the Connect form and context menus. I used and implemented the filters that were available at that time. It looks that nothing has changed since then at least in the old client SDK Microsoft.ServiceBus.dll. For example, the NamespaceManager.GetQueues(String) method
retrieves an enumerable coll

[2021-04-09 13:45] paolosalvatori commented on #530
@qsdfplkj when I implemented this feature I had in mind scenarios where message consumption is scheduled after minutes, not seconds. We could simply replace the actual textbox with a smaller textbox + dropdownlist where you can select the unit of time:
- seconds
- minutes
- hours
The solution should be relatively simple to implement. @qsdfplkj let us know if you can implement this feature and subm

[2021-04-09 16:36] mrpmorris commented on #526
Yeah, I saw that :(

Seeing as the whole list is retrieved when connecting we don't actually save anything by filtering on the server.  So maybe the client could do the filtering?

[2021-04-10 13:13] bschelst opened #534 "export messages to file"
hi,
Maybe I'm just being blind, but is there a way to export all queues messages to a file?
I can view the data, but don't see option to export them?

[2021-04-10 16:32] qsdfplkj commented on #530
https://github.com/paolosalvatori/ServiceBusExplorer/pull/535

[2021-04-11 19:53] ErikMogensen commented on #530
@qsdfplkj, please post one or more screenshots of the GUI changes.

[2021-04-11 19:58] ErikMogensen commented on #534
It is a bit hidden. Select multiple messages and then right click.
![image](https://user-images.githubusercontent.com/9644248/114319248-01b01b80-9b11-11eb-8085-0ffe1e468adf.png)

[2021-04-11 20:08] ErikMogensen commented on #526
I think it would be great if the client did the filtering. Since it is a bit confusing with three SDKs for Service Bus here is a [link to what I consider the preferred method](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.administration.servicebusadministrationclient.getqueuesasync?view=azure-dotnet#Azure_Messaging_ServiceBus_Administration_ServiceBusAdministrationClient_G

[2021-04-13 09:24] paolosalvatori commented on #526
@ErikMogensen yes we can certainly implement filtering on the client-side, but there are customers that have namespaces with hundreds not say thousands of queues and topics and in that case, it would be useful to have the filtering capability on the server-side to avoid downloading a ton of entities from the cloud 😢

[2021-04-14 05:46] ErikMogensen commented on #534
I hope that answered your question. Reply here if it didn't.

[2021-04-14 05:46] #534 closed

[2021-04-14 05:46] #532 closed

[2021-04-14 05:48] ErikMogensen commented on #525
@i-love-code, is it clear what you need to do make it work?

[2021-04-14 05:50] #522 closed

[2021-04-14 05:55] ErikMogensen commented on #526
@paolosalvatori, I think most of the time is spent retrieving the runtime information for the queues, so client-side would be almost as effective. Also, if we don't accept client-side filtering we won't be able to migrate to the latest Service Bus SDK unless the Service Bus PG implements server-side filtering.

[2021-04-16 09:23] mrpmorris commented on #526
@paolosalvatori As soon as you connect, the client downloads all of the queues + topics anyway so that time is already spent.

Filtering on that list in memory would be quicker than asking the server to filter the list in memory and then return it over the network.

Or am I missing something obvious?

[2021-04-23 12:58] paolosalvatori commented on #526
@mrpmorris well, the client does not download queues and topics data unless you explicitly call the GetQueues and GetTopics methods 😃 Anyway, if you guys have the bandwidth to implement client-side filtering, go with that, I'm fully supportive 😄

[2021-04-27 22:28] #513 closed

[2021-04-27 22:28] #507 closed

[2021-05-02 04:37] #498 closed

[2021-05-02 11:09] mrpmorris commented on #526
I had a crack at it, but the presentation and operational logic is mixed together and I found it too much work to understand & separate them.

[2021-05-02 16:56] ErikMogensen commented on #526
Thanks for trying @mrpmorris!

[2021-05-05 09:30] mrpmorris commented on #526
How would you feel about application code being migrated to something like Fluxor so it can be completely separated from the code needed to present the data in the UI?

[2021-05-06 11:48] lindgrend opened #538 "Enforce Message Ordering setting"
We are trying to manually change the Max delivery count via both powershell and the C# sdk and this is working, however when we open the queue in the ServiceBusExplorer we see that this has also added the Enforce Message Ordering property to true.
![image](https://user-images.githubusercontent.com/8226441/117292553-a43d8f00-ae70-11eb-8bce-f0d9e84f6d66.png)

I would not expect this to happen automa

[2021-05-06 17:19] ErikMogensen commented on #538
A long time one of the Service Bus architects told me that the _Enforce Message Ordering_ property didn't matter for queues. It is probably still true because I see that in the latest Service Bus SDK [this property has been removed](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.administration.createqueueoptions?view=azure-dotnet),

In the old Service Bus SDK, which is used

[2021-05-06 17:27] ErikMogensen commented on #526
The top of the search in https://github.com/mrpmorris/Fluxor. Are you the author of it?

Could you describe the pros and cons of migrating to it. Consider that Service Bus Explorer contains about 50.000 lines of code (depends on how you count it) in Windows Forms and there are no dedicated developers. Everything is driven by voluntary effort, sometimes financed by organizations wanting a certain f

[2021-05-06 19:30] mrpmorris commented on #526
It's a clean way to separate the operational logic out of the code you need to control UI (disabling buttons, handling clicks etc).

Implementing the client-side filter would have been easy. You'd fire a FilterChangedAction(value of the input) every time the input changed - and then a single function would only include nodes that matched the filter.

It wouldn't be a small amount of work. But that

[2021-05-07 05:51] lindgrend commented on #538
Thanks for the fast reply, I will ask for more information from Microsoft and update this post with the result.

[2021-05-07 13:28] ben-002 opened #539 "Faulty values displayed for a message `ExpiresAtUtc` and `TimeToLive`"
## Service Bus Explorer Version
`5.02` or `4.1.112`  - same behavior

## Expected
After sending a message to a topic with a TTL different than default value, if I peek that message, for its `ExpiresAtUtc` and `TimeToLive` correct values should be displayed. Of course corelated with the TTL.

## Actual
After sending a message to a topic with a TTL different than default value, if I peek that messag

[2021-05-09 10:00] ErikMogensen commented on #539
Hi @ben-002, I just tried this with the current develop branch, which should have the same behavior regarding this as the versions you tested it on. I put 600 seconds (=10 minutes) as TTL and put it on a queue with a 1 minute Default Time to Live. After 2 minutes I started a receive which caused the messages to be moved to the DLQ.

Then I used sent a message to the queue again and it added 10 min

[2021-05-09 10:48] ben-002 commented on #539
When a message arrives **for the first time** into a subscription, its `ExpiresAtUtc` and `TimeToLive` are displayed incorrectly(e.g 12/31/9999 for `ExpiresAtUtc`). The displayed values are not the real ones, as the message will expire after the specified TTL will pass. However, as I mentioned, and you have already seen, `ExpiresAtUtc` and `TimeToLive` will be correctly displayed if the message wi

[2021-05-09 10:52] ben-002 commented on #539
To reproduce just send a message to a subscription with a TTL and check its `ExpiresAtUtc` and `TimeToLive`. Nothing else.

[2021-05-09 13:42] ErikMogensen commented on #539
I tested to send two messages with 90 seconds TTL to a topic with three subscriptions. The ExpiresAtUTC and TimeToLive look correct on all of the messages in all of the subscriptions.

We recently updated the depending NuGet packages, perhaps that fixed this. I am not sure if that was part of the 5.0.2 release. Please download and build the latest from the develop branch if that is possible for yo

[2021-05-10 13:57] 2ndcahl opened #540 "Can't purge Dead Letter Queue Messages (and maybe not normal Messages)"
Version 5.0.2

Connect to service bus in Azure
Expand Topics
Find topic with Dead letters
Right-click and select Purge Dead Letter Queue Messages
This pop-ups in the log:
<15:54:13> Exception: Could not load file or assembly 'System.Runtime.CompilerServices.Unsafe, Version=4.0.4.1, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definit

[2021-05-10 15:29] avalanchis opened #541 "PurgeDeadletterQueueMessagesAsync method purging Messages instead of DeadletteredMessages"
Version: develop branch

The HandleSubscriptionControl.PurgeDeadletterQueueMessagesAsync method is incorrectly using the PurgeStrategies.Messages purge strategy instead of the PurgeStrategies.DeadletteredMessages purge strategy.

This causes the "Purge Dead-letter Queue Messages" action to purge regular messages instead of Dead-letter messages.

[code]

This appears to have been introduced by the

[2021-05-10 20:07] ben-002 commented on #539
From the latest develop branch

https://user-images.githubusercontent.com/69915112/117717999-32ed3b80-b1e4-11eb-85b7-6afbbf6accf2.mp4

[2021-05-11 05:35] #541 closed

[2021-05-11 07:15] 2ndcahl commented on #540
You're right - it must be the subscription, not topic - sorry, I just look at the Service Bus - other people know how it actually works :-)

It might be a duplicate. I'm not very familiar with the code (and I'm not a developer), so I'm just going to guess, that it's a duplicate.

[2021-05-12 16:19] ErikMogensen commented on #540
It might also be that some required assembly is missing. A log from FusLogVw should tell us.

[2021-05-14 06:54] 2ndcahl commented on #540
Is it correctly understood, that I need to install Visual Studio in order to get FusLogVw or can I do something smaller than VS?

[2021-05-14 07:41] ErikMogensen commented on #540
I hope not. There is an solution mentioned at https://stackoverflow.com/a/34075957/6850500. Most likely you need to update the path for newer Windows and .NET Versions. On my machine it is located in C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.8 Tools\x64.

In case it requires that Windows SDK is installed it is described further down on that StackOverflow page how to configur

[2021-05-14 11:36] Greybird commented on #540
You might want to take a look at https://github.com/awaescher/Fusion also, which seems a good alternative, but it might not solve potential SDK setup needs.

[2021-05-17 07:35] paolosalvatori commented on #540
@2ndcahl did you solve your problem? Did you miss any assembly? Did you find the root cause?

[2021-05-17 07:36] paolosalvatori commented on #539
@ben-002 any news on this issue?

[2021-05-17 07:43] paolosalvatori commented on #526
@mrpmorris I started the project as a sample 10 years ago when the Service Bus was actually launched. Then I migrated the project to GitHub in September 2014. Since then I've been the primary contributor, but now most of the changes come from the community. There's no direct involvement of the product group in the project, despite I'm a Microsoft employee, and I'm too busy to embark on a full rewr

[2021-05-17 07:44] #526 closed

[2021-05-17 07:44] #538 closed

[2021-05-17 08:15] ben-002 commented on #539
Hello @paolosalvatori.  I haven't had the chance to look into what @ErikMogensen suggested, yet. So, no updates from my side at this moment.

[2021-05-17 12:41] ben-002 commented on #539
Ok, first thing first, I've created a new Console Application using the same package ServiceBusExplorer has - **WindowsAzure.ServiceBus**. This is the result(also visible in what @ErikMogensen already posted).

![image](https://user-images.githubusercontent.com/69915112/118488041-01b0c600-b724-11eb-9fb1-71385a680b33.png)

Right after the message is received, the value is wrong.

Second thing, I've

[2021-05-17 23:28] ben-002 commented on #539
https://github.com/Azure/azure-sdk-for-net/issues/21127

[2021-05-18 07:11] 2ndcahl commented on #540
I have not had time to look at the problem yet, but I have it on my to-do list. I will keep you posted.

[2021-05-18 16:44] Greybird opened #545 "Regression on session-enabled queue message retrieval"
Hello,

It seems there has been a regression between version 4.1.112 and at version 5.0.1 (with versions 5.0.2 and 5.0.3 exhibiting the same behavior) with regards to the retrieval of messages for queues that require session.
On v4.1.112 , it is working fine, while on v5.0.x the following message is logged, and no message is retrieved:
[code]

[2021-05-18 22:11] #545 closed

[2021-05-19 08:00] CasperWSchmidt opened #547 "Value cannot be null when re-submitting multiple messages at once (batch)"
Using version 5.0.3 now (but was also an issue before on 5.0.2), I can't select multiple messages from the list of Dead-letter messages and right-click to resubmit them all at once.
![image](https://user-images.githubusercontent.com/3481853/118776835-b19f4400-b888-11eb-9be8-1173c47482ae.png)
The log gives me the following error:
[code]
Which translates into
[code]
If I choose only a single message

[2021-05-19 08:17] kaluznyt opened #548 ""field must be a number" when creating queue/topic entity"
Hello,

I noticed in the newer versions when creating a messaging entity like queue or topic, and not filling in all of the fields it cannot create due to validation "The X value of the X field must be a number". It seems it was a good approach to default to 0 when a value is not provided. But perhaps there is some thought behind adding this validation ? It's not an issue, but just a small inconve

[2021-05-19 18:09] ErikMogensen commented on #548
Hi,

I just tested to create a queue and a topic and both worked as long as I put anything in the Relative URI textbox. For a short while this didn't work but I don't think that was released.

Have you tried the latest version? There were some versions released where it shows the latest released version in the About box even though the actual version is not that version.

[2021-05-19 18:26] ErikMogensen commented on #547
@CasperWSchmidt, I was unable to reproduce that on a DLQ to a queue. Are the bodies or any of the properties empty? I tried with an empty label since you have that in your snippet, but that also worked for me.

I guess that this has something to do with the message properties, but may of course be something else like the queue properties. Can you try different combinations and see if you can find

[2021-05-19 18:48] kaluznyt commented on #548
I just downloaded latest version, yet this is occurring:
![image](https://user-images.githubusercontent.com/572605/118867619-90b80c80-b8e3-11eb-8870-0f85b7120fa1.png)
![image](https://user-images.githubusercontent.com/572605/118867643-97468400-b8e3-11eb-8e8a-b85de653f42a.png)
![image](https://user-images.githubusercontent.com/572605/118867663-9ca3ce80-b8e3-11eb-867d-33b42c6acc00.png)

[2021-05-19 18:51] kaluznyt commented on #548
other issue I think worked earlier is when I have a queue with "session" enabled, I'm not able to view the messages due to:
<20:49:47> The queue abc has been successfully created.
<20:49:55> Exception: It is not possible for an entity that requires sessions to create a non-sessionful message receiver. TrackingId:d18faf83-a76e-45fa-b305-fd2b61e0be1a_G1_B0, SystemTracker:abcdefg123:Queue:abc, Timest

[2021-05-19 19:39] kaluznyt commented on #548
Ok, just took a look at the code in TimeSpanControl and it seems that it's by design that all of the particular fields are being validated, so perhaps need to just live with it and always put zeroes in the empty fields :)

[2021-05-19 20:12] kaluznyt opened #549 "Bug when getting messages from session-enabled queue"
Hello,

There seem to be some bug introduced in the newest version, I compared dev with master branches, and dev is working fine, and master have the issue (as well as 5.0.3 release).

Issue is, when there is a session-enabled queue it is not able to get the messages and getting an error:
<22:03:54> Exception: It is not possible for an entity that requires sessions to create a non-sessionful messa

[2021-05-19 20:18] ErikMogensen commented on #548
Hmm, strange. Are you able to create a queue just by filling in the _Relative URI_ field and then clicking _Create_?

Please create another issue for the session problem.

[2021-05-19 20:20] SeanFeldman commented on #549
Duplicate of https://github.com/paolosalvatori/ServiceBusExplorer/issues/545?

[2021-05-19 20:28] kaluznyt commented on #548
yeah, if there is just Relative URI then it creates it with all defaults, but if just any number is put in any of fields like I would like 1 minute lock timeout, then it fails the validation, since other "empty" fields need to be filled with zeroes

[2021-05-19 20:30] kaluznyt commented on #549
yeah, true :) closing

[2021-05-19 20:30] #549 closed

[2021-05-20 05:04] ErikMogensen commented on #548
I see.

@Greybird, it would be great if you looked into how this could be fixed.

[2021-05-20 05:10] Greybird commented on #548
@ErikMogensen sure, will take à look !

[2021-05-20 06:32] CasperWSchmidt commented on #547
@ErikMogensen All our messages have empty message bodies (we use Service Bus Attachment plugin created by @SeanFeldman), but not empty properties. Please not that moving a single message from DLQ to a queue is not a problem.
This has worked fine in production for over a year (both moving a single item as well as batching), but suddenly something changed with a new version of Service Bus Explorer :

[2021-05-20 06:44] SeanFeldman commented on #547
Just an FYI, @CasperWSchmidt, soon you won't need the plugin as ASB will support up to 100MB message size.

[2021-05-20 17:20] #548 closed

[2021-05-21 07:28] 2ndcahl opened #551 "Tab order in 'Enter Topic Filter Expression' is out of order"
5.0.3.
Right-click "Topics" and select "Filter Topics"
Press Tab on the keyboard several times and you will see that it is not in order.
Expected it to change to the different fields/button, starting from the top and working it's way down.

[2021-05-21 16:41] ErikMogensen commented on #551
Yes, you are right. There are a lot of places where this is not set. I'll work on this.

[2021-05-31 09:18] SeanoNET opened #554 "Purge messages in queue not working in 5.0.3"
Hi,

The purge button on the `HandleQueueControl` is no longer removing active messages from the queue and is instead removing dead-letter messages in Service Bus Explorer version 5.0.3.

To repro:

1. Double click queue that has at least one active message and hit the 'Purge' button.
2. Click 'OK' when the message dialog appears.
2. Active message(s) are not deleted, instead messages in the dead-

[2021-05-31 16:40] SeanFeldman commented on #554
Fixed in https://github.com/paolosalvatori/ServiceBusExplorer/commit/1259cc8035e1e3b953c3c6f7de983d7086a8ad30

[2021-05-31 16:40] #554 closed

[2021-06-01 07:18] #551 closed

[2021-06-01 07:18] #547 closed

[2021-06-01 09:34] 2ndcahl commented on #540
Hi. I have now got some more logging, using FusLogViwer

*** Assembly Binder Log Entry  (01-06-2021 @ 11:29:35) ***

The operation failed.
Bind result: hr = 0x80131040. No description available.

Assembly manager loaded from:  C:\Windows\Microsoft.NET\Framework64\v4.0.30319\clr.dll
Running under executable  C:\Tools\Service Bus Explorer\ServiceBusExplorer.exe
--- A detailed error log follows.

===

[2021-06-01 13:18] esbenbach commented on #547
@SeanFeldman how soon, is soon? Or put another way: Where can I read about that new size limit?

[2021-06-01 20:09] ErikMogensen commented on #540
I logged a purge using v5.0.2 on my computer and I see similar complaints about that assembly in the log. However, the purge works and there is no exception in the Service Bus window log.

Perhaps your Windows/.NET or anti-virus has some kind of policy which does not accept loading mismatched assemblies. There was an automatic warning about one of the Nuget packages that needed upgrading due to a

[2021-06-01 22:41] SeanFeldman commented on #547
@esbenbach I don't work for Microsoft to be able to answer this question but it's already in preview.

[2021-06-02 06:45] esbenbach commented on #547
Nah i know your not from MS - just figured you apparently had some info my
google fu couldnt dig up. And knowing there is a preview did not help my
google fu unfortunately. Thx for the info though.

On Wed, 2 Jun 2021 at 00:42, Sean Feldman ***@***.***> wrote:

--
Esben Bach
cand.scient

[2021-06-02 07:27] 2ndcahl commented on #540
Just tried some more and I got it working. Seems like I might be doing something wrong when I update SBE as I have just downloaded a fresh 5.0.3 without copying any configuration files into the new version. Maybe a breaking difference of the configuration files from SBE 4 to 5?
I copy Properties.xml and ServiceBusExplorer.exe.Config, but should I only copy Properties.xml ?

[2021-06-02 08:07] asadsahi opened #557 "ServiceBusExplorer not opening anymore on Windows 10 with latest update"
There was a windows 10 update yesterday, since then ServiceBusExplorer is not opening anymore (Doesn't give any error either). This is my current windows 10 version:
![image](https://user-images.githubusercontent.com/3470892/120445929-02329900-c381-11eb-93c4-3984d7c59d01.png)

I suspect this is because SB explorer's publisher is unknown, but not sure as it doesn't give any indication. Checking thr

[2021-06-02 10:24] CasperWSchmidt commented on #547
@esbenbach my Google fu found this https://docs.microsoft.com/en-us/answers/questions/363726/increasing-the-message-size-of-the-service-bus.html 😊 so the new limit is only for premium 😒

[2021-06-02 13:07] ErikMogensen commented on #557
@asadsahi, what do get get if you enter `ver `in a command prompt? I get `Microsoft Windows [Version 10.0.19042.928]` and it starts on my computer.

[2021-06-02 13:22] asadsahi commented on #557
@ErikMogensen this is my version:
[code]

[2021-06-02 13:22] ErikMogensen commented on #540
@2ndcahl, good thing you found it. Do not copy servicebusExplorer.exe.config, only extract the <serviceBusNamespaces> section and copy it to the new one. You know that since a version 4.x release you can store the namespace settings and other things in a file in your user profile?

[2021-06-02 19:11] ErikMogensen commented on #557
I tried on another computer and that one had [Version 10.0.19043.985] and it worked. Then I saw that there was some optional update in the Windows update dialog which I installed. After that it now has [Version 10.0.**19043**.1023] . ServiceBusExplorer 5.0.3 still works.

Strange that you are running a different build (19042), but with the same Revision (1023).

Some questions:

1. Have you checke

[2021-06-02 19:16] ErikMogensen commented on #525
@i-love-code, when installing servicebusexplorer, did you copy servicebusexplorer.exe.config from an older installation? That may be the cause, just like in #540.

[2021-06-02 19:19] ErikMogensen commented on #547
During the Integrate remote conference today Clemens Vasters said that 100 MB is in public preview and the plan is that it will GA this year.

[2021-06-03 04:51] asadsahi commented on #557
Thanks @ErikMogensen

Have you checked the event log for error messages?
_This was the first thing I checked and nothing in event logs._

Is the computer connected to a AD with policies that may block ServiceBusExplorer?
No. I am logged in on my own computer with admin rights with no AD.

Are other programs working?
Yes. All other programs are working fine, only SBE.

If you build a desktop exe wt

[2021-06-03 06:13] ErikMogensen commented on #557
I suspect that this is due to the contents of the user profile servicebusexplorer configj file. It is located at  %APPDATA%\Service Bus Explorer, for instance  C:\Users\erik\AppData\Roaming\Service Bus Explorer.

If there is a file called UserSettings.config there, rename it and try again.

[2021-06-03 06:37] asadsahi commented on #557
That is correct @ErikMogensen

It is working now. This isn't anything to do with windows update, but with any misconfigured connection string being saved in that file. e.g SBE doesn't like connection string with `EntityType` in it, even it gives the error, it still saves for some reason, hence stops opening as the logic to load connection string seems to be in startup somewhere.

Deleting the conf

[2021-06-03 06:37] #557 closed

[2021-06-03 06:41] ErikMogensen commented on #557
@asadsahi, glad that you found it. This is a bug and should be fixed. How did the connection string look like? You can xxx the actual entity names.

[2021-06-03 07:27] asadsahi commented on #557
@ErikMogensen I am trying to replicate the error with different combinations of connection strings, but can't see this happening anymore. Will keep an eye out and if this occurs again, will try and find out specific connection string which caused this issue.

[2021-06-03 07:56] ErikMogensen commented on #557
Can you do a restore from recycle bin?

[2021-06-03 09:18] asadsahi commented on #557
Sorry @ErikMogensen I modified the original config file, didn't delete it.

[2021-06-03 10:03] 2ndcahl commented on #540
@ErikMogensen I have been looking at option to store the configuration in my User Profile and might change to that. The reason I have not is that I have SBE on my OneDrive so the configuration is shared between my computers and backed up if anything happened to my computer. Not very important information, just nice that it is setup from the get-go.

I will close this issue as an Error 40 ;-)

[2021-06-03 10:03] #540 closed

[2021-06-03 14:31] i-love-code commented on #525
I believe the issue was what was commented back [here](https://github.com/paolosalvatori/ServiceBusExplorer/issues/525#issuecomment-801666769) with a DLL being pulled from GAC instead of the local folder.

No, I did not copy an existing installation over the new one. It was a brand new PC. The issue appears to be resolved for now. It's still a bit odd to me that it doesn't resolve the one in the l

[2021-06-03 14:31] #525 closed

[2021-06-05 20:52] #527 closed

[2021-06-07 07:48] OneMoreSecond opened #558 "Is this a MS official tool?"
I'm not very clear after reading README

[2021-06-07 16:31] ErikMogensen commented on #558
No, it is not supported by Microsoft. We should probably update the usage agreement. @paolosalvatori, who works at Microsoft, initially created the tool as a Microsoft sample so I guess the license agreement is left from that time.

[2021-06-09 07:41] kaluznyt opened #559 "Click on "Purge" tries to purge Dead letter queue"
Hi,

Noticed when I click on Purge on a queue, it displays log
<09:38:14> [0] messages have been purged from the dead-letter queue of the [queue] queue in [0] seconds.

same as when clicked on Purge DLQ,

I guess this is some kind of bug ? (Messages are not purged)

[2021-06-09 08:59] bhugot commented on #559
Same here

[2021-06-09 09:37] kaluznyt commented on #559
Just to add, this is observed in v5.0.3
Workaround - use v5.0.2

[2021-06-09 10:18] ErikMogensen commented on #559
Yes, that is not good. This is a duplicate of #554. It is fixed in the develop branch and we are working on releasing 5.0.4 where the fix for this is included.

[2021-06-09 10:18] #559 closed

[2021-06-10 08:46] avdv opened #560 "Cannot save entity specific connection string"
My connection string includes an `EntityPath=...` stanza at the end.

Trying to save this string in the connection dialog displays an error message:
![image](https://user-images.githubusercontent.com/3471749/121493446-240eca00-c9d8-11eb-95b4-4b5a30e21ba3.png)

Removing the Entity Path setting and hitting "Save" stores the configuration.

But I cannot connect without the entity path being present,

[2021-06-10 08:47] ryanbowden opened #561 "Unable to submit message, GAC"
`<09:41:09> Exception: Could not load type 'Microsoft.ServiceBus.Messaging.MessagingEntityClient' from assembly 'Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.
`

Seems I have come across this issue again #525 , #438, #414

Fixed it on my last machine but now happening a new machine I recently got. But really struggling to fix it this time. Can't remember

[2021-06-11 06:11] avdv commented on #560
Wouldn't this just need the same change is in https://github.com/paolosalvatori/ServiceBusExplorer/pull/422 ?

Ie. just remove this check: https://github.com/paolosalvatori/ServiceBusExplorer/blob/af1aabc961d1ec2308a11950e544a9d2fcccc938/src/ServiceBusExplorer/Forms/ConnectForm.cs#L625-L635
:question:

[2021-06-11 07:09] ErikMogensen commented on #560
@avdv, can you try it? If it works, please create a PR for it.

[2021-06-12 15:22] ErikMogensen commented on #561
This seems to be a common issue. I checked two NuGet package versions for [WindowsAzure.ServiceBus](https://www.nuget.org/packages/WindowsAzure.ServiceBus/) (which contains the Microsoft.ServiceBus.dll assembly), v4.1.1 and the latest, v6.1.1 and both have the same strong name, `Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35`.

To the best of my knowledge t

[2021-06-13 09:40] ErikMogensen commented on #472
Need to do this to be able to move to .NET 5.

[2021-06-13 10:14] ErikMogensen commented on #472
@brannon, a year ago you mentioned that were a good contact regarding NotificationHubs issues. Is this still true? I am wondering because I would like some help with updating Microsoft.Azure.NotificationHubs from 1.0.9 to 4.1.0 in ServiceBusExplorer.

The problem is the following properties in the NotificationHubDescription class which do not exist in the latest version of Microsoft.Azure.Notifica

[2021-06-13 20:58] ErikMogensen commented on #116
Fixing this will ease the migration to .NET 5 and a GitHub Actions based build.

[2021-06-13 22:02] #560 closed

[2021-06-14 10:16] markbartolo opened #564 "Resubmit Messages in Batch Mode"
Hi,

Is there a limitations to the number of messages that you can resubmit form the Deadletter queue at once in batch mode?

![image](https://user-images.githubusercontent.com/15801722/121876966-630b8b00-cd0a-11eb-83fd-b316060a57ed.png)

Thanks.

[2021-06-14 17:05] ErikMogensen commented on #564
There is no limit. It used to be a limitation depending upon the size of the messages and which Service bus SKU was receiving the messages. This was changed three years ago and now the messages are sent one by one instead, which removes the limit so you can send as many as you want.

[2021-06-14 17:05] #564 closed

[2021-06-15 06:27] markbartolo commented on #564
Thank you @ErikMogensen

[2021-06-15 16:40] #451 closed

[2021-06-16 12:36] codes4pizza commented on #561
I also had this issue back in March. I found that an old install of KingswaySoft SSIS Productivity Pack had added the Microsoft.ServiceBus.dll assembly to the GAC. After uninstalling that product i was able to submit messages.

Using gacutil to remove was not an option because the installer had placed some kind of lock/reference on the file.

[2021-06-16 12:54] ryanbowden commented on #561
@ErikMogensen I went with you second option and overwrote the old one. Thank you.

[2021-06-17 14:42] ngreyes opened #565 "MessageID in body of message does not match MessageId of the Message System Properties right pane"
MessageId in body of a dead letter message does not match MessageId of the Message System Properties right pane.

I'm no expert on this and realize that developers may customize the properties, but it will be nice to know if the message id in both sides should match.   Additionally the session Id does not appear on the right pane.

Any comment is appreciated.  Using Service Bus Explorer ver. 5.0.3

[2021-06-17 17:23] ErikMogensen commented on #565
What do you mean by the message id in the body? Is that something the sending application put there? A screenshot may help.

[2021-06-17 21:36] #530 closed

[2021-06-18 12:42] paolosalvatori commented on #565
Do you mean that the MessageId that you set explicitly with the UI of the tool does not correspond to the messageId you see when peeking or reading the message?

[2021-06-18 12:43] #561 closed

[2021-06-18 12:51] paolosalvatori commented on #558
The tool is provided under Apache license: you can find the license in the main folder: https://github.com/paolosalvatori/ServiceBusExplorer/blob/develop/LICENSE.txt 😃

[2021-06-18 12:51] #558 closed

[2021-06-19 07:18] ErikMogensen commented on #539
@ben-002, I see that you got an answer that this is a service side issue. I suggest you create an issue for that in https://github.com/Azure/azure-service-bus/issues/.

[2021-06-22 11:09] TrujilloGarcia opened #568 "Consuming messages in event hubs with schema registry"
Currently from what I have seen the application does not support the use of the schema registry. Is there a simple way to solve this or some other alternative?
In the same way, would it be possible for this functionality to be implemented in future versions or would it be difficult?

[2021-06-22 21:58] ben-002 commented on #539
Well I'm a bit confused right now. They say in their response that this behavior it's expected. I posted a new comment asking for more details. I also opened an issue on the service: https://github.com/Azure/azure-service-bus/issues/432

[2021-06-23 19:58] ErikMogensen commented on #568
I see in the article [Azure Schema Registry in Event Hubs (Preview)](https://docs.microsoft.com/en-us/azure/event-hubs/schema-registry-overview) that this functionality is still in preview. @paolosalvatori, @SeanFeldman, do we have any policy regarding using features that are in preview? In my opinion we could allow it if it is in code that is only executed when the user has chosen to and it is cl

[2021-06-23 20:15] SeanFeldman commented on #568
I've had a mixed experience with Previews. For example, Service Bus large messages Preview is rolling out for over 6 months now. And I don't think the public preview is out yet (not sure). Blob Index Tag took almost a year and some things were working, some not, availability depended on region, etc. So I'm not a good advisor here. For me it would depend on:
1. How "stable" the preview is?
1. What

[2021-06-29 12:44] ngreyes commented on #565
The message send from one micro service to another in our case is a Json string which contains a message ID, session ID and others.   I though that that those IDs corresponded to the IDs on the side panel, but I gather by you questions that that's not the case.  The side panel I guess has the real IDs for the message sent and not the customized content.  I'm going to close this.

[2021-06-29 12:44] #565 closed

[2021-06-29 16:33] mack0196 opened #571 "Subscription filtering not working"
I've tried using name, subscription, path, subscriptionName with like '%...%' but I get a fail like this.
What is the correct way to set a subscription filter in Service Bus Explorer?

<11:30:24> Exception: The remote server returned an error: (400) Bad Request. Invalid Filter. The specified property 'subscriptionName' does not exist or is not allowed.

           Parameter name: propertyName Trac

[2021-06-29 16:43] ngreyes opened #572 "Highlight on selected queue goes away as soon as anything selected on right pane"
This is to nick pick at the interface which I think is great.  When selecting a queue on the left, it would be nice to leave it selected until another queue is selected in the same session.  Even thou the selected queue is displayed at the top, we tend to look to what we selected on the left pane.

[2021-07-02 13:18] #116 closed

[2021-07-03 07:48] ErikMogensen commented on #572
Agreed.

[2021-07-04 07:06] ErikMogensen commented on #571
You can set the filter either SQL style or Correlation style. These styles are the standard ones and are described [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/topic-filters). Very similar functionality is available in the Azure Portal.

Here is an example of a filter:
![image](https://user-images.githubusercontent.com/9644248/124376206-1c280a00-dca6-11eb-826e-b71bfbbf4c6e.p

[2021-07-05 08:16] sksk571 opened #574 "Getting the list of queues times out"
We have about 7000 queues in a single namespace (these are development queues created for local testing and QA). Attempt to view them in ServiceBusExplorer finishes with the timeout error:
[code]

[2021-07-05 17:30] ErikMogensen commented on #574
That's a lot of queues! What's your Server timeout? Increase it until it works.
![image](https://user-images.githubusercontent.com/9644248/124503741-77511e00-ddc6-11eb-9764-0b686cb224e1.png)

In case you don't know about it, you can filter queues based on their name. PR #468 added the ability to put different colors on them depending upon name and whether they are leaf queues or not.

[2021-07-05 17:32] #572 closed

[2021-07-07 17:49] SeanFeldman commented on #574
Are 7000 queues the result of all lower environment/devs sharing the same namespace or there's a legitimate need in that number of queues?

[2021-07-08 10:04] darkurse opened #576 "Could not load file or assembly "System.Runtime.CompilerService.Unsafe, version=4.0.4.1 ...""
**Version affected :**
5.0.4

Using the "ServiceBusExplorer-5.0.4.zip" zip file.

**repro steps :**
Click the topic name in the tree view generates this message in the logs below.

![image](https://user-images.githubusercontent.com/1208226/124902828-9b3d7b00-dfe3-11eb-8781-6be63171eaeb.png)

**NB:** I have to add the "purge messages" action doesn't seem to work either but this could be due to the

[2021-07-09 03:42] Camios opened #577 "A number of settings on the Proxy page aren't persisting."
My PC sits behind a corporate proxy that requires auth, but the new version 5 of service bus explorer doesn't retain some of the proxy settings. Interestingly v4 is working without needing proxy settings in app.config (although it's possible I may have fixed it some otherway)

Open service bus explorer. Noted a 407 proxy auth error
Go to View > Options
Go to Proxy Tab
Tick options for "bypass prox

[2021-07-09 09:43] sksk571 commented on #574
Increasing timeout to 300 seconds fixed the issue, thanks.

@SeanFeldman this namespace is shared between dev/QA environments, therefore it contains so many queues.

[2021-07-09 15:10] SeanFeldman commented on #574
That's what I suspected. Standard tier namespaces are intended specifically for that and do not cost anything additional. The practice of sharing a single namespace among developers and testers is unnecessary in most scenarios. You might want to look into provisioning a namespace per developer/QA environment. This will lead to less complexity, reduced number of entities, remove dependencies and im

[2021-07-09 15:11] #574 closed

[2021-07-10 09:20] ErikMogensen commented on #577
The Service Bus SDK version used is regularly updated, but other than that it should not be any differences related to proxy handling between v4 and v5.

For me saving those values works just fine. The settings are in the AppSettings section and look like this:
[code]

1. Are you able to save other settings?
2. Is ServiceBusExplorer running from a directory with restricted access such as underneat

[2021-07-10 09:48] ErikMogensen commented on #576
v5.0.4 contains `System.Runtime.CompilerService.Unsafe, Version=4.0.5.0` so there must be something redirecting it to an older version. Have you kept your servicebusexplorer.exe.config file between upgrades? If so, please use the servicebusexplorer.exe.config  from 5.0.4 and copy just the settings you need from the old config file, which is usually only the connection strings to the new config fil

[2021-07-12 00:13] Camios commented on #577
Hi @ErikMogensen
 I added the two lines and found those values were loaded, but then some very odd behaviour started happening when I started toggling options. I was actually after the "Use Default Credentials" option so I tried ticking it and hit save, and then checking the app.config and the value isn't saved!
![image](https://user-images.githubusercontent.com/2810835/125213909-c2ec5600-e2f7-11e

[2021-07-12 15:30] ErikMogensen commented on #577
@carmi,

If I remove those lines from the app.config it creates them for me once I save in the GUI.

1. What about other settings, are you able to save those?
2. Do you see that the values in the config files change when you change and save them in the GUI?
3. Is ServiceBusExplorer running from a directory with restricted access such as underneath c:\program files (x86)\ ?
4. Are there any error m

[2021-07-14 15:18] darkurse commented on #576
Spot on ! Thank you very much.

[2021-07-14 15:18] #576 closed

[2021-07-14 18:48] ErikMogensen commented on #576
Great! We have to fix the update procedure somehow.

[2021-07-16 14:04] ben-002 commented on #539
@ErikMogensen @paolosalvatori This is by design. The explanation is posted here:https://github.com/Azure/azure-sdk-for-net/issues/21127
I will close the issue now.

[2021-07-16 14:04] #539 closed

[2021-07-16 17:08] rgourleypython opened #579 "Azure resource locks don't prevent topic/subscription deletion"
One of our subscriptions was accidentally deleted using Service Bus Explorer even though we have a delete lock on the Service Bus resource. We opened a case with Microsoft and received the following response:

![image](https://user-images.githubusercontent.com/78980727/125983945-009ad7e2-74e9-435f-bf0f-905d5aabb779.png)

Can Service Bus Explorer be updated to do deletions through the ARM layer so

[2021-07-17 07:36] ErikMogensen commented on #579
We are aiming for adding ARM layer support but since development is done on a voluntary basis it hasn't happened yet. Currently ServiceBusExplorer is using two different Service Bus SDKs which makes this task more difficult too.

Regarding respecting the resource lock it is impossible since there is no way to see that lock when only having a SAS style connection string.

[2021-07-17 07:36] #579 closed

[2021-07-18 15:58] ErikMogensen commented on #579
Adding that RBAC support, which is the same as ARM layer support, is mentioned in https://github.com/paolosalvatori/ServiceBusExplorer/projects/1#card-9365395.

[2021-07-22 13:43] wvdd007 opened #581 "When receiving messages that contain a null messageproperty the system shows a NullReferenceException in the logfile"
We are using NServicebus to publish our messages.  This means that all metadata of the messages is more or less handled automatically.  This works fine except for one property "NServiceBus.ExceptionInfo.HelpLink", which happens to be null.  This breaks the code that retrieves the property type.  This can be easily solved by changing
`public override Type PropertyType => _dictionary[_key].GetType()

[2021-07-22 13:46] SeanFeldman commented on #581
@wvdd007 to create a PR you need to fork the repository first.

[2021-07-24 15:19] #581 closed

[2021-07-28 23:57] pgosula opened #583 "Resubmit of multiple deadlettered messages modifies the message text"
Hello,

When trying to resubmit multiple dead-lettered messages on ServiceBusExplorer version 5.0.4, a string gets appended to the start of the message text after resubmit.

Steps to reproduce:
1. Right click on queue with dead-lettered messages and select "Receive Dead-letter Queue Messages"
2. Make sure receive mode is "Peek" and click "Ok"
3. Select multiple messages from the message list by ho

[2021-07-29 07:32] ErikMogensen commented on #583
I was unable to reproduce that. I guess it depends how the messages were sent in the first place. It would be helpful to know which format the messages were sent using.

I think that starting string, which is added, is the length of the string used for internal string operations. It may also be information about the format. Then it is just a matter of how you choose to display the content of the m

[2021-07-29 21:26] pgosula commented on #583
Hi Erik,

Thanks for your response.

I am using Microsoft.ServiceBus and I did some digging on stackoverflow, based on this [post](https://stackoverflow.com/questions/45873327/microsoft-servicebus-messaging-vs-microsoft-azure-servicebus) as well as this [one](https://stackoverflow.com/questions/49045149/difference-between-brokeredmessage-class-in-microsoft-servicebus-and-message-cla) that may caus

[2021-07-30 13:13] aeslinger0 opened #584 "Better UI for Message Custom Properties pane"
Could you make it so we can see the entire Value of the "Message Custom Properties" pane for a Queue? Right now if the text wraps, there's no way to see the rest of the text. Also can you make it so we can copy/paste from it? The text is not currently selectable or copyable.

I'm guess the same could be said of the "Message System Properties" pane as well.

Thanks.

[2021-08-03 23:10] divekarvinit opened #585 "Microsoft Defender SmartScreen prevents the exe file from executing."
Here is the image of the error which is displayed when `ServiceBusExplorer.exe` is executed. The same error occurs when it is Run As Administrator.

Error: Microsoft Defender SmartScreen prevented an unrecognised app from starting. Running this app might put your PC at risk.

Service Bus Explorer Version: **5.0.4, 4.1.112**
Operating System: Windows 10 Enterprise
System Type: 64-bit operating syst

[2021-08-04 06:41] ErikMogensen commented on #585
Have you unblocked it? See https://github.com/paolosalvatori/ServiceBusExplorer/issues/372#issuecomment-531106179 for how to do it. Since you have unzipped it, you can try to just unblock servicebusexplorer.exe.

[2021-08-04 06:47] ErikMogensen commented on #584
@aeslinger0, that sounds very good. However, since the development is done by the community your best bet of getting this improvement is to do it yourself. We'd be happy to get a PR for this.

[2021-08-04 06:53] ErikMogensen commented on #583
Yes, I think so. What happens if you send it as Stream instead?

[2021-08-06 05:29] divekarvinit commented on #585
Sweet! Thanks, @ErikMogensen . That works!

[2021-08-06 05:29] #585 closed

[2021-08-13 09:36] benclerix-cegeka opened #586 "Exported brokered message cannot be imported properly to be sent to a queue"
**Service Bus Explorer version: 5.0.4**

I saved a brokered message in json format (e.g. from a topic). The contents look like this (some properties redacted):

[code]

I expected to be able to send this message to a queue:
- Right click on queue: "Send messages"
- Click open and select the brokered message json file
- I generate a new "messageId" and "NServiceBus.MessageId" property.
- I leave th

[2021-08-13 14:03] SeanFeldman commented on #586
Thank you for reporting this bug, @benclerix-cegeka. It’s a bug. I’ll take a look at it.

[2021-08-16 09:40] FredrikDahlberg commented on #583
I have the same problem when resubmitting a single message. Body type does not matter.

[2021-08-19 22:57] SeanFeldman commented on #506
damn bot 😂

[2021-08-20 15:38] ErikMogensen commented on #506
@SeanFeldman, you can use the Pinned label to avoid the bot, but that is cheating...

[2021-08-22 06:28] ErikMogensen commented on #583
@pgosula, can you reproduce this, including the sending part using Service Bus Explorer only?

If not, please provide the code you are using for creating and sending the messages.

[2021-08-29 21:39] #568 closed

[2021-08-30 19:04] owingruters opened #587 "not clear how to start SBE after choco install"
after choco install it is not clear how to start the application. Its not found in windows search, not as shortcut and not on the desktop. Is also not found in the 32 or 64 bit program files directories, not on the explorer search. Eventually I found it using windosws search, only when typing in fully "servicebusexplorer"
can you update the documentation to clarify how to open after installing?

[2021-09-07 12:01] aaravpandya commented on #480
@paolosalvatori Hi, we are facing the same issue but with a twist. We can connect to service with TLS 1.0, and 1.1 enabled. But unable to do so with only 1.2 enabled. Any ideas?

[2021-09-07 14:05] BrettBailey commented on #587
Also took a while to find.

If it helps others for me it was at:

C:\ProgramData\chocolatey\lib\ServiceBusExplorer\tools\ServiceBusExplorer.exe

[2021-09-08 10:30] aaravpandya commented on #480
Hi, solved this issue by simply bumping the .NET version to '4.7.2'.

[2021-09-08 11:18] broomfn commented on #587
It's not just me then!

[2021-09-10 18:06] mattisking commented on #311
So, this is still happening for me in 2021 with the package from chocolately, version 5.0.4 on Windows 10. Is there something that needs to happen here still? It doesn't seem truly fixed. I'll try to build it myself with suggestions from above, but it might be worth seeing what's wrong in the build going out.

[2021-09-12 12:07] AlexanderGurinov commented on #311
Same error when trying to repair and resubmit from DLQ.
<15:04:13> Exception: Could not load type 'Microsoft.ServiceBus.Messaging.MessagingEntityClient' from assembly 'Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.
The dll in the same folder as exe:
![image](https://user-images.githubusercontent.com/2279213/132986910-bc10d030-6f38-4d87-b5ff-48e440ad8575.p

[2021-09-13 00:05] halfer53 commented on #587
Agree, it took me a while to find the path

[2021-09-13 14:16] dracan opened #588 ""Hi mate, how are you?" cannot be changed and persisted"
First of all - thank you for this _amazing_ tool! It's so super-useful.

My comment is a very trivial one, but I thought I'd raise it anyway. It's just about the "Hi mate, how are you?" text that's there by default when trying to send a new message. Azure Service Bus Explorer looks a very well done, professional-quality tool. And this might just be me, but that message just looks silly. When using

[2021-09-13 14:19] SeanFeldman commented on #588
You can change the default text in the settings to something "All Your Base Are Belong to Us" to make it look more professional.

[2021-09-13 17:00] dracan commented on #588
Ah, I didn't realise it was a setting. However, it doesn't seem to work. Whatever I change it to - it doesn't persist. If I close the dialogbox and reopen it, it's back to "Hi mate, how are you?".

[2021-09-13 17:22] SeanFeldman commented on #588
Looks like it's greeting you each time, which is expected behaviour 😀

Likely a bug. Want to have a look into it if you have a spare cycle?

[2021-09-13 18:48] dracan commented on #588
I've had a quick look - but don't know the codebase well enough to work out the issue without spending more time on it than I have sadly. Obviously - this is very low priority anyway. I just thought I'd mention the default text - as I'm not the only one I've seen use this tool who's raised eyebrows at the choice of default message 😉

Re. the saving bug - it seems to save it as expected _until_ I o

[2021-09-14 06:08] ErikMogensen commented on #588
@dracan, what do you think is a good message text?

[2021-09-14 06:15] dracan commented on #588
@ErikMogensen I don't think it needs any default text. The most natural from at least the way I use it would be... when the SendMessage dialogbox opens, if the message text area is empty, and has focus ready to paste or type straight away into it.

[2021-09-14 09:23] BrettBailey commented on #587
I had to install choco so that I could install SBE.  Would prefer to just download the binaries.

[2021-09-20 05:03] ErikMogensen commented on #587
@BrettBailey, the published zip file contains the binaries.

[2021-09-20 05:06] #587 closed

[2021-09-21 17:05] skastberg opened #590 "Receive and Delete behaviour can have side effects"
During troubleshooting I found out how **Receive and Delete** works,  When I select a higher value for **Top** than current Queue length I received the messages and inspected. In the background new messages that arrive are Received and deleted until the top value is reached. The messages that arrive later will never get to the UI and will "disappear".  If you select ALL the loop will continue unti

[2021-09-22 19:29] skastberg commented on #590
Hi Erik,

Thanks for looking in to it. I did a bit more testing with different connections as you say it works on your side. It seems to be when using AMQP. Tested AMQP with both the old and the new client and both give this behavior. If I connect with NetMessaging it works.
It's really strange I debugged and as you say it should not happen.

[2021-09-26 08:03] ErikMogensen commented on #590
Samuel, I updated the WindowsAzure.Servicebus NuGet package to the latest version. It has been merged into the develop branch. Please try again and see if the issue persists. If it does it would be great if you created a case for this since many people will start using the AMQP transportmode to utilize the new large message support.

[2021-09-27 18:20] Uleertel opened #592 "Issue sending messages bigger than 1MB"
Hi,
First thanks for this amazing tool and all your work.

I'm using a new Premium Service Bus Namespace and created a topic with a maximum message size of 102400KB that is in public preview since a few weeks.
I would like to send test messages to this topic with a text content bigger than the previous limitation of 1MB, using Service Bus Explorer.

## Actual Behavior
1. I tried with the default c

[2021-09-27 18:47] SeanFeldman commented on #592
The current ASB SDK used (track 1) doesn't support large messages API. Therefore, it will require the latest ASB SDK (track 2) to send messages larger than 1MB.

[2021-09-27 18:53] Uleertel commented on #592
Thank you for your quick answer, is there any plans to move to this track 2 sdk?
And sorry it's a bit out of topic but do you know if the current version of azure function trigger will work with this kind of message?

[2021-09-29 09:49] jcoeltjen opened #593 "Feature Request: Add menu entry to duplicate subscriptions"
## Background
From time to time I run into issues for some specific event consumers in our Service Bus backed microservice landscape.
It would be really helpful during debugging to be able to see what messages exactly are sent out to the application.
Just creating a new subscription on the topic is the current workaround but unfortunately this newly created subscription will receive all messages s

[2021-09-29 16:33] SeanFeldman commented on #593
@jcoeltjen sounds like an interesting feature. Right-click on a subscription --> "Duplicate", provide a new name. The same could be applied to the queues. Or even topics.

Go ahead, raise a PR. When you do, have some screenshots to show what it looks like in the end. And thank you!

[2021-09-29 20:07] ErikMogensen commented on #592
Actually it is using track 0 (I think @SeanFeldman came up with the idea to call it track 0) for this part of the code. We want to migrate it to track 2 but that depends upon voluntary effort without support from Microsoft. Perhaps @Uleertel, perhaps you want to create a PR for changing this? There is a class with the name ServiceBusExplorer2 that you should use.

@SeanFeldman, have you checked wi

[2021-09-30 05:51] Uleertel commented on #592
@ErikMogensen you may have to look twice about the empty messages. After some tests it appears that messages with size=0 in Service bus explorer are in fact larger than 1MB. When I read the queue from my azure function I receive the full content.

[2021-10-05 15:52] jcoeltjen commented on #584
I believe this issue is outdated as the current version (at least 5.0.4) has already a fix for this implemented.
You can easily copy the values from the new UI via double clicking into the text field.

![image](https://user-images.githubusercontent.com/7881529/136058253-097248f0-a05d-4f04-b0bc-05e6ba644936.png)

[2021-10-06 07:16] jcoeltjen commented on #593
Closing this issue as the related PR has been merged.

[2021-10-06 07:16] #593 closed

[2021-10-20 15:10] keipa opened #597 "ProgressBar for long term actions"
I've faced several times that service bus explorer is kind of stuck when it performs the long term operations
from POV it's got to have a progress bar due that actions

lib to use
https://github.com/damageboy/yaap

[2021-10-24 11:26] ErikMogensen opened #598 "Switch to using GitHub Actions for releases"
Switch to using GitHub Actions instead of AppVeyor and GitVersion. Use manually set tags for setting version.

[2021-10-31 03:24] SeanFeldman commented on #586
No, no news. Billable time comes first 🤷‍♂️

[2021-11-08 07:28] royzhao7 opened #599 "Message Text Display Error"
I send a message text

<?xml version="1.0" encoding="utf-16"?>
<Job xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" calculationMode="optimization" countryCode="CN" identification="000009203032" calculatorEngine="scg" xmlns="http://www.essilor.com/business/schema/lensCalculation-2006">
  <Right>
    <Order>
      <Product supplierCode="essilor" pro

[2021-11-08 17:28] zliu443inG opened #600 "The eventHub didn't receive message even if the call is successful"
I use postman to trigger a plugin to send messages. However, the postman says statuscode == 201 which is successful. But the service bus explorer received nothing. I connected the eventhub by using the namespace connection string. Anyone knows why I received nothing?
![image](https://user-images.githubusercontent.com/79061809/140789557-17d25281-3716-4917-a448-90c2b9f275d1.png)

[2021-11-10 10:36] miqm opened #601 "Build alternative UI on MAUI"
I'd like to propose building alternative UI on .NET MAUI to bring the Explorer to macOS and Linux platforms.

There were some discussions and proposals already in #286 and task would require bumping to .NET 6 but it might be worth the effort. The portal version is very limited in capabilities and the existing alternative https://github.com/telstrapurple/PurpleExplorer is quite primitive.

I know i

[2021-11-10 12:31] Maverick1983 opened #602 "Cannot send events without content to Event Hub"
Like this [https://github.com/paolosalvatori/ServiceBusExplorer/pull/514](https://github.com/paolosalvatori/ServiceBusExplorer/pull/514)
for Event Hub not working

[2021-11-11 08:15] #571 closed

[2021-11-15 14:46] #602 closed

[2021-11-15 17:22] mack0196 commented on #571
Using 'Name LIKE 'something%' on the topic to filter subscriptions gives me this error
![image](https://user-images.githubusercontent.com/6463105/141826027-4eb823ed-d5cf-4b5e-be9f-aa4a96867e77.png)

[2021-11-29 13:59] ChoOo7 opened #607 "Windows AAD login"
Hello

Can we have an Azure Active directory login to have access to our services bus ?

We don't want to have any password / keys on our computers

Thanks

[2021-12-05 08:08] ErikMogensen commented on #584
Great. Let's close this before the bot.

[2021-12-05 08:08] #584 closed

[2021-12-06 16:37] #592 closed

[2021-12-08 13:49] rubenVerschueren opened #608 "sending messages from file"
during a migration test we ended up with many (a few thousand) DLQ messages on a subscription listener of service bus topic A.
there are several listeners X,Y,Z on this topic both the X and Y have the same rule.

I have 2 issues actually. the first is I can export the DLQ messages and use that file to resend them, but the file will contain the message body, properties and metadata. When using the

[2021-12-08 14:58] SeanFeldman commented on #608
Problem #2 is a topology problem. You can’t target a specific subscription w/o doing some modifications to the message headers or the subscription rules. That’s why I like forwarding topology, where a subscription is forwarding messages to a queue that is used to receive.