[2018-05-09 02:56] Mossharbor commented on #212
@SeanFeldman Thanks for sending that list.  I am not sure why you say:

It seems like it is the second item on the list:

Anyway if that list is correct then I don't have an issue as long as there isn't a gap between turning the older REST API's off and the release of the newer library you referenced.

[2018-05-09 14:54] tomkerkhove commented on #212
Updated the issue with what we are removing.

[2018-05-09 16:31] Mossharbor commented on #212
@paolosalvatori thanks for the clarification and the suggested workaround.

[2018-05-09 18:49] tomkerkhove commented on #213
I can confirm this bug, however I think we should rename this one or create another one since the problem is bigger than this because if you use a valid Notification Hubs connectionstring, everthing is fine:
![image](https://user-images.githubusercontent.com/4345663/39833471-bd21f1b2-538f-11e8-90ac-f2cfc137c054.png)

But exceptions start popping up for the other entity types.

Problem is that we s

[2018-05-09 19:34] tomkerkhove commented on #213
Personally I would try to connect to all entities and determine the outcome:
- If nothing was found, throw
- If I have event grids, hide the rest and don't throw
- If I have notification hubs, hide the rest and don't throw
- If I have queue, hide the rest and don't throw. If it couldn't get topics and tier is above basic, throw

Removing support for Notification Hubs would be a bit of a pity given

[2018-05-10 07:46] paolosalvatori commented on #213
Hi @tomkerkhove I already implemented this behavior:

"Based on the type of connection strings we should only show the icons of the services that are supported and hide the other ones. However, this also means that we will need to swallow this particular type of exception."

The change that was recently introduced, broke my implementation of this behavior. We need to re-establish this functionalit

[2018-05-11 09:41] tomkerkhove commented on #212
Updated issue with link to official blog post - https://blogs.msdn.microsoft.com/servicebus/2018/05/11/azure-service-bus-deprecating-entity-metrics-rest-api/

[2018-05-14 17:58] SeanFeldman opened #214 "Partitioning is not available on Premium"
Unlike [in the past](#120), ASB [Premium tier is no longer using Partitioning](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-partitioning#premium) and it should be disabled.

With no option to determine type of namespace (until namespace manager package is available or other alternative is impleneted), there's no way to determine if Partitioning option should or should n

[2018-05-14 18:09] calloncampbell commented on #49
If you wanted to have this tool run on more than just Windows why not follow how the tool "Microsoft Azure Storage Explorer" was built with Electron.

Otherwise, if you wanted to move it to UWP there was a lot of announcements at Build 2018 where UWP is now supported across all Windows frameworks: Winforms, WPF, and Win32.

[2018-05-14 18:18] SeanFeldman commented on #49
@calloncampbell things are not as simple as "just do X and profit".
1. Historical aspect - the tool has been created using Windows Forms and switching to anything else is not something to easily ignore.
1. There's UI work that the current maintainers can or cannot do. Electron requires front-end developemnt that the current mainters don't do.
1. The current tool is using ASB .NET Client. Electron

[2018-05-14 20:44] calloncampbell commented on #49
I wasn’t suggesting it would be as easy as “do X and profit”. I know it’s base don Winforms, I was just offering up some suggestions. If you want to have deployed via the Microsoft Store it’s definitely feasible. If however you wanted to go down the path of multi-platform then that is a much bigger task.

Callon

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

______

[2018-05-15 10:57] paolosalvatori commented on #214
True, but apparently there's nothing we can do. Understanding the sku of a namespace (standard or premium) pose the same issue of determining the kind of namespace (Service Bus, Event Hubs) :(

[2018-05-15 19:36] SeanFeldman commented on #214
There always is. Just not optimal. We can wait for the new [namespace management package](https://github.com/Azure/azure-service-bus-dotnet/issues/65#issuecomment-338874419). That one should have this bit.

[2018-05-16 11:06] ErikMogensen commented on #214
Using the REST API it is should be possible to determine whether it is running Premium or not; https://docs.microsoft.com/en-us/rest/api/servicebus/namespaces/get.

[2018-05-16 13:38] paolosalvatori commented on #214
@ErikMogensen true, but it requires to use an AD user to get an authorization token, the connection string is not enough. :(

[2018-05-16 15:28] SeanFeldman commented on #212
@tomkerkhove open a PR and mark as `[WIP]`.

@paolosalvatori we should enable [WIP plugin](https://github.com/apps/wip) on this repo to block merging of anythign that is marked as `wip`/`spike`.

[2018-05-17 08:36] ErikMogensen commented on #214
I thought it was too easy and obvious :)

Another idea, which is not pretty but if it is important to determine SKU could be worth considering:

Since Premium does not report/support partitioned queues anymore check if anyone of the existing queues is partitioned, then we know.

If there aren't any partitioned queues, check if any queue is larger than 5 GB, then it is Premium.

Finally if those ch

[2018-05-17 09:30] paolosalvatori commented on #214
Thanks @ErikMogensen in case the test is positive, yes, you know the namespace is using the Premium pricing tier, but if the test is negative, this doesn't necessarily mean that the namespace is Standard :) I appreciate your workaround :) We may also extend the connect form and ask the user to specify if the namespace is standard or premium, without making any internal test.

[2018-05-17 09:47] tomkerkhove commented on #212
Re-opening given the PR was still a WIP and needs more testing + final fixing.

[2018-05-17 13:04] ErikMogensen commented on #214
I edited my last response in this thread to make it clearer or at least less unclear :) I do not see how the tests above would fail to determine SKU. It will fail on the Basic SKU, but I believe those do not exist anymore.

Since many users don't know whether they are running Premium or Standard I think it is better in most cases to get that information technically.

[2018-05-17 14:22] SeanFeldman opened #217 "Enable WIP plugin"
I have no permission to access settings, so @paolosalvatori ping #2.

https://github.com/paolosalvatori/ServiceBusExplorer/issues/212#issuecomment-389561214

[2018-05-17 14:27] SeanFeldman commented on #214
Yep. That's what all tools are doing while defaulting to standard.

While proposed workarounds are creative, let's not get carried away 😃
Also, we need to move on. The new client is going to add basic management operations with support for namespace SKU reporting.

My vote is to move off the old client. Or at least leverage the new one for things such as determining SKU.

[2018-05-17 17:04] paolosalvatori commented on #217
@SeanFeldman @tomkerkhove  Should be ok now. I installed the plugin in all my repos. Can you please check?

[2018-05-17 17:06] paolosalvatori commented on #214
Agreed, let's progressively migrate to the new library starting from SKU discovery.

[2018-05-17 17:26] #217 closed, assigned to paolosalvatori

[2018-05-21 18:11] lemtzas opened #220 "Typo in releases page"
![image](https://user-images.githubusercontent.com/1063171/40322582-ab915fda-5ce7-11e8-8199-4a258bb8a6f1.png)

Should probably be "Enhancements"

[2018-05-21 19:12] SeanFeldman commented on #220
Magical improvements 😂

[2018-05-22 05:36] SeanFeldman commented on #220
Fixed, thanks.

[2018-05-22 05:36] #220 closed

[2018-05-24 15:17] paolosalvatori commented on #212
Hi @tomkerkhove I downloaded the latest version of the code. It looks like you didn't complete the work, right? You removed metrics for queues and topics but not for event hubs or notifications hubs. Are you planning to work on this or should I plan some time to do it? In addition, buttons are not properly aligned when selecting an existing queue or topic.

[2018-05-25 13:57] paolosalvatori commented on #212
@tomkerkhove no worries, just checking! :)

[2018-05-28 01:31] kawazoe opened #222 "Support for all four of queues suspension states"
While the Azure Portal only supports the Active and Disabled state on queues, the NamespaceManager actually supports two additional states: SendDisabled and ReceiveDisabled. These two states can be incredibly useful and do not appear to be supported by the current version of ServiceBusExplorer.

I propose to tweak the current "Enable/Disable" contextual menu options, as well a all of their various

[2018-05-28 03:46] SeanFeldman commented on #222
Technically, there are [more states](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.entitystatus?view=azure-dotnet). Perhaps UI wise we could reflect a state w/o tweaking the context menu. Are SendDisabled and ReceiveDisabled settable?

[2018-05-28 04:01] kawazoe commented on #222
According to the docs, it’s seems like it, but only for queues; not for topics or subscriptions.

What do you have in mind?

[2018-05-28 18:27] SeanFeldman commented on #222
Thinking there should be a status bar, so when navigating from entity to entity, the status would be reflected there.

Could you link to the docs so that others can follow the same path as you? Thanks.

[2018-05-28 18:30] SeanFeldman commented on #222
Found it: https://docs.microsoft.com/en-us/azure/service-bus-messaging/entity-suspend
EntityStatus: https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.entitystatus

[2018-05-28 18:50] kawazoe commented on #222
You were faster than me on this one! Yes, those are the pages I was referring too.

But what about changing it to those extended disabled states? That's the main goal of my proposition.

[2018-05-28 18:55] SeanFeldman commented on #222
I have never had a need in `SendDisabled` or `ReceiveDisabled` queue statuses.
Could you elaborate on the scenarios you'd use those?

[2018-05-28 19:19] kawazoe commented on #222
I currently have a long running process built on an Azure Functions App. Basically, this function runs a paged query on a large database, then process the data, then move on to the next page. This function is triggered by a message in a service bus queue telling it to process the first page. Once the function finishes a page, it will post a message in the same queue triggering the next page, and s

[2018-05-28 22:28] SeanFeldman commented on #222
Wouldn't changing a state of a queue cause a runtime exception? I guess for Azure Functions you don't really care as your code is not going to be affected, but you'll still be charged something for the trigger that will continuously kick off trying to dequeue a message.

I'll let other maintainers chime in. Personally, I could see something like this:
![image](https://user-images.githubusercontent

[2018-05-30 18:39] SeanFeldman commented on #212
2 vConferences and 1 IRL conference talks coming up in June, sorry I'm out... (will do [4.0.110](https://github.com/paolosalvatori/ServiceBusExplorer/projects/1#card-9307507) release if no one gets to it before).

[2018-05-31 06:49] paolosalvatori commented on #222
@SeanFeldman @kawazoe I agree to add the possibility to provide the ability to set the state of a queue to ReceiveDisabled or SendDisabled, but I don't like the dropdown list at the bottom of the main form. It's inconsistent with the look and feel of the tool and placing a control that applies only to queues to the bottom of the main form is conceptually wrong. Let's rather extend the context menu

[2018-05-31 13:08] SeanFeldman commented on #222
No strong feelings about it. Saying that, can you add a mock? You mind find
things not as you think of them when see those 🙂

[2018-05-31 16:03] paolosalvatori commented on #222
@SeanFeldman do I really need to add a mock of a couple of additional context menu items below the existing one? :)

[2018-05-31 17:27] SeanFeldman commented on #222
Free to do anything, right? 😉

[2018-05-31 19:57] ErikMogensen opened #224 "Scrollbars are missing"
The three scrollbars are missing from the main window. This has happened in one of the later commits.

[2018-05-31 20:57] ErikMogensen commented on #224
It seems that some of the changes to MainForm.Designer.cs that were part of the commit 178351124af10ad3f973c0d3f0c3e04d23c79f08 in PR #216 caused this. @tomkerkhove, do you see a problem if I undo some of the changes to the window sizes and paddings in MainForm.Designer.cs?

[2018-06-01 04:43] tomkerkhove commented on #224
Nope
________________________________
From: Erik Mogensen <notifications@github.com>
Sent: Thursday, May 31, 2018 10:57:37 PM
To: paolosalvatori/ServiceBusExplorer
Cc: Tom Kerkhove; Mention
Subject: Re: [paolosalvatori/ServiceBusExplorer] Scrollbars are missing (#224)

It seems that some of the changes to MainForm.Designer.cs that were part of the commit 1783511<https://github.com/paolosalvatori/S

[2018-06-01 19:52] ErikMogensen commented on #224
I tested this on three different setups. The scrollbars were missing when running on two laptops, but when connected to a high DPI display the scroll bars showed up.

[2018-06-02 09:00] ErikMogensen opened #226 "Modifying MainForm in VS UI Designer causes problems"
When modifying MainForm.cs in the VS UI Designer a lot of things a done to its child control positions. This causes most scrollbars to go away on some displays.

The issue #224 was most likely caused by this.

[2018-06-02 09:15] ErikMogensen commented on #212
I am unable to connect to a Notification Hubs namespace. I have tried Free and Basic. Does it work for other people? SBE reports the following error:

<11:10:12> Failed to retrieve Notification Hub entities. Exception: System.UnauthorizedAccessException: The remote server returned an error: (401) Unauthorized. Manage claim is required for this operation..TrackingId:xxxxxx,TimeStamp:6/2/2018 9:10:1

[2018-06-02 10:33] tomkerkhove commented on #212
This is related to the other issue, not the metrics one
________________________________
From: Erik Mogensen <notifications@github.com>
Sent: Saturday, June 2, 2018 11:15:54 AM
To: paolosalvatori/ServiceBusExplorer
Cc: Tom Kerkhove; Mention
Subject: Re: [paolosalvatori/ServiceBusExplorer] Remove support for Service Bus metrics (#212)

I am unable to connect to a Notification Hubs namespace. I have

[2018-06-02 12:30] ErikMogensen commented on #212
@tomkerkhove, yes, this does not with a version of SBE from March either, but it is stopping me from fixing this issue.

Is the impossibility to connect to Notification Hubs a known issue?

[2018-06-02 12:53] ErikMogensen commented on #212
Metrics for all services excepts Notfication hubs were removed in the PR #225. The initial commit and the description for that PR is actually for a different issue.

What is left is:

- Remove metrics from Notification Hubs
- Test Relay with IsDynamic = true
- Remove some helper classes for Metrics
- Perhaps remove Subscription ID and Certificate thumbprint from the Options dialog
- The rebasing o

[2018-06-04 15:18] #224 closed

[2018-06-07 13:27] middlewaysas opened #227 "Remove message from DLQ error Exception"
Hi,
When trying to repair/resubmit a message from the DLQ with the option "Remove message from DLQ", the message is resubmitted but it is not removed from the DLQ. In the console log, I have this error : __Exception: Rows cannot be programmatically removed unless the DataGridView is data-bound to an IBindingList that supports change notification and allows deletion.__

Thanks.

[2018-06-07 18:29] ErikMogensen commented on #227
Lately there has been done changes to that part. Where did you get the executable from? I also want to know if this is repeatable or it just on this queue? If you restart ServiceBus Explorer does the error show again?

[2018-06-08 07:51] middlewaysas commented on #227
Hi,
It is repeatable and we have the same issue for all queues, even after a restart.
We got the executable from here.

[2018-06-09 08:04] ErikMogensen commented on #227
I tested this on the executable I just downloaded from https://github.com/paolosalvatori/ServiceBusExplorer/releases/download/4.0.109/ServiceBusExplorer-4.0.109.zip and I am unable to reproduce this issue. Please download the executable using the above link again and let me know the outcome.

[2018-06-11 14:43] middlewaysas commented on #227
Hi,
We are using the same version / executable.
We are using ServiceBus Premium, maybe this is the root cause?

[2018-06-12 04:45] ErikMogensen commented on #227
I don't think so but I'll test that. Please test with a Standard namespace on your end.

It looks like SBE does not understand that it is an DLQ you are working with and instead believes that it is the normal queue.

[2018-06-15 05:31] chuckdawit opened #228 "Deleting single message from a queue"
I would like the ability to delete a single message from a queue! thanks.

[2018-06-15 05:33] SeanFeldman commented on #228
@chuckdawit please elaborate on your use case. Are you referring to deletion by sequence number?

[2018-06-15 06:04] chuckdawit commented on #228
Hi Sean.

Yes, by sequence number. Right now it seems like the only way I can delete
a single message is by code/script or by deleting the entire queue.
If there is a way to delete a single message by sequence number in service
bus explorer please let me know.
I can see the data associated with each message, I just would like the
ability to delete a message in a queue without removing the whole qu

[2018-06-15 06:15] SeanFeldman commented on #228
As of today you can purge or receive and delte number of messages, but you can delete a message by sequence number. This would be a feature to add.

[2018-06-15 06:33] chuckdawit commented on #228
If I understand you correctly, I can purge a queue and that will delete all
messages in the queue, but not the queue itself?
But I can't delete a single message by sequence number.
Is that correct?
Chuck

On Thu, Jun 14, 2018 at 11:15 PM, Sean Feldman <notifications@github.com>
wrote:

[2018-06-15 08:50] ErikMogensen commented on #228
This seems to be a duplicate of #135.

[2018-06-15 11:53] ErikMogensen commented on #228
@chuckdawit , on deadletter subqueues it is possible to delete a specific message as long it is not too far down (depending upon settings, location, message size and other things). Is that what you are looking for?

[2018-06-15 18:59] chuckdawit commented on #228
possibly but I'll have to look to see what deadletter means. I'm a little
new to messing queues in Azure.
My message is pretty simple, no info, just the sequence number.
Chuck

On Fri, Jun 15, 2018 at 4:53 AM, Erik Mogensen <notifications@github.com>
wrote:

[2018-06-15 21:54] ErikMogensen commented on #227
I have tested on Premium and there were no issues. Please let me know how it worked on a Standard namespace for you.

If that also failed, please list the steps you are doing to reproduce the issue. Also specify the properties of the queue or topic/subscription you are using.

[2018-06-16 09:05] ErikMogensen commented on #208
This was more complicated than I initially thought. My plan of approach was to extend https://github.com/paolosalvatori/ServiceBusExtensions using the solution in Seans excellent post https://weblogs.asp.net/sfeldman/asb-batching-brokered-messages, but support for non-string custom properties needs to be added. We do seem to run into edge cases, like the size issue with message size in issue #195,

[2018-06-16 09:08] ErikMogensen commented on #195
@oak-tree , do you have anymore information on this issue? If not I suggest it is closed since it has passed more than three months without a reply.

[2018-06-16 16:14] SeanFeldman commented on #208
The challenge with `Dictionary<string,object>` based headers is that we'll not be able to know the size until object graph is serialized. That's the reason I didn't bother with anything other than `Dictionary<string, string>` (what my customers use).

[2018-06-17 09:27] oak-tree commented on #195
Extra think I notice that if I try to cut the text, remove the `\n\r` and paste it again the `service bus explorer` cuts the message. I guess there is some kind of limit of the `textbox` . But this limit apears only if I try to enter the message my self or paste text. This limit does not appear if I just open a message from the bus

[2018-06-17 09:42] middlewaysas commented on #227
The issue is not there when there is only one message in the queue.
To reproduce the issue it is very simple: I open the Dead Lettered messages, then I select a message and click on resubmit and check the "Delete the message in DLQ". Then the message is well resubmitted but a quick seconds after I have the error in the console (but the message is deleted from the DQL, it sounds like it is only a d

[2018-06-17 14:59] ErikMogensen commented on #227
I was able to repro this on a partioned queue on Standard. Edition, but I have some questions:

1. The Service Bus service was changed some months ago to not report queues as partitioned on Premium anymore. Are you sure this is a Premium namespace?
2. Is this for a queue or a subscription?
3. When looking at the Description tab for the queue, is the checkbox for 'Enable partition' checked?

[2018-06-17 18:06] SeanFeldman commented on #227
ReceiveBatch is there, but it is not promised to give the batch. It will always stream messages, whatever it can provide.

[2018-06-17 19:00] ErikMogensen commented on #227
Thanks Sean. Do you see a problem using ReceiveBatch with partitioned queues when calling it until it returns zero messages? If not way performance could be enhanced and there would be a possibility to lessen the code to maintain.

[2018-06-17 21:03] SeanFeldman commented on #227
It is a recommended way. The server streams messages, so that's probably how we should tackle it.

[2018-06-22 11:35] tomkerkhove commented on #119
I think this is not related to Service Bus for Windows Server as Azure Stack is in parity with Azure in general so we do not need to do anything there from what I know.

[2018-06-22 18:40] SeanFeldman commented on #119
I'm also under the same impression that Azure Stack services are the same cloud serivces just provisioned locally. Therefore there should be no difference between ASB and ASB on Azure Stack in terms of invoking ASB client.

[2018-06-25 06:08] paolosalvatori commented on #119
Yes, Service Bus in Azure Stack has nothing to do with Service Bus for Windows Server but it will share the same architecture of Service Bus on Azure.

[2018-06-25 06:10] paolosalvatori commented on #227
Let's keep the code as is for background compatibility. We'll change it in the future if and when in the future the behavior will change for all existing namespaces.

[2018-06-25 14:14] middlewaysas commented on #227
@ErikMogensen: you are right, it was not on Premium but on Standard.
This was for a queue and Enable Partitionning for this queue is set to true.

[2018-07-02 13:31] #227 closed

[2018-07-02 13:31] #213 closed

[2018-07-02 20:16] #209 closed

[2018-07-05 09:59] #212 closed

[2018-07-07 09:07] ErikMogensen opened #232 "Put the connection strings in a file in the users personal folder"
That way the strings would be a little bit more protected and when downloading a new version of SBE you’d keep your connection strings.

Add an option to use the connection strings in the application config file for backwards compatibility, even though it is not recommended.

In the future encryption of the strings may be added using DPAPI and that may not work when using the Roaming profile. Ther

[2018-07-07 10:35] tomkerkhove commented on #232
Maybe it would be align with other tools and go for storing it in `C:\Users\<user>\.servicebusexplorer`?

One might argue that the tool should integrate with Azure Key Vault as well, although this should be a dedicated issue I think.

[2018-07-07 13:41] SeanFeldman commented on #232
Will not pretend I'm an expert, but rather than using `%UserProfile%` settings should be stored in `AppFolder`. This tool is not cross-platform to target user profile root directory with a dot-notation.

I'm using more than a single machine, and consider roaming settings `%AppData%` more useful as settings saved there are transferable and survive machine repaving.

FYI: `%AppData%` translates into

[2018-07-09 07:44] paolosalvatori commented on #232
Agreed with everything. Let's make sure to guarantee backward compatibility :)

[2018-07-10 06:53] brkzkn opened #234 "Cannot define CorrelationFilter"
I cannot define correlationFilter like; https://imgur.com/a/qz2aI

The reason of problem is that ruleWrapper.RuleDescription is alwalys null.

ShowRule function which is written in MainForm.cs line 5146, called with NULL RuleDescription value.

As a result, HandleRuleControl.InitializeData function cannot detect correlationFilter.

[2018-07-11 15:06] ErikMogensen commented on #234
Hi,

Which version of ServiceBus Explorer are you using? There was a version released last week. Do notice that there is a bug in that it may just return the latest version number released instead of the actual version number.

[2018-07-11 15:36] ErikMogensen opened #235 "Put all the all the appsettings from the config file in a personal user file"
Currently all appSettings are overwritten if you download a new version of ServiceBus Explorer. Also these settings are shared between all users running ServiceBus Explorer from the same directory, which may be many if it is located on a shared location.

To fix this these settings should be stored in a file in the users personal folder under the roaming profile. To keep backwards compability thes

[2018-07-12 06:15] brkzkn commented on #234
Hi Erik,

I'm working with version 4.0.110

[2018-07-12 06:18] SeanFeldman commented on #234
If memory doesn't fail me, the tool was never designed to support
Correlation filters. I added an option to output it so that at least it can
be inspected.

[2018-07-13 17:15] SeanFeldman commented on #232
And [here's the reason](https://github.com/paolosalvatori/ServiceBusExplorer/pull/236/commits/e5744a5cad8f75ed53380f5ed7c7f06bed4750c1) why I still think keeping connection strings in app.config is a **bad** idea.
![image](https://user-images.githubusercontent.com/1309622/42704683-0940bf48-868e-11e8-84ec-40900fb26ac1.png)

PS: @paolosalvatori you might want to reset all of your SAS tokens...

[2018-07-15 09:39] ErikMogensen opened #237 "Remove slnx.sqlite from version control"
Currently slnx.sqlite is part of the tracked files. It was probably added by mistake before .gitignore was added. It updates automatically by VS and thus prevent some Git commands from executing since they require all tracked files to be in the unmodified state.

It is not easy to change the Git history and there is a great answer titled **Intro: You have 5 solutions available** at
https://stackov

[2018-07-20 19:22] darrellbooker opened #240 "401 Unauthorized when attempting to Get Registrations"
I'm getting the following error when attempting a "Get Registrations" on my notification hub.

<12:22:02> Exception: The remote server returned an error: (401) Unauthorized..TrackingId:c454cb35-346e-4179-8034-c0807ca2226f,TimeStamp:7/20/2018 7:22:02 PM
<12:22:02> InnerException: The remote server returned an error: (401) Unauthorized.

 I'm connecting using a policy connection string that has full

[2018-07-30 09:08] NoNod opened #242 "MessageBodyType as default in the options"
Hi!

We use the ServiceBusExplorer and I have loaded the latest version.
Here I have adapted that as a MessageBodyTyp "String" is enabled by default.
Because we only use „String“.
Is it possible to include a default MessageBodyType in the options for your next changes?

[2018-07-31 04:33] SeanFeldman commented on #242
@NoNod not sure I follow you. Could you please elaborate in a bit more details? Thank you.

[2018-08-04 08:25] NoNod commented on #242
Hi!

Stream is selected by default. ( cboBodyType.SelectedIndex = 0; )
I want, that String is selected by default. ( cboBodyType.SelectedIndex = 1; )

My idea:
Define the default value in the options.

( cboBodyType.SelectedIndex = ServiceBusHelper.MessageBodyTypeSelectedIndex; )

Here in private void GetServiceBusNamespaceSettingsFromConfiguration()

Set the value from config:

            parame

[2018-08-04 17:11] SeanFeldman commented on #242
Ok, now I see what you're after. Perhaps the issue should be titled something among the lines of "Allow default MessageBodyType to be user configured" rather than "MessageBodyType as default in the options"? 🙂

I see no problem with this. Feel free to send a PR if you'd like to speed it up.

[2018-08-15 23:48] briandunnington commented on #242
Looks like this was added/fixed in #243

[2018-08-15 23:49] briandunnington commented on #234
Support added in #244

[2018-08-15 23:53] SeanFeldman commented on #234
Closed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/1ed7a509232f0867c97b511e2ce08dd67c64a4d2

[2018-08-15 23:53] #234 closed

[2018-08-20 14:18] c-lombardi opened #245 "DataContract Serialized Stream-Bodied Messages Sent in Repair and Submit Are Corrupted"
When re-queuing Dead-Letter-Queued messages with a Stream body that have a custom content type that was serialized by a Data-Contract-Serializer, the stream sent in the new message can no longer be read by the application that originally Data-Contract-Serialized the message.

Attempting to re-queue the same messages with ByteArray and String content types are also unsuccessfully able to be de-seri

[2018-08-20 15:13] c-lombardi commented on #245
I think that you might just need to instantiate the new BrokeredMessage with the body of the old message as a stream: deadLetteredMessage.GetBody<Stream>()

[2018-08-21 13:28] thesourav123 commented on #240
@darrellbooker  I am getting the same error while passing the connection string
<09:27:34> InnerException: The remote server returned an error: (401) Unauthorized. claim is empty. TrackingId:bd87fb6c-ff78-4dc5-a32c-92f2210e0d4c_G23, SystemTracker:xxxxxxxx.servicebus.windows.net:$Resources/Relays, Timestamp:8/21/2018 1:27:34 PM

Did you find a solution

[2018-08-21 14:00] paolosalvatori commented on #240
Hi @thesourav123 I didn't invest time in recent years to check, update and modernize support for notification hubs. I'll do my best to investigate the problem. Does this issue happen with any connection string to any notification hub namespace?

[2018-08-21 14:08] paolosalvatori commented on #245
Hi @c-lombardi the Clone overloaded method in the BrokeredMessageExtensions class should do exactly what you are looking for. This is the first time that I receive this feedback. Could you please debug the application and see if the proper method overload is used when choosing Stream as format for the message to resubmit?

[code]

[2018-08-22 17:17] thesourav123 opened #246 "Azure Service Bus Queue Connection Not Working"
Hi @paolosalvatori ,
 I am trying to connect to my Azure Service Bus Queue and view the messages i send.
 So, i clicked on Connect Button, Enter SASConnection String Menu(Attached the picture), filled all the details and i see my connection details on the top left, but i don't see my queue.
The following messages are appearing on the log
[code]

![image](https://user-images.githubusercontent.com/1

[2018-08-22 17:18] thesourav123 commented on #240
@paolosalvatori , i am checking it with the Queues. I have opened up a new issue in the tracker.
 #https://github.com/paolosalvatori/ServiceBusExplorer/issues/246

[2018-08-23 00:10] SeanFeldman commented on #246
Could you try connecting from a different location? Looks like connectivity
issue. Alternatively, try HTTPS rather than TCP.

[2018-08-23 06:39] paolosalvatori commented on #246
I also see that the method failing is GetRelays… which version of the tool are you using? Does the namespace contain only queues and topics?

[2018-08-23 06:41] paolosalvatori commented on #240
Eventually, if you trust me, please share the connection string with me offline. You can change regenerate keys later on.

[2018-08-23 20:07] thesourav123 commented on #246
@paolosalvatori You are correct. I only have 1 queue in my Azure Service Bus Namespace which i am trying to connect to. I don't know why it is calling Relays

[2018-08-24 09:17] paolosalvatori commented on #246
That should not be a problem, can you please try to use the latest version of the tool? Thanks!

[2018-08-29 15:16] thesourav123 commented on #246
Its working with the latest version. thanks.

[2018-08-29 15:16] #246 closed

[2018-08-30 16:03] c-lombardi commented on #245
I see what you are saying now and that seems to have resolved the problem for me in my local build!

[2018-08-30 17:50] SeanFeldman commented on #245
Just making sure you're always using the latest release that can be obtained [here](https://github.com/paolosalvatori/ServiceBusExplorer/releases/latest).

[2018-09-04 16:38] davidwmartines opened #248 ""Unable to read the message body." intermittently"
version 4.0.110

I am using the Event Hub Listener to view events in an Event Hub.  When the events are initially consumed, I can usually click the row in the Events List grid, and the event text and custom properties are shown correctly.  However, clicking off this row and back, it gives the message "Unable to read the message body", plus the custom properties are missing.   Also, this message is

[2018-09-06 07:56] lonevvolf opened #249 "Support DateTime as filter"
It would be extremely useful to support DateTime objects in the filters expression when viewing messages.  We would like to view, for instance, message with EnqueuedTimeUtc between dates A and B.

[2018-09-06 13:13] MattTrinder1 opened #250 "Ability to save connection details/multiple connection profiles"
Exactly as the title - save connection details to prevent having to re-enter them each time.  In addition, the ability to save multiple sets of connection details to allow connections for different customers/environments etc.

[2018-09-06 13:51] SeanFeldman commented on #250
@MattTrinder1 this is already possible.

![image](https://user-images.githubusercontent.com/1309622/45161638-8d1ede80-b1a9-11e8-938b-96a22249db32.png)
![image](https://user-images.githubusercontent.com/1309622/45161666-9f991800-b1a9-11e8-8b21-902ad77e83ba.png)

Please ensure you use the latest version (https://github.com/paolosalvatori/ServiceBusExplorer/releases/latest).

[2018-09-06 19:19] SeanFeldman commented on #249
@lonevvolf sounds like a good idea. Would you want to take a stab at it?

[2018-09-10 18:04] TPoise commented on #100
This would be a lovely feature.  If you need help, just let us know.

[2018-09-11 16:39] SeanFeldman commented on #100
A subscription can be used as `Send-Via` path. Meaning an incoming message can be received from subscription and outgoing messages will go _via_ subscription (queue). Therefore it makes sense for subscription to have TDLQ sub-queue. Topics, well, while you can't receive from a topic, internally (on the broker) it _is_ a queue. If so, and internally ASB receives from a 'topic-queue' to send to 'sub

[2018-09-11 16:54] TPoise commented on #100
I'm trying to find a way to re-queue all DLQ messages for a topic.  Right now, there will be an error throw if you try to submit too many at once:

[2018-09-11 17:42] lonevvolf commented on #249
I will see if we can allocate some time to it in our project.

[2018-09-11 18:06] SeanFeldman commented on #100
@TPoise this issue is not about DLQ but Transfer DLQ. Just clarifying.

[2018-09-11 19:12] ErikMogensen opened #252 "Error when requeueing all DLQ messages for a topic"
@TPoise wrote in #100 :  I'm trying to find a way to re-queue all DLQ messages for a topic. Right now, there will be an error throw if you try to submit too many at once:

@TPoise, there was a fix for this in a release late spring. Are you using the latest version? I am not sure you can trust the version number displayed on the Service Bus Explorer window since it may pick up this number over the

[2018-09-15 09:07] PeterOscarsson opened #253 "Notification Hubs - Support for Apple (APNS) Token based"
**Notification Hub**
Need support for the new Token-Based authentication-mode used by Apple (APNS)

[2018-09-17 07:43] paolosalvatori commented on #253
Hi @PeterOscarsson can you work on this? Not sure I have the necessary bandwidth to implement this feature, sorry about that!

[2018-09-17 11:06] jeremy001181 opened #254 "The entry '*' has already been added. ServiceBusExplorer.exe.config"
For some reason I wasn't able to access to any Azure service bus via connection string, and it was complaining

![image](https://user-images.githubusercontent.com/2342277/45619162-313d3b00-ba70-11e8-9f5b-106c50e2065d.png)

Then I figured out that it is my host app config has already have this entry added due to whatever reason, so what I have done to work around it is to add `clear` before the `ad

[2018-09-17 18:58] SeanFeldman commented on #254
I'd rather see this achieved via code and not configuration.
[`ServicePointManager.DefaultConnectionLimit`](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepointmanager.defaultconnectionlimit) can be used to have more than 2 HTTP connections.

[2018-09-18 16:11] jeremy001181 commented on #254
Good idea, since it has less configure to manage, here is the [change](https://github.com/jeremy001181/ServiceBusExplorer/commit/d777d86b6e4dc49e1bdb59aac5809b4c2b0933b0)

[2018-09-23 09:55] ErikMogensen commented on #186
It was only changed for Debug builds, not for Release builds.

[2018-09-23 16:51] ErikMogensen opened #259 "Remove the last part of the handling of Certicate thumbprint and Azure Subscription ID"
Since Metrics handling was removed these values are not used anymore.

[2018-09-24 12:29] paolosalvatori commented on #186
Let me check to understand the implications in terms of version of the .NET framework and Visual Studio.

[2018-09-24 12:30] paolosalvatori commented on #259
Makes sense, let's remove these settings, thanks!

[2018-09-24 12:31] #259 closed

[2018-09-24 17:43] #254 closed

[2018-09-28 04:51] ErikMogensen commented on #186
@paolosalvatori, I tried different combinations of the C# version setting and the Target framework setting and some combinations do not compile. It looks like the target version of the .NET Framework is solely determined by the Target framework setting (on the Application tab in project settings).

[2018-09-30 18:37] ErikMogensen opened #262 "Remove support for ACS"
Since ACS will stop working the 7th of November, we might as well remove it from SBE now. That way users get an early warning if they try to use SBE with ACS. As long as you have access to the Azure Portal it is easy to switch to SAS.

[2018-09-30 18:41] ErikMogensen opened #263 "Able to run VS Code Analysis without any warnings"
I think that you should be able to run the VS Code Analysis with default rules on the solution without any warnings. To handle that we probably have to suppress some warnings. In that case, should we create a separate file or put the suppressions in the code? I think it is best to put it in the code.

[2018-09-30 19:16] SeanFeldman commented on #263
If it's in the code, we can inspect it. If it's hidden, we'll forget about. Rather see it in code.

[2018-10-01 08:05] paolosalvatori commented on #262
Let's do it after the 7th of November. I don't want users to start blaming SBE to be the culprit of the ACS disposal :)

[2018-10-01 08:06] paolosalvatori commented on #263
I'd prefer to suppress warnings in the code, rather than in a separate file.

[2018-10-03 20:55] rabrahamOpti commented on #137
I'm seeing this issue now:

![image](https://user-images.githubusercontent.com/28309959/46438901-a7b78980-c74e-11e8-9481-0c9faf36b39b.png)

[2018-10-04 04:42] tomkerkhove commented on #137
Can you try using the correct casing and let us know if you are still having issues?

[2018-10-04 13:10] rabrahamOpti commented on #137
Yup, that worked, thank you. FYI: I had copied/pasted the example line on chocolatey.org. That should be fixed:

![image](https://user-images.githubusercontent.com/28309959/46476107-58f10a80-c7b5-11e8-9781-078d28b70fe2.png)

[2018-10-04 15:37] tomkerkhove commented on #137
That's odd. Unfortunately we don't control this and I suggest creating a dedicated issue on this repo so I can follow-up with choco team.

Are you up for that?

[2018-10-04 16:49] rabrahamOpti opened #264 "Incorrect casing in choco's sample install & upgrade lines"
[The ServiceBusExplorer page on chocolatey's site](https://chocolatey.org/packages/ServiceBusExplorer/) has incorrect casing on its example install and upgrade lines. See here:

![image](https://user-images.githubusercontent.com/28309959/46476107-58f10a80-c7b5-11e8-9781-078d28b70fe2.png)

[2018-10-04 16:49] rabrahamOpti commented on #137
Done, cheers:
https://github.com/paolosalvatori/ServiceBusExplorer/issues/264

[2018-10-04 16:55] tomkerkhove commented on #137
Awesome, thanks!

[2018-10-04 16:55] tomkerkhove commented on #264
Before we log an issue, can you verify that this is not a setting in the portal @paolosalvatori/@SeanFeldman?

[2018-10-05 17:02] Nate-Wilkins commented on #264
Worked on this a while ago but `servicebusexplorer` is in the `.nuspec` file. Guessing chocolatey might not be respecting these ids? I did find these when searching for whether this was case sensitive or not. (pretty sure it's not)

States that when installing a specific version of a package the id becomes case sensitive. https://github.com/chocolatey/choco/issues/1240

And it looks like this used

[2018-10-08 07:40] togglebrain opened #266 "Paired Namespaces - Refresh Queues"
Add **Refresh All** option for all queues created in the secondary namespace under x-servicebus-transfer

[2018-10-09 06:38] StefH commented on #30
@SeanFeldman
Upgrading to .NET Framework 4.7 and updating the app.config like [WebDAV-AudioPlayer/App.config](https://github.com/StefH/WebDAV-AudioPlayer/blob/master/src/WebDAV-AudioPlayer/App.config) dis solve DPI issues for my application.

[2018-10-09 18:09] SeanFeldman commented on #266
@togglebrain Paired Namespaces is a deprecated feature. As such, I'd suggest not add this functionality to the tool.

[2018-10-09 18:10] SeanFeldman commented on #30
Thank you @StefH.
I have no UI knowledge. @paolosalvatori is this something we should add to the config in general?

[2018-10-11 15:33] togglebrain commented on #266
@SeanFeldman Thanks, just checked this is not available in the library for .net standard. Wish there was an announcement under https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-paired-namespaces too.

[2018-10-11 15:34] #266 closed

[2018-10-11 20:59] CollinChaffin commented on #264
FYI this is a bigger issue than it is being treated as EVERY single locally-hosted package I have now fails with Choco beta 0.10.12 claiming the package is not found (erroneously) due to improperly matching case when version is not specified.

[2018-10-11 22:43] CollinChaffin commented on #264
I have opened issue #1656 over at Chocolatey because I am seeing catastrophic failures across the board for both installs as well as upgrades due to this sudden case sensitivity of package IDs/filesnames/paths:

https://github.com/chocolatey/choco/issues/1656

[2018-10-11 23:09] ferventcoder commented on #264
@CollinChaffin "beta" signifies not stable - so not catastrophic. Just go back to the 0.10.11 stable release while we investigate the issue.

[2018-10-11 23:11] ferventcoder commented on #264
As for the rest of this issue - we agree that case sensitivity should definitely not be an issue - we'll investigate fixing that with the next release (there may already be an issue logged on it).

[2018-10-17 21:19] jarmstrongnz opened #268 "or condition not possible for topic filter expression"
Hi there,

Wondering if it is possible to achieve the 'or' operation with the odata filter expression on the topics e.g. as follows:

Startswith(Path, 'abc') Eq true or Startswith(Path, 'bcd') Eq true
![image](https://user-images.githubusercontent.com/16697734/47116823-3ab00200-d2bf-11e8-8c07-1ea430387c3c.png)

giving the following error:
"<10:19:08> InnerException: The remote server returned an e

[2018-10-23 06:38] #232 closed

[2018-10-23 06:47] ErikMogensen opened #269 "The background on the Options window should be blue"
That should make it look more like the other Service Bus Explorer windows.

[2018-10-24 15:34] ErikMogensen opened #270 "Change behavior and text for some of the OptionsForm buttons"
To persist the changes you make in the Options dialog you have to click the Save button. That is not like how it works in other programs and it is probably confusing since settings won't be kept between sessions if you don't click Save.

The OK button should save the settings to disk and then do the same things as before.

Instead the Save button should moved up to the right corner to be besides t

[2018-10-24 15:40] #242 closed

[2018-10-24 15:41] ErikMogensen commented on #242
Closed since it was fixed in #243 as mentioned.

[2018-10-24 15:41] ErikMogensen commented on #252
Closing this since there was no response

[2018-10-24 15:41] #252 closed

[2018-10-24 15:43] ErikMogensen commented on #237
Fixed in #237

[2018-10-24 15:43] #237 closed

[2018-10-24 15:44] ErikMogensen commented on #235
Fixed in #261

[2018-10-24 15:44] #235 closed

[2018-10-24 15:46] ErikMogensen commented on #204
Closing this as there has not been any comments in the last six months.

[2018-10-24 15:46] #204 closed

[2018-10-25 17:37] baltuonis commented on #112
This was not fixed. Windows 7 DPI scaling 125% or 135% does not show action buttons.  But shows on 100%
![screenshot_2018-10-25_14 33 49](https://user-images.githubusercontent.com/188666/47519257-8afd0600-d863-11e8-9d9e-2c2b47fbafc9.png)

[2018-10-26 12:50] baltuonis opened #271 "Cannot create Subscription rule when DPI > 100%"
This was not fixed. Windows 7 DPI scaling 125% or 135% does not show action buttons. But shows on 100%

![image](https://user-images.githubusercontent.com/188666/47567289-83da0480-d904-11e8-9e77-d81b9122b217.png)

[2018-10-26 14:57] paolosalvatori commented on #271
Hi @baltuonis I don't have the possibility to install and test SBE on Window 7, sorry about that :(

[2018-10-26 14:59] paolosalvatori commented on #270
Hi @ErikMogensen I'm good with that, this should be an easy one, let's do it at the next round of changes :)

[2018-10-26 15:00] paolosalvatori commented on #186
@ErikMogensen which version should I set? :)

[2018-10-26 15:01] paolosalvatori commented on #268
Hi @jarmstrongnz any chance you can make the fix? I'm extremely busy in this period :(

[2018-10-29 15:56] paolosalvatori commented on #186
Ok I approved the PR, I need @SeanFeldman to approve it as well :)

[2018-10-29 22:40] SeanFeldman commented on #186
`LangVersion` version has no impact on the compiled assembly. It's a syntactic sugar.

For that reason I'm 👎 to merge that change.

[2018-10-30 08:38] #263 closed

[2018-10-30 20:04] ErikMogensen commented on #186
I'll try to convince you.

By setting the C# language to a fixed version you know which features you may use and not use when developing.

If you set it to the latest version the resulting version would be determined by which compiler version you are using which in turn is usually determined by the VS version. This may create problems when a new C# version is released since AppVeyor and people dev

[2018-10-31 03:23] hgjura opened #274 "Trying to update existing saved connection"
Hi
I think this functionality exists now. But it seems the buttons are hidden behind a layer or something. See screen attached.

Also, how can I delete existing saved connections. I have quite a few now and would like to some clean up.

Thanks
Herald

![image](https://user-images.githubusercontent.com/9681487/47764260-bbe19e80-dc9a-11e8-85e9-bde978a4ca30.png)

[2018-10-31 03:29] SeanFeldman commented on #186
Not convinced 😉

When C# 8.0 will be out, AppVeyor will have an image. Frankly, it feels
like solving a problem we don't really have.

[2018-10-31 08:39] #269 closed

[2018-10-31 08:40] paolosalvatori commented on #274
Hi @hgjura could you please tell us which version of Service Bus Explorer are you using on which Windows version? Thanks!

[2018-10-31 14:34] hgjura commented on #274
@paolosalvatori
SBE 4.0.110
Windows 10 Version 1803 (OS Build 17134.345)

Thanks
Herald

[2018-10-31 15:40] paolosalvatori commented on #274
Can you please try to download and use the latest release? Thanks!

[2018-10-31 16:04] hgjura commented on #274
I really thought that 4.0.110 was the latest release, as per this page: https://github.com/paolosalvatori/ServiceBusExplorer/projects/1

[2018-10-31 19:51] hgjura commented on #274
I uninstalled SBE and reinstalled using chocolately. I have 4.0.110.
In the attached screenshot, any buttons to update or delete existing connections are not there.

Thanks
![image](https://user-images.githubusercontent.com/9681487/47814742-dd876800-dd24-11e8-9d8a-f12c58b814d9.png)

[2018-10-31 19:55] hgjura commented on #274
Also, while installing via chocolately, it does install SBE in the C:\ProgramData folder wheer SBE fails to save any connections because it does not have access to that folder. I had to move the ServiceBusExplorer folder out to another folder to make it work normally (which defeats the purpose of chocolately install).
Is this an issue only for me, or are there any instructions to get it done diffe

[2018-10-31 21:05] ErikMogensen commented on #274
Hi,
Regarding the missing buttons it is due to that the current release is from July and the buttons were added after that. So they should be there in the next release. You may download and build the develop branch if you'd like to get the buttons earlier.

About not having access to the Programdata folder it is unfortunately the way it works since that folder is by default protected. You may circ

[2018-10-31 21:15] hgjura commented on #274
Thanks @ErikMogensen . I will get a good version from the dev version and work with it. I am glad both issue have been addressed.

[2018-11-01 18:00] arerlend opened #275 "Retention period + partitions in SBE and portal don't match"
Portal shows 1 day retention, SBE shows 16.  EH REST API correctly responds with message retention period of 1 day.

Entity retrieval is hanging, I'll post a picture in a moment.

SBE version 4.0.110
Windows 10

[2018-11-01 18:15] arerlend commented on #275
![incorrect_retention](https://user-images.githubusercontent.com/30675661/47870731-7b337380-ddc7-11e8-89fb-4c6f8d73689f.PNG)

[2018-11-01 18:19] arerlend commented on #275
Just tested minimum partition count (2) and that displays incorrectly as well.

![image](https://user-images.githubusercontent.com/30675661/47870960-fb59d900-ddc7-11e8-8b6f-f8cae7746ad9.png)

versus

![image](https://user-images.githubusercontent.com/30675661/47870977-06ad0480-ddc8-11e8-86ac-12c551c95233.png)

[2018-11-01 18:31] SeanFeldman commented on #275
Thank you @arerlend for reporting this.
What ASB tier your namespace is using?

Regarding

Could you please open a separate issue? Thanks.

[2018-11-01 19:05] arerlend commented on #275
I was using some pre-release bits so I spun up new namespaces w/ prod bits just to make sure there wasn't an effect.

Standard tier, Kafka-enabled namespace - entity w/ 1 day retention, 1 partition:
![image](https://user-images.githubusercontent.com/30675661/47873159-b0db5b00-ddcd-11e8-9378-473ff987ed9c.png)
and
![image](https://user-images.githubusercontent.com/30675661/47873186-bdf84a00-ddcd-11e

[2018-11-01 20:30] jrmcdona opened #276 "Unable to install SBE with Chocolatey"
[code]

[2018-11-01 20:52] tomkerkhove commented on #276
I think this is more of a Chocolatey issue rather than a SBE explorer issue.
Feel free to create an issue with them.

[2018-11-02 10:15] paolosalvatori commented on #275
@arerlend don't you have the ability to debug the problem in VS and eventually submit a PR? Thanks! I don't see this issue under my EH namespaces. If you can't work at a PR, could you please send me the connection string? You can find my email account in the About dialog. Thanks

[2018-11-03 15:17] ErikMogensen commented on #274
@hgjura, does it work it as expected for you now?

[2018-11-03 15:19] ErikMogensen commented on #262
I saw that there was an option to extend the use of ACS. I don't remember for how long, but that means we should keep the support for it for a while longer.

[2018-11-03 15:29] SeanFeldman commented on #262
Are you sure? It has a few days left 🙂

https://blogs.msdn.microsoft.com/servicebus/2017/06/01/upcoming-changes-to-acs-enabled-namespaces/

[2018-11-03 17:06] kyle46 commented on #271
I was able to reproduce this on Windows 7 at 125% and 135%. On Windows 7 125% is the default where as Windows 10 100% is the default.

I'll provide screenshots on Monday. I don't have access to my Windows 7 machine until I get to work.

[2018-11-04 18:57] jrmcdona commented on #276
Is nobody else facing this issue?

[2018-11-04 20:55] jrmcdona commented on #276
@tomkerkhove Chocolately says this is not a problem with them.  See the below for reference.

https://github.com/chocolatey/choco/issues/1672#issuecomment-435704961

[2018-11-04 22:07] hgjura commented on #274
@ErikMogensen I did clone the repo locally and created in installable package. I can see the changes that you are talking about with the user config file and update/delete buttons for connection strings.
However, when I try to register a connection with a connection string I get an: <17:05:42> InnerException: The remote server returned an error: (401) Unauthorized. claim is empty. TrackingId:d2955

[2018-11-05 06:30] ErikMogensen commented on #274
Good.

Thank you for the feedback. However, you may request to extend the use of ACS to the 4th of February next year.

[2018-11-05 06:30] ErikMogensen commented on #262
Yes, you may request to extend the use of ACS to the 4th of February next year.

[2018-11-05 08:12] tomkerkhove commented on #276
I tried this and this works fine on my machine:
![image](https://user-images.githubusercontent.com/4345663/47985713-d2448b80-e0da-11e8-9577-697d873dc567.png)

Does the machine have a good connection?

[2018-11-05 13:39] ygizhitsa opened #278 "Kafka mode support"
Looks like Eventhubs in Kafka mode are not supported by Explorer

[2018-11-05 15:13] jrmcdona commented on #276
@tomkerkhove hmm odd.  I do have a good connection.  Nothing else seems to be having trouble.

I wonder what on my machine is blocking access to http://wanuget/bootstrap/nuget or referecing it causing this failure

[2018-11-05 17:52] arerlend commented on #276
How about the public choco repo?  Your choco is probably looking for SBE in a private repository.

`choco install ServiceBusExplorer -s https://chocolatey.org/api/v2/` or something similar.

[2018-11-05 17:54] arerlend commented on #275
Sorry I fell behind on this.  I don't have much time to spare so I'll generate a namespace and send you over a connection string by EOD @paolosalvatori

[2018-11-05 20:04] ErikMogensen commented on #182
As mentioned previously in this thread, GitVersion, may be a solution for this. What do you think? I do not have any experience with it, but I could do some testing. It has support for Appveyor, https://gitversion.readthedocs.io/en/latest/build-server-support/build-server/appveyor/.

[2018-11-06 06:00] ErikMogensen commented on #182
Is is possible to add GitVersion support to the build from inside Visual Studio and still be able to set version when building with AppVeyor? Preferably there should be some metadata that says what kind of build it is.

[2018-11-06 11:20] paolosalvatori commented on #274
Agreed, let's wait for the official announcement of ACS decommission, then we'll remove it from the connection options. Thanks for the feedback @hgjura

[2018-11-06 17:28] SeanFeldman commented on #262
3 months extension (as of today). 🔥

[2018-11-06 18:45] bcurran3 commented on #276
@jrmcdona

Source(s): "http://wanuget/bootstrap/nuget" is your problem. You are using a localized package built for (assuming) your local environment. "wanuget" is not a fully qualified domain name. The package you are using is not going to work to download files from the Internet. I'm assuming "wanuget" is the NETBIOS name of a local server. Make sure you have access to that server and check with

[2018-11-06 19:59] ErikMogensen commented on #271
Closing this as it has been verified on Windows 10.

[2018-11-06 19:59] #271 closed

[2018-11-07 01:35] jrmcdona commented on #276
Thanks I went ahead and got SBE from here https://code.msdn.microsoft.com/windowsapps/Service-Bus-Explorer-f2abca5a for now

[2018-11-07 01:35] #276 closed

[2018-11-09 05:08] SeanFeldman commented on #182
GitVersion doesn't care about VS. It looks at Git information such as branch name, commit sha, etc.
So building locally or on CI server would be consistent.

[2018-11-09 17:17] ErikMogensen commented on #182
What about using the GitVersion msbuild task? Then we have a version on both the VS and the appveyor builds. Preferably we should be able to tell the difference between the builds, but since we do not offer official support for neither build it is not a big deal. The highest priority now must be to release a new version with a built in version number instead of retrieving it from GitHub, since the

[2018-11-09 17:21] SeanFeldman commented on #182
Preaching to the choir. I've failed to persuade @paolosalvatori that that's what needs to happen. Perhaps he has changed his mind since then.

GitVersion MSBuild task what I mean by "GitVersion". It plugs into MSBuild pipeline, which is everywhere, locally or build server.

[2018-11-09 22:29] dspeidel opened #279 "Auto refresh after closing Repair and Resubmit"
Viewing a DLQ (from a topic subscription or queue) and double-clicking a message to view more details brings up the Repair and Resubmit window.  When you close this window, all topics and queues re-load.  This is very, very annoying when you have hundreds of queues and topics

[2018-11-11 19:17] ErikMogensen commented on #182
I see. As I understand it the problem with GitVersion is that it won't a handle a plain download from GitHub. I know that some organizations don't allow git communication with GitHub so plain downloads is the only way to get SBE with source code for many people.

I thought these versioning requirements would be a common problem but I could not find any good solutions on the internet. To get someth

[2018-11-13 21:08] ErikMogensen commented on #182
When downloading the circled item below from https://github.com/paolosalvatori/ServiceBusExplorer/releases you get the source code without any version information emdedded into it.
![image](https://user-images.githubusercontent.com/9644248/48442354-4e4f6b00-e78e-11e8-8bac-6c5a16a50450.png)

I also think that you should get the source code with a version number if you pull it down. I believe that w

[2018-11-13 21:50] SeanFeldman commented on #182
The assets you're point to are functionality of GitHub whenever a new release is created.
Are you expecting any repository on GitHub to have a version embedded in the downloadable source attributed to a certain release? I'd say that's unrealistic expectation and unnecessary.

Look at the ASB client. It has versioned releases and no version is embedded in the **source** code zip file. For that reas

[2018-11-14 05:58] danielmarbach commented on #182
Agree with @seanfeldman

[2018-11-15 20:33] SeanFeldman commented on #182
Exactly my point! 😃 That's because they are **manually** manage version and check it into the source code. It's _their choice_ to do it that way. And if one day they release incorrect version, it will be their responsibility. What we've done is we said "master is what's released". When a `release` branch is merged into `master` with all the changes (bug fixes, improvements, features), version is a

[2018-11-16 13:08] paolosalvatori commented on #182
Sorry guys for coming late to this conversation, but it was tough week. My point is and has always been that the tool should show the same version no matter if you build it in Visual Studio or build it with AppVeryor. The reason why I included some code to call the GitHub API to retrieve from the version of the most recent release (which could be wrong version by the way) is that I don't like to s

[2018-11-16 18:15] ErikMogensen commented on #182
I will summarize how I perceive it, please correct me if I am wrong:

The GitVersion MSBuild Task, which is in use right now, creates a version number on the fly when building using only information in the GitHub history. This version number is embedded in the assembly and nowhere else. This works for both AppVeyor and Visual Studio builds.

I want the version number to be persisted in the source

[2018-11-16 21:59] SeanFeldman commented on #182
@paolosalvatori

Yep, that's what you get when the repo is _cloned_.  When source code is copied, that will not happen.

When building locally w/o git info, I would argue that's desirable to distinguish what's being built _properly_ vs something that was not. If a binary is floating in a company, how do you know it's an authentic version or something butchered and compiled on someone's machine, la

[2018-11-18 19:44] ErikMogensen commented on #182
First of all, sorry for draining your energy.

What I should have written was: It looks like it is difficult to update a version number which is embedded in the source code automatically when building.

Same goes for me whatever the outcome of this as long as the fetching of version number from GitHub is removed.

[2018-11-20 18:24] bencalegari opened #280 "Unable to save connection string"
Attempting to save my connection string in ServiceBusExplorer 4.0.110 returns this error, visible in the logs below:

[code]
Permissions on the tools directory (using gitbash):
[code]

![screenshot 2018-11-20 10 17 14](https://user-images.githubusercontent.com/4923102/48794121-da412580-ecad-11e8-9e7d-2287724dabc7.png)

[2018-11-21 06:11] ErikMogensen commented on #280
Please try one or more of the following solutions/workarounds and let us know what worked:

1. Start ServiceBusExplorer in elevated mode by selecting "Runs as administrator".
2. Give your user (it is not enough with the Administrators group) the Full Control permission on the Tools directory.
3. A recent feature has been added to ServiceBusExplorer that allows you to save connection strings in a s

[2018-11-22 08:53] paolosalvatori commented on #182
@ErikMogensen @SeanFeldman if this is an issue, let's remove the call to retrieve the version of the latest release on GitHub, and that's it. I'm definitely not happy to see 1.0.0. In this case, I will remove the version from the title bar and I'll leave it in the About form.

[2018-11-26 17:11] paolosalvatori commented on #182
@ErikMogensen if it's a matter of reducing the delay with which SBE starts, I can surely change the call so that if it doesn't return in maximum 500 ms, the call to GitHub aborts. :)

[2018-11-26 17:50] ErikMogensen commented on #182
Ah! :)  Then it is something else, my next guess is it is the downloading of debug symbols from Microsoft. That is a of course a different matter.

[2018-11-26 20:17] bencalegari commented on #280
Running as administrator did the trick! Thanks.

[2018-11-28 07:36] SeanFeldman commented on #182
Have a look at [MinVer](https://www.nuget.org/packages/MinVer/1.0.0-beta.1). As simple as adding a package reference and version can be driven by the Git tags. Will generate correct version locally when code is **cloned**, which should be always the case.

[2018-11-28 18:29] danielmarbach commented on #182
It makes sense to switch to SDK style proj anyway since this is the new prefered format which comes with so much benefits like cleanliness, nuget packaging automation and more

[2018-11-28 18:32] SeanFeldman commented on #116
Perhaps it's possible now?

[2018-11-28 18:35] SeanFeldman commented on #182
👍 to what @danielmarbach said.
There's an issue for that, #116, which I've reopened and can be tackled first to unblock this one should MinVer be used.

[2018-11-29 17:59] paolosalvatori commented on #116
@SeanFeldman can anyone make a prototype and then a PR?

[2018-11-29 21:31] ErikMogensen commented on #116
It looks like it is still not possible, the article https://github.com/dotnet/project-system/blob/master/docs/feature-comparison.md says support for WinForms projects will come in 16.0, which is VS 2019.

[2018-11-30 15:00] paolosalvatori commented on #116
Let's wait a few months then :)

[2018-11-30 19:11] SeanFeldman commented on #49
@MatthewSteeples that's great.
Feature branch might need to be synched with dev for other changes, but nothing's should be blocking you ATM.

[2018-11-30 19:51] MatthewSteeples commented on #49
Looking at the recent tooling, the hardest part of this is going to be getting some logos! My artistic skills are next to zero, so if anyone has any ideas for images for the following sizes that'd be great! Need a square one that looks good at 300x300, and one for 88x88 (can be the same one if it works fine). Then there's also a banner size one 620x300.

[2018-12-05 01:00] #280 closed

[2018-12-06 15:54] joclefrancois opened #282 "Subscription Listener"
Hi,

Using the Service Bus Explorer, I create a "Subscription Listener" on the same subscription on my application. No matter what parameters I set before to start the listener, e.g. "ReceiveDelete" or "PeerLock", "Auto Complete" on or off, it seems that messages are lost forever, my application will never receive messages that were caught by the listener while it's running.

Maybe it is by design

[2018-12-07 07:12] SeanFeldman commented on #282
Looking at the code, `ReceiveAndDelete` will always delete, which is expected.
`PeekLock` will auto-complete or delete manually. Meaning it will **always** delete.
The tool simply doesn't allow to purely "peek" messages with a listener w/o not deleting messages.

/cc @paolosalvatori

[2018-12-07 17:35] MatthewSteeples commented on #49
Found a bug already: You can't save connections as it tries saving to the install location rather than the user's profile. I'll have a look at seeing if that can be changed without breaking existing behaviour

[2018-12-07 17:36] calloncampbell commented on #49
@MatthewSteeples I'm curious to the process you used for publishing it to the store. Can you provide details please. Is that tracked in a branch/PR I can reference?

[2018-12-07 17:38] MatthewSteeples commented on #49
@calloncampbell The changes I've had to make are in a fork on [my own GitHub](https://github.com/MatthewSteeples/ServiceBusExplorer). The summary is that you create a "package project" in VS, and then when you build that it gives you an appx that you can submit to the store. It's a very manual process though, found [here](https://partner.microsoft.com/en-us/dashboard/windows/overview)

[2018-12-07 17:40] calloncampbell commented on #49
Thanks @MatthewSteeples , I'll take a look.

[2018-12-07 17:52] SeanFeldman commented on #49
Great work.
Once those steps can be automated, we could add it to our automated
deployment. Would require store account associated with Paolo.

[2018-12-07 18:33] MatthewSteeples commented on #49
@SeanFeldman: @paolosalvatori will need to [create his own account](https://docs.microsoft.com/en-us/windows/uwp/publish/account-types-locations-and-fees) by the looks of things (if he creates a company account then it can have multiple users being members). There looks to be a cost for this of $99, and I can't find any exceptions listed for Open Source software.

Alternatively, we'd be happy to k

[2018-12-07 20:05] SeanFeldman commented on #49
I'll let him decide on that. There's also individual account

with a perk

[2018-12-07 20:59] MatthewSteeples commented on #49
Just noticed where @paolosalvatori works. He might be able to get a discount ;)

[2018-12-12 02:55] todthomson commented on #193
I'm closing this (and presuming that it has been fixed by #192). If for some reason this is not the case and someone cares to re-open this then that's fine, but I have moved on from Azure Service Bus so this is no longer relevant to me.

[2018-12-12 02:55] #193 closed

[2018-12-17 08:34] paolosalvatori commented on #49
Hi @MatthewSteeples @SeanFeldman sorry for coming late to the discussion, but i was extremely busy delivering design sessions on customer site in the last two weeks! Thanks a lot Matthew for the great work! I'll create an account on Microsoft store as soon as possible and I'll send it to you for the proper changes so that you move the location of the tool. Thanks :)

[2018-12-17 08:50] paolosalvatori commented on #49
Hi @MatthewSteeples I just checked and found that I have an account already called "Paolo Salvatori". Please write me on paolos@microsoft.com and let's make the necessary changes together, thanks!

[2018-12-18 07:40] regevbr commented on #211
I had to create a windows vm to use that tool as I'm working on Ubunutu now.
Creating a linux dist will be awesome!!!

[2018-12-19 15:32] SeanFeldman opened #284 "Switch to the new ASB client Microsoft.Azure.ServiceBus"
Currently used client is a legacy client.
The new client: https://www.nuget.org/packages/Microsoft.Azure.ServiceBus/

[2018-12-20 06:00] ErikMogensen opened #285 "Describe development environment requirements"
There should be a part of the readme.md which describes the development environment requirements. It is probably enough just to state Visual Studio version.

[2018-12-20 18:05] #285 closed

[2018-12-22 08:41] regevbr opened #286 "Cross platform support"
Hi,

I moved to Ubuntu and I have to keep a windows vm just to use your great tool.
Can you please release a linux release as well?

[2018-12-22 14:48] regevbr commented on #286
I managed to complie it using mono after a few hour of debugging.
When I try to connect it throws many exceptions due to some issues with compatibility in linux of the azure sdk.
Suggest fix in the web is to use https://github.com/ppatierno/azuresblite which is compatible.

[2018-12-22 16:43] SeanFeldman commented on #286
Related to #284.

The new official ASB client would help here, but the project is not there yet.

[2019-01-02 08:58] paolosalvatori commented on #282
Hi @joclefrancois if you just want to see what is in the subscription without deleting messages, you can simply proceed as follows:

- Select the subscription in the the tree view
- Click the Messages button
- Select Peek receive node in the dialog box
- Click OK button

We may extend the subscription listener with the ability to just peek messages from a subscription without deleting them, but if

[2019-01-02 09:05] paolosalvatori commented on #211
Hi @regevbr I think that the Service Bus team is working to extend the ability to manage, control and test the entities of a Service Bus Messaging namespace. Maybe @djrosanova and @clemensv can provide more information at this regard. This would make creating a cross-platform version of SBE unnecessary. I do understand your request, trust me, but I'm not a member of the Service Bus team and I'm ma

[2019-01-02 09:09] paolosalvatori commented on #49
Hi @MatthewSteeples whenever you have time we should work together to move the tool under my account on the Windows store. Thanks for your collaboration!

[2019-01-02 11:09] regevbr commented on #211
Hi @paolosalvatori thanks for the answer. Sadly management tools provided by Azure (or AWS for that matter) are (if they even exist) really lean and not usefull. They rely on you to use their api to manage your services. Even if they extend the tools a little bit, I'm sure it will not give the great benefits this tool brings and certainly will not make a cross platform version unnecessary... What

[2019-01-02 13:10] paolosalvatori commented on #211
I totally agree with you, it would be great to have a multi-platform tool for Service Bus, but even if I work at Microsoft, a complete re-write of the tool would be a huge effort and is not in my commitments, sorry about that :(

[2019-01-03 04:59] SeanFeldman commented on #211
I will mention Serverless360 as an option. It's not free, but it's xplat.
In regards to re-write, it's not a small undertaking, just like Paulo has mentioned.

[2019-01-07 18:07] ErikMogensen commented on #182
I can remove the version information from the title.

When building SBE without having downloaded it the Git way it will display 0.0.0.0 as version number in the About box. I think it is better to display 0.0.0.0 than getting the latest version number from GitHub, since that may not be that version executing and then the About form would be lying which would be confusing.

[2019-01-10 22:03] lansal15 commented on #109
Was this ever addressed? We were able to save off messages but cannot load them into the Send Messages dialog. The message indicates that the file is not a valid template file.

[2019-01-13 00:30] RealDotNetDave opened #289 "Error Connecting using Connection String"
I've been trying to connect using a connection string like this:

DefaultEndpointsProtocol=https;AccountName=testsb;AccountKey=zJb0Z1e9FwMnmuEkNqo19WgXCBldSBm/cKY3d04x9tihMFPhu/2Sv3Dwdg==;BlobEndpoint=https://testsb.blob.core.windows.net/;TableEndpoint=https://testsb.table.core.windows.net/;QueueEndpoint=https://testsb.queue.core.windows.net/;FileEndpoint=https://testsb.file.core.windows.net/;Tran

[2019-01-13 01:47] SeanFeldman commented on #289
The connection string you're using is a Storage connection string, not
Service Bus 🙂

Sean Feldman

On Sat., Jan. 12, 2019, 17:30 dotNetDave <notifications@github.com wrote:

[2019-01-13 20:48] RealDotNetDave commented on #289
Where do I get the storage connection string? I tried using the one that starts with "Endpoint=" but could not get that working either.

[2019-01-13 20:50] RealDotNetDave commented on #289
Oh, I got it working. Thanks.

[2019-01-13 21:00] SeanFeldman commented on #289
🙂

[2019-01-13 21:00] #289 closed

[2019-01-15 20:07] niheinba opened #290 "Multiple Active Namespaces"
Hey,

I have multiple Service Bus namespaces that I would like to look at without closing other ones down. Is that possible? Right now I have them saved properly, but everytime I go File -> Connect and select the namespace it opens that and closes the current one. Is there a toggle I am missing?

Thanks!

[2019-01-15 20:10] SeanFeldman commented on #290
No toggle. The tool is designed for a single namespace usage. Would running two instances (or as the number of namespaces) help to workaround this issue?

[2019-01-15 20:12] niheinba commented on #290
I was hoping to auto forward from one subscription into another. I can always play around with the SDK and do it that way instead of trying to GUI it.

Thanks for the quick response!

[2019-01-15 20:18] niheinba commented on #290
Dang, I did not understand what I read. Thank you for your help!

[2019-01-15 20:18] #290 closed

[2019-01-22 02:06] ahofman commented on #222
I have an interest in this - happy to raise a PR if I can find the time :)

Just to make sure I understand @paolosalvatori correctly, is something like this OK?
![image](https://user-images.githubusercontent.com/1689712/51507735-61de1880-1e46-11e9-9b66-0bd1b79afb39.png)

Also, do we want to do something about this button, or leave as is (i.e., only able to Enable and Disable):
![image](https://use

[2019-01-22 11:40] paolosalvatori commented on #109
Hi @lansal15 I didn't have bandwith to implement this feature, sorry about that

[2019-01-22 11:43] paolosalvatori commented on #290
True, there's no forwarding between namespaces... at least at this time ;)

[2019-01-22 11:48] paolosalvatori commented on #222
@ahofman the items in submenu are perfect. We should probably change the label of the Enable \ Disable button to Status and its semantics: clicking the button should open a dialog where you can select one of the possible states from a drop-down list

[2019-01-22 22:30] cz-kmocherla opened #292 "Receive Messages in Order"
Hi,
Could you please add a way to receive the messages sorted based on the timestamp so we get the latest messages first.
Currently, we get the oldest ones first and need to fetch more messages and reverse sort them to view the newer ones.

[2019-01-23 03:15] SeanFeldman commented on #292
@cz-kmocherla there's no way to control if messages received in ascending or descending chronological order. This would need to be done once messages are received. I thought you can already sort the grid. Could you please confirm?

[2019-01-23 15:57] cz-kmocherla commented on #292
@SeanFeldman Yes, I can sort the grid after I fetch the messages.
@paolosalvatori Yes, that is exactly what I was looking for - a LIFO ordering. The reason for this is if there are around 50000 messages in the queue, I would have to fetch all of them to view the latest 10 messages

[2019-01-23 18:18] SeanFeldman commented on #292
@cz-kmocherla to backup @paolosalvatori here - there's a broker feature that is missing. As of today, you can't browse messages with certain status and either have to get it all or not. Here's an [example issue](https://github.com/Azure/azure-service-bus/issues/95). The broker should support browsing messages given a criteria, not this tool IMO. Cheers.

[2019-01-25 14:47] gitricharde commented on #268
See PR https://github.com/paolosalvatori/ServiceBusExplorer/pull/293 for support for OR statements in Queue and Topic filters

[2019-01-31 17:58] jarmstrongnz commented on #268
thanks @gitricharde for putting in the effort here on my feature request

[2019-02-01 16:09] jstawski opened #294 "Invalid body type when resubmitting messages in batch from Deadletter"
When trying to resubmit 2 or more deadletter messages to the queue, the body type dropdown seems blank. When the dropdown is opened the right type seems to be selected, but when closed it shows blank. Changing the type, seems to maintain it. This is not a UI problem only as when the messages are submitted the body types can't be read by other clients. I was able to confirm this by resubmitting one

[2019-02-03 11:44] ErikMogensen commented on #294
Hi @jstawski,
I created PR #296 for resolving the GUI issue. I looked at the submitting part and from what I can tell it should be the same result in batch mode as in single mode. However, I had no way of quickly determining whether it was using the intended body type. Do you have a good way of doing that?

[2019-02-03 11:51] ErikMogensen commented on #262
When removing ACS support it is good to keep in mind that we want to add support for RBAC authentication, https://github.com/paolosalvatori/ServiceBusExplorer/projects/1#card-9365420.

[2019-02-04 07:44] rahulseth01 opened #297 "Close of Deadletter Message edit window refreshes the current connection"
1. Open any Dead-lettered message.
2. Click on "Close" or "X"
3. It can be noticed that Explorer will refreshes the entire connection

[2019-02-04 19:17] SeanFeldman commented on #297
PR #298 will address this issue. Thanks @rahulseth01 for reporting the problem.

[2019-02-04 19:31] SeanFeldman commented on #292
Looks like there's not much to be added here. Closing this issue.

[2019-02-04 19:31] #292 closed

[2019-02-04 19:33] #222 closed

[2019-02-05 12:36] joclefrancois commented on #282
Yes, it answers my question, thank you.

[2019-02-05 12:36] #282 closed

[2019-02-05 16:20] kkorus opened #299 "Dark theme?"
Can you add option for Dark Theme?

[2019-02-05 22:07] paolosalvatori commented on #299
Hi @kkorus love this idea, any ideas for colors? Any reference or sample?

[2019-02-06 02:53] mrdrejko opened #300 "UI becomes unresponsive during deletion of DLQ"
During deletion of DeadLetters UI freezes and becomes unusable. I couldn't use Service Bus Explorer for 1 hour during deletion of 100k messages. This is happening whenever process several thousand messages (eg. want to display 15000 messages), and time of unresponsiveness varies based on how many messages was processed.
I have found workaround (starting new instance of SBE), however don't think th

[2019-02-06 05:46] ErikMogensen commented on #300
How are you deleting the messages? Are you using the Messages button and then selecting Receive and Delete or have you right clicked the queue and selected Purge Dead Letter Messages?

In a Service Bus Explorer release last year the purging of Dead Letter Messages was changed to use an algorithm for spinning up several threads when purging. It should delete 100 K messages in a lot less time than 1

[2019-02-06 09:00] ahofman commented on #300
Agree that Purge is better if the intent is to delete all dead lettered messages in a queue - however if @mrdrejko is deleting a subset of messages, based on a filter expression from the Deadletter tab he makes a valid point. The UI will be similarly unresponsive when resubmitting large volumes of messages. In these scenarios I think a dialog with a progress bar is a good idea.

[2019-02-06 09:32] kkorus commented on #299
@paolosalvatori Something like here https://git-fork.com/  It supports light and dark theme.

[2019-02-07 11:50] regevbr opened #301 "add ability to auto resubmit all dead letter messages"
A common scenario (at least for me) it when a bunch of message gets to the DLQ and I want to resubmit them back to the queue after I know they won't fail again.
Currently I need to retrieve all messages (while deleting them) and then resubmit to the queue.
It will be awesome if there will be a button to handle all of that logic.

[2019-02-07 12:10] knakkert commented on #286
Also for mac would be great!

[2019-02-11 03:34] ahofman commented on #301
I do this now with auto-forwarding.

Given a queue "A" with dead lettered messages. I create a new queue called "B". Then configure queue "A" to forward all dead lettered messages to "B" and then update. All the dead lettered messages should then be in "B" and the DLQ for "A" should be empty. Then configure "B" to forward all messages to "A" and update. All messages will then be back in "A" and be

[2019-02-11 04:58] ahofman opened #302 "Purge operation doesn't remove Deferred messages"
To reproduce:

1. Send some messages to a Service Bus queue
1. Defer them via the deferral APIs (https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-deferral)
1. Purge the queue

The deferred messages still remain in the queue.
In my tests the purge operation took a long time - > 300 seconds - even though there were < 10 deferred messages in the queue.
![image](https://user-images

[2019-02-11 07:27] regevbr commented on #301
@ahofman I thought about that solution a while back but it doesn't do what I need - what you actually do can be done by setting the number of retries of a message to infinite and ignore the existance of the DLQ.
I do want my messages to go the DLQ under certain conditions, and WHEN I want to resubmit them, I will be able to do it with ease.

@ahofman do you agree or am I missing something?

[2019-02-11 08:08] ahofman commented on #301
I don't think we're quite on the same page - I am not suggesting ignoring the DLQ or anything like that. I'll try again but with more detail.

Let's say you have a queue called "A". This queue is configured with Max Delivery Count of 10. There were 100,000  messages in this queue that have been received 10 times, and their delivery count has exceeded the Max Delivery Count, and all the messages ha

[2019-02-11 08:14] regevbr commented on #301
Yes that make more sense when you do it ad-hoc and then disable it.
The thing is that it takes time and if I have 10 queues with stuck dead messages? It will take a long time to acomplish.
The manual process I do currently takes a bit less time but if I had to deal with 100k dead messages I will defiantly use your method.
I still think it will make much more sense to have a single button to perfro

[2019-02-11 12:11] thomaslevesque commented on #280
@ErikMogensen running as admin or giving permission on the directory will work, but it's not the right way to handle this. Application data should be saved in the AppData folder, not in the installation folder.

[2019-02-11 16:03] SeanFeldman commented on #302
Purge operation is implemented as receive operation.
With ASB client, receive operation doesn't get deferred messages. It would require Peek operation to retrieve message `SequenceNumber` and receive messages by `SequenceNumber`.

Personally, I don't like purging queues the way we do right now. It really should be supported by the broker. There's an issue for that: https://github.com/Azure/azure-s

[2019-02-12 19:21] uday060 opened #303 "Purging the messages in dead letter queue is not refreshing the screen once it got completed"
Select any queue which has dead letter messages and click on Deadletter button.
Select Receive Mode as Peek and click on Ok button
All dead letter messages are being displayed in the messages section
Click on Purge button to purge the dead letter messages in the queue
Once it got completed, still the screen is showing all the dead letter messages in messages section.

Expected Functionality : Mess

[2019-02-13 03:49] SeanFeldman commented on #303
Purge button refers to the active messages, not dead-lettered messages.
If you want to purge dead-lettered messages, use <kbd>Purge DLQ</kbd> button.

[2019-02-13 03:49] #303 closed

[2019-02-15 15:20] lukasz-pyrzyk opened #304 "Add TimeSpan support for the Message Custom Properties"
I use custom TimeSpan property for the retry mechanism. Unfortunately this type is not supported by the MessageForm and I am unable to edit & resend this message correctly.
<img width="339" alt="old" src="https://user-images.githubusercontent.com/5083018/52865229-6becf180-313c-11e9-9119-e2947dbd9617.PNG">

For the testing purposes, I did it on my fork and it looks like small change. Add an option

[2019-02-15 16:08] SeanFeldman commented on #304
Would be good @lukasz-pyrzyk, thanks.

[2019-02-17 02:48] ahofman commented on #302
Honest question - would the SBE "Purge" operation be faster and more reliable if it were implemented by deleting and re-creating the queue? That's what I do now (manually) when I find the Purge operation isn't working for me.

cc @paolosalvatori

[2019-02-17 06:36] SeanFeldman commented on #302
You would definitely get rid of _all_ messages, but this is such a destractive operation...

[2019-02-17 09:00] #304 closed

[2019-02-26 23:54] batizar opened #307 "Clicking on messages to see the details or clicking on "Repair and resubmit" fails in 4.1.111"
I am not able to click on messages in Message List to see their details or "Repair and resubmit" DLQ messages in 4.1.111. It shows  `Exception: The item argument cannot be null.` in log window.

Tested with 4.0.110 and everything works as expected.

Cheers.

[2019-02-27 04:33] SeanFeldman commented on #307
@batizar I've just tried 4.1.111 and it worked.

Click <kbd>Deadletter</kbd> then "Peek top 10" then double-click on any message brings "Repair and Resubmit Messages" window. Was able to update and resubmit a message.

[2019-03-04 07:53] paolosalvatori commented on #300
@ahofman this is an excellent idea. Do you have bandwidth to implement this feature and submit a PR?

[2019-03-04 07:55] paolosalvatori commented on #299
Do you have bandwidth to implement this feature? I've a very limited spare time in this period :(

[2019-03-04 08:07] paolosalvatori commented on #301
Hi @regevbr Service Bus Explorer is an open-source tool and is supported by the community on a best-effort basis. Unfortunately, in the last couple of years I've been quite busy and I've a limited time to dedicate to the tool. I think that your idea is good, but at the same time your issue is not so common. In other words, it would be great if you could implement the feature you suggest and submit

[2019-03-04 08:18] paolosalvatori commented on #302
In my opinion, Service Bus Messaging should provide the ability to selectively purge:

- all messages including dead-lettered and deferred messages
- active messages
- dead-lettered messages
- deferred messages

from a queue or a subscription. If you agree with this idea, I will submit this feedback to the product group.

[2019-03-04 08:22] paolosalvatori commented on #280
@thomaslevesque / @ErikMogensen can we add the option to save data in the C:\%APPDATA% folder instead of the installation folder?

[2019-03-04 08:28] thomaslevesque commented on #280
Honestly, I think it shouldn't even be an option, it should be the default.
Saving the connection should at least work when you use the recommended installation method (Chocolatey), and currently it's not the case.

[2019-03-04 08:32] paolosalvatori commented on #280
@thomaslevesque, you are right, but take into account when the tool was born years ago it was just a sample, then it evolved into a community supported tool. Why don't you create a PR and contribute to make the tool better?

[2019-03-04 08:38] thomaslevesque commented on #280
@paolosalvatori I'm well aware of this, and I'm not demanding anything of course ;)
I might send a PR if I find the time.

[2019-03-04 08:38] regevbr commented on #301
I completely understand! Last I touched c# was a few years back and I'm a node.js guy now but if i will find the time I will try to give it a shot

[2019-03-04 08:50] paolosalvatori commented on #280
Thanks @thomaslevesque ;)

[2019-03-04 08:51] paolosalvatori commented on #301
thanks @regevbr ;)

[2019-03-04 14:31] SeanFeldman commented on #302
@paolosalvatori The request is there long time ago. Broker-side issue is at least 2 years old... https://github.com/Azure/azure-service-bus/issues/1

[2019-03-04 15:01] sterobson opened #308 "Very slow loading times for topics with a high number of subscriptions"
We have a Service Bus with three topics, and each topic has approximately 1000 different subscriptions. Loading the namespace in Service Bus Explorer takes between 5 and 10 minutes with the program completely unresponsive during this time.

I've investigated the problem and it stems from the fact that for every subscription the program is doing an additional request to get the subscription's rules

[2019-03-04 15:21] paolosalvatori commented on #302
I know my friend @SeanFeldman but we have an internal feedback mechanism so I will re-iterate the need to implement this feature :)

[2019-03-04 15:23] SeanFeldman commented on #302
I would combine the efforts.
Customer voice should be taken seriously.
Not to mention that internal things are hidden and die internally 😉

[2019-03-04 18:07] ErikMogensen commented on #302
Until this is fixed in the service we have to workaround that shortcoming. What @ahofman describes seems to be a bug where Service Bus Explorer detects that there are messages in the queue and does its best to delete them. Instead it should detect that the messages are non deletable and give up. This won't solve the initial problem of getting rid of the deferred messages but it shouldn't take 5 mi

[2019-03-04 18:11] ErikMogensen commented on #308
Good suggestion, I think this is something that should be added. Please create a PR for this.

[2019-03-04 18:18] ErikMogensen commented on #300
I also think a progress bar would be great, however it is difficult to implement properly. It would also be good to know where this is needed the most.

@mrdrejko, about the problem of the time it takes, have you tried the latest release of Service Bus Explorer? It was released a couple of weeks ago and unlike previous versions it does not show the version number in the main window title bar.

[2019-03-04 18:20] ErikMogensen commented on #299
@gitricharde is already working on this.

[2019-03-04 18:21] #274 closed

[2019-03-04 18:39] ErikMogensen commented on #280
@thomaslevesque  and @paolosalvatori , previously in this thread I wrote:

This feature is part of the latest release. It is however not the default since it was deemed that maintaining backwards compatibility was more important. You enable this using the Options dialog and you can decide if it should use the classic way of only using the application, only store and read connection string from the

[2019-03-04 20:05] SeanFeldman commented on #302
W/o derailing the conversation, are we saying "no bugs will be fixed until we decide how to move to the new ASB client"?

[2019-03-04 20:31] ErikMogensen commented on #302
That's not what I meant. It's just a personal preference for me. Anyone else may of course fix this before that.

[2019-03-04 21:23] sterobson commented on #308
@ErikMogensen - thanks, I'm on it. I've created a branch locally and implemented the changes, but I get a 403 error when I try to push the branch or create a pull request. Do I need additional permissions on the repo to do this?

[2019-03-04 22:50] thomaslevesque commented on #280
Hey @ErikMogensen, thanks for the tip, I'll give it a try!

The last option ("Both") could be made the default without breaking compatibility. Users who have their settings in the application folder will still be able to use them, and if they change them, they will be written to the user file. Looks like the best of both worlds to me!

[2019-03-05 05:48] ErikMogensen commented on #308
Great! You need to fork it and then push your changes to your fork of the repository. From the fork you can create the PR using the GitHub UI.

[2019-03-05 07:14] ErikMogensen commented on #280
Depends upon how you define backwards compability. It might create confusion when not all of the connection strings are put in the application configuration file as usual.

Also, It required a lot of changes, far more than I expected, to implement the functionality to save the connection strings in another file, so it is quite likely that there are bugs or other problems related to this. Perhaps w

[2019-03-06 22:58] #308 closed

[2019-03-07 16:05] MikeWilliams-UK opened #310 "Errors when body is empty"
If a message has no body then the message properties are not fetched.
This worked in a previous vesion.

"<16:03:29> Exception: The item argument cannot be null."
is seen in the log window if the message is double clicked on.

[2019-03-07 16:38] MikeWilliams-UK commented on #310
I have downloaded the source debugged it and tracked down how to "fix" it for us.

File $\src\ServiceBusExplorer\Helpers\JsonSerializerHelper.cs function
Function JsonSerializerHelper.IsJson at line 114

If I replace
[code]
with
[code]

With this change SBE functions as it previously did with messages that have no body.

[2019-03-07 18:26] SeanFeldman commented on #310
@MikeWilliams-UK sounds like a bug. Could you raise a PR and add a test to [`JsonSerializerHelperTest`](https://github.com/paolosalvatori/ServiceBusExplorer/blob/e2c0a84334d46875d1a8828838fce258eda0c6c9/src/ServiceBusExplorer.Tests/Helpers/JsonSerializerHelperTest.cs)? Thank you.

[2019-03-07 19:40] NatashaRad opened #311 "Error when sending message"
Hi,
I have successfully downloaded, built ServiceBusExplorer solution (ServiceBusExplorer 4.1.111) and got connected. But when I try sending a message, I am getting error: Exception: Could not load type 'Microsoft.ServiceBus.Messaging.MessagingEntityClient' from assembly 'Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. Please help me to solve the problem.

[2019-03-07 20:44] ErikMogensen commented on #311
Hi,

A couple of questions:

1. Is Microsoft.ServiceBus.dll in the same directory as ServiceBusExplorer.exe?
2. If you download the package from https://github.com/paolosalvatori/ServiceBusExplorer/releases and then run it. Does that work?
3. Is Microsoft.ServiceBus.dll in your GAC?

[2019-03-07 21:34] NatashaRad commented on #311
Natalya Radutskaya
Application Developer, Sr
King County Information Technology
BSS Property Systems
(206) 263-7857
natalya.radutskaya@kingcounty.gov<mailto:natalya.radutskaya@kingcounty.gov>

From: Erik Mogensen [mailto:notifications@github.com]
Sent: Thursday, March 7, 2019 12:45 PM
To: paolosalvatori/ServiceBusExplorer <ServiceBusExplorer@noreply.github.com>
Cc: Radutskaya, Natalya <Natalya.Rad

[2019-03-07 22:50] SeanFeldman commented on #311
One more check @NatashaRad, are you running the app from a network drive?
If yes, copy it to a local drive and re-run.

[2019-03-07 23:00] NatashaRad commented on #311
I am running it from my machine.
First time I downloaded the solution, built it and run from the bin folder.
Then I tried to install it from Microsoft store, same version, launch it and still get the same error.

Natalya Radutskaya
Application Developer, Sr
King County Information Technology
BSS Property Systems
(206) 263-7857
natalya.radutskaya@kingcounty.gov<mailto:natalya.radutskaya@kingcounty.

[2019-03-07 23:11] SeanFeldman commented on #311
Microsoft Store? It's not on Microsoft store AFAIK....

Also, @NatashaRad, do you mind not to reply from your email with the entire email thread in the body? It create an [enormous noise](https://github.com/paolosalvatori/ServiceBusExplorer/issues/311#issuecomment-470735647) when looking at the issue on GitHub... hope you don't mind 🙂 When replying using email, just send your comment, delete every

[2019-03-07 23:15] NatashaRad commented on #311
Sorry…
It is in Microsoft Store, they mention
Copyright
https://github.com/paolosalvatori/ServiceBusExplorer
Developed by
https://github.com/paolosalvatori/ServiceBusExplorer

Natalya Radutskaya
Application Developer, Sr
King County Information Technology
BSS Property Systems
(206) 263-7857
natalya.radutskaya@kingcounty.gov<mailto:natalya.radutskaya@kingcounty.gov>

[2019-03-07 23:49] SeanFeldman commented on #311
@NatashaRad this application is only available via
- GitHub
  - As code
  - As compiled and packaged into zip (here: https://github.com/paolosalvatori/ServiceBusExplorer/releases/latest)
- Chocolatey package - https://chocolatey.org/packages/ServiceBusExplorer/

Please use one of these to download the tool. Thank you.

[2019-03-07 23:52] NatashaRad commented on #311
This exactly what I used first time and it didn’t work! While all my coworkers were able to get it successfully.

Natalya Radutskaya
Application Developer, Sr
King County Information Technology
BSS Property Systems
(206) 263-7857
natalya.radutskaya@kingcounty.gov<mailto:natalya.radutskaya@kingcounty.gov>

@NatashaRad<https://gcc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FNa

[2019-03-07 23:54] NatashaRad commented on #311
I have tried version from Microsoft only an hour ago. 2 days I was fighting with what I got from sites below.

Natalya Radutskaya
Application Developer, Sr
King County Information Technology
BSS Property Systems
(206) 263-7857
natalya.radutskaya@kingcounty.gov<mailto:natalya.radutskaya@kingcounty.gov>

@NatashaRad<https://gcc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FNatas

[2019-03-07 23:57] SeanFeldman commented on #311
@NatashaRad if all of your co-workers were able to use it and you can't, that would isolate the issue to your machine. Try to download and use it on another machine, to verify it's the machine that has a problem. Which is likely the issue. Once you've identified it's the machine, have a look at your user vs others. Is there any difference? Is your account restricted? Is file getting corrupted some

[2019-03-07 23:58] SeanFeldman commented on #311
I am not aware of this application being distributed via Microsoft store. Could you please provide a link or a screenshot of where you're getting if from? Thank you.

[2019-03-08 00:01] NatashaRad commented on #311
https://www.microsoft.com/en-us/p/service-bus-explorer/9n454whqdsw1?activetab=pivot:overviewtab

[cid:image003.jpg@01D4D4FF.0D6B1EA0]

[cid:image004.jpg@01D4D4FF.0D6B1EA0]

Natalya Radutskaya
Application Developer, Sr
King County Information Technology
BSS Property Systems
(206) 263-7857
natalya.radutskaya@kingcounty.gov<mailto:natalya.radutskaya@kingcounty.gov>

[2019-03-08 00:18] SeanFeldman commented on #311
@NatashaRad please use GitHub UI. Your screenshots are not coming through when sent using an email client.

[2019-03-08 08:33] MikeWilliams-UK commented on #310
Just forked the repo, going to fix and submit pr, hopefully sometime today.

[2019-03-08 10:59] MikeWilliams-UK commented on #307
This is a symptom of #310.
I have submitted a PR with my code fixes.

[2019-03-08 11:08] MikeWilliams-UK opened #313 "Allow user to configure third number shown next to service bus queue name"
While fixing an unrelated bug I finally found out what the third number shown is. It's the "TransferDeadLetterMessageCount"

As we don't use this I have compiled a version for our internal use, which shows the "ScheduledMessageCount" which we use instead.

A usefull enhancement might be to allow the end user to be able to configure which counts are shown next to the queue in the tree view.

![imag

[2019-03-08 22:29] SeanFeldman commented on #313
Originally, the tool showed just two numbers: active and dead-lettered message counts. And that's because every queue is technically two queue: the actual queue and DLQ sub-queue.

Transfer dead-lettered messages where added as a result of the discovery of a very poorly documented fact that T-DLQ is yet another sub-queue. What's worse is that when that sub-queue contains messages, errors caused th

[2019-03-08 23:17] MikeWilliams-UK commented on #313
I 100% agree with you that the UI shows the full info for the "selected" queue. However in our case we need to monitor several queues, so we select the queues node and press F5 and get an overview we can then click on the queue we want detailed info on.

The option I was think about was to keep the first two counts as fixed, then allow the user to chose which other count was displayed as the third

[2019-03-10 15:28] SeanFeldman commented on #310
Fixed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/4706ba915ae70f1246772fca4702c88996c603c7

[2019-03-10 15:28] #310 closed

[2019-03-10 15:29] SeanFeldman commented on #307
Fixed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/4706ba915ae70f1246772fca4702c88996c603c7

[2019-03-10 15:29] #307 closed

[2019-03-13 23:09] apjanke commented on #250
How do you actually Save the connection? I'm using a recent version, 4.1.113, and I can't figure out how to save my connections. I don't see any Save button or menu option.

[2019-03-13 23:38] apjanke opened #316 "Temporary freeze when Peeking more than a few messages"
I'm a new SBE user; sorry if this is user error.

I have a Service Bus Queue with a single small message in it. If I try to retrieve 500 or 1000 messages from this queue in Peek mode, the SBE UI freezes for quite a while: over a minute in the case of 1000 messages.

It's frozen pretty hard, too: if I raise another window on top of the SBE window and click back on to SBE, it doesn't come back on to

[2019-03-14 06:28] ErikMogensen commented on #250
Select "Enter connection string" from the drop down. Then you can enter it. Finally press Save.
![image](https://user-images.githubusercontent.com/9644248/54335865-942c1b00-462a-11e9-935b-82e3c21051c3.png)

You may also edit the configuration files directly.

[2019-03-14 08:35] Zenuka opened #318 "Use Microsoft.Azure.Services.AppAuthentication for getting access to service bus"
It would great if we could use the current user's to connect to service bus using `Microsoft.Azure.Services.AppAuthentication` nuget so that you won't need to store a connection string or fetch it from the azure portal everytime.

[2019-03-14 08:48] tomkerkhove commented on #318
This only works for applications running on Microsoft Azure, how would you see this working then?

Do you want to run it on a VM or? If so, not sure if this is supported.

[2019-03-14 09:58] apjanke commented on #250
Ah, there it is. I was using "Select a service bus namespace..." or the other connection creation options, and the "Save" button doesn't appear for them. When I switch it to "Enter connection string...", the Save button appears.

Thanks!

[2019-03-14 12:26] apjanke opened #319 "Cannot revert Configuration file option to "Application Configuration File""
In View > Options, the option "Configuration File for Settings and Connection Strings" defaults to "Application Configuration File" (I think). At some point, I set it to "Both (User file will override)", and now I can't set it back.

I'll open View > Options, switch it to "Application Configuration File", hit Save, and hit OK. If I re-open View > Options in the same program session, it'll still be

[2019-03-14 12:48] apjanke opened #320 "Copy namespace URL/connection string action"
In the navigation tree on the left, when you right-click a Queue or Topic, they have context menu items for copying their URLs, like "Copy Queue URL", "Copy Deadletter Queue URL", and so on. But when you click on the root namespace node, there's no options for copying URLs. I think it would be nice to have items for "Copy Namespace URL" and "Copy Connection String URI".

It would be convenient to

[2019-03-14 12:53] apjanke commented on #319
Looks related to https://github.com/paolosalvatori/ServiceBusExplorer/issues/280.

[2019-03-14 12:54] apjanke commented on #280
Gonna chime in here that I think “Both” should be the default, too, and hopefully you can get to a point where that's feasible.

I see two scenarios where this is important:

If SBE gets installed by IT as a managed package or as a program on a shared drive, the installation folder may well be read-only to users. So saving to the Application Configuration File won't work.

Maybe more importantly,

[2019-03-14 13:02] apjanke opened #322 "Pretty-printing of XML for exported Queues, Topics, etc"
I'm trying out the Export functionality for queues, topics, etc.

The generated XML files are hard to read because the XML is all in one line with no spaces.

Would you consider a PR for adding pretty-printing (on multiple lines with indentation) for these XML files?

[2019-03-14 13:23] #250 closed

[2019-03-14 13:27] SeanFeldman commented on #322
👍

[2019-03-14 13:34] apjanke commented on #322
Great.

By the way, thank you and @paolosalvatori for making this tool! At work, we're building a new project using Azure Service Bus queues, so we need an admin tool to view our queue state and debug stuff in it. Nothing else fits the bill. (And it's surprising that the Azure Portal doesn't even have a basic queue viewing tool.) Viva la open source!

[2019-03-14 13:46] apjanke opened #323 "What is “Entity Path”?"
In the Connect dialog variants with multiple fields for creating the connection, there's an “Entity Path” field. What is this, and how can I use it correctly? I've tried a couple things, and no matter what, I get exceptions in the log.

Based on the [.NET SessionClient.EntityPath documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus.sessionclient.entitypath?view=azu

[2019-03-14 15:16] apjanke commented on #322
That turned out to be easy: #324.

[2019-03-14 16:16] apjanke commented on #320
Here's a PR: #325

[2019-03-14 16:53] iamkarlson opened #326 "Send messages from files doesn't work"
Hi,
Do you have any guide on how to make sending messages from the exported messages work? I exported messages from the queue and now I want to send them. I have a file with the following contents:

[code]

How can I pick this structure in _Sending messages_ dialog?

[2019-03-14 16:57] apjanke opened #327 "Failure creating Event Hub in existing namespace: Forbidden"
I'm having trouble creating a new Event Hub in an existing Service Bus namespace using SBE.

I have an existing ASB namespace “mrtl-rma-test-01” that contains a Queue and a Topic. I've connected successfully to it using the default RootManageSharedAccessKey.

I tried to create an Event Hub by right-clicking on the Event Hubs node in the navigation tree, selecting Create Event Hub, putting “mrtl-rm

[2019-03-14 17:12] apjanke commented on #327
Yeah, I think the issue is that Namespaces for Queues/Topics, Event Hubs, and Relays are different kinds of namespaces, and can only contain their appropriate type of entity.

I created a new Event Hub namespace in Azure Portal, connected to it with SBE, and created a new Event Hub there, and it worked. Then I tried to create a Queue in that namespace, and got basically the same error as before:

[2019-03-14 18:22] SeanFeldman commented on #320
👍

Just an FYI, you don't need to comment about a PR. GitHub automatically does it 🙂

![image](https://user-images.githubusercontent.com/1309622/54381587-c8680180-4653-11e9-8ad1-4e0d203fae9c.png)

[2019-03-14 18:27] #322 closed

[2019-03-14 18:27] SeanFeldman commented on #326
Right click --> Send message --> <kbd>Select files</kbd>, but looks like it's brokern 🙁

[2019-03-14 18:31] apjanke commented on #320
Ah. Thanks, and sorry.

[2019-03-14 18:39] #320 closed

[2019-03-14 19:25] ErikMogensen commented on #319
Good catch! It seems that Service Bus Explorer does not update the user configuration file which it would have to. Meanwhile to workaround this delete the line <add key="ConfigFile" value="UserConfig" /> from the User configuration file.

[2019-03-14 19:29] apjanke commented on #319
The workaround worked. Thanks!

[2019-03-14 19:49] ErikMogensen commented on #327
Microsoft changed the way namespaces work about two years ago. Namespaces created before that may contain all four kinds of entities, but newer namespaces are limited to one kind as you noticed,

I do not think it possible to determine if is an old or new namespace. In the new Service Bus client there is support for determining which kind of entity a namespace is using but I don't know how it reac

[2019-03-14 20:01] apjanke commented on #327
Okay, that makes sense.

I'll have a look at the code and see if it's something I could help with.

The new Service Bus Client – is that the Microsoft.Azure.ServiceBus client discussed in #284? Is it mature enough to start using now/soon?

Looks like there's a [`NamespaceType.Mixed` enum](https://github.com/Azure/azure-service-bus-dotnet/blob/283a45e82dfd3245611d9c136dfc01cf1bac699b/src/Microsoft.

[2019-03-14 20:13] ErikMogensen commented on #327
Thankful for your help.

Yes, that is the one in #284

Great to see that there is a Mixed enum at least.

[2019-03-14 20:24] iamkarlson commented on #326
yeah, I've selected files already, but it just loads them to the window and does nothing else

[2019-03-14 20:34] apjanke commented on #327
I'm looking at `MainForm.cs` in the Design view in Visual Studio 2017, and I don't see a MenuStrip for Event Hubs, even though I see one for everything else in the navigation tree. Am I missing something?

![ngakceboghbodcbj](https://user-images.githubusercontent.com/2618447/54389657-ff034380-4676-11e9-8dbd-549bc4cfd28b.png)

[2019-03-14 20:46] SeanFeldman commented on #326
Want to take a stab at fixing it?

[2019-03-14 21:19] apjanke commented on #327
Okay. I think there's a quick partial fix for this. The retry logic in `RetryHelper` already has some logic to distinguish transient from non-transient exceptions. It checks `MessagingException`s to see if they're transient, and treats all `MessagingEntityAlreadyExistsException`s and `CommunicationException`s as non-transient.

[code]

The problem happening with this Event Hub creation is that the

[2019-03-14 21:51] apjanke commented on #327
I did a PR #330 that partially fixes this by special-casing `QuotaExceededException` to be considered non-transient. It doesn't go all the way and change generic `Exception` to be non-transient, though. I'm being conservative.

That only partially fixes this problem, though. The UI still freezes for a few seconds with no indication of what it's doing. And Relay creation still freezes for 30 second

[2019-03-15 00:41] apjanke commented on #326
After that, you have to check-box the files you want to send, and then click the Start button to actually send them as messages.

But that’s not the only issue.

I think I kinda see the problem. The UI doesn’t seem to differentiate between files that each contain a message body, and a file that contains a collection of multiple messages exported by SBE. I went through the “Select files” process, a

[2019-03-15 02:40] apjanke opened #333 "Bogus “entities exported to .” log message when export is canceled"
If I choose “Export Queue”, “Export Entities”, or another export operation, and then Cancel the file selection dialog, this message shows up in the log:

[code]

That's wrong. Either there should be no log message, or it should say something like “Entity export canceled by user.”

Actually, it's worse than that. Here’s the full log I get when I start SBE, connect to a namespace, right-click it and

[2019-03-15 07:12] Zenuka commented on #318
No, I didn't mean to run it on a VM but just on my machine under my user. Using this library as a token provider instead of shared access key, like: https://azure.microsoft.com/en-us/resources/samples/app-service-msi-servicebus-dotnet/

[2019-03-15 11:43] tomkerkhove commented on #318
Interesting. But MSI only works nicely in Azure given "Managed" service identity is managed by MSFT.

See https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview#how-does-the-managed-identities-for-azure-resources-worka-namehow-does-it-worka

[2019-03-15 11:58] iamkarlson commented on #326
hi @apjanke
I would personally prefer first approach. Cause I would seek for the files import in the files tab. Nonetheless, second option is also good. It clearly says what it does. It would be eaiser for everyone to see "Re-import messages" tab or whatever.

However, I don't have a lot of experience in the UX so it's totally up to you which way to go.

[2019-03-15 15:06] Zenuka commented on #318
Yes, but I want to benefit from it when running it on my own pc under my own account. I've written Web Api's using this nuget to access other azure resources (like key vault or service bus) by using an azure managed service identity and I can run the web api's locally without any change in code. It will use the current user to get access token (if the user has access of course).

For service bus y

[2019-03-15 21:56] SeanFeldman commented on #318
@Zenuka would you like to help the project and send a PR?
I'm not an expert on MSI, so if you don't have the bandwidth, could you help with getting the knowledge how to achieve this on a local app? Thanks.

[2019-03-19 18:53] SeanFeldman commented on #186
Closed via https://github.com/paolosalvatori/ServiceBusExplorer/commit/cc13644b64ff677d15c493f81b3e22f25b995718

[2019-03-19 18:54] #186 closed

[2019-03-29 21:05] dil-bpecor commented on #169
Any Results?

[2019-03-30 00:29] dbreit7 commented on #311
Hi all,

I get the same error starting with version 4.1.111. (4.1.112 and 4.1.113 also)
<16:59:29> Exception: Could not load type 'Microsoft.ServiceBus.Messaging.MessagingEntityClient' from assembly 'Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.

This assembly is in the GAC:   Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf385

[2019-03-30 05:20] dbreit7 commented on #311
Following up on my message from five hours ago, I just tried sending a message using 4.1.111 on a different computer and it works fine.  If I can help by providing any additional diagnostic info from my other computer, please let me know.

[2019-03-30 17:27] ErikMogensen commented on #311
If you are able to build it, please get the latest version from the develop branch and verify that it still has that problem. Then update WindowsAzure.ServiceBus to the latest version (5.1).

If this still does not work, I was going to suggest to you to downgrade WindowsAzure.ServiceBus to 4.1.11, but I just tried the downgrade and I got two dependency conflicts. If downgrade anyway and you are ab

[2019-04-01 00:50] SoumyaN commented on #35
Was this issue resolved? I see the same exception when trying to connect using SASConnectionString. I have been able to connect fine in the past. Seems like it happens randomly.

[2019-04-01 03:57] SeanFeldman commented on #311
@dbreit7 check that you're not loading from a network drive. When extracting files, unblock them. See if `WindowsAzure.ServiceBus` is found on the disk and what version it is.

[2019-04-01 14:59] NatashaRad commented on #311
Hi,
I got a new laptop and still have to use the older version.

Natalya Radutskaya
Application Developer, Sr
King County Information Technology
BSS Property Systems
(206) 263-7857
natalya.radutskaya@kingcounty.gov<mailto:natalya.radutskaya@kingcounty.gov>

From: dbreit7 <notifications@github.com>
Sent: Friday, March 29, 2019 10:21 PM
To: paolosalvatori/ServiceBusExplorer <ServiceBusExplorer@norep

[2019-04-01 20:00] dbreit7 commented on #311
@ErikMogensen Success! I built from develop branch and verified it still had the error.  Then I upgraded WindowsAzure.ServiceBus to 5.1 and had the same error.  When I downgraded to 4.1.111, I had to fully qualify some namespaces in four files (ServiceBus.TokenProvider became Microsoft.ServiceBus.TokenProvider, ServiceBus.NamespaceManager became Microsoft.ServiceBus.NamespaceManager, etc.) but it

[2019-04-02 05:08] #319 closed

[2019-04-03 23:19] SoumyaN commented on #35
I am running Service bus explorer on Parallels on Mac. I tried closing Service bus explorer app and reopening and trying to open a connection, but it still gives me the error "An item with the same key has already been added."

[2019-04-03 23:21] SoumyaN commented on #35
To add, it works fine with ACSConnectionString. I face this issue only with SASConnectionString.

[2019-04-10 12:27] mrpmorris commented on #84
@paolosalvatori I am seeing this problem in 4.1.112

[2019-04-10 12:32] mrpmorris opened #339 "When resubmitting a block of messages all the properties are lost"
Same as issue #84

This is now ocurring in 4.1.112

[2019-04-16 08:58] rob-hendrickx-c4t opened #340 "Add ability to set queue/subscription to ReceiveDisabled (and SendDisabled)"
It would be very handy to be able to set a queue to ReceiveDisabled from the ServiceBusExplorer. If the SendDisabled state is also added, a queue can be set to any state from within the SB Explorer.

[2019-04-25 11:14] ikondrasovas opened #341 "UI becomes unresponsive after removing subscription rule."
I am experiencing an issue where I cannot remove the default rule that is created for my subscriptions.

When I right-click the rule and then remove, the UI becomes irresponsible. No error, anything happens. After some minutes I received a socket timeout:

<14:13:45> InnerException: The socket connection was aborted. This could be caused by an error processing your message or a receive timeout bei

[2019-04-25 14:54] SeanFeldman commented on #341
Removing rules is a supported operation.
The exception indicated communication issue.
Have you tried it with a different namespace or from a different network to see if there's any difference?

[2019-04-26 00:18] dsingh0007 opened #342 "when resubmitting messages (bulk) from DLQ to a new queue, sequence of messages is not maintained"
When submitting the DLQ messages to another queue, the messages are randomly pushed to the new queue. Can we please apply a ordering based on created datetime when these are submitted to the new queue.
This is especially helpful when we have data dependent on another messages in the queue.

[2019-04-26 05:56] SeanFeldman commented on #342
@dsingh0007 I haven't had a chance to look into the code, but sending message in order is not something that can be easily guaranteed. If a sending operation is failing, it would be retried by the client while another send operation succeeds.

Personally, I would not rely on a message order. Are you using queues with sessions in your solution?

[2019-04-26 06:29] dsingh0007 commented on #342
I am not using sessions (not sure how that will play out).

We are using it for integrating D365 F&O with a third party s/w and will have dependencies on the records.

An example would be a customer and its transactions.
If customer creation itself went into deadletters, all customer transactions will also go to deadletters.

Now when i want to resubmit the deadletters, i would like the customer c

[2019-04-26 14:25] roastedmonk commented on #25
can you show where to put ? its not working

[2019-04-28 09:50] #333 closed

[2019-04-28 09:50] #249 closed

[2019-04-28 10:05] ErikMogensen commented on #25
@roastedmonk ,

When using SBE to connect to SB through a proxy the following four requirements must be met:

- The SBE config file must be properly configured for the proxy used. This is described at https://docs.microsoft.com/en-us/dotnet/framework/network-programming/proxy-configuration. SBE needs to be restarted after a config file change. If you do this change within Visual Studio on the app.

[2019-04-28 10:43] ErikMogensen opened #343 "Enable configuring proxy configuration from the Options dialog"
Configuring the proxy is a recurring issue and it is not easy to configure it as currently the only way to do this by changing the application configuration file, see #25 and #204.

Adding to the burden is it that the changes will be overwritten every time a new version is installed. The same thing happens if you change the app.config file as it is part of the source code and the proxy configurati

[2019-04-28 11:21] ErikMogensen commented on #342
Browsing the code for resubmitting messages in DeadLetterMessageHandler.cs and HandleQueueControl.cs it seems to be single threaded and keeping order. I also tested this and it the kept the same order as they were put on the queue.

1. Do you want the messages to be in another order than they are in the queue?

2. Are you getting any error messages?

3. Do you do the resubmit multiple times or jus

[2019-04-28 11:34] ErikMogensen commented on #84
I just tried this and it worked. Please describe which steps you do to reproduce this.

[2019-04-28 11:38] ErikMogensen commented on #35
Are you sure? ACS was supposed to be turned off the 4th of February this year.

[2019-04-28 13:09] ErikMogensen commented on #25
Regarding how to change the application configuration file you may do it like below. Change http://proxy.organization:1234 to the url to your proxy.

[code]

  <system.serviceModel>

[2019-04-29 08:14] mrpmorris commented on #84
@ErikMogensen
1: Go to Dead Letter Queue
2: Peek 999
3: Sort by date (descending)
4: Right-click (Repair and resubmit)
5: Format = string, Generate a new ID
6: Select the same queue and submit it
7: (I think the resubmit window stays open here, if I recall correctly then close it so the queues refresh)

It's possible that the contents only appear as a null string. I *think* I saw valid data in my

[2019-04-29 17:57] ErikMogensen commented on #84
@mrpmorris , that works for me. To my surprise the DeadLetter properties were also copied which I did not think was possible.

I wonder if this could have to do with the content of the messages. Please try again just using plain strings as message content. As you probably know you can easily create a lot of messages by right-clicking a queue and select Send messages.

[2019-05-01 08:48] ErikMogensen commented on #339
Moving the latest discussion from #84 to here.

mrpmorris wrote:

@mrpmorris , that works for me. To my surprise the DeadLetter properties were also copied which I did not think was possible.

I wonder if this could have to do with the content of the messages. Please try again just using plain strings as message content. As you probably know you can easily create a lot of messages by right-clickin

[2019-05-01 08:49] ErikMogensen commented on #84
Moved the latest two posts to #84.

[2019-05-01 09:04] ErikMogensen opened #344 "When resubmitting one or more messages from the deadletter subqueue the deadletter properties are kept"
I would say that the excepted behavior would be that the deadletter properties are removed when a message is resubmitted from the deadletter subqueue. In fact there is code in MessageForm.cs for removing these properties.

I think this behavior has changed. My guess is that there has been a change is the Service Bus SDK or the service that previously filtered out those properties when sending a me

[2019-05-01 09:05] ErikMogensen commented on #195
@oak-tree , I noticed that both if the properties that are set by the Service Bus service when a message is deadlettered are kept when a message is resubmitted. That could be the explanation for the increased size.

I just created #344 for removing the deadletter properties.

[2019-05-01 09:29] ErikMogensen commented on #316
Good questions.

The calls to Service Bus are synchronous and this issue might be resolved by making them asynchronous. Care needs to be taken though to handle other things the user might do during loading. Adding a progress bar would be great, but I think it is difficult to implement properly.

Right now it is a single-threaded operation, by making the peeking multi-threaded that would make it go

[2019-05-01 22:20] dsingh0007 commented on #342
I think i messed up in my testing (although i tried it multiple times before raising it).
Sorry for the trouble.

1) Nope, order is fine, FIFO.
2) Nope, Have resubmitted the messages (selected multiple messages in deadletter queue and resubmit)
   and checked it in the new queue. (was pretty sure it was not in order 2 days ago but i think i messed something here. seems to be working fine)
3) Yes,

[2019-05-01 22:20] #342 closed

[2019-05-02 17:17] ErikMogensen commented on #342
Thanks for confirming!

[2019-05-03 22:33] rajrao opened #345 "Version checker"
Would be nice if ASB Explorer would automatically check for latest version and tell me if a new version is available. As a later update, it would be nice if it would also auto-update. I want to try and add the versioning support and so want a simple issue to track

[2019-05-03 23:15] rajrao commented on #345
I was hoping to use https://api.github.com/repos/paolosalvatori/ServiceBusExplorer/releases/latest to get the latest version and compare it to the apps version. But it looks like the API endpoint cannot be called without authentication. Any ideas?

[2019-05-04 04:39] SeanFeldman commented on #345
I was able to invoke the link in incognito mode.

[2019-05-04 06:22] rajrao commented on #345
Yeah, thats why I was hopeful. But when I tried it via httpClient it failed. Looking at fiddler, GitHub provides some cookies that I think allows it to work. Still looking.

[2019-05-04 14:00] rajrao commented on #345
Figured it out, when calling from code, api.github.com needs one to send the "User-Agent" header. Otherwise it returns a 403: Forbidden error.

[2019-05-04 15:40] SeanFeldman commented on #345
If not mistaken, to use any of GitHub API, user agent header must be present. Good luck 🙂

[2019-05-05 05:32] rajrao commented on #345
Here is what I was thinking,

1. have a user setting that allows user to set number of days to check for new version check.
2. Default it to 30 days (0 would be never check)
3. When a new version is detected - notify user via a dialog and give them a link to GitHub releases page.

In the future, make it so, it will download and update automatically.

What do you think?

[2019-05-05 06:01] SeanFeldman commented on #345
Sounds good.

[2019-05-05 14:22] ErikMogensen commented on #345
Very good. However I assume we will need a installation program, preferably packaged as an MSI for the automatic updating.

[2019-05-05 15:11] SeanFeldman commented on #345
Separate issue.

[2019-05-06 17:57] ErikMogensen commented on #226
It is quite possible that this is resolved by running VS in DPI-unaware mode when editing the form. DPI-unaware mode is described in https://docs.microsoft.com/en-us/dotnet/framework/winforms/disable-dpi-awareness-visual-studio. I think it was introduced in VS 2017 at about the same time this issue was created.

[2019-05-06 18:13] StingyJack opened #346 "Where in the Azure portal does one find the settings described in the new connection dialog?"
I'd really like to try this, but I cant figure out what it wants for connection info. Where would I be able to find the minimal config details needed to connect to a single service bus queue and view the contents?

[2019-05-06 19:11] SeanFeldman commented on #346
File --> Connection

In the Service Bus Namespace dropdown, select "Enter connection string..." and paste it on the right side of the modal window.

![image](https://user-images.githubusercontent.com/1309622/57248725-5206d080-7000-11e9-9fc3-d0a74ca737c3.png)

[2019-05-06 19:14] StingyJack commented on #346
Yes, paste _what_ though?

I don't see connection strings on any of the service bus blades or service bus queue blades.

[2019-05-06 19:16] SeanFeldman commented on #346
@StingyJack connection string is something you'll find in the portal or could use Azure CLI to find out.
Quick search brings this up: https://social.msdn.microsoft.com/Forums/en-US/c8edd9b5-76ea-4d93-8025-2e9d90b5ddf4/where-to-find-the-connectionstring-in-the-new-service-bus-portal?forum=servbus

[2019-05-06 19:16] #346 closed

[2019-05-09 07:23] ErikMogensen opened #348 "Deprecation of Service Management support for Azure Service Bus, Relay and Event Hubs"
As mentioned in https://blogs.msdn.microsoft.com/servicebus/2018/11/01/deprecating-service-management-support-for-azure-service-bus-relay-and-event-hubs/ Microsoft will deprecate the support for using Service Management for Azure Service Bus, Relay and Event Hubs in October 2019.

As far as I can tell ServiceBusExplorer is not using any Service Management APIs, but it would be better if someone el

[2019-05-10 04:05] rajrao opened #349 "Display EnqueuedTimeUtc and ExpiredTimeUtc in local time"
Sometimes it easier to troubleshoot issues when you know these 2 values in local time.

I would like to add an option under the View menu to show "Local Time" and when selected, it would show EnqueuedTime and ExpiresAt in local time.

[2019-05-24 17:00] PingPongSet opened #350 "Copy messages among Queues and Topics via Service Bus Explorer UI"
Is it possible to copy messages including body and headers in a queue to another queue or Topic?

[2019-05-24 18:26] SeanFeldman commented on #350
If it's a single message on a queue or all messages, then you can use Auto-Forwarding which can be configured using SBE UI. After that, you can disable Auto-forwarding. In case you're referring to a single message peeked from a queue, I don't believe that feature exists. Would be a nice contribution though 😉

[2019-05-24 18:30] SeanFeldman commented on #350
Sorry, I should have thought about it. You _can_ do it, by right-clicking the peeked message and selecting "Repair and Resubmit..." option. Note that this is NOT going to move the original message to the desired destination, but a copy. You will have the source message remaining in the original queue.

In case that works for you, please close the issue.
Otherwise, I would suggest to replace it wit

[2019-05-24 20:49] PingPongSet commented on #350
"Repair and Resubmit..." option works for when one message is selected.

However, when more than one message are selected and selecting "Repair and Resubmit...", the window is squeezed like below:

[https://i.imgur.com/YBXvgw2.png](https://i.imgur.com/YBXvgw2.png)

[2019-05-25 08:01] ErikMogensen commented on #350
@PingPongSet , that is by design. The reason for this is that don't have the option to edit multiple messages.

[2019-05-25 16:39] #350 closed

[2019-05-27 15:23] PingPongSet commented on #326
I have the same problem sending the message in JSON exported via Save Selected Message within ASBE.

[2019-05-29 19:16] vpunugupati opened #351 "Create IoT Hub Listener - Failing with Current Implementation"
I tried to create IoT Hub Listener using Service Bus Explorer. It is not working and also confusion of extra parameter "End Point" what value need to be used. Even using Default Value populated also not working. Only way, It is working if I change the code to use
CreateFromConnectionString(String) and provide Event Hub compatible End Point. This ignores the value of "End Point". May be , I am misu

[2019-05-29 19:44] ShaneCourtrille opened #352 "Ability to specify ScheduledEnqueueTimeUtc message property when bulk re-submitting messages"
So there are a few different ways I could see this happening...

1. Being able to bulk modify Message Properties when you have 2+ selected..

2. "Repair and Resubmit Message" dialog could have a Message Properties panel with value of 'Use Existing' which could be overwritten with a new value that would be applied to all messages.

[2019-05-30 22:01] eugen-nw opened #353 "My SBE appears to be confused about a Queue"
I updated to the latest version - 4.1.113 - and I am still seeing these problems.  I checked the Queue in the Azure Portal and it lists 3 messages in the DLQ and 0 for all other counts of messages.

As for SBE:
1.  it shows 3 messages as being in the DLQ, yet peeking at the DLQ messages returns 0.
2.  peeking at regular messages returns all 3 of them.
3.  purging regular messages reports that 0 me

[2019-05-30 23:19] SeanFeldman commented on #353
Just for verification, can you delete the queue and re-create it, dead-letter a few messages and see if the behavior you see now is reproducible? Thanks.

[2019-05-31 04:31] eugen-nw commented on #353
Hi Sean,

Thanks very much for having looked into this issue!

I can easily foresee that on a _new_ queue everything will work great.  The problem is that replacing Queues that operate in production is a rather costly endeavor, especially if we'll need to do it on some schedule.  Could you please suggest how we should go about diagnosing what may have gone wrong with this particular Queue and how

[2019-05-31 06:00] ErikMogensen commented on #353
Use Service Bus Explorer and change a property for the queue such as Batch operations and then update the queue. Change the property back and update again. That will recreate the backend for the end.

Is it a partitioned queue?

[2019-05-31 20:53] eugen-nw commented on #353
Thanks very much Erik, your trick got my Queue back to its senses.

Yes it is a partitioned Queue.  Why were you asking please?

[2019-05-31 20:59] SeanFeldman commented on #353
Partitioned queue sources messages from different servers. Non-partitioned queue doesn't. It could be the issue with the count (assumption).

Updating or re-creating an entity forces a refresh on the broker side of things.

[2019-05-31 23:26] #353 closed

[2019-06-01 15:12] ErikMogensen commented on #35
Closed as there hasn't been any response for more than a month.

[2019-06-01 15:15] ErikMogensen commented on #195
@oak-tree , do you have any update on this issue?

[2019-06-01 16:48] ErikMogensen commented on #353
@eugen-nw , the reason I asked was that I think this happens more often on partitioned queues as they utilize 16 message brokers whereas non-partitioned only use one.

[2019-06-05 12:32] mlsomers commented on #280
I was on my way to report a duplicate when I found this thread...
It's not working "out of the box" as it is.
For backward compatibility you should be able to differentiate a clean install from an upgrade... When upgrading I guess you don't overwrite the configuration any way unless you run some conversion on them. Why not keep it backward compatible for upgrades and working out of the box for new

[2019-06-11 08:06] paolosalvatori commented on #280
Sorry for coming late to the discussion, I think both should be default. All connection strings and settings should be read from both the application and user configuration file, but when selecting this option, any new option or connection string should ends up in the user configuration file as the main source of truth.

[2019-06-11 08:30] paolosalvatori commented on #302
As I said, the ability to purge different kind of messages is a feature that should be provided out of the box by Service Bus, our tool can eventually compensate in some way, but for example, for deferred messages, it's not our responsibility to implement this feature.

[2019-06-11 08:41] paolosalvatori commented on #311
Thanks for the follow up @dbreit7 and sorry for the delayed answer, I will proceed and close the issue.

[2019-06-11 08:41] #311 closed

[2019-06-11 08:48] paolosalvatori commented on #313
Hi @MikeWilliams-UK you can eventually submit a PR to eventually add a dropdownlist to the Options form that allows to select what the third number shows: TransferDeadLetterMessageCount, ScheduledMessageCount, TransferMessageCount or TransferDLMessageCount. Meanwhile, I close this issue.

[2019-06-11 08:48] #313 closed

[2019-06-11 08:53] paolosalvatori commented on #316
Hi @apjanke I think that @ErikMogensen answered your question. The solution is to peek a relatively small number of messages or refactor the code to use await/async methods. Take into account that await/async methods were not available when the UI was originally created years ago. Feel free to submit a PR :) Meanwhile, I'm closing the issue.

[2019-06-11 08:53] #316 closed

[2019-06-11 09:03] paolosalvatori commented on #318
Hi @Zenuka, using Microsoft.Azure.Services.AppAuthentication to adopt the user's credentials to authenticate against an Azure Active Directory tenant and use Azure RBAC to access a Service Bus namespace looks an interesting option. You also need to make sure to add your use to the Service Bus Data Owner role specifying as scope your Service Bus namespace(s),  or the resource group / subscription t

[2019-06-11 09:03] #318 closed

[2019-06-11 09:28] paolosalvatori commented on #322
I was busy during the last few months, so sorry for replying so late, thanks for the great contribution @apjanke :)

[2019-06-11 09:41] paolosalvatori commented on #323
Hi @apjanke

The EntityPath should work as expected, that is, as you noticed above it represents the path of the messaging entity, or, if you prefer, its name. Here is an example: let's say I want to select only the orders queue in my namespace which contains tens or hundreds of entities. I can create a filter as shown in the following picture:
![Ashampoo_Snap_martedì 11 giugno 2019_11h32m55s_001_

[2019-06-11 09:41] #323 closed

[2019-06-11 10:14] paolosalvatori commented on #326
Hi @iamkarlson, @apjanke, @PingPongSet the "send file" option only reads the content of the message body from file, it was not meant to read all the message properties from a a message exported in JSON fromat to file with the Save Selected Message. This is not a broken feature, it was never meant to this way :) If you have bandwidth, please create and submit a PR. Meanwhile, I'm closing this issue

[2019-06-11 10:14] #326 closed

[2019-06-11 10:45] PriaReddy opened #356 "Unable to forward dead letter messages to Queue"
Hi,
We have an issue with forwarding the dead letter messages from our Topic to a Queue. It was all working well until last week and now it doesn't forward at all to the queue.
Azure Service bus  version - 4.1.112

The Queue is used only by my team and solely used for replaying DLMs

Steps to reproduce:
1. Set the subscriptions "Forward Dead Letters Message To" a specified Queue
2. Update
3. Refre

[2019-06-11 14:58] paolosalvatori commented on #339
Hi @mrpmorris, I'm closing the issue, please reopen it if Erik trick does not work for you, or please submit a PR. Thanks

[2019-06-11 14:58] #339 closed

[2019-06-11 14:59] paolosalvatori commented on #340
Hi @rob-hendrickx-c4t can you please clarify your request eventually with some pictures? Thanks

[2019-06-11 15:00] paolosalvatori commented on #341
Hi @ikondrasovas I'm closing the issue, feel free to reopen it if you still face the same problem.

[2019-06-11 15:00] #341 closed

[2019-06-11 15:03] paolosalvatori commented on #343
@ErikMogensen are you going to submit a PR to solve this issue?

[2019-06-11 15:08] paolosalvatori commented on #195
@oak-tree I'm closing the issue, feel free to reopen it. By the way, if you feel that the textbox may have some limits in terms of supported length, you can always create your JSON file with your favorite editor and than send the file by selecting the Files tab instead of the Message tab.

[2019-06-11 15:08] #195 closed

[2019-06-11 15:14] #345 closed

[2019-06-11 15:15] paolosalvatori commented on #345
Interesting idea, I'm going to merge your PR

[2019-06-11 15:23] paolosalvatori commented on #348
Yep, it doesn't. Thanks @ErikMogensen :)

[2019-06-11 15:23] #348 closed

[2019-06-11 15:24] paolosalvatori commented on #349
That's a good idea, but you should extend option to all datetime properties shown by the tool, otherwise it would be misleading :)

[2019-06-11 15:32] paolosalvatori commented on #351
Hi @vpunugupati you need to enter the connection string in the proper way. As a reference, please search for IoT Hub under https://github.com/paolosalvatori/ServiceBusExplorer/blob/develop/docs/documentation.md

[2019-06-11 15:32] #351 closed

[2019-06-11 15:34] paolosalvatori commented on #352
Hi @ShaneCourtrille in the past I had a similar idea, but then I didn't have time to implement this feature. Would you be able to submit a PR?

[2019-06-11 16:09] paolosalvatori commented on #318
I'll investigate when I have some time. I used the ManagedServiceIdentityTokenProvider but that assumes that you create a system-assigned managed identity on Azure, even if when running the code locally it impersonates the developer credentials. In other words, it works if you run the app from Visual Studio, not sure how it works if you do it from the command-line.

[2019-06-11 16:54] ShaneCourtrille commented on #352
I may be able to find the time.  Let me take a look.  Is there a specific
way you think it should be done?  I'm thinking option 2 probably makes more
sense

On Tue., Jun. 11, 2019, 9:34 a.m. Paolo Salvatori, <notifications@github.com>
wrote:

[2019-06-11 19:37] ErikMogensen commented on #343
Yes, I intend to do that. When I start working on it I'll assign it to me. So until then it is open for anyone else to implement this.

[2019-06-11 19:40] ErikMogensen commented on #226
#354 put instructions how to avoid this in the documentation.

[2019-06-11 19:40] #226 closed

[2019-06-12 07:47] paolosalvatori commented on #352
Thanks @ShaneCourtrille I agree with you on option 2. @SeanFeldman @ErikMogensen @tomkerkhove?

[2019-06-12 07:47] paolosalvatori commented on #343
Sounds good mate :)

[2019-06-12 09:13] ErikMogensen commented on #352
Also agree on option 2.

[2019-06-13 06:37] Zenuka commented on #318
The AppAuthentication nuget uses one of 3 options:

1. MSI endpoint (available when running in Azure)
2. An access token Visual Studio provides (I think using an environment var)
3. A token used from the Azure CLI (stored in your user folder somewhere)

So if you would be authenticated using the Azure CLI that might work.

[2019-06-13 15:42] rob-hendrickx-c4t commented on #340
Sure thing.
As you may know, an entity in ServiceBus can have different states as described here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.entitystatus?view=azure-dotnet. Currently, the ServiceBusExplorer allows the user to enable/disable a queue or topic subscription.

In our usage of Azure Service Bus, we sometimes set an entity to the status ReceiveDisabled, so

[2019-06-13 18:38] SeanFeldman commented on #318
I might be mistaken, but MSI can also work with environment variables.
Saying that AZ CLI sounds like the best option.

[2019-06-16 01:24] sjwaight commented on #211
I've had a few folks chime in recently asking about x-plat for SBE. Appreciate it's a big ask, but the lean pickings in the Portal don't provide good enough support to replace SBE on non-Windows platforms. Yes, there are commercial tools (which people should be happy to pay for if they are using the tool for prod support), but the fact that SBE is already free (and prevailing attitudes) does mean

[2019-06-16 19:07] ErikMogensen commented on #211
@sjwaight , there are some good news! At the Integrate conference two weeks ago the PM for Service Bus, Ashish Chhabria, showed a new feature in the Azure Portal called Data Explorer. It allows you to look at the content of messages on Service Bus queues. I think Ashish said it would be available next month.

Data Studio, do you mean https://datastudio.google.com/overview? Looking at that site it

[2019-06-18 21:24] Ankasalahari opened #357 "Able to delete the topics from Service bus and which is not storing any logs in Azure."
when we login into the service bus explorer by using connection string we can see the data which don't have the security and if anybody having that connection string those can delete the topics and create the topics . The locks that we are putting on the topics or subscriptions are not working when we perform any action those. Apart from this there is no logs in azure if we modify it from service

[2019-06-27 14:44] evilbaschdi opened #358 "Save message body"
Is it possible to just extract and save the body of a message without all other properties of the brokered message as a binary file?

[2019-06-27 14:46] evilbaschdi opened #359 "Plugin Engine"
Do you plan to provide the possibility of writing plugins?
Since we compress our messages to not border queue limits we have to decompress messages first. So it might be nice to do this by a plugin directly via context menu of a message.

[2019-06-27 16:20] SeanFeldman commented on #359
@evilbaschdi are you compressing messages using https://github.com/SeanFeldman/ServiceBus.CompressionPlugin or custom code?

[2019-06-27 16:28] evilbaschdi commented on #359
Currently I'm using custom code, since I did not know the solution you've provided.
But I took a look inside the code and it seems it's doing similar things with help from gzip.

Maybe I'll give it a try tomorrow and than give feedback.

[2019-06-27 17:56] SeanFeldman commented on #359
The plan for SBE is to move it to the new .NET client, which supports plugins. SBE could support a mechanism to specify what plugins to use to take advantage of ServiceBus.CompressionPlugin, and other plugins (https://github.com/Azure/azure-service-bus-dotnet-plugins)

[2019-06-27 18:10] evilbaschdi commented on #359
Sounds good.

[2019-07-01 12:56] erizzo commented on #274
I'm using version 4.1.112 on Windows Server 2012 R2, still have missing buttons.

![image](https://user-images.githubusercontent.com/333250/60438124-f14ddb80-9bdd-11e9-9923-3f0936fe2dff.png)

[2019-07-04 13:13] aliqaryan2 opened #360 "Adding "Cancel Scheduled message" feature"
https://docs.microsoft.com/en-ca/dotnet/api/microsoft.azure.servicebus.queueclient.cancelscheduledmessageasync?view=azure-dotnet#Microsoft_Azure_ServiceBus_QueueClient_CancelScheduledMessageAsync_System_Int64_

[2019-07-04 15:16] SeanFeldman commented on #360
@aliqaryan2 given it's a brand new feature, please provide how you'd see it working / mocks. Thanks.

[2019-07-12 18:53] dtejada2 opened #363 "Add filter to search Queues"
Add feature to search in the list of Queues, one of the biggest reazons I use this tool is because is really hard to search on azure portal, even it doesn't work properly on Azure portal.

[2019-07-17 09:08] paolosalvatori commented on #211
Agreed, if the .NET Core team provide x-plat support for Windows Forms, we could migrate SBE to .NET Core and make it available for other platforms.

[2019-07-17 09:08] #211 closed

[2019-07-17 09:09] paolosalvatori commented on #358
Well, we should implement this feature. Not sure I've enough bandwidth for this. Would you mind creating a PR for this feature?

[2019-07-17 09:16] paolosalvatori commented on #359
Hi @evilbaschdi, the current version already provides the ability to extend the tool with plugins called message inspectors in external libraries deployed in the same folder as SBE. In this case, you have to define the fully qualified name of the class in the configuration file of the tool. Actually, the tool already provides a tool to zip and unzip messages, respectively, before sending and after

[2019-07-17 09:18] paolosalvatori commented on #274
Is this the latest release? If not, could you please download the latest version and retry? Do you observe the issue on other machines?

[2019-07-17 09:43] paolosalvatori commented on #363
@dtejada2 the tool already supports the functionality you are asking for. Open the Connect form and proceed as follows:

1. Select only Queues from the Selected Entities multichoice dropdownlist
2. Click the dotted button under Queue Filter Expression
3. Enter the name of the queue in the Enter Queue Filter Expression form
4. Click the OK button in the Enter Queue Filter Expression form
5. Click t

[2019-07-17 19:09] erizzo commented on #274
Version is 4.1.112 which is the latest Release I see here. I don't have any other Windows machine to try on.

[2019-07-18 16:52] paolosalvatori commented on #274
I can't reproduce the issue on my machine. Did you try to change screen resolution?

[2019-07-18 19:32] ErikMogensen commented on #274
@erizzo , unfortunately older versions of SBE always report their version as the latest released version since they get the version number using a REST call to Github. If your SBE states its version in the title of the main window it is an old version. The title should only say Service Bus Explorer, like the figure below:

![image](https://user-images.githubusercontent.com/9644248/61486217-35ddc30

[2019-07-19 13:13] aliqaryan2 commented on #360
https://docs.microsoft.com/en-ca/dotnet/api/microsoft.azure.servicebus.queueclient.cancelscheduledmessageasync?view=azure-dotnet#Microsoft_Azure_ServiceBus_QueueClient_CancelScheduledMessageAsync_System_Int64_

[2019-07-19 15:59] erizzo commented on #274
@ErikMogensen Thanks - that's a pretty nasty bug in the 4.0.x version I was actually using (showing the wrong version number in the title bar _AND_ the About dialog).
After getting the latest release I see the new connection management UI.

[2019-07-19 16:25] erizzo opened #364 "Consider a multi tab UI for Queues, Topics, and Subscriptions (and others, probably)"
With a SB instance that has "lots" (ie, dozens or hundreds) of Topics, Subscriptions, and Queues, the limitation of only being able to "inspect" one at a time is a usability problem. I often need to work with several different topics, subscriptions, and/or queues in rapid succession, switching back-and-forth between them, etc. It's difficult to do with a large number in the tree view.
If I could o

[2019-07-21 08:21] evilbaschdi commented on #358
In case I find some time :-D I'll maybe can have a look on it in a few weeks.

[2019-07-26 14:52] Burnett2k commented on #286
Hi Guys, this tool is really awesome and I wanted to also comment on how great it would be if we could get a mac supported version out there! I've been trying to avoid getting a windows VM for a long time, but I might have to just for this tool because it makes debugging so much faster!

[2019-07-29 13:46] paolosalvatori commented on #286
Thanks @Burnett2k for the feedback, we are considering to migrate the tool to .NET Core, the problem is that the UI is built using Windows Forms that is currently not supported by .NET Core, and I have no idea if it will ever be in the future :)

[2019-07-29 13:47] paolosalvatori commented on #358
Thanks @evilbaschdi

[2019-07-29 13:49] paolosalvatori commented on #274
@erizzo it was not a bug, it was intentional, but it's a long story :) We just decided to remove it as it was source of confusion :)

[2019-07-29 14:32] evilbaschdi commented on #358
gonna last another two weeks until I maybe find some time in my summer vacation.

[2019-07-29 20:36] hirowla opened #365 "Having difficulties seeing the contents of messages on the queue"
I view a queue, press "Messages", choose peek (top 10), then choose a LogBrokeredMessageInspector.  The program sits for a while, then produces the following errors:
"<13:35:57> Exception: The server rejected the upgrade request."
"<13:35:57> InnerException: The server rejected the upgrade request."

Doesn't matter what I do, I always get those errors.

Any ideas on how I can see the contents of t

[2019-08-01 18:31] gabrielgt commented on #365
You do not really need to choose LogBrokeredBessageInspector to see the messages in the queue. What kind of content do the messages have? Does it work without choosing an inspector?

[2019-08-01 23:21] gabrielgt opened #369 "NuGet package for IBrokeredMessageGenerator and IBrokeredMessageInspector"
Hello,

I have implemented a custom BrokeredMessageGenerator in my own project. But I have had to reference ServiceBusExplorer.exe from my project to implement IBrokeredMessageGenerator, which is quite ugly.

I would like to create a NuGet package with both interfaces and reference it from ServiceBusExplorer. This way, anyone could create custom message generators referencing that package.

What d

[2019-08-02 05:17] SeanFeldman commented on #369
The package is probably be better created under the project and posted to the NUget using Paulo's credentials. Similar to what's done with Chocolatey.

Unless that's what you meant. In that case ignore my comment.

[2019-08-02 05:19] SeanFeldman commented on #369
Keep in mind that @ErikMogensen has started project restructuring.

[2019-08-02 08:13] paolosalvatori commented on #369
Hi  @gabrielgt the project started as a sample and then it became a monolithic app. As @SeanFeldman said, @ErikMogensen just started to break down the application into multiple assemblies, so we'll make sure to create an assembly that contains only the IBrokeredMessageGenerator,  IBrokeredMessageInspector, IEventDataGenerator, IEventDataInspector interfaces.

[2019-08-02 08:16] paolosalvatori commented on #365
The LogBrokeredMessageInspector can be used to log messages to a file, but it's not necessary to see messages in the UI.

[2019-08-02 08:32] paolosalvatori commented on #364
Hi @erizzo what you describe is a limit of the filter syntax supported by the [NamespaceManager.GetQueues method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.namespacemanager.getqueues?view=azure-dotnet). Yes, I could also implement the feature by making a client-side filter, but in this case, the tool should retrieve all the queues, topics, subscriptions and then apply this f

[2019-08-05 23:00] gabrielgt commented on #369
That it is, @SeanFeldman. I wanted to separate the interfaces in a new assembly and create the package, so you can upload it to NuGet as part of this project.

But now that I know that @ErikMogensen is restructuring the solution, I better wait 😃

[2019-08-07 18:14] erizzo commented on #364
I think there is some confusion. I'm not asking for a filter, I'm asking for multi-tabbed UI. Filtering is also a useful feature, but orthogonal to having multiple tabs open. My request can not be satisfied by using a filter, I need to be looking at several different topics/subscriptions/queues at the same time.
Like I said, compare it to a web browser or database browsing tool - I'm not forced to

[2019-08-09 13:41] burf2000 opened #371 "Sending multiple messages to Queue via the tool"
I am trying to send a message to the queue, a single message works but if I have an array of them it only sends 1 message.  Am I missing something?

[{
 "visitProcessId": "0f7c85d7-2c4e-4d83-ae35-dc34d03fd433",
 "taskContextId": "bc67b415-95f7-4834-b662-0edac94aa7a6"
},
{
 "visitProcessId": "0f7c85d7-2c4e-4d83-ae35-dc34d03fd433",
 "taskContextId": "bc67b415-95f7-4834-b662-0edac94aa7a6"
},
{
 "visi

[2019-08-09 18:21] SeanFeldman commented on #371
You can.

To send multiple messages, Right-click on the entity and select "Send Messages" in the context menu.

To create multiple messages you need to specify "Message Count" under the "Sender" tab. By default, it's set to one.

To send multiple messages with the same schema but different values, take a look at `ThreasholdDeviceIdBrokeredMessageGenerator` under the "Generator" tab. Under "Generat

[2019-08-09 18:24] SeanFeldman commented on #371
Note that this is also documented in https://github.com/paolosalvatori/ServiceBusExplorer/blob/master/docs/documentation.md. Perhaps not in the best way. If you'd like to send a PR to clarify the doco, please do 🙂

[2019-08-16 03:13] SeanFeldman commented on #371
@burf2000 I'm going to close this issue as your question seems to be answered.

[2019-08-16 03:13] #371 closed

[2019-08-22 06:39] hirowla commented on #365
Sorry about the delay in replying. All I want is to be able to see the messages in the GUI - and that I cannot do. I thought using the LogBrokeredMessageInspector was the way to do this - I'm guessing this is not the way.

As I said, what do I have to do to be able to see the contents of queued messages in the GUI?

[2019-08-23 04:50] ErikMogensen commented on #365
What happens if you don't select any message inspector?

Is the internet communication using a proxy at the place you are testing this?

[2019-08-28 21:11] hirowla commented on #365
If I don't select any message inspector, I don't see any contents either.

It is definitely going through a proxy (a corporate proxy/firewall). Are there any ports which may be an issue if blocked?

[2019-09-01 09:20] ErikMogensen commented on #365
If there is no firewall opening for the SBMP port, 9354, then you should configure ServiceBusExplorer to use a proxy. That is currently done by adding a entry to its config file. This is described at https://docs.microsoft.com/en-us/dotnet/framework/network-programming/proxy-configuration. It will look something like:

You also need to set the Connectivity Mode from the View -> Options dialog:
![i

[2019-09-03 16:28] rkralston opened #372 "Can't Build"
I'm getting "Can't process file Forms\XXXXXXX.resx due to its being in the Internet or Restricted zone or having the mark of the web on the file. Remove the mark of the web..."

Any build instructions would be appreciated.

[2019-09-06 11:17] rosponda57 opened #373 "Change "Message Custom Properties" from ListView to PropertyGrid"
It would be really nice if You can change the "Message Custom Properties" (in Message and DeadLetter) from  ListView controll to  PropertyGrid controll (like the "Message System Properties")

It would give possibility to select and copy values from  "Message Custom Properties"

:)

[2019-09-08 19:25] ErikMogensen commented on #372
I assume you downloaded the zipped source. Unless you have made changes to the code I recommend you delete everything you downloaded and download the zipped souce again.

Then you right-click it in FIle Explorer and click Unblock. When that is done you extract the files and build them using a late version of VS 2017 or VS 2019.

As an alternative to the above you connect to the source on GitHub us

[2019-09-08 19:27] rkralston commented on #372
Yes, I pulled the zip file unzipped and tried to compile in vs2019.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Erik Mogensen <notifications@github.com>
Sent: Sunday, September 8, 2019 2:25:37 PM
To: paolosalvatori/ServiceBusExplorer <ServiceBusExplorer@noreply.github.com>
Cc: Keith Ralston <rkralston@msn.com>; Author <author@noreply.github.com>
Subject:

[2019-09-08 19:29] ErikMogensen commented on #372
But did you unblock it?

[2019-09-09 06:09] evilbaschdi commented on #358
I just forked the repo. In which branch should I work / push once I'm done?

[2019-09-09 12:54] SeanFeldman commented on #358
You should target `develop`.

[2019-09-09 16:23] frisky-lizard opened #374 "Configuration of message for consumption by MassTransit"
Hello,
This may not be an 'issue' with ServiceBusExplorer, but with the absence of similar experiences online and nothing much coming back from StackOverflow, I'd like to put the question here if I may.

I can successfully connect to my Service Bus using the connection string, and publish a message to a named queue. However, using a JSON message body (with the standard Message Properties of my mac

[2019-09-09 16:25] SeanFeldman commented on #374
@frisky-lizard a few questions to help understand what's happening:

1. Could you add the SO link?
1. When the message is added to the queue, is it attempted for processing at all? Does it get dead-lettered by your MassTransit endpoint?

[2019-09-09 16:35] frisky-lizard commented on #374
Hi @SeanFeldman

Sure...
1.  The nearest link I found about a consumer not being invoked (without asking on there, as I wanted to check here first) is:
https://stackoverflow.com/questions/50047227/masstransit-consumer-not-getting-called

However, I am 100% certain the queue names I am working with are the same. Copied/pasted from Azure Portal to Visual Studio.

The message **is** processed, and De

[2019-09-09 16:45] SeanFeldman commented on #374
Thank you @frisky-lizard.

The issue described in the SO question was referring to a message that was not sent using SBExplorer, but rather MassTransit itself. There's no correlation between your question here and that question as far as I can read it.

The fact that the message is dead-lettered indicates that the message _is_ received by your MassTransit endpoint and is failing either processing

[2019-09-09 17:10] frisky-lizard commented on #374
Hey @SeanFeldman, thanks for your response.

Yep, I appreciate there is a mildly weak correlation between my issue and that on SO.

That said, I think you might be onto something. I was digging through the stack trace on the DLQ'd message and IBrokeredMessageReceiver is at least trying to handle the message that was published, I suspect like you said, there are some missing headers somewhere or th

[2019-09-09 17:55] SeanFeldman commented on #374
Sounds like a good plan. I will close the issue as it's not SBE bug, but having your update comment would be helpful to anyone who comes across this issue and runs into this exact problem. Thank you.

[2019-09-09 17:55] #374 closed

[2019-09-10 08:32] atyourservers opened #375 "Enable support for a single entity connection string"
I have a test Service Bus deployed with only one queue. Connecting to only the queue entity using Service Bus Explorer 4.1.113 works without any issues. Connecting to the queue and say the topic entities, generates the error shown below. This issue occurs with any entity combination selected when connecting to a queue, topic, et cetera directly.

[code]

The expected behavior in this specific exam

[2019-09-10 15:14] SeanFeldman commented on #375
Just to confirm, you're talking about scenarios where connection string looks like the following: `Endpoint=sb://...;EntityPath=topicname`?

If that's the case, yes, it does fail today. SBExplorer is a management tool and by default it expects to be able to iterate over entities. I think the issue is more of a feature request. Something along the lines of "Enable support for a single entity connec

[2019-09-10 17:30] ErikMogensen commented on #375
It could for a start just parse the connection string and if ends with ;entityPath=... show a messagebox saying that such connection string are currently not supported.

[2019-09-10 18:32] #359 closed

[2019-09-10 18:33] ErikMogensen commented on #359
Closing this since the current support for plugins seems to be enough.

[2019-09-10 20:28] SeanFeldman commented on #375
@ErikMogensen I'd like to understand the feature requirement prior to suggesting any solution 🙂
Perhaps our friend @atyourservers will be willing to submit a PR that unblocks this functionality. Who knows. The first step is to label the feature correctly.

[2019-09-10 20:42] SeanFeldman commented on #375
Ironically, last Friday I ran into this issue where customers tried to use SBE with an entity-specific connection string 😀

[2019-09-11 09:40] atyourservers commented on #375
@SeanFeldman, yes, users are trying to connect to an entity directly. I need to test again what happens when connecting to an entity, say a queue, when only that entity type is selected. I believe that worked without displaying an error, so if the same is true for topics, then instead of a feature request, it's more a matter of educating our users to select only that entity type that is relevant f

[2019-09-11 13:39] paolosalvatori commented on #369
Yes, @ErikMogensen broke down the monolithic app into multiple assemblies, that's the next big change that we plan to do soon, probably in a few weeks

[2019-09-11 13:45] paolosalvatori commented on #364
Understood @erizzo. In this case, we have two options:
- the easiest way is to open each queue, topic, subscription in a separate MDI form.
- we can create tabs, but in this case we need to understand what is the event that triggers opening a new tab: right click and open in new tab like in a browser? This implementation requires more effort than the previous one, because years ago I had to handle

[2019-09-11 13:51] paolosalvatori commented on #365
@hirowla @gabrielgt @ErikMogensen closing the issue

[2019-09-11 13:51] #365 closed

[2019-09-11 13:52] paolosalvatori commented on #372
Any news on this issue?

[2019-09-11 13:54] paolosalvatori commented on #373
Let's keep this ask open and postpone it till we have broken the monolithic project into multiple projects / assemeblies.

[2019-09-11 14:11] paolosalvatori commented on #375
Entity specific connection strings are not supported as @SeanFeldman said. The tool requires a namespace-level connection string with the manage claim.

[2019-09-11 18:44] epomatti commented on #286
We use Ubuntu and Mint, and would be great to have this tool available cross-platform.

[2019-09-11 19:20] SeanFeldman commented on #286
@epomatti I'll echo what Paolo has said. The tool was not designed to be a cross-platform tool. The effort to get it there cannot be undermined. Not to mention some major restructuring work that is already taking place.

Personally, I'd look to use an alternative for now while Azure Portal is working on adding some features and this project gets on the newer dependencies. Have you looked at the to

[2019-09-11 19:35] SeanFeldman opened #376 "Do not allow entity-specific connection strings"
Feature request #375 has highlighted that today the tool is handling entity-specific connections string in a non-graceful way. The tool should prevent entity-specific connection strings from being used.

A suggestion made in https://github.com/paolosalvatori/ServiceBusExplorer/issues/375#issuecomment-530040760 could be an option.

[2019-09-11 19:36] SeanFeldman commented on #375
I've renamed the issue to represent the feature @atyourservers has described.
A separate issue (https://github.com/paolosalvatori/ServiceBusExplorer/issues/376) raised to fix the current behaviour.

[2019-09-15 11:45] evilbaschdi commented on #358
https://github.com/evilbaschdi/ServiceBusExplorer/tree/feature/ExtractBodyAsFile

current state in case you want to have a look into it before a pull request.
done:
- extended context menus for single and bulk message save
- added save logic to save a single message as .txt (default)
- added save logic to save bulk messages as (number of file).txt (default)

open:
- recognize file content to maybe

[2019-09-15 21:05] grahambunce commented on #286
@SeanFeldman Forgive me if i get my wires crossed here but I'm amazed that there isn't an official cross-platform Microsoft tool for supporting Service Bus, such like there is for SQL Server and Storage explorer. We simply cannot manage SB in a PROD environment without a tool like Service Bus Explorer (or commercial equiv).

I thought that @paolosalvatori did work for Microsoft at one point (I may

[2019-09-15 23:02] SeanFeldman commented on #286
While I do not represent Microsoft or the messaging team, I'm sure there's a good reason for it.

[2019-09-15 23:09] SeanFeldman commented on #358
@evilbaschdi thank you for your work.
There's an ongoing parallel effort to split the code into several smaller project and I wanted to make sure that your effort is coordinated with @ErikMogensen.

[2019-09-16 05:18] evilbaschdi commented on #358
@SeanFeldman no problem
@ErikMogensen how is it going? I just had quick a look into your "split" branch. what I did so far was to add some menu entries. In which project are they located now?

From my perspective there have not been so many changes, yet. I've add 6 new menu entries + handlers + respect them in the "hide logic" to only make them visible when it's needed.
So it is no bigger problem

[2019-09-16 09:26] Jemob opened #377 "Verification when delete of Queue"
Hi!
It is a very good tool, but i have a problem that it is very easy to delete a queue with no verification question. Is it possible for me to disable the delete options on queue level? or is it possible to get an verification, do you really want to delete queue as it is when you delete messages?

#feature

/Jennie

[2019-09-16 15:17] SeanFeldman commented on #377
Verification (confirmation) is already in place
![image](https://user-images.githubusercontent.com/1309622/64970341-d09f3480-d862-11e9-8679-7f4b1f4adef6.png)

[2019-09-16 15:17] #377 closed

[2019-09-16 18:37] ErikMogensen commented on #286
Besides Cerulean there is https://www.serverless360.com/ as an alternative for cross platform support.

[2019-09-17 05:02] ErikMogensen commented on #358
@evilbaschdi , I just finished and requested @paolosalvatori to review the changes I have done.

Depending upon that review this may or may not take some time. Since QueueControl is not moved and only has non-GUI changes so far in the restructuring work I suggest you push to the current develop branch.

[2019-09-17 07:24] Jemob commented on #377
Oh, in wich version did this come?
I run the 4.1.112, is this in an later version?

[2019-09-17 12:45] SeanFeldman commented on #377
Been there a while...

[2019-09-17 16:21] ErikMogensen commented on #377
@jemob, unfortunately older versions of SBE always report their version as the latest released version since they get the version number using a REST call to Github. If your SBE states its version in the title of the main window it is an old version. The title should only say Service Bus Explorer, like the figure below:
![image](https://user-images.githubusercontent.com/9644248/65060261-dcc8e600-d

[2019-09-17 16:24] ErikMogensen commented on #377
However I think the default button should be No and you should have to type the name of the namespace when deleting all queues.

[2019-09-18 06:55] Jemob commented on #377
Thank you so much for the reply. I will try to download a new version then. :)
It is like you wrote an version number in the title.

[2019-09-23 08:42] luipir opened #382 "Lock token metadata is not generated"
Hi

I faced a set of error in case messages are sent via ServiceBusexplorer application.
More details in the issue opened to azure python sdk
https://github.com/Azure/azure-sdk-for-python/issues/7336

sorry if this is an old issue or is not an issue at all, I'm not a used Win user nor a ServiceBusExplorer user, just used to send some test messages.

regards

[2019-09-23 12:54] mrtaunus opened #383 "Multiple send messages windows incorrectly share message properties"
We have an ASB topic to which we send different types of messages. To test this locally, we usually open two "Send Messages" windows in Azure Service Bus Explorer so that we do not need to start from scratch every time we want to change the message type to send.

Otherwise this works just fine, but the Message Properties window seems to be interlinked in these separate "Send Messages" windows. I.e

[2019-09-23 13:16] SeanFeldman commented on #382
The issue is definitely unrelated to this tool as lock token is provided by the service at the time when a message is received.
As far as I know there are no issue with lock using .NET SDK. Therefore I'm inclined to think it's something that should be verified in Python SDK.

[2019-09-23 13:16] #382 closed

[2019-09-23 18:12] luipir commented on #382
o, I accept the closing, I'll open it again if there are other evidences that is something related with the interaction with this tool.

[2019-09-24 04:32] SeanFeldman commented on #383
Sounds like an issue with concurrency on UI.
I'd say as a workaround open two SBExplorer instances.

[2019-09-24 04:32] SeanFeldman commented on #383
@paolosalvatori have you ever encountered a use such as described by @mrtaunus ?

[2019-10-01 08:27] harry-gordon commented on #360
Would be interested in seeing this feature too. My use case is that I sometimes want to totally clear the scheduled messages (without deleting the queue) so maybe we could add a "Purge Scheduled Messages" option in the queue right-click menu?

[2019-10-02 03:17] SeanFeldman commented on #360
@aliqaryan2 sorry I have missed your message. I wasn't asking about the API, rather how you'd see it working (UI/UX).

[2019-10-02 03:24] SeanFeldman commented on #360
@harry-gordon this feature would much simpler to implement if the broker would support retrieving messages by their status (see https://github.com/Azure/azure-service-bus/issues/95).

W/o this feature, it means peeking **all messages** on the queue and cancelling those messages that are scheduled (have `State` set to `Scheduled`). Possible, but would mean some effort to be invested in the feature.

[2019-10-02 03:25] SeanFeldman commented on #360
If anyone is interested to give this a go, please wait till #381 is completed.

[2019-10-03 16:57] SeanFeldman commented on #286
There's another emerging kid on the block: [VSCode plugin](https://marketplace.visualstudio.com/items?itemName=digital-molecules.service-bus-explorer&ssr=false#overview)

[2019-10-10 05:34] mrtaunus commented on #383
This indeed circumvents the problem, thank you Sean. It's not ideal, but I can live with that.

[2019-10-11 11:07] ToMakeSense opened #384 "Update "Forward To" of queue failed"
I am using the lastest version(ServiceBusExplorer-4.1.112.zip) , I can't  configurate "Forward To" of queue by clicking **Update** button.
![image](https://user-images.githubusercontent.com/6244148/66646973-3dd39900-ec5a-11e9-98c7-eea7f7beef0b.png)

see outputs below in the log window:
[code]

[2019-10-11 11:10] ToMakeSense commented on #384
I was trying to use this work around suggested in this issue #301

[2019-10-11 13:42] SeanFeldman commented on #384
I'm not aware of any known issues with auto-forwarding. Please provide
exact steps to reproduce this behaviour. Including names of the queues and
their configuration.

[2019-10-11 16:36] ToMakeSense commented on #384
@SeanFeldman  Thanks for your quick reply.  see below.

I created two Queues named: **MainQ** and **TempQ**  with the same configuration below:
![image](https://user-images.githubusercontent.com/6244148/66667559-de8b7e00-ec85-11e9-999c-cdeeefa8f27e.png)

Then I seleted **MainQ** and update the `Foward Dead Letered Messages To`  with **TempQ**, all these steps finished successfully.
![image](https:

[2019-10-11 17:04] SeanFeldman commented on #384
You're setting default time to live on TempQ on a forwarding queue. That's a conflicting request, so the broker is throwing a not so nice error. Remove Default Message TTL value and it should work.

[2019-10-11 17:22] SeanFeldman commented on #384
Long story short - this is by design. Unfortunately, w/o a clear exception message the internal implementation of the broker is bleeding out. For every forwarding queue, the broker sets up a receiver to pump the messages. When a queue is a session-enabled queue, the receiver must be set up appropriately. If it's not, then the exception is thrown. With your forwarding queue, disable Sessions and it

[2019-10-15 07:01] paolosalvatori commented on #286
Sorry for coming late to the discussion. Yes, I work in Microsoft, but I don't work in the Service Bus team. This tool was born as a sample years ago and grew over time to become a tool. At that time, Linux was not even supported by the Azure platform, and .NET Core was not available.
Now, I do understand and support your need for a multi-platform tool officially supported by Microsoft, mine is ju

[2019-10-16 15:46] #376 closed

[2019-10-16 15:48] paolosalvatori commented on #372
Closing this issue as it has not been active for a month.

[2019-10-16 15:48] #372 closed

[2019-10-16 15:51] paolosalvatori commented on #358
@evilbaschdi, @ErikMogensen, @SeanFeldman I will look at the new code ideally by the end of this week, surely by the end of this month, so please try to ping me in one/two week!

[2019-10-17 08:31] paolosalvatori commented on #383
@mrtaunus @SeanFeldman this behavior is by default and I don't see viable \ valid alternative. The tool reads properties from the Properties.xml file located in the folder containing ServiceBusExplorer.exe any time you open a Send Messages form and writes properties back to the file any time you update and then close the form.

[code]
In order to implement the ability to use a different set of pro

[2019-10-17 08:42] paolosalvatori commented on #384
Thanks @SeanFeldman, @ToMakeSense please let us know if we can proceed and close this issue, which indeed is not a tool issue. :)

[2019-10-17 10:46] ToMakeSense commented on #384
@SeanFeldman @paolosalvatori I thought only when both of the queues get session-enabled, the `Foward To` and `Foward Dead Letered Messages To`  functionality are able to worked well. after testing, it's not the case. so it's OK for me.

---

But I got even more confused regarding the two `Foward` topics after more testing. I am a freshman in Queue related topic 😢.

If  I got both `Foward To` and `

[2019-10-17 13:29] paolosalvatori commented on #384
Hi @ToMakeSense, apart from the problem of the visualization of system properties for DLQ message,  it looks to me that this is more an issue of Service Bus Messaging rather than a problem of the tool. In this case, why don't you try to explain your scenario in an issue at https://github.com/Azure/azure-service-bus/issues?

[2019-10-22 16:29] bh3605 commented on #100
Coming in out of left field here.

What is the Transfer Dead Letter queue, and how does it differ from the Dead Letter queue?

I haven't found any documentation explaining what this transfer dead letter queue is, and I've been using ASB for a year now and today was the first time I ever heard about this. It was also the first time I've come across this AMAZING tool today as well. Good job guys!

[2019-10-22 16:53] SeanFeldman commented on #100
@bh3605 this might help you https://weblogs.asp.net/sfeldman/the-secret-brotherhood-of-message-counts and https://weblogs.asp.net/sfeldman/azure-service-bus-message-wanted-dead-or-alive

[2019-10-22 17:27] bh3605 commented on #100
Good stuff! Thank you

[2019-10-29 16:55] seanmcne opened #386 "Issue when resubmitting deadletter's in a .NET Binary format"
We are submitting messages in **.NET Binary** format to a service bus topic with an object type of ["RemoteExecutionContext",](https://docs.microsoft.com/en-us/dotnet/api/microsoft.xrm.sdk.remoteexecutioncontext?view=dynamics-general-ce-9) these messages are consumed by an azure function.

Once a message fails and winds up in the deadletter queue, we're attempting to resubmit them, I can resubmit

[2019-11-12 12:23] huhuhub opened #387 "when I create iot hub listener, occur Exception: An error occurred during communication with 'N/A'. Check the connection information, then retry."
specific error is following:
<20:04:18> Exception: An error occurred during communication with 'N/A'. Check the connection information, then retry.
<20:04:18> InnerException: 系统检测到在一个调用中尝试使用指针参数时的无效指针地址。

the connect string is : Endpoint=sb://XXX/;SharedAccessKeyName=XXX;SharedAccessKey=XXXXXX
the Event Hub Path is: XXX
the Consumer Group is : $Default

Can you help me solve it? Thank you

[2019-11-15 16:28] mortezasoft opened #388 ""Save Selected Event" feature is not functioning"
I created an IoTHub listener and everything works smoothly. But when I right click on an event and choose "Save Selected Event" context menu option, literally nothing happens and the content does not go to the clipboard!

## Affected services
- IoT Hubs
- Event Hubs

[2019-11-16 19:11] SeanFeldman commented on #388
The feature is confirmed to work with SB messages.

@paolosalvatori or @ErikMogensen, do you work with IoT Hub service to confirm it's working or not?

[2019-11-18 06:05] ErikMogensen commented on #388
Sorry, I don't.

[2019-11-18 11:11] mortezasoft commented on #388
@SeanFeldman I tested with EventHub too. Same issue there.

The following error appears in the console when I select "Save Selected Event":

Taking a quick look into the code, the issue seems to be here:

`        private string CreateFileName()
        {
            return string.Format(MessageFileFormat,
                                 CultureInfo.CurrentCulture.TextInfo.ToTitleCase(serviceBusH

[2019-11-19 06:10] SeanFeldman commented on #388
@mortezasoft, ATM all the development is frozen until some [refactoring is completed](https://github.com/paolosalvatori/ServiceBusExplorer/pull/381). I'll defer to the repo owner, @paolosalvatori

[2019-11-19 20:59] rajjav123 opened #389 "Search for a particular string in EventHub messages"
Hi ,

I am using the  Service bus explorer to see the messages in EventHub Kafka . I am able to see the messages in the explorer . But I dont see any way to search for a particular string in the message . Let us say, I am getting thousands of messages in the Eventhub and I want to search whether I have received a message with a particular string .I am not sure whether that option is already there

[2019-11-22 20:34] japicket commented on #248
I am seeing this issue as well. Is there a fix or work-around for it?

[2019-11-24 17:52] diogo-rocha opened #390 "Refresh subscription does not clear previously deleted rules"
Steps to reproduce:

- Expand subscription to view the rules in it
- Delete subscription rules by other mean than Service Bus Explorer (e.g. an external application)
- In Service Bus Explorer click "Refresh Subscription"

Result:

- Deleted rules remain visible on subscription

[2019-11-25 12:00] pioardi opened #392 "Auth with active directory"
Hi ,
I would like to know if auth with active directory is supported ( clientId/clientSecret/tenantId).

CC : @paolosalvatori
Thanks in advance for your response.

[2019-11-25 18:26] ErikMogensen commented on #392
Sorry, but that is currently not supported. There is a card for this functionality on the project board, https://github.com/paolosalvatori/ServiceBusExplorer/projects/1#card-9365395.

A suggestion for the UI part and/or a high level design of this feature would be great!

[2019-11-25 19:15] pioardi commented on #392
Thanks @ErikMogensen  for the info , c# is not my best but I will try to implement this and/or will ask other developers if they want to collaborate on this.

[2019-11-26 20:59] gopi158 opened #393 "SAS Connection String other than RootManageSharedAccessKey"
Hi,

I can only connect to Service Bus by using the Manage access key (RootManageSharedAccessKey) from ServiceBusExplorer.
Is there any other way to connect without providing Manage/Owner level access to other users (non-admin).

Thanks in advance...

[2019-11-26 21:34] SeanFeldman commented on #393
Currently, that's the only way.
There's a request to [support AAD](https://github.com/paolosalvatori/ServiceBusExplorer/issues/392) and a card to add support for [RBAC/MSI](https://github.com/paolosalvatori/ServiceBusExplorer/projects/1#card-9365395).

[2019-11-27 19:05] pioardi commented on #392
Work in progress https://github.com/pioardi/ServiceBusExplorer

[2019-12-02 16:26] gopi158 commented on #393
Thanks @SeanFeldman

[2019-12-02 16:26] #393 closed

[2019-12-05 00:53] darrenshrwd commented on #375
In our enterprise we plan to use the same servicebus for many teams, however we would only want individual teams to have access to manage their specific topics or queues. So this feature would be extremely useful to us...as such I may well be willing to contribute the code and start next week during our 'hackathon' event.  If someone could give me pointers to get started between now and then that

[2019-12-05 03:03] darrenshrwd commented on #376
FYI, if you released this (without doing #375 ) it would seem everyone will need a root level management connection string to use the tool at all, I know some people are using the tool with topic level management connection string and that if I take the EntityPath away from that connection string I can no longer manage the topic, before listing the topic on the left it fails with:

Failed to retri

[2019-12-12 08:34] JACoetzee commented on #240
Hi @paolosalvatori I am getting the same error with the latest app. Any resolution on this?
~Thanks

[2019-12-12 10:55] rahulseth01 commented on #297
Hi,
I see this issue resurrect in build: 4.1.112. @SeanFeldman  Can this issue be re-opened?

[2019-12-12 11:08] SeanFeldman commented on #297
@rahulseth01 did you run into this with the latest?

[2019-12-12 11:19] rahulseth01 commented on #297
Yes, it is happening again in the latest release.

[2019-12-12 15:12] ErikMogensen opened #396 "Support for TransportType.AmqpwebSockets"
The recently merged PR #381 includes changes that cause ServiceBusExplorer to use the new SDKS for ServiceBus, Relay and EventHubs. Currently the only functionality that is using the new SDKs is the purging of ServiceBus messages.

However the new functionality does not have support for setting the TransportType to [AmqpWebSockets](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servic

[2019-12-13 08:23] ErikMogensen opened #397 "The NuGet package used for NotificationHubs has been unlisted from NuGet"
Microsoft.Azure.NotificationHubs v2.16.0.234 has been unenlisted from NuGet. Unenlisting is not as bad as being deprecated, but still not a good thing. Information about unenlisting and deprecating NuGet packages may be found [here](https://docs.microsoft.com/en-us/nuget/nuget-org/deprecate-packages).

We should switch to an enlisted version of Microsoft.Azure.NotificationHubs.

[2019-12-13 08:52] #390 closed

[2019-12-13 17:19] ErikMogensen commented on #397
Building with the current latest version, 3.2.1 caused several build errors.

[2019-12-17 09:51] DavidSchor commented on #299
Is @gitricharde still working on this or is it currently not being worked on?

[2019-12-17 09:59] ErikMogensen commented on #299
As far as I know he is not working on it anymore, nor is anyone else. You are more than welcome to implement it.

[2019-12-17 10:02] divyaksh-shukla opened #399 "Confusing UI to delete messages, queue and topics"
The UI is confusing to use to delete messages, queues or topics and there is no confirmation dialog while deleting the same

[2019-12-17 10:47] gitricharde commented on #299
@DavidSchor Please feel free to carry on 👍

[2019-12-17 18:54] SeanFeldman commented on #399
Hi @divyaksh-shukla,

Thank you for the feedback. I think there are several questions/suggestions in a single issue here, so I'll try to see if can answer and split those into stand-alone issues (issues are better handled when scoped to a single problem).

The right click menu on the entity or a <kbd>Del</kbd> key on the keyboard are very standard in Windows UX. Perhaps you want to raise a separat

[2019-12-19 02:59] yuhaii opened #400 "The Azure notification device's "ChannelExpired" status is not correct"
Customer reported that some of their IOS device can't receive notifications. The azure notification hub product group confirmed that some devices use installation and their channel expired, so azure notification hub didn't send notification message to those devices.

We also use the NotificationHubClient.GetInstallation(String) SDK to make double confirmation. Its returned Installation Class  cont

[2019-12-20 05:19] #399 closed

[2019-12-20 05:31] divyaksh-shukla commented on #399
Thank you the prompt reply
Looks like my service bus explorer window was sized in such a way that the delete button on the lower right was on the center of the screen where it spawns the confirmation dialog box, and surprisingly my mouse kept miss-clicking all the time I was trying to click the delete button and clicked twice causing me to delete the queue and topic without even having a look at t

[2019-12-20 08:32] magosb commented on #35
I am also having this problem now. Also on parallels on mac. Does anyone know how this can be solved?

[2019-12-20 14:36] ErikMogensen commented on #35
@magosb , please make sure you are using the latest release which was released in May, https://github.com/paolosalvatori/ServiceBusExplorer/releases/tag/4.1.112. Don't look at the version number.

If you are able to reproduce the issue on the latest version please provide more information about your config file settings. Which config file are you using and what are existing entries for connections

[2019-12-20 19:15] SeanFeldman commented on #400
@yuhaii I do not work with NotificationHubs. @paolosalvatori or @ErikMogensen, anything you can help with?

[2019-12-21 14:05] ErikMogensen commented on #400
Neither do I and I don't think Paolo has worked with it recently either. @yuhaii , I suggest you try to debug it to find out the reason and report it back here.

[2019-12-21 14:13] ErikMogensen commented on #240
Closing this since the related #246 is closed. Also this issue is more than a year old since last update.

[2019-12-21 14:13] #240 closed

[2019-12-21 14:16] ErikMogensen commented on #275
Closing this since it is more than a year since last update. If this is still an issue, please reopen it.

[2019-12-21 14:16] #275 closed

[2019-12-22 07:03] yuhaii commented on #400
Hello @ErikMogensen ,

Thanks for the reply.

I checked the notification hub related code in service bus explorer. The related code is in "ServiceBusExplorer-develop\src\ServiceBusExplorer\Controls\HandleNotificationHubControl.cs" file.

It will list the registrations with GetRegistrations function.

![image](https://user-images.githubusercontent.com/39817657/71318374-017aaf80-24cb-11ea-97d2-9d998

[2019-12-23 11:33] radsolution commented on #60
Hello, I am getting a similar rproblem - I currently have about 950 deadlettered messages, but attempting to peek 100 returns only 207 with no reason why...
`<11:31:00> [207] messages peeked from the deadletter queue of the subscription [myQueue]`.

[2019-12-23 12:37] ErikMogensen commented on #60
@radsolution, cool user name BTW, please let us know what values you have for the three settings that I put the red rectangle around in the figure below:
![image](https://user-images.githubusercontent.com/9644248/71358303-d060b480-2588-11ea-9d49-036ca3d67c92.png)
Also, is this a partitioned queue? Is it Basic, Standard or Premium?

Are you using the latest version? It was released in May this year

[2019-12-23 13:52] radsolution commented on #60
Hello,
Thank you for your reply.
Here are my settings (your image was cut off above the red markings):

I think the queue (topic) is basic, not partitioned. The version number shown is 3.0.4
Thanks, Dave Radcliffe
    On Monday, 23 December 2019, 12:37:47 GMT, Erik Mogensen <notifications@github.com> wrote:

@radsolution, cool user name BTW, please let us know what values you have for the three se

[2019-12-23 17:58] ErikMogensen commented on #60
Then @radsolution , you have an old version. Please upgrade to the latest from https://github.com/paolosalvatori/ServiceBusExplorer/releases and try again.

[2019-12-24 08:46] radsolution commented on #60
Thank you.
    On Monday, 23 December 2019, 17:58:13 GMT, Erik Mogensen <notifications@github.com> wrote:

Then @radsolution , you have an old version. Please upgrade to the latest from https://github.com/paolosalvatori/ServiceBusExplorer/releases and try again.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-30 21:08] ErikMogensen opened #403 "Add tabs to the Options dialog box"
The Options dialog box would be more user friendly and use less screen estate if tabs were used to separate the settings on different tab pages.

[2020-01-01 16:16] ErikMogensen opened #404 "Rename the new assemblies"
I suggest the new assemblies names prefixed with Microsoft.ServiceBusExplorer.

Name and description of the new assemblies:

**Common**
Does not contain any graphic items, but classes that help creating graphics. Has references to both the old and the new SDKs. We should aim to move the interactions with Messaging services in this assembly to the other assemblies except to the ServiceBusExplorer a

[2020-01-01 20:35] SeanFeldman commented on #404
👍 for renaming the assemblies in a consistent way.

👎 for using `Microsoft.ServiceBusExplorer.` as a prefix. The assemblies are **not** coming from Microsoft and we should not confuse the customers what are those.

[2020-01-03 11:16] paolosalvatori commented on #404
I agree with Sean, this is an open-source project not officially supported by Microsoft. Indeed, we should even change the namespace of classes, but that would require a massive effort. We could use the following convention for renaming assemblies:

- ServiceBusExplorer.exe main assembly
- ServiceBusExplorer.*.dll other assemblies

[2020-01-03 15:20] ErikMogensen commented on #404
Sounds good! The reason I suggested Microsoft.x was that the test assembly is named that way.

I'll rename the assemblies including the test assembly accordingly.

[2020-01-03 15:45] ErikMogensen opened #405 "Remove Microsoft. from C# namespaces"
Since this application is not supported by Microsoft we'll remove `Microsoft` prefix from the C# namespaces.

[2020-01-06 12:46] katymariehughes commented on #389
I would also love this feature for the message queues. I have, since taking on a project, put significant fields in the message properties so we can query that way, but to be able to query the content of all the historical messages without these properties would be amazing.

[2020-01-06 16:45] KrothuTheCoder commented on #392
I have been working on using the latest Microsoft.Azure.ServiceBus.Primitives.TokenProvider classes that allow use to use different types of authentication. This allowed us to develop on premise and run in cloud using the correct RBAC. I had a look at trying to convert Service Bus Explorer to use the classes I have created for our application but the new primitives are not compatible with the exis

[2020-01-06 18:31] SeanFeldman commented on #389
Disclaimer: I am not trying to shoot down the idea, rather discuss the feasibility of this feature request.

Messaging services are not the same as databases. They were not designed to query data. Querying is usually done on the data that is processed and stored. Take the Azure Service Bus for example. Messages can be at most peeked and that's it. If you want to perform a search on the payload of

[2020-01-06 19:06] ErikMogensen commented on #392
This has been started, the purging of ServiceBus messages is done by using the new ServiceBus SDK. This has not been released yet, so this part only exists in the develop branch. There will probably be a long period where ServiceBusExplorer will be using the new and the old SDKs so we have to have solutions for both.

To split up the huge codebase in smaller pieces and have it build for .NET Stand

[2020-01-07 20:50] ErikMogensen commented on #270
Looking further into this - I suggest:

- Renaming the Save button to Apply
- Contrary to what I wrote previously, let the Apply stay at the bottom of the dialog
- Switch places between the Apply and the Default buttons

[2020-01-08 14:57] naebliss opened #408 "Enable authentication using managed identity token provider"
Can we make it possible to use managed identities for authenticating to a service bus namespace from ServiceBusExplorer?

We have the scenario where using SAS tokens for authentication is not considered secure enough.
In our scenario we use managed identities to relate the application connecting to a namespace directly through a managed identity. We would also like to apply this principle for tool

[2020-01-08 16:30] SeanFeldman commented on #408
Duplicate of https://github.com/paolosalvatori/ServiceBusExplorer/issues/392

[2020-01-08 16:30] #408 closed

[2020-01-16 15:46] ErikMogensen commented on #60
Assuming that the issue was resolved by using the latest version and therefore closing this.

[2020-01-16 15:46] #60 closed

[2020-01-16 15:49] radsolution commented on #60
Yes, thank you.
    On Thursday, 16 January 2020, 15:46:51 GMT, Erik Mogensen <notifications@github.com> wrote:

Closed #60.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-17 05:20] Jlopean opened #409 "Scheduled Message Count always zero"
Hi,
Thanks for the application we use it alot. I have uncovered a bug though.

In my C# project i set a future date for a message.
`
using Microsoft.Azure.ServiceBus; //not the old assemblies
var id = await _topicClient.ScheduleMessageAsync(msg, scheduledUtcDateInFuture);`

Everything works as expected (the message is scheduled and becomes active at the correct date and time), however in the servi

[2020-01-17 05:28] Jlopean commented on #409
It seems i figured it out. (asked and answered) the scheduled count is only tracked  at the "topic level", not the "subscription level". In the app i was looking at a subscription i had setup .. (i will leave this post here incase anyone else stumbles across the same concern)

[2020-01-17 05:28] #409 closed

[2020-01-17 10:17] paolosalvatori commented on #100
Thanks @SeanFeldman I will close this issue for now

[2020-01-17 10:17] #100 closed

[2020-01-17 10:20] ErikMogensen opened #410 "Package the proper files for the new SDKs"
The latest code in the developer branch is using the new SDKs for Service Bus, Relay and Event Hubs. These dlls and most likely some of their dependencies need to be included when releasing.

[2020-01-17 10:29] paolosalvatori commented on #386
Sorry for the delayed answer, It looks like you are using WCF message type (binding). If not there's something unexpected happening. Can you please debug and find out? I'll close the issue for now, feel free to reopen it!

[2020-01-17 10:29] #386 closed

[2020-01-17 10:35] paolosalvatori commented on #387
The tool does not support entity-level connection string, only namespace-level connection strings

[2020-01-17 10:35] #387 closed

[2020-01-17 10:37] paolosalvatori commented on #388
Hi mortezasoft can you please send a snapshot of the issue? I think I understood the problem, but an picture could help clarify, thanks :)

[2020-01-17 10:39] ErikMogensen opened #411 "Document the new requirements (connection and .NET)"
The develop branch contains code that is using the new Service Bus SDK. In the default configuration it requires the ports 5671 and 5672 for outbound traffic, which will affect some users with locked down environments.

If using a proxy you would have to somehow make it use AmqpWebSockets, see #396.

It is also dependent on .NET 4.6.2 instead of 4.6.1.